﻿@using SSWA.Paperwork.Common.Forms;
@using SSWA.Paperwork.Core;
@model AuthorityToWorkForm

@{
    var badgeState = "badge-info";
    var borderState = "border-0";
}
@if (Model.Status == FormState.OPENED)
{
    badgeState = "badge-success";
    borderState = "border-success";
}
else if (Model.Status.StartsWith("pending"))
{
    badgeState = "badge-warning";
    borderState = "border-warning";
}

<div class="card text-white bg-dark @(borderState)">
    <div class="card-header text-off-white">
        <h5 class="d-inline-block align-middle text-uppercase text-truncate" style="width: 85%">
            <span class="d-inline-block" style="width: 12%">@Model.FriendlyId</span>
            <span class="d-inline-block font-weight-normal" style="width: 18%">@Model.StartDate?.ToLocalTime().ToString("dd MMM") - @Model.EndDate?.ToLocalTime().ToString("dd MMM")</span>
            <span class="d-inline-block font-weight-light" style="width: auto"> @Model.Description</span>
        </h5>
        <span class="d-inline-block text-uppercase float-right" style="width: 15%">
            <span class="float-right text-uppercase status badge badge-pill @(badgeState)">@Model.Status</span>
        </span>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4" style="border-right: 2px solid #2A2F34">
                <div class="row align-items-start mb-2">
                    <div class="col-5 text-right">
                        <p class="card-text text-uppercase text-off-white">Permit Acceptor</p>
                    </div>
                    <div class="col-7">
                        <p class="card-text">@Model.PermitAcceptor.Name</p>
                    </div>
                </div>
                <div class="row align-items-start mb-2">
                    <div class="col-5  text-right">
                        <p class="card-text text-uppercase text-off-white">Opened By Permit Authoriser</p>
                    </div>
                    <div class="col-7">
                        <p class="card-text">@Model.Open?.PermitAuthoriser?.User?.Name</p>
                    </div>
                </div>

            </div>
            <div class="col-6" style="border-right: 2px solid #2A2F34">
                <div class="row align-items-start  mb-2">
                    <div class="col-2  text-right">
                        <p class="card-text text-uppercase text-off-white">Stage</p>
                    </div>
                    <div class="col-10  text-uppercase">
                        <p class="card-text">@Model.Stage</p>
                    </div>
                </div>
                <div class="row align-items-start  mb-2">
                    <div class="col-2  text-right">
                        <p class="card-text text-uppercase text-off-white">Location</p>
                    </div>
                    <div class="col-10  text-uppercase">
                        <p class="card-text text-truncate">@Model.PhysicalLocation</p>
                    </div>
                </div>
                <div class="row align-items-start mb-2">
                    <div class="col-2  text-right">
                        <p class="card-text text-uppercase text-off-white">Tag</p>
                    </div>
                    <div class="col-10  text-uppercase">
                        <p class="card-text">@Model.EquipmentNumber</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="row align-items-start mb-2">
                    <div class="col-6  text-right">
                        <h6 class="card-text text-uppercase text-off-white">Lockbox</h6>
                    </div>
                    <div class="col-6  text-uppercase">
                        <h2>@Model.Permits.FirstOrDefault(x => x.Id == "ISO")?.Extras?.FirstOrDefault(x => x.Name == "Lockbox Number")?.Value</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>