﻿<div class="card bg-dark text-white m-3" style="border-left-width: 0">
    <div class="card-body text-center align-middle" style="background: #001;">
        <h5 class="text-secondary text-uppercase font-weight-bold p-3"><em>No records found</em></h5>
    </div>
</div>