﻿@using SSWA.Paperwork.Common.Forms;
@using SSWA.Paperwork.Core;
@model IEnumerable<AuthorityToWorkForm>
@{
    ViewData["Title"] = "";
}

@{
    var today = Model.Where(x => x.StartDate?.ToLocalTime().Date == DateTime.Today).OrderBy(x => x.Status).ThenBy(x => x.StartDate).ThenBy(x => x.FriendlyId).ToList();
    var upcoming = Model.Where(x => x.StartDate?.ToLocalTime().Date > DateTime.Today).OrderBy(x => x.Status).ThenBy(x => x.StartDate).ThenBy(x => x.FriendlyId).ToList();
    var ongoing = Model.Where(x => x.StartDate?.ToLocalTime().Date < DateTime.Today && x.EndDate?.ToLocalTime().Date >= DateTime.Today).OrderBy(x => x.Status).ThenByDescending(x => x.StartDate).ThenBy(x => x.FriendlyId).ToList();
    var future = Model.Where(x => x.StartDate?.ToLocalTime().Date > DateTime.Today).OrderBy(x => x.Status).ThenBy(x => x.StartDate).ThenBy(x => x.FriendlyId).ToList();
    var past = Model.Where(x => x.StartDate?.ToLocalTime().Date < DateTime.Today && x.EndDate?.ToLocalTime().Date < DateTime.Today).OrderBy(x => x.Status).ThenByDescending(x => x.StartDate).ThenBy(x => x.FriendlyId).ToList();
}

<div class="row mb-2" style="height: 30%">
    <div class="col-12">
        <h1 class="text-white mx-3 mt-3 mb-2">STARTING TODAY (@today.Count)</h1>
        @if (today.Any())
        {
            <div class="slide p-0 m-0">
                @foreach (var form in today)
                {
                <partial name="_FormCard" model="form" />
                }
            </div>
        }
        else
        {
            <partial name="_FormEmptyCard" />
        }
    </div>
</div>

<div class="row mb-2" style="height: 30%">
    <div class="col-12">
        @if (Context.Request.Query["mode"].FirstOrDefault()?.ToString() == null)
        {
            <h1 class="text-white mx-3 mt-3 mb-2">UPCOMING (@upcoming.Count)</h1>
            @if (upcoming.Any())
            {
                <div class="slide p-0 m-0">
                    @foreach (var form in upcoming)
                    {
                        <partial name="_FormCard" model="form" />
                    }
                </div>
            }
            else
            {
                <partial name="_FormEmptyCard" />
            }
        }
    </div>
</div>

<div class="row mb-2" style="height: 30%">
    <div class="col-12">
        @if (Context.Request.Query["mode"].FirstOrDefault()?.ToString() == null)
        {
            <h1 class="text-white mx-3 mt-3 mb-2">ONGOING (@ongoing.Count)</h1>
            @if (ongoing.Any())
            {
                <div class="slide2 p-0 m-0">
                    @foreach (var form in ongoing)
                    {
                    <partial name="_FormCard" model="form" />
                    }
                </div>
            }
            else
            {
                <partial name="_FormEmptyCard" />
            }
        }
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            @{
                var scrollTime = ((decimal) ViewBag.ScrollSpeed) * 1000;
                var startDelay = ((int) ViewBag.StartDelay) * 1000;
            }

            $(document).ready(function () {
                $('.slide').slick({
                    accessibility: false,
                    arrows: false,
                    autoplay: true,
                    autoplaySpeed: @Html.Raw(startDelay),
                    centerMode: true,
                    dots: true,
                    draggable: false,
                    pauseOnFocus: false,
                    pauseOnHover: false,
                    speed: @Html.Raw(scrollTime),
                    swipe: false,
                    touchMove: false
                });
            });

            $(document).ready(function () {
                $('.slide2').slick({
                    accessibility: false,
                    arrows: false,
                    autoplay: true,
                    autoplaySpeed: @Html.Raw(startDelay / 2),
                    centerMode: true,
                    dots: true,
                    draggable: false,
                    pauseOnFocus: false,
                    pauseOnHover: false,
                    speed: @Html.Raw(scrollTime / 2),
                    swipe: false,
                    touchMove: false
                });
            });

            var scrollToBottomAmination = function (duration) {
                $("html, body")
                    .animate(
                    {
                        scrollTop: $(document).height()
                    },
                     duration,
                    'linear',
                    function () {
                        console.log("end of animation");
                        location.reload();
                    });
            };

            @*$('html, body').animate({ scrollTop: 0 }, 500, 'linear', function () {
                console.log('begin');
                setTimeout(() => scrollToBottomAmination(@Html.Raw(scrollTime)), @Html.Raw(startDelay));
            });*@



        });
    </script>
}
