<template>
  <div class="card shadow-sm pb-3">
    <div class="card-body">
      <h2>New Plant Entry Request</h2>
      <plant-entry-request-form-editor></plant-entry-request-form-editor>
    </div>
  </div>
</template>

<script type="text/javascript">
import { mapActions, mapState } from 'vuex';
import PlantEntryRequestFormEditor from './editor';

export default {
  name: 'PlantEntryRequestFormCreate',
  components: { PlantEntryRequestFormEditor }
};
</script>

