<template>
  <el-form v-loading="loading" ref="form" :model="form" size="mini" :rules="rules" :disabled="disabled" class="app-form" status-icon label-width="150px">
    <div class="row">
      <div class="col-md-12 col-lg-7">
        <h6 class="form-heading-muted">General</h6>
        <el-form-item label="Request Type" prop="requestType" class="col-10">
          <el-select v-model="form.requestType" placeholder="Select Request Type" automatic-dropdown @change="handleRequestTypeChange">
            <el-option v-for="item in options.requestTypes" :key="item.code" :label="item.name + '  (' + item.code + ')'" :value="item.code">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Request Reason" prop="requestReason" class="col-10">
          <el-input type="textarea" :rows="10" size="mini" v-model="form.requestReason"></el-input>
        </el-form-item>

      </div>
      <div class="col-md-12 col-lg-5">
        <div v-if="form.requestType" class="bd-callout bd-callout-info">
          <div class="row">
            <div class="col-2">
              <feather type="info"></feather>
            </div>
            <div class="col-10">
              <h5>
                {{ selectedRequestType.name }}
                <h6 class="ml-5 d-inline-block">{{selectedRequestType.code}}</h6>
              </h5>
              <p>{{ selectedRequestType.description }}</p>
              <p>
                Maximum Validity of Induction:
                <strong> {{ selectedRequestType.length.value }} {{ selectedRequestType.length.timeUnit }}</strong>
              </p>
              <p>
                PWR Required:
                <strong>{{selectedRequestType.pwr ? 'Yes' : 'No'}}</strong>
              </p>
              <p>
                ATW Required:
                <strong>{{selectedRequestType.atw ? 'Yes' : 'No'}}</strong>
              </p>
              <p>
                Induction Required:
                <strong>{{selectedRequestType.induction }}</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <el-form-item label="Entry For" required>
      <el-table size="mini" :fit="true" :data="form.visitors">
        <el-table-column label="Name" width="220px">
          <template slot-scope="scope">
            <input type="hidden" v-model="scope.row.id" />
            <el-form-item prop="visitors.0.name">
              <el-autocomplete size="mini" v-model="scope.row.name" value-key="name" :fetch-suggestions="visitorSearch" placeholder="Enter name or search ..." :trigger-on-focus="false" @select="handleVisitorSelect($event, scope.$index)"></el-autocomplete>
            </el-form-item>
          </template>
        </el-table-column>
        <el-table-column label="Organisation" width="200px">
          <template slot-scope="scope">
            <el-form-item prop="visitors.0.category">
              <el-select size="mini" v-model="scope.row.category" placeholder="Category">
                <el-option value="SSWA" label="SSWA"></el-option>
                <el-option value="Contractor" label="Contractor"></el-option>
                <el-option value="Visitor" label="Visitor"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item :prop="scope.$index == 0 ? 'visitors.0.company' : ''">
              <el-autocomplete size="mini" v-model="scope.row.company" value-key="name" :fetch-suggestions="companySearch" placeholder="Company"></el-autocomplete>
            </el-form-item>
          </template>
        </el-table-column>
        <el-table-column label="Contact Details" width="200px">
          <template slot-scope="scope">
            <el-form-item prop="visitors.0.email">
              <el-input size="mini" v-model="scope.row.email" placeholder="Email"></el-input>
            </el-form-item>
            <el-form-item prop="visitors.0.contactNumber">
              <el-input size="mini" v-model="scope.row.contactNumber" placeholder="Phone"></el-input>
            </el-form-item>
          </template>
        </el-table-column>
        <el-table-column label="Expected Time" width="150px">
          <template slot-scope="scope">
            <el-form-item :prop="scope.$index == 0 ? 'visitors.0.expectedTime' : ''">
              <el-time-select size="mini" v-model="scope.row.expectedTime" :picker-options="{
                start: '00:00',
                step: '00:30',
                end: '23:30',
              }" placeholder="Select time">
              </el-time-select>
            </el-form-item>
          </template>
        </el-table-column>
        <el-table-column label="Visit Duration" width="270px">
          <template slot-scope="scope">
            <el-form-item :prop="scope.$index == 0 ? 'visitors.0.visitDuration' : ''">
              <el-date-picker size="mini" v-model="scope.row.visitDuration" type="daterange" align="right" unlink-panels range-separator="To" start-placeholder="Start" end-placeholder="End" :picker-options="options.quickDates">
              </el-date-picker>
            </el-form-item>
          </template>
        </el-table-column>
        <el-table-column label="Access Card No." width="150px">
          <template slot-scope="scope">
            <el-form-item>
              <el-input :disabled="!roles.includes('paperwork_admin')" size="mini" v-model="scope.row.accessCardNo"></el-input>
            </el-form-item>
          </template>
        </el-table-column>
        <el-table-column>
          <template slot-scope="scope">
            <el-button v-if="form.visitors.indexOf(scope.row) !== 0" size="mini" type="danger" icon="el-icon-close" rounded @click.prevent="removeVisitor(scope.row)">
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-button icon="el-icon-plus" class="mt-3" @click="addVisitor">New Entry</el-button>
    </el-form-item>

    <h6 class="form-heading-muted">Linked Forms</h6>
    <el-form-item v-for="(link, index) in form.linkedForms" :key="index" :label="link.name + ' Completed'">
      <template v-if="link.id == 'PWR' && selectedRequestType && selectedRequestType.pwr">
        <el-radio v-model="link.completed" :label="true" checked style="display: none;">Yes</el-radio>
      </template>
      <template v-else>
        <el-radio v-model="link.completed" :label="true">Yes</el-radio>
        <el-radio v-model="link.completed" :label="false">No</el-radio>
      </template>
      <el-form-item v-if="!link.completed" label="Reason (if no)" class="d-inline-block w-50">
        <el-input v-model="link.reason" placeholder="Why was this form not completed?"></el-input>
      </el-form-item>
      <el-form-item v-if="link.completed" label="Document Number" class="d-inline-block w-50">
        <el-input v-model="link.formId"></el-input>
      </el-form-item>
    </el-form-item>

    <div class="row">
      <div class="col-md-12 col-lg-7">
        <h6 class="form-heading-muted">Plant Contact/Host</h6>
        <el-form-item label="Employees">
          <el-select v-model="form.host" filterable clearable placeholder="Search ..." value-key="id" class="col-10">
            <el-option v-for="{id, name, email, phone} in users" :key="id" :label="name" :value="{id, name, email, contactNumber: phone}">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Name" prop="host.name" class="col-9">
          <el-input v-model="form.host.name"></el-input>
        </el-form-item>
        <el-form-item label="Contact Number" prop="host.contactNumber" class="col-9">
          <el-input size="mini" v-model="form.host.contactNumber"></el-input>
        </el-form-item>
        <el-form-item label="Email" prop="host.email" class="col-9">
          <el-input size="mini" v-model="form.host.email"></el-input>
        </el-form-item>
      </div>
      <div class="col-md-12 col-lg-7">
        <div class="bd-callout bd-callout-info">
          <div class="row">
            <div class="col-2">
              <feather type="info"></feather>
            </div>
            <div class="col-10">
              <p>Plant Host will collect all visitors, short term workers, period contract workers, and marine workers.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h6 class="form-heading-muted">Swipe Card Access</h6>
    <el-form-item prop="swipeCardAccess.areas"></el-form-item>
    <div class="row" v-for="group in options.swipeCardAreas" :key="group.id">
      <el-checkbox-group v-model="form.swipeCardAccess.areas">
        <el-form-item :label="group.label" class="col-6" required>
          <div v-for="item in group.children" :key="item.id" class="col-1">
            <el-checkbox :label="item.id" :disabled="!((selectedRequestType || {}).plantAreas || []).includes(item.id) && !roles.includes('paperwork_admin')">
              {{item.label}}
            </el-checkbox>
          </div>
        </el-form-item>
      </el-checkbox-group>
    </div>
    <el-form-item label="Comments" class="col-6">
      <el-input v-model="form.swipeCardAccess.comments"></el-input>
    </el-form-item>

    <h6 class="form-heading-muted">Plant Areas Attended</h6>
    <el-form-item prop="plantAccess.areas"></el-form-item>
    <div class="row" v-for="group in options.plantAccessAreas" :key="group.id">
      <el-checkbox-group v-model="form.plantAccess.areas">
        <el-form-item :label="group.label" class="col-6" required>
          <div v-for="item in group.children" :key="item.id" class="col-1">
            <el-checkbox :label="item.id">
              {{item.label}}
            </el-checkbox>
          </div>
        </el-form-item>
      </el-checkbox-group>
    </div>
    <el-form-item label="Comments" class="col-6">
      <el-input v-model="form.plantAccess.comments"></el-input>
    </el-form-item>

    <h6 class="form-heading-muted">Vehicle Plant Access</h6>
    <el-form-item label="Registration Number" class="col-6">
      <el-input v-model="form.vehicleAccess.registrationNumber"></el-input>
    </el-form-item>
    <el-form-item label="Card Authorisation Number" class="col-6">
      <el-input size="mini" v-model="form.vehicleAccess.cardAuthorisationNumber"></el-input>
    </el-form-item>

    <h6 class="form-heading-muted">Training</h6>
    <el-form-item label="Awareness Training">
      <el-select v-model="form.awarenessTraining" multiple filterable allow-create default-first-option placeholder="Select or type training" class="col-5">
        <el-option v-for="item in options.awarenessTraining" :key="item" :label="item" :value="item">
        </el-option>
      </el-select>
    </el-form-item>

    <div class="row">
      <div class="col-md-12 col-lg-7">
        <h6 class="form-heading-muted">OTHERS ALLOWED TO VIEW</h6>
        <el-form-item label="Users">
          <el-select v-model="form.allowedUsers" multiple filterable clearable placeholder="Search ..." value-key="id" class="col-10">
            <el-option v-for="user in users" :key="user.id" :label="user.name" :value="user.id">
            </el-option>
          </el-select>
        </el-form-item>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-7">
        <h6 class="form-heading-muted">Approval</h6>
        <el-form-item v-for="(item) in form.approvers" :label="item.role.name" :key="item.role.id">
          <el-select :disabled="!roles.includes('paperwork_admin')" v-model="item.user" filterable clearable placeholder="Select or type a name" value-key="id" class="col-6">
            <el-option v-for="option in options.approvers[item.role.id]" :key="option.id" :label="option.name" :value="option">
              <span style="float: left">{{ option.name }}</span>
              <span style="float: right;">
                <small class="text-uppercase text-primary font-weight-bold" v-if="option.priority === 1">primary</small>
                <small class="text-uppercase text-black-50 font-weight-bold" v-if="option.priority === 2">secondary</small>
                <small class="text-uppercase text-black-50 font-weight-bold" v-if="option.priority === 3">tertiary</small>
              </span>
            </el-option>
          </el-select>
        </el-form-item>
      </div>
      <div class="col-md-12 col-lg-5">
        <div v-if="form.requestType" class="bd-callout bd-callout-warning">
          <div class="row">
            <div class="col-2">
              <feather type="alert-triangle"></feather>
            </div>
            <div class="col-10">
              <p>
                A
                <strong>{{ selectedRequestType.name }}</strong>
                should be approved by:
                <ul>
                  <li v-for="approver in selectedRequestType.approvers" :key="approver">
                    {{approver}}
                  </li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <el-form v-if="!disabled">
      <el-button v-if="!isNew" size="mini" type="primary " @click="submitForm( 'form', false) ">Save</el-button>
      <el-dropdown v-if="isNew" size="mini" placement="top-end" split-button type="primary" @click="submitForm( 'form', true)" @command="onCommandDropdown">
        Save & Submit for Approval
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item command="save">Save As Draft</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      <el-button size="mini " @click="cancel() ">Cancel</el-button>
    </el-form>
  </el-form>

</template>

<script>
import Vue from 'vue';
import {
  options_requestTypes,
  options_quickDates,
  options_awarenessTraining,
  options_approvers,
  options_swipeCardAreas,
  options_plantAccessAreas
} from './../../../store/options';

export default {
  name: 'PlantEntryRequestFormEditor',
  beforeMount() {
    //this.form = Vue.util.extend(this.form, this.formData);
  },
  async created() {
    this.loading = true;
    this.users = await this.getUsers();

    this.options.approvers.paperwork_operations_manager = await this.getUsersByRole(
      'paperwork_operations_manager'
    );

    this.options.approvers.paperwork_maintenance_manager = await this.getUsersByRole(
      'paperwork_maintenance_manager'
    );

    this.options.approvers.paperwork_alliance_manager = await this.getUsersByRole(
      'paperwork_alliance_manager'
    );

    if (!this.formData) {
      this.defaultForm.host.id = this.user.id;
      this.defaultForm.host.name = this.user.name;
      this.defaultForm.host.contactNumber = this.user.phone;
      this.defaultForm.host.email = this.user.email;
    }

    this.loading = false;

    this.form.approvers.forEach(approver => {
      if (approver.user === null) {
        approver.user = this.options.approvers[approver.role.id].find(
          x => x.priority === 1
        );
      }
    });
  },
  props: {
    formData: Object,
    disabled: false
  },
  data() {
    return {
      users: [],
      loading: true,
      denialReason: {
        message: ''
      },
      defaultForm: {
        requestType: '',
        requestor: {},
        allowedUsers: [],
        linkedForms: [
          {
            id: 'PWR',
            name: 'Plant Works Request',
            completed: false,
            reason: '',
            formId: ''
          },
          {
            id: 'ATW',
            name: 'Authority To Work',
            completed: false,
            reason: '',
            formId: ''
          }
        ],
        host: {
          id: '',
          email: '',
          name: '',
          contactNumber: ''
        },
        visitors: [
          {
            id: '',
            name: '',
            accessCardNo: '',
            category: '',
            email: '',
            contactNumber: '',
            company: '',
            expectedTime: '',
            visitDuration: []
          }
        ],
        requestReason: '',
        swipeCardAccess: {
          areas: [],
          comments: ''
        },
        plantAccess: {
          areas: [],
          comments: ''
        },
        vehicleAccess: {
          registrationNumber: '',
          cardAuthorisationNumber: ''
        },
        awarenessTraining: [],
        approvers: [
          {
            role: {
              id: 'paperwork_operations_manager',
              name: 'Operations Manager'
            },
            user: null
          },
          {
            role: {
              id: 'paperwork_maintenance_manager',
              name: 'Maintenance Manager'
            },
            user: null
          },
          {
            role: {
              id: 'paperwork_alliance_manager',
              name: 'Alliance Manager'
            },
            user: null
          }
        ]
      },
      options: {
        requestTypes: options_requestTypes,
        quickDates: options_quickDates,
        awarenessTraining: options_awarenessTraining,
        approvers: options_approvers,
        swipeCardAreas: options_swipeCardAreas,
        plantAccessAreas: options_plantAccessAreas,
        priorityNames: {
          1: 'primary',
          2: 'secondary',
          3: 'tertiary'
        }
      }
    };
  },
  computed: {
    form() {
      return this.formData
        ? Vue.util.extend(this.defaultForm, this.formData)
        : this.defaultForm;
    },
    selectedRequestType() {
      return this.options.requestTypes.find(
        x => x.code == this.form.requestType
      );
    },
    rules() {
      return {
        requestType: [
          {
            required: true,
            message: 'Please select a Request Type',
            trigger: 'change'
          }
        ],
          visitors: {
          0: {
            name: {
              type: 'string',
                required: true,
                  trigger: 'blur',
                    message: 'Please enter a name'
              },
              email: {
                type: 'string',
                required: this.selectedRequestType && this.selectedRequestType.code == 'PCW',
                trigger: 'blur',
                message: 'Please enter an email address'
              },
            company: {
              type: 'string',
                required: true,
                  trigger: 'blur',
                    message: 'Please enter a company'
            },
            expectedTime: {
              type: 'string',
                required: true,
                  trigger: 'blur',
                    message: 'Please select a time'
            },
            visitDuration: {
              type: 'array',
                required: true,
                  trigger: 'change',
                    message: 'Please select a duration'
            },
            accessCardNo: {
              type: 'string',
              required: false,
              trigger: 'blur'
            }
          }
        },
        swipeCardAccess: {
          areas: [
            {
              type: 'array',
              required: true,
              message: 'Please select at least one Area',
              trigger: 'change'
            }
          ]
        },
        plantAccess: {
          areas: [
            {
              type: 'array',
              required: true,
              message: 'Please select at least one Area',
              trigger: 'change'
            }
          ]
        },
        requestReason: [
          {
            required: true,
            message: 'Please enter a reason for this request',
            trigger: 'blur'
          },
          {
            min: 1,
            message: 'Please enter a reason for this request',
            trigger: 'blur'
          }
        ],
          host: {
          name: [
            {
              required: true,
              message: 'Please enter a name',
              trigger: 'blur'
            }
          ],
            contactNumber: [
              {
                required: true,
                message: 'Please enter a contact number',
                trigger: 'blur'
              }
            ]
        }
      }
    },
    roles() {
      return this.$store.getters.roles;
    },
    isNew() {
      return this.$route.params.formId ? false : true;
    },
    user() {
      return this.$store.getters.user;
    }
  },
  methods: {
    approvers(key) {
      return this.options.approvers[key];
    },
    cancel() {
      return this.$router.go(-2);
    },
    removeVisitor(item) {
      var index = this.form.visitors.indexOf(item);
      if (index !== -1) {
        this.form.visitors.splice(index, 1);
      }
    },
    addVisitor() {
      this.form.visitors.push({
        name: '',
        accessCardNo: '',
        category: this.form.visitors[0].category,
        company: this.form.visitors[0].company,
        expectedTime: this.form.visitors[0].expectedTime,
        visitDuration: this.form.visitors[0].visitDuration
      });
    },
    handleRequestTypeChange(value) {
      //this.formData.swipeCardAccess.areas.length = 0;
      while (this.form.swipeCardAccess.areas.length > 0) {
        this.form.swipeCardAccess.areas.pop();
      }

      let requestType = this.options.requestTypes.find(
        x => x.code == value
      );

      for (var i = 0; i < this.form.linkedForms.length; i++) {
        Vue.set(this.form.linkedForms[i], 'completed', false);
        if (value === 'V') {
          Vue.set(
            this.form.linkedForms[i],
            'reason',
            'Not required for Visitors request'
          );
        } else {
          Vue.set(this.form.linkedForms[i], 'reason', '');
        }

        if (this.form.linkedForms[i].id == 'PWR' && requestType.pwr) {
                  console.log(requestType);
            Vue.set(this.form.linkedForms[i], 'completed', true);
        }
      }

      this.form.approvers.forEach(approver => {
        approver.user = this.options.approvers[approver.role.id].find(
          x => x.priority === 1
        );
      });
    },
    onCommandDropdown(command) {
      if (command === 'save') {
        this.submitForm('form', false);
      }
    },
    async submitForm(formName, submitForApproval = false) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          try {
            this.loading = true;

            let id = null;
            if (this.$route.params.formId) {
              let response = await this.$http({
                method: 'put',
                url: `/api/forms/plant-entry-request/${
                  this.$route.params.formId
                }`,
                headers: {
                  Authorization: 'Bearer ' + this.$store.getters.accessToken,
                  'Content-Type': 'application/json'
                },
                data: this.form
              });
              id = response.data.id;
            } else {
              let response = await this.$http({
                method: 'post',
                url: `/api/forms/plant-entry-request`,
                headers: {
                  Authorization: 'Bearer ' + this.$store.getters.accessToken,
                  'Content-Type': 'application/json'
                },
                data: this.form
              });

              id = response.data.id;

              if (submitForApproval) {
                let pending = await this.doAction('submit', id);
              }
            }

            this.$notify({
              title: 'Done',
              message: 'Plant Entry Request saved',
              type: 'success'
            });

            this.$router.push({
              name: 'plant-entry-request-form-detail',
              params: { formId: id }
            });
          } catch (err) {
            console.log(err);
            this.$notify({
              title: 'Error',
              message: err,
              type: 'error'
            });
          } finally {
            this.loading = false;
          }
        } else {
          window.scrollTo(0, 0);
          return false;
        }
      });
    },
    async visitorSearch(queryString, cb) {
      if (queryString.length < 1) {
        cb([]);
      }

      var results = [];
      try {
        let response = await this.$http({
          method: 'get',
          url: `/api/visitors/search/${queryString}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        results = response.data;
      } catch (err) {
        console.log(err);
      }

      cb(results);
    },
    handleVisitorSelect(item, index) {
      this.form.visitors[index].id = item.id;
      this.form.visitors[index].name = item.name;
      this.form.visitors[index].category = item.category;
      this.form.visitors[index].company = item.company;
      this.form.visitors[index].email = item.email;
      this.form.visitors[index].contactNumber = item.contactNumber;
    },
    handleCompanySelect(item) {

    },
    async companySearch(queryString, cb) {
      if (queryString.length < 1) {
        cb([]);
      }

      var results = [];
      try {
        let response = await this.$http({
          method: 'get',
          url: `/api/visitors/subcategories/search/${queryString}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        results = response.data;
      } catch (err) {
        console.log(err);
      }

      cb(results);
    },
    async doAction(action, id) {
      try {
        let response = await this.$http({
          method: 'put',
          url: `/api/forms/plant-entry-request/${id}/status/${action}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken,
            'Content-Type': 'application/json'
          },
          data: this.denialReason
        });
        this.$notify({
          title: 'Success',
          message: response.data.message,
          type: 'success'
        });
        this.$router.go();
      } catch (err) {
        this.$notify({
          title: 'Warning',
          message: err.response.data.message,
          type: 'warning'
        });
      } finally {
      }
    },
    async getUsers() {
      try {
        let response = await this.$http({
          method: 'get',
          url: `/api/users/`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        return response.data;
      } catch (err) {
        console.log(err);
      }
    },
    async getUsersByRole(role) {
      try {
        let response = await this.$http({
          method: 'get',
          url: `/api/users/role/${role}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        return response.data;
      } catch (err) {
        console.log(err);
      }
    }
  }
};
</script>
