<template>
  <div class="card shadow-sm pb-3">
    <div class="card-body">
      <h2 v-if="!isTemplate">New Confined Space Entry Permit</h2>
      <h2 v-else>New Confined Space Entry Template</h2>
      <confined-space-entry-permit-editor></confined-space-entry-permit-editor>
    </div>
  </div>
</template>

<script type="text/javascript">
import { mapActions, mapState } from 'vuex';
import ConfinedSpaceEntryPermitEditor from './editor';

export default {
  name: 'ConfinedSpaceEntryPermitCreate',
    components: { ConfinedSpaceEntryPermitEditor },
    computed: {
       isTemplate() {
        return this.$route.name.includes("template");
        }
    }
};
</script>

