<template>
  <div v-loading="loading">
    <div class="card shadow-sm non-printable mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h6 class="text-secondary text-uppercase">Action Bar</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <a href="#"
               style="font-weight: 500;"
               v-if="form.canEdit"
               @click="editForm(false)"
               :disabled="!form.canEdit"
               class="text-secondary btn mr-3">
              <feather class="mr-1"
                       type="edit"
                       width="16"
                       height="16"></feather>
              <span>Edit Permit</span>
            </a>
            <a href="#"
               style="font-weight: 500;"
               v-if="form.canCancel"
               @click="doAction('cancel')"
               :disabled="!form.canCancel"
               class="text-secondary btn mr-3">
              <feather class="mr-1"
                       type="trash-2"
                       width="16"
                       height="16"></feather>
              <span>Cancel Permit</span>
            </a>
            <a style="font-weight: 500;"
               role="button"
               href="#"
               class="text-secondary btn mr-3"
               @click="print()">
              <feather class="mr-1"
                       type="printer"
                       width="16"
                       height="16"></feather>
              <span>Print</span>
            </a>
          </div>
          <div class="col-5">
          </div>
        </div>
      </div>
    </div>

    <div class="card shadow-sm">
      <div class="card-body">
        <h3 class="mb-1">
          {{form.friendlyId}}
          <span v-for="(item, index) in form.linkedForms" :key="index">
            | {{item.formId}}
          </span>
          <span v-if="form.status === 'approved'"
                class="float-right status badge badge-pill badge-success">{{ form.status }}</span>
          <span v-else-if="form.status === 'denied'"
                class="float-right status badge badge-pill badge-danger">{{ form.status }}</span>
          <span v-else-if="form.status === 'cancelled'"
                class="text-muted float-right status badge badge-pill badge-light">{{ form.status }}</span>
          <span v-else-if="form.status === 'information required'"
                class="float-right status badge badge-pill badge-warning">{{ form.status }}</span>
          <span v-else
                class="float-right status badge badge-pill badge-info">{{ form.status }}</span>
        </h3>
        <h5 class="text-secondary text-uppercase mt-0">Confined Space Entry Permit</h5>
        <div class="row">
          <div class="col-6">
            <div class="row mb-1">
              <div class="col-4 text-left">
                Requested By
              </div>
              <div class="col-4 text-left">
                {{ form.createdBy.name }}
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-4 text-left">
                Requested
              </div>
              <div class="col-4 text-left">
                {{dateFormat(form.createdAt, 'DD/MM/YYYY')}}
              </div>
            </div>
            <div class="row mb-1"
                 v-if="form.approvers"
                 v-for="(approver, index) in form.approvers.filter(x => x.message)"
                 :key="index">
              <div class="col-3 text-right">
                Approver Comment
              </div>
              <div class="col-9 text-left text-danger">
                {{approver.user.name}}: {{ approver.message }}
              </div>
            </div>
          </div>
          <!-- Author And Dates -->
          <div class="col-6">

            <div class="row mb-1">
              <div class="col-8 text-right">
                Last Updated
              </div>
              <div class="col-4 text-left">
                {{dateFormat(form.updatedAt, 'DD/MM/YYYY')}}
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12 px-4">
            <p class="font-weight-bold mb-1" style="font-size: 0.9rem; line-height: 1;">PART A - Application <small>(completed by Permit Acceptor)</small></p>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-6">
            <div class="row mt-1">
              <div class="col-4 text-right pt-0">
                <h6 class="text-secondary text-uppercase">Duration</h6>
              </div>
              <div class="col-8 bg-light px-2 py-0">
                <p class="m-0 p-0">  {{dateFormat(form.startDate, 'DD/MM/YYYY hh:mm')}} - {{dateFormat(form.endDate, 'DD/MM/YYYY hh:mm')}}</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row mt-1">
              <div class="col-4 text-right pt-0">
                <h6 class="text-secondary text-uppercase">Permit Acceptor</h6>
              </div>
              <div class="col-8 bg-light px-2 py-0">
                <p class="m-0 p-0">  {{form.requestedBy.name }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-6">
            <div class="row mt-1">
              <div class="col-4 text-right pt-0">
                <h6 class="text-secondary text-uppercase">Company</h6>
              </div>
              <div class="col-8 bg-light px-2 py-0">
                <p class="m-0 p-0">{{form.company}}</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row mt-1">
              <div class="col-4 text-right pt-0">
                <h6 class="text-secondary text-uppercase">Radio Channel</h6>
              </div>
              <div class="col-8 bg-light px-2 py-0">
                <p class="m-0 p-0">{{form.radioChannel}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-6">
            <div class="row mt-1">
              <div class="col-4 text-right pt-0">
                <h6 class="text-secondary text-uppercase">Equipment Description</h6>
              </div>
              <div class="col-8 bg-light px-2 py-0">
                <p class="m-0 p-0">  {{form.equipmentDescription }}</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row mt-1">
              <div class="col-4 text-right pt-0">
                <h6 class="text-secondary text-uppercase">Tools Descripton</h6>
              </div>
              <div class="col-8 bg-light px-2 py-0">
                <p class="m-0 p-0">  {{form.toolsDescription }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12">
            <div class="row mt-1">
              <div class="col-2 text-right pt-0">
                <h6 class="text-secondary text-uppercase">Works Description</h6>
              </div>
              <div class="col-10 bg-light px-2 py-0">
                <p class="m-0 p-0">{{form.worksDescription}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12">
            <div class="row mt-1">
              <div class="col-2 text-right pt-0">
                <h6 class="text-secondary text-uppercase">Main Tasks</h6>
              </div>
              <div class="col-10 bg-light px-2 py-0">
                <p class="m-0 p-0">{{form.mainTasks}}</p>
              </div>
            </div>
          </div>
        </div>

        <hr />

        <div class="row mt-3">
          <div class="col-12 px-4">
            <p class="font-weight-bold mb-1" style="font-size: 0.9rem; line-height: 1;">PART B - Pre-conditions Assessment <small>(completed by Permit Authoriser)</small></p>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12">
            <h6 class="text-secondary text-uppercase">Other Permits</h6>
            <p>Does this permit combine with another other permits? (Automatically pre-filled from ATW)</p>
            <div class="row">
              <div class="col-6 font-weight-bold">
                <div class="row">
                  <div class="col-8">
                    Permit
                  </div>
                  <div class="col-4 font-weight-bold">
                    Number
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col-8 font-weight-bold">
                    Permit
                  </div>
                  <div class="col-4 font-weight-bold">
                    Number
                  </div>
                </div>
              </div>
              <div v-for="permit in atwPermits" class="col-6">
                <div class="row">
                  <div class="col-8">
                    {{permit.name}}
                  </div>
                  <div class="col-4 font-italic">
                    {{permit.permitId}}
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <h6 class="text-secondary text-uppercase">Assessment</h6>

            <template v-for="record in form.preConditionAssessments">
              <div class="row">
                <div class="col-9">
                  {{record.question}}
                </div>
                <div class="col-3">
                  <template v-if="record.answer === true">
                    <feather class="mr-1"
                             type="check-square"
                             width="16"
                             height="16"></feather>
                    <span class="mr-2">Yes</span>
                    <feather class="mr-1"
                             type="square"
                             width="16"
                             height="16"></feather>
                    <span>No</span>
                  </template>
                  <template v-else-if="record.answer === false">
                    <feather class="mr-1"
                             type="square"
                             width="16"
                             height="16"></feather>
                    <span class="mr-2">Yes</span>
                    <feather class="mr-1"
                             type="check-square"
                             width="16"
                             height="16"></feather>
                    <span>No</span>
                  </template>
                  <template v-else>
                    <feather class="mr-1"
                             type="square"
                             width="16"
                             height="16"></feather>
                    <span class="mr-2">Yes</span>
                    <feather class="mr-1"
                             type="square"
                             width="16"
                             height="16"></feather>
                    <span>No</span>
                  </template>
                </div>
                <div class="col-4 font-italic">
                  {{record.answer }}
                </div>
              </div>
            </template>
          </div>
        </div>

        <hr />

        <div class="row mt-3">
          <div class="col-12 px-4">
            <p class="font-weight-bold mb-1" style="font-size: 0.9rem; line-height: 1;">PART C - Work Controls <small>(completed by Permit Authoriser and Permit Acceptor)</small></p>
          </div>
        </div>
        <div class="row mt-3" style="font-size: 0.7rem !important;">
          <div class="col-4">

            <template v-for="record in form.workControls1">
              <div class="row">
                <div class="col-7">
                  {{record.question}}
                </div>
                <div class="col-5">
                  <feather class="mr-1"
                           :type="record.answer === true ? 'checked-square' : 'square'"
                           width="16"
                           height="16"></feather>
                  <span class="mr-2">Yes</span>
                </div>
              </div>
            </template>

            <template v-for="record in form.workControls2">
              <div class="row">
                <div class="col-7">
                  {{record.question}}
                </div>
                <div class="col-5">
                  <feather class="mr-1"
                           :type="record.answer === true ? 'checked-square' : 'square'"
                           width="16"
                           height="16"></feather>
                  <span class="mr-2">Yes</span>
                </div>
              </div>
            </template>

          </div>

          <div class="col-4">

            <template v-for="record in form.workControls3">
              <div class="row">
                <div class="col-7">
                  {{record.question}}
                </div>
                <div class="col-5">
                  <feather class="mr-1"
                           :type="record.answer === true ? 'checked-square' : 'square'"
                           width="16"
                           height="16"></feather>
                  <span class="mr-2">Yes</span>
                  <feather class="mr-1"
                           :type="record.answer === false ? 'checked-square' : 'square'"
                           width="16"
                           height="16"></feather>
                  <span class="mr-2">N/A</span>
                </div>
              </div>
            </template>

          </div>

          <div class="col-4">

            <template v-for="record in form.workControls4">
              <div class="row">
                <div class="col-7">
                  {{record.question}}
                </div>
                <div class="col-5">
                  <feather class="mr-1"
                           :type="record.answer === true ? 'checked-square' : 'square'"
                           width="16"
                           height="16"></feather>
                  <span class="mr-2">Yes</span>
                  <feather class="mr-1"
                           :type="record.answer === false ? 'checked-square' : 'square'"
                           width="16"
                           height="16"></feather>
                  <span class="mr-2">N/A</span>
                </div>
              </div>
            </template>

          </div>
        </div>

        <div class="row mt-3" style="font-size: 0.7rem !important;">
          <div class="col-7">
            <h6 class="text-secondary text-uppercase">Emergency response requirements <small class="text-sm text-muted">(include in emergency plan)</small></h6>

            <template v-for="record in form.emergencyResponseRequirements">
              <div class="d-inline-block mr-3">
                <feather class="mr-1"
                         :type="record.answer === true ? 'checked-square' : 'square'"
                         width="16"
                         height="16"></feather>
                <span>{{record.question}}</span>
              </div>
            </template>
          </div>
          <div class="col-5">
            <h6 class="text-secondary text-uppercase">Communication method <small class="text-sm text-muted">(include in emergency plan)</small></h6>
            <template v-for="record in form.communicationMethods">
              <div class="d-inline-block mr-3">
                <feather class="mr-1"
                         :type="record.answer === true ? 'checked-square' : 'square'"
                         width="16"
                         height="16"></feather>
                <span>{{record.question}}</span>
              </div>
            </template>
          </div>
        </div>
        <div class="row mt-3" style="font-size: 0.7rem !important;">
          <div class="col-12">
            <h6 class="text-secondary text-uppercase">Additional PPE requirements </h6>
            <template v-for="record in form.addtionalPPERequirements">
              <div class="d-inline-block mr-3">
                <feather class="mr-1"
                         :type="record.answer === true ? 'checked-square' : 'square'"
                         width="16"
                         height="16"></feather>
                <span>{{record.question}}</span>
              </div>
            </template>
          </div>
        </div>

        <hr />

        <div class="row mt-3">
          <div class="col-12 px-4">
            <p class="font-weight-bold mb-1" style="font-size: 0.9rem; line-height: 1;">PART D - Initial atmospheric test results <small>(conducted by Authorised Gas Tester)</small></p>
          </div>
        </div>
        <div class="row mt-1" style="font-size: 0.7rem !important;">
          <div class="col-12">
            <table class="table table-sm table-bordered border-dark table-signing m-0">
              <thead>
                <tr>
                  <td></td>
                  <td>Date/Time</td>
                  <td>Detector #</td>
                  <td>Authorised Gas Tetser Name</td>
                  <td>LEL Level (%)</td>
                  <td>O2 Level (%)</td>
                  <td>Other</td>
                </tr>
              </thead>
              <tbody>

                <!-- AUTHORISER -->
                <tr v-for="(record, index) in form.internalAtmosphericTests">
                  <td width="3%" v-if="index == 0" :rowspan="form.internalAtmosphericTests.length" class="align-middle"><p style="writing-mode: vertical-rl !important;         transform: rotate(-180deg);">Internal</p></td>
                  <td>{{record.recordedAt}}&nbsp;</td>
                  <td>{{record.detectorNumber}}</td>
                  <td>{{record.testerName}}</td>
                  <td>{{record.lowerExplosiveLimitLevel}}</td>
                  <td>{{record.oxygenLevel}}</td>
                  <td>{{record.other}}</td>
                </tr>


              </tbody>
            </table>
          </div>
        </div>
        <div class="row mt-1" style="font-size: 0.7rem !important;">
          <div class="col-12">
            <table class="table table-sm table-bordered border-dark table-signing m-0">
              <thead>
                <tr>
                  <td></td>
                  <td>Date/Time</td>
                  <td>Detector #</td>
                  <td>Authorised Gas Tetser Name</td>
                  <td>LEL Level (%)</td>
                  <td>O2 Level (%)</td>
                  <td>Other</td>
                </tr>
              </thead>
              <tbody>

                <!-- AUTHORISER -->
                <tr v-for="(record, index) in form.externalAtmosphericTests">
                  <td width="3%" v-if="index == 0" :rowspan="form.externalAtmosphericTests.length" class="align-middle"><p style="writing-mode: vertical-rl !important;         transform: rotate(-180deg);">External</p></td>
                  <td>{{record.recordedAt}}&nbsp;</td>
                  <td>{{record.detectorNumber}}</td>
                  <td>{{record.testerName}}</td>
                  <td>{{record.lowerExplosiveLimitLevel}}</td>
                  <td>{{record.oxygenLevel}}</td>
                  <td>{{record.other}}</td>
                </tr>


              </tbody>
            </table>
          </div>
        </div>
        <div class="row mt-3" style="font-size: 0.7rem !important;">
          <div class="col-7">
            <h6 class="text-secondary text-uppercase">Atmospheric testing / monitoring requirements <small class="text-sm text-muted">(Permit Issuer)</small></h6>

            <template v-for="record in form.atmosphericTestingRequirements">
              <div class="row">
                <div class="col-7">
                  {{record.question}}
                </div>
                <div class="col-5">
                  <feather class="mr-1"
                           :type="record.answer === true ? 'checked-square' : 'square'"
                           width="16"
                           height="16"></feather>
                  <span class="mr-2">Yes</span>
                  <feather class="mr-1"
                           :type="record.answer === false ? 'checked-square' : 'square'"
                           width="16"
                           height="16"></feather>
                  <span class="mr-2">No</span>
                </div>
              </div>
            </template>
          </div>
          <div class="col-5">
            <h6 class="text-secondary text-uppercase">&nbsp;</h6>

            <table class="table table-sm table-bordered border-dark table-signing m-0">
              <thead>
                <tr>
                  <td rowspan="2">Method</td>
                  <td rowspan="2">Frequency (hours)</td>
                  <td colspan="3">Allowable Limit (%)</td>
                </tr>
                <tr>
                  <td>LEL</td>
                  <td>O2</td>
                  <td>Other</td>
                </tr>
              </thead>
              <tbody>
                <tr v-for="record in form.atmosphericTestingMethods">
                  <td>
                    <feather class="mr-1"
                             :type="record.used === true ? 'checked-square' : 'square'"
                             width="16"
                             height="16"></feather>
                    {{record.method}}&nbsp;
                  </td>
                  <td>{{record.testingFrequency}}</td>
                  <td>{{record.lowerExplosiveLimit}}</td>
                  <td>{{record.oxygenLimit}}</td>
                  <td>{{record.other}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <hr />

        <div class="row mt-3">
          <div class="col-12 px-4">
            <p class="font-weight-bold mb-1" style="font-size: 0.9rem; line-height: 1;">PART E - Permit Issue & Acceptance <small>(completed by Permit Authoriser and Permit Acceptor)</small></p>
          </div>
        </div>

        <div class="row mt-1">
          <table class="table table-sm table-bordered border-dark table-signing m-0" style="font-size: 0.75rem !important;">
            <tr>
              <th width="25%">Permit Authoriser</th>
              <th width="20%">Signature</th>
              <th>Date</th>
              <td width="40%" rowspan="2" style="font-size: 0.7rem;">
                ‘Authorization is given to commence work under the conditions prescribed on this Permit and the controls in the JSEA’
                ‘I confirm that isolations have been checked and that the pre-conditions are met and work specified on this Permit may proceed subject to the Work Party adhering to all pre-conditions and are aware of all safety precautions associated with the job.’
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Permit Acceptor</th>
              <th>Signature</th>
              <th>Date</th>
              <td rowspan="2" style="font-size:0.7rem;">
                ‘I have been shown any isolations and I understand and accept the conditions and precautions detailed above. I shall ensure that all personnel involved in the work described are informed of them.’
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>


        <hr />

        <div class="row mt-3">
          <div class="col-12 px-4">
            <p class="font-weight-bold mb-1" style="font-size: 0.9rem; line-height: 1;">PART F - Standby / Entry / Exit Log  <small>(completed by Permit Users)</small></p>
          </div>
        </div>
        <div class="row mt-1">
          <table class="table table-sm table-bordered border-dark table-signing m-0" style="font-size: 0.75rem !important;">
            <tr>
              <th colspan="4">Confined Space Stand-by</th>
            </tr>
            <tr>
              <td colspan="4">
                I accept responsibility as Stand-by Person for this Permit and understand my obligations and responsibilities.
              </td>
            </tr>
            <tr>
              <td width="35%">Name</td>
              <td>Signature</td>
              <td width="10%">From</td>
              <td width="10%">To</td>
            </tr>
            <tr v-for="index in 5">
              <td>&nbsp;</td>
              <td></td>
              <td class="text-center">&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;</td>
              <td class="text-center">&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;</td>
            </tr>
          </table>
        </div>
        <div class="row mt-1">
          <table class="table table-sm table-bordered border-dark table-signing m-0" style="font-size: 0.75rem !important;">
            <tr>
              <th colspan="10">Persons required to enter the Confined Space</th>
            </tr>
            <tr>
              <td colspan="10">
                I have been advised of and understand the control measures and precautions to be observed with the entry and work within the confined space.
              </td>
            </tr>
            <tr>
              <td width="26%">Name</td>
              <td width="6%">Entry (initial)</td>
              <td width="6%">Date/Time</td>
              <td width="6%">Exit (initial)</td>
              <td width="6%">Date/Time</td>
              <td width="26%">Name</td>
              <td width="6%">Entry (initial)</td>
              <td width="6%">Date/Time</td>
              <td width="6%">Exit (initial)</td>
              <td width="6%">Date/Time</td>
            </tr>
            <tr v-for="index in 5">
              <td>&nbsp;</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>

            </tr>
          </table>
        </div>

        <hr />

        <div class="row mt-3">
          <div class="col-12 px-4">
            <p class="font-weight-bold mb-1" style="font-size: 0.9rem; line-height: 1;">PART G - Revalidation / Relinquishment <small>(completed by Permit Authoriser and Permit Acceptor)</small></p>
          </div>
        </div>
        <div class="row mt-1">
          <div v-for="i in 2" class="col-6">
            <table class="table table-sm table-bordered border-dark table-signing m-0" style="font-size: 0.75rem !important;">
              <tr>
                <th v-if="i == 1" colspan="5">Revalidation</th>
                <th v-else colspan="5">Relinquish</th>
              </tr>
              <tr>
                <td v-if="i == 1" colspan="5">
                  ‘I have been shown any isolations and I understand and accept the conditions and precautions detailed in this Permit. I shall ensure that all personnel involved in the work described are informed of them.’
                </td>
                <td v-else colspan="5">
                  ‘All works associated with this Permit have been completed for this shift or suspended and the worksite is left in a safe and clean condition.
                </td>
              </tr>
              <tr>
                <td width="15%">Date / Time</td>
                <td width="22%">Permit Acceptor Name</td>
                <td width="20%">Permit Acceptor Signature</td>
                <td width="22%">Permit Authoriser Name</td>
                <td width="20%">Permit Authoriser Signature</td>
              </tr>
              <tr v-for="j in 3">
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>

        <hr />

        <div class="row mt-3">
          <div class="col-12 px-4">
            <p class="font-weight-bold mb-1" style="font-size: 0.9rem; line-height: 1;">PART H - Handback and Closure  <small>(completed by Permit Authoriser and Permit Acceptor)</small></p>
          </div>
        </div>
        <div class="row mt-1">
          <div v-for="i in 2" class="col-6">
            <table class="table table-sm table-bordered border-dark table-signing m-0">
              <tr>
                <td colspan="2" style="font-size: 0.75rem !important;">
                  <div class="row">
                    <div class="col-4">
                      <feather class="mr-1"
                               type="square"
                               width="16"
                               height="16"></feather>
                      <template v-if="i == 1">
                        Entry Completed
                      </template>
                      <template v-else>
                        Entry Not Completed
                      </template>
                    </div>
                    <div class="col-4">
                      Date: 
                    </div>
                    <div class="col-4">
                      Time:
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <template v-if="i ==1">
                        I confirm that all work for which this Permit was issued has been completed. The confined space has been closed up, all Personnel Locks and Tags have been removed and the workplace has been inspected and is in a clean and safe condition.’
                      </template>
                      <template v-else>
                        ‘The work for which this Permit was issued has not been completed. All Personal Locks and Tags have been removed and the workplace has been inspected and is in a clean and safe condition. The isolation is to remain in place. Another Permit shall be raised to complete this work.’
                      </template>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td><small>Permit Acceptor Name</small><br /><br /></td>
                <td><small>Signature</small><br /><br /></td>
              </tr>
              <tr>
                <td><small>Permit Authoriser Name</small><br /><br /></td>
                <td><small>Signature</small><br /><br /></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import ConfinedSpaceEntryPermitEditor from "./editor";
  import FormLink from "../form-link";

  import format from "date-fns/format";
  import {
    options_requestTypes,
    options_swipeCardAreas,
    options_plantAccessAreas
  } from "./../../../store/options";

  export default {
    name: "ConfinedSpaceEntryPermitDetail",
    components: { ConfinedSpaceEntryPermitEditor, FormLink },
    async created() {
      await this.getForm(this.$route.params.formId);
        let atwNumber = this.form.linkedForms.filter(x => x.id == 'ATW')[0].formId;
        try {
          let response = await this.$http({
            method: 'get',
            url: `/api/forms/find-by-friendly-id/${atwNumber}`,
            headers: {
              Authorization: 'Bearer ' + this.$store.getters.accessToken
            }
          });

          let atw = response.data;

           this.atwPermits = atw.permits.filter(x => x.id !== 'WAH');
        } catch (err) {
          console.log(err);
        } finally {
        }
    },
    data() {
    return {
        atwPermits: [],
        form: {},
        loading: true,
        dialogTableVisible: false,
        denyDialogVisible: false,
        requestInfoDialogVisible: false,
        denialReason: {
          message: ""
        },
        rules: {
          message: [
            {
              required: true,
              message: "Please enter a reason",
              trigger: "blur"
            },
            {
              min: 3,
              message: "Please enter a reason longer than 2 characters",
              trigger: "blur"
            }
          ]
        }
      };
    },
    computed: {
      requestType() {
        return (
          options_requestTypes.find(x => x.code === this.form.requestType) || {}
        );
      },
      requestTypes() {
        return options_requestTypes;
      },
      swipeCardAreas() {
        return options_swipeCardAreas;
      },
      plantAreas() {
        return options_plantAccessAreas;
      },
      controlGroups() {
        return this.groupBy(this.form.controls, 'group', 'name')
      },
     
    },
    methods: {
      onCopy: function (e) {
        this.$notify({
          title: "Link Copied",
          message: "",
          type: "success"
        });
      },
      chunkify(n, balanced) {
        let a = this.controlGroups;
        console.log(a);

        if (n < 2)
          return [a];

        var len = 6,
          out = [],
          i = 0,
          size;

        if (len % n === 0) {
          size = Math.floor(len / n);
          while (i < len) {
            out.push(Object.keys(a).slice(i, i += size));
          }
        }

        else if (balanced) {
          while (i < len) {
            size = Math.ceil((len - i) / n--);
            out.push(Object.keys(a).slice( i, i += size));
          }
        }

        else {

          n--;
          size = Math.floor(len / n);
          if (len % size === 0)
            size--;
          while (i < size * n) {
            out.push(Object.keys(a).slice(i, i += size));
          }
          out.push(Object.keys(a).slice(size * n));

        }

        console.log(out);
        return out;
      },
      groupBy(array, key1, key2) {
        const result = {}
        array.forEach(item => {

          if (!result[item[key1][key2]]) {
            result[item[key1][key2]] = []
          }
          result[item[key1][key2]].push(item)
        })
        return result
      },
      onError: function (e) {
        this.$notify({
          title: "Link Not Copied",
          message: "",
          type: "error"
        });
      },
      editForm(force) {
        if (
          (this.form.status == "approved" ||
            this.form.status == "partially approved") &&
          !force
        ) {
          this.dialogTableVisible = true;
        } else {
          this.$router.push({ name: this.form.kind.slug + "-form-edit" });
        }
      },
      denyForm(confirmed) {
        if (confirmed) {
          var self = this;
          this.$refs["form-deny"].validate(async valid => {
            if (valid) {
              self.doAction("deny");
            } else {
              return false;
            }
          });
        } else {
          this.denyDialogVisible = true;
        }
      },
      requestInfo(confirmed) {
        if (confirmed) {
          var self = this;
          this.$refs["form-more-info"].validate(async valid => {
            if (valid) {
              self.doAction("more information");
            } else {
              return false;
            }
          });
        } else {
          this.requestInfoDialogVisible = true;
        }
      },
      print() {
        window.print();
      },
      dateFormat(date, formatOption) {
        if (!Date.parse(date)) return '';

        let minDate = Date.parse('1950-01-01 00:00:00.000000Z');
        let parsedDate = Date.parse(date);

        if (parsedDate < minDate) return '__ / __ / __';

        return format(parsedDate, formatOption);
      },
      async getForm(formId) {
        try {
          this.loading = true;
          let response = await this.$http({
            method: "get",
            url: `/api/forms/confined-space-entry-permit/${formId}`,
            headers: {
              Authorization: "Bearer " + this.$store.getters.accessToken
            }
          });

          this.form = response.data;

        } catch (err) {
          console.log(err);
        } finally {
          this.loading = false;
        }
      },

      async doAction(action) {
        try {
          this.loading = true;
          let response = await this.$http({
            method: "put",
            url: `/api/forms/confined-space-entry-permit/${
              this.form.id
              }/status/${action}`,
            headers: {
              Authorization: "Bearer " + this.$store.getters.accessToken,
              "Content-Type": "application/json"
            },
            data: this.denialReason
          });
          this.$notify({
            title: "Success",
            message: response.data.message,
            type: "success"
          });
          this.$router.push({
            name: "confined-space-entry-permit-form-detail",
            params: { formId: this.form.id },
            query: { d: Date.now() }
          });
        } catch (err) {
          this.$notify({
            title: "Warning",
            message: err.response.data.message,
            type: "warning"
          });
        } finally {
          this.loading = false;
        }
      }
    }
  };
</script>
