﻿@model SSWA.CalibrationRegister.Web.Database.Equipment

@{
    ViewData["Title"] = "Edit Test Equipment";
}
<h3>Administration &rsaquo; Test Equipment  &rsaquo; Edit</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="CreatedAt" />
            <div class="form-group">
                <label asp-for="MakeModel" class="control-label"></label>
                <input asp-for="MakeModel" class="form-control input-sm" />
                <span asp-validation-for="MakeModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control input-sm" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control input-sm" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestFrequency" class="control-label"></label>
                <input asp-for="TestFrequency" class="form-control input-sm" />
                <span asp-validation-for="TestFrequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inactive" class="control-label"></label>
                <input asp-for="Inactive" />
                <span asp-validation-for="Inactive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
