﻿@model IEnumerable<SSWA.CalibrationRegister.Web.Database.Equipment>

@{
    ViewData["Title"] = "Test Equipment";
}

<h3>Administration &rsaquo; Test Equipment</h3>

<p>
    <a asp-action="Create">Add Equipment</a>
</p>
<table class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MakeModel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SerialNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TestFrequency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inactive)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MakeModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestFrequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inactive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
