<template>
  <div class="card-columns">
    <my-forms></my-forms>
    <div class="card shadow-sm">
      <div class="card-body">
        <h4>My Tasks</h4>
        <awaiting-approval></awaiting-approval>
        <awaiting-authorisation></awaiting-authorisation>
        <awaiting-open></awaiting-open>
        <awaiting-completion></awaiting-completion>
      </div>
    </div>
    <div class="card shadow-sm">
      <div class="card-body">
        <h4>Events</h4>
        <forms-by-start-date-range :title="'This Week'" :start-date="thisWeek[0]" :end-date="thisWeek[1]">
        </forms-by-start-date-range>
        <forms-by-start-date-range :title="'Next Week'" :start-date="nextWeek[0]" :end-date="nextWeek[1]">
        </forms-by-start-date-range>
        <forms-by-start-date-range :title="'Previous Week'" :start-date="previousWeek[0]" :end-date="previousWeek[1]">
        </forms-by-start-date-range>
      </div>
    </div>
    <my-notifications></my-notifications>

  </div>
</template>

<script>
import MyForms from './my-forms';
import MyNotifications from './my-notifications';
import AwaitingApproval from './my-approvals';
import AwaitingCompletion from './awaiting-completion';
import AwaitingOpen from './awaiting-open';
import AwaitingAuthorisation from './awaiting-authorisation';
import FormsByStartDateRange from './forms-by-start-date-range';
import format from 'date-fns/format';
import startOfWeek from 'date-fns/start_of_week';
import endOfWeek from 'date-fns/end_of_week';
import addWeeks from 'date-fns/add_weeks';

export default {
  components: {
    MyForms,
    MyNotifications,
    AwaitingApproval,
    AwaitingAuthorisation,
    AwaitingCompletion,
    AwaitingOpen,
    FormsByStartDateRange
  },
  data() {
    return {
      weekOptions: {
        weekStartsOn: 1
      }
    };
  },
  computed: {
    thisWeek() {
      return [
        format(startOfWeek(Date.now(), this.weekOptions), 'YYYY-MM-DD'),
        format(endOfWeek(Date.now(), this.weekOptions), 'YYYY-MM-DD')
      ];
    },
    nextWeek() {
      return [
        format(
          startOfWeek(addWeeks(Date.now(), 1), this.weekOptions),
          'YYYY-MM-DD'
        ),
        format(
          endOfWeek(addWeeks(Date.now(), 1), this.weekOptions),
          'YYYY-MM-DD'
        )
      ];
    },
    previousWeek() {
      return [
        format(
          startOfWeek(addWeeks(Date.now(), -1), this.weekOptions),
          'YYYY-MM-DD'
        ),
        format(
          endOfWeek(addWeeks(Date.now(), -1), this.weekOptions),
          'YYYY-MM-DD'
        )
      ];
    }
  }
};
</script>
