<template>
  <div class="card-body" v-loading="loading">
    <h5>
      {{ title }}
      <small class="display-inline-block ml-3">{{ startDate }} to {{ endDate }}</small>
      <pagination class="display-inline float-right clearfix" :current-page="currentPage" :total-pages="pages.length" :no-more-pages="noMorePages" :max-visible-buttons="0" @pagechanged="onPageChange"></pagination>
    </h5>
    <el-table :data="approvals" size="mini">
      <el-table-column label="Form">
        <template slot-scope="scope">
          <router-link :to="{ name: scope.row.kind.slug + '-form-detail', params: { formType: scope.row.kind.slug, formId: scope.row.id } }">
            {{ scope.row.friendlyId }}
          </router-link>
        </template>
      </el-table-column>
      <el-table-column label="Description" show-overflow-tooltip>
        <template slot-scope="scope">
          {{ scope.row.description }}
        </template>
      </el-table-column>
      <el-table-column label="Start" width="90">
        <template slot-scope="scope">
          {{ dateFormat(scope.row.startDate, 'YYYY-MM-DD') }}
        </template>
      </el-table-column>
      <el-table-column label="Finish" width="90">
        <template slot-scope="scope">
          {{ dateFormat(scope.row.endDate, 'YYYY-MM-DD') }}
        </template>
      </el-table-column>
      <el-table-column label="Status">
        <template slot-scope="scope">
          <span v-if="scope.row.status === 'approved'" class="status status-sm badge badge-pill badge-success">{{ scope.row.status }}</span>
          <span v-else-if="scope.row.status === 'denied'" class="status  status-sm badge badge-pill badge-danger">{{ scope.row.status }}</span>
          <span v-else-if="scope.row.status === 'opened'" class="status  status-sm badge badge-pill badge-success">{{ scope.row.status }}</span>
          <span v-else-if="scope.row.status === 'information required'" class="status status-sm  badge badge-pill badge-warning">info required</span>
          <span v-else-if="scope.row.status === 'cancelled'" class="text-muted status status-sm  badge badge-pill badge-light">{{ scope.row.status }}</span>
          <span v-else-if="scope.row.status === 'closed'" class="text-muted status status-sm  badge badge-pill badge-light">{{ scope.row.status }}</span>
          <span v-else-if="scope.row.status.includes( 'pending')" class="status status-sm badge badge-pill badge-warning">{{ scope.row.status }}</span>
          <span v-else class="status status-sm badge badge-pill badge-info">{{ scope.row.status }}</span>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script type="text/javascript">
import DateFormatter from './../utilities/date-formatter';
import Pagination from './../pagination';
import format from 'date-fns/format';

export default {
  name: 'FormsByStartDateRange',
  props: {
    title: {
      required: true
    },
    startDate: {
      required: true
    },
    endDate: {
      requried: true
    }
  },
  components: {
    DateFormatter,
    Pagination
  },
  data() {
    return {
      approvals: [],
      currentPage: 1,
      noMorePages: true,
      pages: [null],
      loading: false,
      pageSize: 10,
      filters: {
        formType: 'any',
        status: 'any',
        startDate: [this.startDate, this.endDate],
        endDate: null
      }
    };
  },

  created() {
    this.getData(this.pageSize, null, this.filters);
  },

  methods: {
    dateFormat(date, formatOption) {
      if (!Date.parse(date)) return '';

      return format(Date.parse(date), formatOption);
    },
    async getData(
      pageSize,
      token = null,
      filters = {
        formType: 'any',
        status: 'any',
        startDate: null,
        endDate: null
      },
      sort = {
        prop: 'startDate',
        order: 'ascending'
      }
    ) {
      try {
        this.loading = true;

        let response = await this.$http({
          method: 'get',
          url: `/api/forms/${filters.formType}`,
          params: {
            pageSize: pageSize,
            token: token,
            status: filters.status,
            startDate: filters.startDate,
            endDate: filters.endDate,
            sortBy: sort.prop,
            orderBy: sort.order
          },
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        this.approvals = response.data.data;
        if (response.data.nextPageToken) {
          this.pages.push(response.data.nextPageToken);
        }

        this.noMorePages = !response.data.hasMoreData;
      } catch (err) {
        console.log(err);
      } finally {
        this.loading = false;
      }
    },
    async onPageChange(page) {
      this.currentPage = page;

      await this.getData(this.pageSize, this.pages[page - 1], this.filters);
    }
  }
};
</script>
