<template>
  <div class="card shadow-sm">
    <div class="card-body" v-loading="loading">
      <h4>
        My Forms
        <pagination class="display-inline float-right" :current-page="currentPage" :total-pages="pages.length" :no-more-pages="noMorePages" :max-visible-buttons="0" @pagechanged="onPageChange"></pagination>
      </h4>
      <el-table :data="forms" size="mini" style="width: 100%">
        <el-table-column label="Form">
          <template slot-scope="scope">
            <router-link :to="{ name: scope.row.kind.slug + '-form-detail', params: { formType: scope.row.kind.slug, formId: scope.row.id } }">
              <del class="text-muted" v-if="scope.row.status === 'cancelled'">
                {{ scope.row.friendlyId }}
              </del>
              <span v-else>
                {{ scope.row.friendlyId }}
              </span>
            </router-link>
          </template>
        </el-table-column>
        <el-table-column label="Description" show-overflow-tooltip>
          <template slot-scope="scope">
            {{ scope.row.description }}
          </template>
        </el-table-column>
        <el-table-column label="Last Update">
          <template slot-scope="scope">
            <date-formatter :date="scope.row.updatedAt"></date-formatter>
          </template>
        </el-table-column>
        <el-table-column label="Status">
          <template slot-scope="scope">
            <span v-if="scope.row.status === 'approved'" class="status status-sm badge badge-pill badge-success">{{ scope.row.status }}</span>
            <span v-else-if="scope.row.status === 'open'" class="status status-sm badge badge-pill badge-success">{{ scope.row.status }}</span>
            <span v-else-if="scope.row.status === 'opened'" class="status status-sm badge badge-pill badge-success">{{ scope.row.status }}</span>
            <span v-else-if="scope.row.status === 'denied'" class="status  status-sm badge badge-pill badge-danger">{{ scope.row.status }}</span>
            <span v-else-if="scope.row.status === 'information required'" class="status status-sm  badge badge-pill badge-warning">info required</span>
            <span v-else-if="scope.row.status === 'cancelled'" class="text-muted status status-sm  badge badge-pill badge-light">{{ scope.row.status }}</span>
            <span v-else-if="scope.row.status === 'closed'" class="text-muted status status-sm  badge badge-pill badge-light">{{ scope.row.status }}</span>
            <span v-else-if="scope.row.status.includes( 'pending')" class="status status-sm badge badge-pill badge-warning">{{ scope.row.status }}</span>
            <span v-else class="status status-sm badge badge-pill badge-info">{{ scope.row.status }}</span>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script type="text/javascript">
import DateFormatter from './../utilities/date-formatter';
import Pagination from './../pagination';

export default {
  name: 'MyForms',
  components: {
    DateFormatter,
    Pagination
  },
  data() {
    return {
      loading: false,
      forms: [],
      currentPage: 1,
      noMorePages: true,
      pages: [null],
      loading: false,
      pageSize: 10
    };
  },

  created() {
    this.getUserForms(this.pageSize, null);
  },

  methods: {
    async getUserForms(pageSize, token = null) {
      try {
        this.loading = true;
        let response = await this.$http({
          method: 'get',
          url: `/api/user/forms`,
          params: {
            pageSize: pageSize,
            token: token
          },
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        this.forms = response.data.data;
        if (response.data.nextPageToken) {
          this.pages.push(response.data.nextPageToken);
        }

        this.noMorePages = !response.data.hasMoreData;
      } catch (err) {
        console.log(err);
      } finally {
        this.loading = false;
      }
    },
    async onPageChange(page) {
      this.currentPage = page;

      await this.getUserForms(this.pageSize, this.pages[page - 1]);
    }
  }
};
</script>
