<template>
  <div class="card shadow-sm">
    <div class="card-body" v-loading="loading">
      <h4>
        Notifications
        <pagination class="display-inline float-right" :current-page="currentPage" :total-pages="pages.length" :no-more-pages="noMorePages" :max-visible-buttons="0" @pagechanged="onPageChange"></pagination>
      </h4>
      <el-table :data="notifications" size="mini">
        <!-- <el-table-column label="Last Updated">
          <template slot-scope="scope">
            <date-formatter :date="scope.row.updatedAt"></date-formatter>
          </template>
        </el-table-column> -->
        <el-table-column label="Message" prop="subject" class="w-75" show-overflow-tooltip>
        </el-table-column>
        <el-table-column label="Link" width="50">
          <template slot-scope="scope">
            <router-link :to="scope.row.action.path">Go</router-link>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script type="text/javascript">
import DateFormatter from './../utilities/date-formatter';
import Pagination from './../pagination';

export default {
  name: 'MyNotifications',
  components: {
    DateFormatter,
    Pagination
  },
  data() {
    return {
      notifications: [],
      currentPage: 1,
      noMorePages: true,
      pages: [null],
      loading: false,
      pageSize: 10
    };
  },

  created() {
    this.getUserNotifications(this.pageSize, null);
  },

  methods: {
    async getUserNotifications(pageSize, token) {
      try {
        this.loading = true;
        let response = await this.$http({
          method: 'get',
          url: `/api/user/notifications`,
          params: {
            pageSize: pageSize,
            token: token
          },
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        this.notifications = response.data.data;
        if (response.data.nextPageToken) {
          this.pages.push(response.data.nextPageToken);
        }

        this.noMorePages = !response.data.hasMoreData;
      } catch (err) {
        console.log(err);
      } finally {
        this.loading = false;
      }
    },
    async onPageChange(page) {
      this.currentPage = page;

      await this.getUserNotifications(this.pageSize, this.pages[page - 1]);
    }
  }
};
</script>
