<template>
  <div class="card shadow-sm pb-3">
    <div class="card-body">
      <h2 v-if="!isTemplate">New Working At Heights Permit</h2>
      <h2 v-else>New Working At Heights Template</h2>
      <working-at-heights-permit-editor></working-at-heights-permit-editor>
    </div>
  </div>
</template>

<script type="text/javascript">
import { mapActions, mapState } from 'vuex';
import WorkingAtHeightsPermitEditor from './editor';

export default {
  name: 'WorkingAtHeightsPermitCreate',
    components: { WorkingAtHeightsPermitEditor },
    computed: {
       isTemplate() {
        return this.$route.name.includes("template");
        }
    }
};
</script>

