<template>
  <div v-loading="loading">
    <div class="card shadow-sm non-printable mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h6 class="text-secondary text-uppercase">Action Bar</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <a href="#"
               style="font-weight: 500;"
               v-if="form.canEdit"
               @click="editForm(false)"
               :disabled="!form.canEdit"
               class="text-secondary btn mr-3">
              <feather class="mr-1"
                       type="edit"
                       width="16"
                       height="16"></feather>
              <span>Edit Permit</span>
            </a>
            <a href="#"
               style="font-weight: 500;"
               v-if="form.canCancel"
               @click="doAction('cancel')"
               :disabled="!form.canCancel"
               class="text-secondary btn mr-3">
              <feather class="mr-1"
                       type="trash-2"
                       width="16"
                       height="16"></feather>
              <span>Cancel Permit</span>
            </a>
            <a style="font-weight: 500;"
               role="button"
               href="#"
               class="text-secondary btn mr-3"
               @click="print()">
              <feather class="mr-1"
                       type="printer"
                       width="16"
                       height="16"></feather>
              <span>Print</span>
            </a>
          </div>
          <div class="col-5">
          </div>
        </div>
      </div>
    </div>

    <div class="card shadow-sm">
      <div class="card-body">
        <h3 class="mb-1">
          {{form.friendlyId}}
          <span v-for="(item, index) in form.linkedForms" :key="index">
            | {{item.formId}}
          </span>
          <span v-if="form.status === 'approved'"
                class="float-right status badge badge-pill badge-success">{{ form.status }}</span>
          <span v-else-if="form.status === 'denied'"
                class="float-right status badge badge-pill badge-danger">{{ form.status }}</span>
          <span v-else-if="form.status === 'cancelled'"
                class="text-muted float-right status badge badge-pill badge-light">{{ form.status }}</span>
          <span v-else-if="form.status === 'information required'"
                class="float-right status badge badge-pill badge-warning">{{ form.status }}</span>
          <span v-else
                class="float-right status badge badge-pill badge-info">{{ form.status }}</span>
        </h3>
        <h5 class="text-secondary text-uppercase mt-0">Working At Heights Permit</h5>
        <div class="row">
          <div class="col-6">
            <div class="row mb-1">
              <div class="col-4 text-left">
                Requested By
              </div>
              <div class="col-4 text-left">
                {{ form.createdBy.name }}
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-4 text-left">
                Requested
              </div>
              <div class="col-4 text-left">
                {{dateFormat(form.createdAt, 'DD/MM/YYYY')}}
              </div>
            </div>
            <div class="row mb-1"
                 v-if="form.approvers"
                 v-for="(approver, index) in form.approvers.filter(x => x.message)"
                 :key="index">
              <div class="col-3 text-right">
                Approver Comment
              </div>
              <div class="col-9 text-left text-danger">
                {{approver.user.name}}: {{ approver.message }}
              </div>
            </div>
          </div>
          <!-- Author And Dates -->
          <div class="col-6">

            <div class="row mb-1">
              <div class="col-8 text-right">
                Last Updated
              </div>
              <div class="col-4 text-left">
                {{dateFormat(form.updatedAt, 'DD/MM/YYYY')}}
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12 px-4">
            <p class="font-weight-bold mb-1" style="font-size: 0.9rem; line-height: 1;">THIS PERMIT IS TO BE COMPLETED & AUTHORISED FOR ALL WORKING AT HEIGHTS WORK / FALL PREVENTION  ON THE SOUTHERN SEAWATER DESALINATION PLANT. </p>
            <p class="font-weight-bold mb-1 mt-2" style="font-size: 0.9rem; line-height: 1;">
              WORKING AT HEIGHTS (WAH) IS DEFINED AS:<br />
              •	A situation where there is potential of falling from one level to another.
            </p>

          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12">
            <div class="row mt-1">
              <div class="col-3 text-right pt-0">
                <h6 class="text-secondary text-uppercase">Work Location</h6>
              </div>
              <div class="col-9 bg-light px-2 py-0">
                <p class="m-0 p-0">{{form.physicalLocation}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12">
            <div class="row mt-1">
              <div class="col-3 text-right pt-0">
                <h6 class="text-secondary text-uppercase">Sub-Contractor (If Applicable)</h6>
              </div>
              <div class="col-9 bg-light px-2 py-0">
                <p class="m-0 p-0">{{form.subContractor}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12">
            <div class="row mt-1">
              <div class="col-3 text-right pt-0">
                <h6 class="text-secondary text-uppercase">Works Description</h6>
              </div>
              <div class="col-9 bg-light px-2 py-0">
                <p class="m-0 p-0">{{form.worksDescription}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <h6 class="text-secondary text-uppercase">Other Permits</h6>
            <p>Does this permit combine with another other permits? (Automatically pre-filled from ATW)</p>
            <div class="row">
              <div class="col-6 font-weight-bold">
                <div class="row">
                  <div class="col-8">
                    Permit
                  </div>
                  <div class="col-4 font-weight-bold">
                    Number
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col-8 font-weight-bold">
                    Permit
                  </div>
                  <div class="col-4 font-weight-bold">
                    Number
                  </div>
                </div>
              </div>
              <div v-for="permit in atwPermits" class="col-6">
                <div class="row">
                  <div class="col-8">
                    {{permit.name}}
                  </div>
                  <div class="col-4 font-italic">
                    {{permit.permitId}}
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <h6 class="text-secondary text-uppercase">Controls</h6>
            <p>List which of the following controls are required</p>
          </div>
          <div v-for="chunk in chunkify(2, false)" class="col-6">
            <div v-for="groupName in chunk" class="row">
              <div class="col-12">
                <strong>{{groupName}}</strong>
                <div class="row">
                  <div class="col-6"></div>
                  <div class="col-2">YES</div>
                  <div class="col-2">NO</div>
                  <div class="col-2">N/A</div>
                </div>
                <div class="row my-1 border-bottom" v-for="control in controlGroups[groupName]">
                  <div class="col-6"><small style="line-height: 1em; display: block;">{{control.control}}</small></div>
                  <div class="col-2">
                    <feather type="square"
                             width="16"
                             height="16"
                             class=""></feather>
                  </div>
                  <div class="col-2">
                    <feather type="square"
                             width="16"
                             height="16"
                             class=""></feather>
                  </div>
                  <div class="col-2">
                    <feather type="square"
                             width="16"
                             height="16"
                             class=""></feather>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <h6 class="text-secondary text-uppercase">Rescue Plan</h6>
            <div class="row mt-1">
              <div class="col-3 text-left pt-0">
                <h6 class="text-secondary text-uppercase">Emergency Radio Channel</h6>
              </div>
              <div class="col-3 bg-light px-2 py-0">
                <p class="m-0 p-0">{{form.rescuePlan.radioChannel}}</p>
              </div>
              <div class="col-3 text-left pt-0">
                <h6 class="text-secondary text-uppercase">Emergency Phone Number</h6>
              </div>
              <div class="col-3 bg-light px-2 py-0">
                <p class="m-0 p-0">{{form.rescuePlan.phoneNumber}}</p>
              </div>
            </div>
          </div>
          <div class="col-12">
            <p class="p-0 mt-1 mb-0">How will personnel be recovered in the event of an emergency?</p>
            <div class="row mb-2">
              <div class="col-3 text-left pt-0">
                <h6 class="text-secondary text-uppercase">Recovery Plan</h6>
              </div>
              <div class="col-9 bg-light px-2 py-0">
                <p class="m-0 p-0">{{form.rescuePlan.personnelRecoveryPlan}}</p>
              </div>
            </div>
            <p class="p-0 mt-1 mb-0">Do you have the required rescue equipment at the jobsite?</p>
            <div class="row mb-2">
              <div class="col-3 text-left pt-0">
                <h6 class="text-secondary text-uppercase">Equipment</h6>
              </div>
              <div class="col-9 bg-light px-2 py-0">
                <p class="m-0 p-0">{{form.rescuePlan.rescueEquipmentAtJobSite}}</p>
              </div>
            </div>
          </div>
        </div>

        <!-- APPROVALS -->
        <div class="row mt-1">
          <div class="col-12 p-2">
            <table class="table table-sm table-bordered border-dark table-signing m-0">
              <thead>
                <tr>
                  <td colspan="4"><h6 class="text-secondary text-center text-uppercase mb-0">APPROVALS</h6></td>
                </tr>
              </thead>
              <tbody>

                <!-- AUTHORISER -->
                <tr>
                  <td colspan="4">
                    <strong>PERMIT AUTHORISER:</strong><br />
                    <small class="d-inline-block" style="line-height: 0.9">•	I authorise Working At Heights / Fall Prevention subject to the conditions and controls of the JSEA and as indicated on this Permit.</small>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>FULL NAME:</strong>
                  </td>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td width="10%"><strong>SIGNATURE:</strong></td>
                  <td></td>
                  <td width="7%"><strong>DATE:</strong></td>
                  <td></td>
                </tr>

                <!-- ACCEPTOR -->
                <tr>
                  <td colspan="4">
                    <strong>PERMIT ACCEPTOR:</strong><br />
                    <small class="d-inline-block" style="line-height: 0.9">•	I accept this Permit, agree to be bound by the conditions above and the associated procedures, and accept the responsibilities as the person directly in charge of the work.</small>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>FULL NAME:</strong>
                  </td>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td><strong>SIGNATURE:</strong></td>
                  <td></td>
                  <td><strong>DATE:</strong></td>
                  <td></td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>

        <!-- STAND-BY PEOPLE -->
        <div class="row mt-1">
          <div class="col-12 p-2">
            <table class="table table-sm table-bordered border-dark table-signing m-0">
              <tbody>

                <!-- STAND-BY PERSON -->
                <tr>
                  <td colspan="6">
                    <strong>DEDICATED STAND-BY PERSON (MAY ALTERNATE WITH ANOTHER TRAINED AND COMPETENT PERSON WITHIN WORK GROUP):</strong><br />
                    <small class="d-inline-block" style="line-height: 0.9">•	I understand and accept the responsibilities of the Stand-by person </small>
                  </td>
                </tr>
                <tr>
                  <td width="10%">
                    <strong>DATE:</strong>
                  </td>
                  <td width="20%">
                    <strong>FULL NAME:</strong>
                  </td>
                  <td width="10%">
                    <strong>TIME ON:</strong>
                  </td>
                  <td width="20%">
                    <strong>SIGNATURE:</strong>
                  </td>
                  <td width="10%">
                    <strong>TIME OFF:</strong>
                  </td>
                  <td width="20%">
                    <strong>SIGNATURE:</strong>
                  </td>
                </tr>
                <tr v-for="i in 15">
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- HANDBACK & CLOSURE -->
        <div class="row mt-1">
          <div class="col-12 p-2">
            <table class="table table-sm table-bordered border-dark table-signing m-0">
              <thead>
                <tr>
                  <td colspan="4"><h6 class="text-secondary text-center text-uppercase mb-0">HANDBACK & CLOSURE</h6></td>
                </tr>
              </thead>
              <tbody>

                <!-- ACCEPTOR -->
                <tr>
                  <td colspan="4">
                    <strong>PERMIT ACCEPTOR - RELINQUISH THE PERMIT:</strong><br />
                    <small class="d-inline-block" style="line-height: 0.9">•	All work associated with this Permit has been completed and the work site has been left in a clean and safe condition.</small>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>FULL NAME:</strong>
                  </td>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td width="10%"><strong>SIGNATURE:</strong></td>
                  <td></td>
                  <td width="7%"><strong>DATE:</strong></td>
                  <td></td>
                </tr>

                <!-- AUTHORISER -->
                <tr>
                  <td colspan="4">
                    <strong>PERMIT AUTHORISER - CANCELLATION OF PERMIT:</strong><br />
                    <small class="d-inline-block" style="line-height: 0.9">•	All work associated with this Permit has been completed.</small><br />
                    <small class="d-inline-block" style="line-height: 0.9">•	This permit is now closed.</small>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>FULL NAME:</strong>
                  </td>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td><strong>SIGNATURE:</strong></td>
                  <td></td>
                  <td><strong>DATE:</strong></td>
                  <td></td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import WorkingAtHeightsPermitEditor from "./editor";
  import FormLink from "../form-link";

  import format from "date-fns/format";
  import {
    options_requestTypes,
    options_swipeCardAreas,
    options_plantAccessAreas
  } from "./../../../store/options";

  export default {
    name: "WorkingAtHeightsPermitDetail",
    components: { WorkingAtHeightsPermitEditor, FormLink },
    async created() {
      await this.getForm(this.$route.params.formId);
        let atwNumber = this.form.linkedForms.filter(x => x.id == 'ATW')[0].formId;
        try {
          let response = await this.$http({
            method: 'get',
            url: `/api/forms/find-by-friendly-id/${atwNumber}`,
            headers: {
              Authorization: 'Bearer ' + this.$store.getters.accessToken
            }
          });

          let atw = response.data;

           this.atwPermits = atw.permits.filter(x => x.id !== 'WAH');
        } catch (err) {
          console.log(err);
        } finally {
        }
    },
    data() {
    return {
        atwPermits: [],
        form: {},
        loading: true,
        dialogTableVisible: false,
        denyDialogVisible: false,
        requestInfoDialogVisible: false,
        denialReason: {
          message: ""
        },
        rules: {
          message: [
            {
              required: true,
              message: "Please enter a reason",
              trigger: "blur"
            },
            {
              min: 3,
              message: "Please enter a reason longer than 2 characters",
              trigger: "blur"
            }
          ]
        }
      };
    },
    computed: {
      requestType() {
        return (
          options_requestTypes.find(x => x.code === this.form.requestType) || {}
        );
      },
      requestTypes() {
        return options_requestTypes;
      },
      swipeCardAreas() {
        return options_swipeCardAreas;
      },
      plantAreas() {
        return options_plantAccessAreas;
      },
      controlGroups() {
        return this.groupBy(this.form.controls, 'group', 'name')
      },
     
    },
    methods: {
      onCopy: function (e) {
        this.$notify({
          title: "Link Copied",
          message: "",
          type: "success"
        });
      },
      chunkify(n, balanced) {
        let a = this.controlGroups;
        console.log(a);

        if (n < 2)
          return [a];

        var len = 6,
          out = [],
          i = 0,
          size;

        if (len % n === 0) {
          size = Math.floor(len / n);
          while (i < len) {
            out.push(Object.keys(a).slice(i, i += size));
          }
        }

        else if (balanced) {
          while (i < len) {
            size = Math.ceil((len - i) / n--);
            out.push(Object.keys(a).slice( i, i += size));
          }
        }

        else {

          n--;
          size = Math.floor(len / n);
          if (len % size === 0)
            size--;
          while (i < size * n) {
            out.push(Object.keys(a).slice(i, i += size));
          }
          out.push(Object.keys(a).slice(size * n));

        }

        console.log(out);
        return out;
      },
      groupBy(array, key1, key2) {
        const result = {}
        array.forEach(item => {

          if (!result[item[key1][key2]]) {
            result[item[key1][key2]] = []
          }
          result[item[key1][key2]].push(item)
        })
        return result
      },
      onError: function (e) {
        this.$notify({
          title: "Link Not Copied",
          message: "",
          type: "error"
        });
      },
      editForm(force) {
        if (
          (this.form.status == "approved" ||
            this.form.status == "partially approved") &&
          !force
        ) {
          this.dialogTableVisible = true;
        } else {
          this.$router.push({ name: this.form.kind.slug + "-form-edit" });
        }
      },
      denyForm(confirmed) {
        if (confirmed) {
          var self = this;
          this.$refs["form-deny"].validate(async valid => {
            if (valid) {
              self.doAction("deny");
            } else {
              return false;
            }
          });
        } else {
          this.denyDialogVisible = true;
        }
      },
      requestInfo(confirmed) {
        if (confirmed) {
          var self = this;
          this.$refs["form-more-info"].validate(async valid => {
            if (valid) {
              self.doAction("more information");
            } else {
              return false;
            }
          });
        } else {
          this.requestInfoDialogVisible = true;
        }
      },
      print() {
        window.print();
      },
      dateFormat(date, formatOption) {
        if (!Date.parse(date)) return '';

        let minDate = Date.parse('1950-01-01 00:00:00.000000Z');
        let parsedDate = Date.parse(date);

        if (parsedDate < minDate) return '__ / __ / __';

        return format(parsedDate, formatOption);
      },
      async getForm(formId) {
        try {
          this.loading = true;
          let response = await this.$http({
            method: "get",
            url: `/api/forms/working-at-heights-permit/${formId}`,
            headers: {
              Authorization: "Bearer " + this.$store.getters.accessToken
            }
          });

          this.form = response.data;

        } catch (err) {
          console.log(err);
        } finally {
          this.loading = false;
        }
      },

      async doAction(action) {
        try {
          this.loading = true;
          let response = await this.$http({
            method: "put",
            url: `/api/forms/working-at-heights-permit/${
              this.form.id
              }/status/${action}`,
            headers: {
              Authorization: "Bearer " + this.$store.getters.accessToken,
              "Content-Type": "application/json"
            },
            data: this.denialReason
          });
          this.$notify({
            title: "Success",
            message: response.data.message,
            type: "success"
          });
          this.$router.push({
            name: "working-at-heights-permit-form-detail",
            params: { formId: this.form.id },
            query: { d: Date.now() }
          });
        } catch (err) {
          this.$notify({
            title: "Warning",
            message: err.response.data.message,
            type: "warning"
          });
        } finally {
          this.loading = false;
        }
      }
    }
  };
</script>
