$body-bg: #f5f5fd;

$theme-primary: #0091d5; //#02c39a; //#6ec4db; //#27a6d7;
$theme-secondary: #1c4e80; //; //#00a896; //#a5a5af;
$theme-danger: #e63946;

$link-color: $theme-primary; //#00a896;

$theme-colors: (
  'primary': $theme-primary,
  'secondary': $theme-secondary,
  'danger': $theme-danger
);

$font-size-base: 0.875rem;
