.el-date-editor.el-date-editor--time-select {
  width: 130px !important;
}

.el-date-editor.el-date-editor--daterange {
  width: 250px !important;
}

.el-date-editor .el-range-separator {
  width: 25% !important;
}

.el-checkbox {
  font-weight: 400 !important;
}

.el-form-item__label {
  font-weight: 500 !important;
}

.el-table .el-table__body td .cell {
  // overflow: hidden !important;
  // text-overflow: ellipsis !important;
  // white-space: nowrap !important;
  // &:after {
  //   content: "\0000a0" !important;
  //   display: inline-block !important;
  //   width: 0 !important;
  // }
}

.feather__content {
  height: 100% !important;
  width: 100% !important;
}

.navbar {
  z-index: 2100 !important;
}
