@media print {
  body {
    background: #fff !important;
    -webkit-print-color-adjust: exact !important;
    font-size: 16px !important; //font-weight: 500 !important;
  }

  h6 {
    font-size: 16px !important;
  }

  .card {
    border-top: none !important; //box-shadow: inset 0 4px 0 theme-color('primary');
  }


  table.table.table-sm.table-bordered {
    border: 1px solid #333 !important;

    thead {
      tr {
        th {
          border: 1px solid #333 !important;
        }

        td {
          border: 1px solid #333 !important;
        }
      }
    }

    tbody {
      tr {
        th {
          border: 1px solid #333 !important;
        }

        td {
          border: 1px solid #333 !important;
        }
      }

      tfoot {
        tr {
          th {
            border: 1px solid #333 !important;
          }

          td {
            border: 1px solid #333 !important;
          }
        }
      }
    }
  }

  .non-printable,
  .non-printable * {
    display: none !important;
    height: 0 !important;
    width: 0 !important;
    max-width: 0 !important;
    min-width: 0 !important;
    max-height: 0 !important;
    min-height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    visibility: hidden !important;
  }

  div {
    page-break-inside: avoid !important;
  }

  main {

    &.ml-sm-auto,
    .mx-sm-auto {
      margin-left: 0 !important;
      margin-top: 0 !important;
      margin-right: 0 !important;
      margin-bottom: 0 !important;
      margin: 0 !important;
      padding: 0 !important;
      width: 100% !important;
      min-width: 100% !important;
      max-width: 100% !important;
    }

    &.col-md-9.ml-sm-auto.col-lg-10 {
      margin-left: 0 !important;
      margin-top: 0 !important;
      margin-right: 0 !important;
      margin-bottom: 0 !important;
      margin: 0 !important;
      padding: 0 !important;
      width: 100% !important;
      min-width: 100% !important;
      max-width: 100% !important;
    }
  }

  div.d-flex.flex-column.p-3.mt-5 {
    padding: 0 !important;
    margin: 0 !important;
  }

  .printable {
    display: block !important;
    width: 100% !important;
    margin: 0 !important;
    box-shadow: none !important;

    .card.shadow-sm {
      box-shadow: none !important;
    }

    .bg-success,
    .bg-primary,
    .bg-warning {
      border: 1px solid #333 !important;
    }

    .bg-light {
      border: 1px solid #333 !important;
      background-color: #fff !important;
    }

    .bg-white {
      border: 1px solid #333 !important;
      background-color: #fff !important;
    }
  }

}
