@import 'custom';
@import 'overrides';
@import 'print';
@import '~bootstrap/scss/bootstrap';

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

a {
  color: $link-color;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom; //stroke: #b6bdc5;
}

/*
 * Breadcrumbs
 */

/*
 * Sidebar
 */


.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  background: lighten($body-bg, 1%);
  /* Behind the navbar */
  padding: 0; //box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);

  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky; // top: 50px;
    top: 0px;
    margin-top: 50px;
    /* Height of navbar */
    height: calc(100vh - 50px);
    padding-top: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background: lighten($body-bg, 1%);

    &:before,
    &:after {
      content: '';
      display: table;
    }
  }

  .sidebar-heading {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: #b6bdc5;
    font-size: 0.675rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
  }

  .nav-link {
    font-weight: 500;
    color: #202020;

    .feather {
      margin-right: 4px;
      color: #b6bdc5;
      stroke: #b6bdc5;
    }

    &.disabled {
      color: #b6bdc5;
      pointer-events: none;
      cursor: default;

      &:hover {
        color: #b6bdc5;

        .feather {
          color: #b6bdc5;
          stroke: #b6bdc5;
        }
      }
    }

    &:hover {
      color: inherit;

      .feather {
        color: theme-color('primary');
        stroke: theme-color('primary');
      }
    }

    &.active {
      background-color: #fff;
      box-shadow: inset 4px 0 0 theme-color('primary');

      .feather {
        color: theme-color('primary');
        stroke: theme-color('primary');
      }
    }
  }
}

.card {
  border: none;
  border-radius: 0;
  border-top: 6px solid theme-color('primary'); //box-shadow: inset 0 4px 0 theme-color('primary');
}

.logo {
  fill: theme-color('primary');
  opacity: 0.25;
}

/*
 * Navbar
 */

.navbar-dark .navbar-brand {
  font-size: 1.2rem;
  font-weight: 500; //background-color: rgba(0, 0, 0, 0.25);
  //background-color: theme-color('primary');
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  color: #fff;

  .logo {
    fill: lighten($color: $theme-primary, $amount: 10%);
    opacity: 1;
  }
}

.navbar-dark .navbar-nav .nav-link {
  line-height: 32px;
  color: #fff;

  &:hover {
    color: #fff;

    svg {
      opacity: 1;
    }
  }

  &:active {
    color: #fff;

    svg {
      opacity: 1;
    }
  }

  &:visited {
    color: #fff;
  }

  &.active {
    color: #fff;

    svg {
      opacity: 1;
    }
  }
}

.text-black-25 {
  color: #DDDDDD;
}

.navbar .nav-item {
  color: #fff;
  font-weight: 500;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

  .btn {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }

  svg {
    opacity: 0.5;
    width: 16px;
    height: 16px;
  }

  &:hover {
    //background-color: theme-color('primary');
    box-shadow: inset 0 -4px 0 0 theme-color('primary');
  }
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

/*
 * Utilities
 */

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

#user-picture {
  border-radius: 50%;
}

.form-heading-muted {
  color: #b6bdc5;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.675rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.bd-callout {
  padding: 1rem;
  border-left: 6px solid #eee;
  border-left-width: 6px;
  margin: 1rem;
  margin-top: 3.765rem;

  p {
    font-weight: 400;
  }

  &.bd-callout-warning {
    border-left-color: theme-color('warning');
    background: lighten(theme-color('warning'), 45%);
    color: darken(theme-color('warning'), 15%);
  }

  &.bd-callout-info {
    border-left-color: theme-color('info');
    background: lighten(theme-color('info'), 56%);
    color: darken(theme-color('info'), 15%);
  }

  &.bd-callout-danger {
    border-left-color: theme-color('danger');
    background: lighten(theme-color('danger'), 42%);
    color: darken(theme-color('danger'), 15%);
  }

  &.bd-callout-success {
    border-left-color: theme-color('success');
    background: lighten(theme-color('success'), 56%);
    color: darken(theme-color('success'), 15%);
  }
}

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }

  @include media-breakpoint-only(md) {
    column-count: 1;
  }

  @include media-breakpoint-only(lg) {
    column-count: 2;
  }

  @include media-breakpoint-only(xl) {
    column-count: 2;
  }
}

.badge {
  &.status {
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px;
    letter-spacing: 1px;
    font-size: 0.8rem;

    &.status-sm {
      padding: 5px;
      font-size: 0.6rem;
    }
  }
}

.table-signing {
    thead {
        tr {
            td {
                padding: 1px;
            }
        }
    }

    tbody {
        tr{
            td{
                padding: 1px;
            }
        }
    }
}
