﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SSWA Platform</title>
    <link rel="stylesheet" href="~/dist/app.bundle.css" asp-append-version="true" />
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    @RenderBody()
    @{await RenderSectionAsync("scripts", required: false);}
    <!-- @if (@Configuration["Environment:Location"].ToLowerInvariant() != "production")
    {
        <div class="container-fluid fixed-bottom mt-5" style="z-index: 9999;">
            <div class="row">
                <div class="col-12 bg-warning text-center p-2">
                    <span>
                        This is the <strong>@Configuration["Environment:Location"].ToLowerInvariant()</strong> version of the site. Unless you are testing, for the <strong>production</strong> version please go <strong><u><a class="text-dark" href="@Configuration["Environment:LiveLink"]">here</a></u></strong>.
                    </span>
                </div>
            </div>
        </div>
    } -->
</body>
</html>
