<template>
  <div class="card shadow-sm pb-3">
    <div class="card-body">
      <h2>New Process Lock</h2>
      <process-lock-editor></process-lock-editor>
    </div>
  </div>
</template>

<script type="text/javascript">
import { mapActions, mapState } from 'vuex';
import ProcessLockEditor from './editor';

export default {
  name: 'ProcessLockCreate',
  components: { ProcessLockEditor }
};
</script>

