<template>
  <div class="card shadow-sm pb-3">
    <div class="card-body">
      <h3 class="mb-1">
        {{processLock.friendlyId}}
        <span v-if="processLock.status === 'approved'" class="float-right status badge badge-pill badge-success">{{ form.status }}</span>
        <span v-else-if="processLock.status === 'denied'" class="float-right status badge badge-pill badge-danger">{{ form.status }}</span>
        <span v-else-if="processLock.status === 'information required'" class="float-right status badge badge-pill badge-warning">{{ form.status }}</span>
        <span v-else class="float-right status badge badge-pill badge-info">{{ processLock.status }}</span>
      </h3>
      <h5 class="text-secondary text-uppercase mt-0">Process Lock</h5>
      <process-lock-editor :processLockData="processLock"></process-lock-editor>
    </div>
  </div>
</template>

<script>
import ProcessLockEditor from './editor';
import format from 'date-fns/format';

export default {
  name: 'ProcessLockEdit',
  components: { ProcessLockEditor },
  mounted() {
    this.getProcessLock(this.$route.params.id);
  },
  data() {
    return {
      processLock: {}
    };
  },
  methods: {
    dateFormat(date, formatOption) {
      if (!Date.parse(date)) return '';

      return format(Date.parse(date), formatOption);
    },
    async getProcessLock(id) {
      try {
        let response = await this.$http({
          method: 'get',
          url: `/api/process-locks/${id}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        this.processLock = response.data;
      } catch (err) {
        window.alert(err);
        console.log(err);
      }
    }
  }
};
</script>
