<template>
  <el-form v-loading="loading" ref="form" :model="processLock" size="mini" :disabled="disabled" class="app-form" status-icon label-width="250px">
    <div class="row">
      <div class="col-md-12 col-lg-7">
        <h6 class="form-heading-muted">General</h6>
        <el-form-item label="Tag Number" prop="tagNumber">
          <el-select class="col-12" clearable allow-create filterable remote multiple :remote-method="value => searchTags(value)" :placeholder="`Start typing a tag ...`" :loading="selectLoading" v-model="processLock.tagNumber">
            <el-option v-for="item in loadedTags" :key="item.id" :label="item.id" :value="item.id" :title="item.description">
              <span class="float-left text-primary mr-3">{{ item.id }}</span>
              <span class="float-right text-muted text-truncate text-right" style="max-width: 220px; font-size: 12px">{{ item.description }}</span>
            </el-option>
          </el-select>
          <!-- <el-input type="text" size="mini" v-model="form.equipmentNumber" class="col-10"></el-input> -->
        </el-form-item>
        <el-form-item label="Location" prop="location">
          <el-input type="text" size="mini" v-model="processLock.location" class="col-12"></el-input>
        </el-form-item>
        <el-form-item label="Info Tag Placed" prop="infoTagPlaced">
          <el-input type="text" size="mini" v-model="processLock.infoTagPlaced" class="col-12"></el-input>
        </el-form-item>
        <el-form-item label="Reason for Placing Lock" prop="reason">
          <el-input type="textarea" size="mini" :cols="10" :rows="5" v-model="processLock.reason" class="col-12"></el-input>
        </el-form-item>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-7">
        <h6 class="form-heading-muted">Lock Placement</h6>
        <div class="row">
          <div class="col-md-7">
            <el-form-item label="Lock Placed By">
              <el-select v-model="processLock.lockPlacedBy.user" filterable clearable placeholder="Select or type a name" value-key="id" class="col-12">
                <el-option v-for="option in permitAuthorisers" :key="option.id" :label="option.name" :value="option">
                </el-option>
              </el-select><br />
                                <span class="ml-3 col-12 text-center">{{ processLock.lockPlacedBy.user.name }}</span>
            </el-form-item>

          </div>
          <div class="col-md-5">
            <el-form-item label="Date Placed" prop="lockPlacedBy.actionedAt" label-width="100px">
              <el-date-picker class="col-12" size="mini" v-model="processLock.lockPlacedBy.actionedAt" type="date">
              </el-date-picker>
            </el-form-item>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <el-form-item label="Lock Removed By">
              <el-select v-model="processLock.lockRemovedBy.user" filterable clearable placeholder="Select or type a name" value-key="id" class="col-12">
                <el-option v-for="option in permitAuthorisers" :key="option.id" :label="option.name" :value="option">
                </el-option>
              </el-select><br />
                          <span class="ml-3 col-12 text-center">{{ processLock.lockRemovedBy.user.name }}</span>
            </el-form-item>
          </div>
          <div class="col-md-5">
            <el-form-item label="Date Removed" prop="lockRemovedBy.actionedAt" label-width="100px">
              <el-date-picker class="col-12" size="mini" v-model="processLock.lockRemovedBy.actionedAt" type="date">
              </el-date-picker>
            </el-form-item>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-7">
        <h6 class="form-heading-muted">Details</h6>
        <el-form-item label="Unique Lock Number" prop="uniqueLockNumber">
          <el-input type="text" size="mini" v-model="processLock.uniqueLockNumber" class="col-10"></el-input>
        </el-form-item>
        <el-form-item label="NOE" prop="noe">
          <el-input type="text" size="mini" v-model="processLock.noe" class="col-10"></el-input>
        </el-form-item>
        <el-form-item label="Equipment Status" prop="equipmentStatus">
            <el-input type="text" size="mini" v-model="processLock.equipmentStatus" class="col-10"></el-input>
        </el-form-item>
      </div>
    </div>

    <hr />
    <el-form v-if="!disabled">
      <el-button size="mini" type="primary " @click="submitForm()">Save</el-button>
      <el-button size="mini " @click="cancel() ">Back</el-button>
    </el-form>
  </el-form>

</template>

<script>
import Vue from 'vue';
import { text } from '@fortawesome/fontawesome';

export default {
  name: 'ProcessLockEditor',
  beforeMount() {
    //this.form = Vue.util.extend(this.form, this.formData);
  },
  async created() {
    this.loading = true;

    this.permitAuthorisers = await this.getUsersByRole(
      'paperwork_permit_authoriser'
    );

    await new Promise(resolve => setTimeout(resolve, 500));
    if (this.processLock && this.processLockData) {
      this.processLock.tagNumber = this.processLockData.tagNumber.split(',');
    }


    this.loading = false;
    },
  props: {
    processLockData: Object,
    disabled: false
  },
  data() {
    return {
      permitAuthorisers: [],
      loadedTags: [],
      loading: true,
      selectLoading: false,
      defaultProcessLock: {
        tagNumber: [],
        lockPlacedBy: {
          actionedAt: '',
          user: {
            id: '',
            name: ''
          }
        },
        lockRemovedBy: {
          actionedAt: '',
          user: {
            id: '',
            name: ''
          }
        }
      }
    };
  },
  computed: {
    processLock() {
      return this.processLockData
        ? Vue.util.extend(this.defaultProcessLock, this.processLockData)
        : this.defaultProcessLock;
    },
    roles() {
      return this.$store.getters.roles;
    },
    isNew() {
      return this.$route.params.id ? false : true;
    },
    user() {
      return this.$store.getters.user;
    }
  },
  methods: {
    cancel() {
      return this.$router.go(-1);
    },
    async searchTags(value) {
      try {
        if (value == '' || value.length <= 2) {
          this.loadedTags = [];
          return;
        }

        this.selectLoading = true;
        let response = await this.$http({
          method: 'get',
          url: `/api/tags/${value}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        this.loadedTags = response.data;
      } catch (err) {
        console.log(err);
      } finally {
        this.selectLoading = false;
      }
    },
    async getUsersByRole(role) {
      try {
        let response = await this.$http({
          method: 'get',
          url: `/api/users/role/${role}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        return response.data;
      } catch (err) {
        console.log(err);
      }
    },
    async handleTagChange(value) {},
    async submitForm() {
      this.$refs['form'].validate(async valid => {
        if (valid) {
          try {
            this.loading = true;

            this.processLock.tagNumber = this.processLock.tagNumber.join(',');
            let id = null;
            if (this.$route.params.id) {
              let response = await this.$http({
                method: 'put',
                url: `/api/process-locks/${this.$route.params.id}`,
                headers: {
                  Authorization: 'Bearer ' + this.$store.getters.accessToken,
                  'Content-Type': 'application/json'
                },
                data: this.processLock
              });
              id = response.data.id;
            } else {
              let response = await this.$http({
                method: 'post',
                url: `/api/process-locks`,
                headers: {
                  Authorization: 'Bearer ' + this.$store.getters.accessToken,
                  'Content-Type': 'application/json'
                },
                data: this.processLock
              });

              id = response.data.id;

            }

            this.$notify({
              title: 'Done',
              message: 'Process Lock saved',
              type: 'success'
            });

            this.$router.push({
              name: 'process-lock-edit',
              params: { id: id }
            });
          } catch (err) {
            console.log(err);
            this.$notify({
              title: 'Error',
              message: err,
              type: 'error'
            });
          } finally {
            this.loading = false;
          }
        } else {
          window.scrollTo(0, 0);
          return false;
        }
      });
    },
    async doAction(action, id) {
      try {
        let response = await this.$http({
          method: 'put',
          url: `/api/process-locks/${id}/status/${action}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken,
            'Content-Type': 'application/json'
          },
          data: this.denialReason
        });
        this.$notify({
          title: 'Success',
          message: response.data.message,
          type: 'success'
        });
        this.$router.go();
      } catch (err) {
        this.$notify({
          title: 'Warning',
          message: err.response.data.message,
          type: 'warning'
        });
      } finally {
      }
    },
  }
};
</script>
