<template>
  <div v-loading="loading" class="card shadow-sm">
    <div class="card-body">
      <h2>
        Process Locks
        <div class="dropdown d-inline float-right">
          <button style="font-weight: 500;" role="button" href="#" class="text-primary btn btn-light mr-3">
            <download-excel :fetch="downloadForms" type="csv" name="process_lock_register.csv" :fields="json_fields">
              <feather class="mr-1" type="download" width="16" height="16"></feather> Export
            </download-excel>
          </button>
          <router-link :to="{name: 'process-lock-create'}">
            <button class="btn btn-secondary">
              <feather class="mr-1" type="plus" width="16" height="16"></feather>
              <span>New Process Lock</span>
            </button>
          </router-link>
        </div>
      </h2>
      <el-form ref="form" :inline="true" :model="filters" size="mini" label-width="130px" class="border rounded pt-4 pr-3 my-4 shadow-sm">
        <div class="row">
          <div class="col-10">
            <el-form-item label="PL Number">
              <el-input size="mini" v-model="filters.friendlyId" type="text" @change="onChange">
              </el-input>
            </el-form-item>
            <el-form-item label="Tag Number">
              <el-input size="mini" v-model="filters.tagNumber" type="text" @change="onChange">
              </el-input>
            </el-form-item>
            <el-form-item label="Reason">
              <el-input size="mini" v-model="filters.description" type="text" @change="onChange">
              </el-input>
            </el-form-item>
          </div>
          <div class="col-2">
            <el-form-item class="mt-auto mb-0 float-right">
              <el-button type="primary" @click="onSubmit">
                <feather class="mr-1" type="search" width="16" height="16"></feather> Search
              </el-button>
            </el-form-item>
          </div>
        </div>
      </el-form>

      <el-table :data="forms" size="mini" :row-class-name="tableRowClassName" style="width: 100%;" @sort-change="sortChanged" :default-sort="{prop: sort.prop, order: sort.order}">
        <el-table-column label="PL Number" width="100" sortable="custom" prop="friendlyId" fixed="left">
          <template slot-scope="scope">
            <router-link :to="{ name: 'process-lock-edit', params: { id: scope.row.id } }">
              <template v-if="scope.row.friendlyId">
                {{ scope.row.friendlyId }}
              </template>
              <template v-else>
                N/A
              </template>
            </router-link>
          </template>
        </el-table-column>
        <el-table-column label="Tag" width="100" sortable="custom" prop="tagNumber">
        </el-table-column>
        <el-table-column label="Location" sortable="custom" prop="location" width="150">
        </el-table-column>
        <el-table-column label="Placed" sortable="custom" prop="lockPlacedBy.actionedAt" width="95">
          <template slot-scope="scope">
            {{dateFormat(scope.row.lockPlacedBy.actionedAt, 'DD/MM/YY')}}
          </template>
        </el-table-column>
        <el-table-column label="Placed By" prop="lockPlacedBy.user.name" width="120">
        </el-table-column>
        <el-table-column label="Removed" sortable="custom" prop="lockRemovedBy.actionedAt" width="95">
          <template slot-scope="scope">
            {{dateFormat(scope.row.lockRemovedBy.actionedAt, 'DD/MM/YY')}}
          </template>
        </el-table-column>
        <el-table-column label="Removed By" prop="lockRemovedBy.user.name" width="120">
        </el-table-column>
        <el-table-column label="Reason for Placing Lock" prop="reason" width="300">
        </el-table-column>
        <el-table-column label="Info Tag Placed" prop="infoTagPlaced">
        </el-table-column>
        <el-table-column label="Unique Lock #" prop="uniqueLockNumber" width="90">
        </el-table-column>
        <el-table-column label="NOE" prop="noe">
        </el-table-column>
        <el-table-column label="Equipment Status" prop="equipmentStatus">
        </el-table-column>
        <el-table-column label="Actions" fixed="right">
          <template slot-scope="scope">
            <el-button class="text-danger" type="text" size="mini" @click="hide(scope.row.id)">Delete</el-button>
          </template>
        </el-table-column>
      </el-table>
      <pagination class="mt-3 float-left" :current-page="currentPage" :total-pages="pages.length" :no-more-pages="noMorePages" @pagechanged="onPageChange"></pagination>
    </div>
  </div>
</template>

<script>
  import DateFormatter from './../utilities/date-formatter';
  import Pagination from './../pagination';
  import format from 'date-fns/format';

  export default {
    name: 'ProcessLocks',
    components: {
      DateFormatter,
      Pagination
    },
    data() {
      return {
        filters: {
          friendlyId: '',
          tagNumber: '',
          description: ''
        },
        sort: {
          prop: 'lockPlacedBy.actionedAt',
          order: 'descending'
        },
        categories: [],
        companies: [],
        forms: [],
        currentPage: 1,
        noMorePages: false,
        pages: [null],
        loading: false,
        pageSize: 20,
        json_fields:
        {
          "Number": "friendlyId",
          "Tag": "tagNumber",
          "Location": "location",
          "Reason": "reason",
          "Lock Placed": "lockPlacedBy.actionedAt",
          "Lock Placed By": "lockPlacedBy.user.name",
          "Lock Removed": "lockRemovedBy.actionedAt",
          "Lock Removed By": "lockRemovedBy.user.name",
          "Unique Lock Number": "uniqueLockNumber",
          "NOE": "noe",
          "Equipment Status": "equipmentStatus",
          "Status": "status"
        }
      };
    },

    created() {
      //this.getCategories();
      //this.getCompanies();
      //this.getUserForms(this.pageSize, null, this.filters, this.sort);
      this.onPageChange(1);
    },

    methods: {
      tableRowClassName({ row, rowIndex }) {
        if (row.status === 'cancelled') {
          return 'text-black-25';
        }
        return '';
      },
      sortChanged(sort) {
        this.sort.prop = sort.prop;
        this.sort.order = sort.order;

        this.getUserForms(this.pageSize, null, this.filters, this.sort);
      },
      dateFormat(date, formatOption) {
        if (!Date.parse(date)) return '';

        return format(Date.parse(date), formatOption);
      },
      async downloadForms() {
        try {
          this.loading = true;
          let response = await this.$http({
            method: 'get',
            url: `/api/process-locks/download`,
            params: {
              friendlyId: this.filters.friendlyId,
              tagNumber: this.filters.tagNumber,
              description: this.filters.description,
              sortBy: this.sort.prop,
              orderBy: this.sort.order
            },
            headers: {
              Authorization: 'Bearer ' + this.$store.getters.accessToken
            }
          });

          return response.data;

        } catch (err) {
          console.log(err);
        } finally {
          this.loading = false;
        }
      },
      async getUserForms(
        pageSize = 20,
        token = null,
        filters = {
          friendlyId: '',
          tagNumber: '',
          description: '',
        },
        sort = { prop: 'updatedAt', order: 'descending' }
      ) {
        if (token === null) {
          this.pages = [null];
          this.currentPage = 1;
        }

        try {
          this.loading = true;
          let response = await this.$http({
            method: 'get',
            url: `/api/process-locks`,
            params: {
              pageSize: pageSize,
              token: token,
              friendlyId: filters.friendlyId,
              tagNumber: filters.tagNumber,
              description: filters.description,
              sortBy: sort.prop,
              orderBy: sort.order
            },
            headers: {
              Authorization: 'Bearer ' + this.$store.getters.accessToken
            }
          });

          this.forms = response.data.data;
          if (response.data.nextPageToken) {
            this.pages.push(response.data.nextPageToken);
          }

          this.noMorePages = !response.data.hasMoreData;
        } catch (err) {
          console.log(err);
        } finally {
          this.loading = false;
        }
      },
      async hide(id) {
        try {
          this.loading = true;
          let response = await this.$http({
            method: 'post',
            url: `/api/process-locks/${id}/hide`,
            headers: {
              Authorization: 'Bearer ' + this.$store.getters.accessToken
            }
          });

          await this.getUserForms(this.pageSize, this.pages[this.currentPage - 1], this.filters, this.sort);
        } catch (err) {
          console.log(err);
        } finally {
          this.loading = false;
        }
      },
      async onPageChange(page) {
        this.currentPage = page;

        await this.getUserForms(
          this.pageSize,
          this.pages[page - 1],
          this.filters,
          this.sort
        );
      },
      async onSubmit() {
        await this.getUserForms(this.pageSize, null, this.filters, this.sort);
      },
      async onChange(value) {
        await this.getUserForms(this.pageSize, null, this.filters, this.sort);
      }
    }
  };
</script>

