@model Paperwork.Models.EditRolePriorityViewModel
@{
    ViewData["Title"] = "Approvers";
}
<div class="row mx-5 mt-5 p-5 bg-white">
    <div class="col-md-12">
        <h3>Administration &rsaquo; Approvers &rsaquo; @Model.RoleDisplayName</h3>
        <hr />
    </div>
</div>
<div class="row mx-5 p-5 bg-white">
    <div class="col-md-4">
        <form asp-action="Approvers">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoleId" class="form-control" />
            <input type="hidden" asp-for="RoleName" />
            @for (int i = 0; i < Model.Users.Count; i++)
            {
                <div class="form-group">
                    <label class="control-label">@Model.Users[i].FirstName @Model.Users[i].LastName</label>
                    <select class="form-control" asp-for="Users[i].Priority"
                            asp-items="@(new SelectList(ViewBag.Priorities,"Id","Name"))"></select>
                    <input type="hidden" asp-for="Users[i].UserId" />
                    <input type="hidden" asp-for="Users[i].Id" />
                    <span asp-validation-for="Users[i].UserId" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div class="row mx-5 mb-5 p-5 bg-white">
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

