@model IEnumerable<Paperwork.Models.UserListViewModel>
@{
    ViewData["Title"] = "Users";
}
<div class="row mx-5 mt-5 p-5 bg-white">
    <div class="col-md-12">
        <h3>Administration &rsaquo; Users</h3>
        <hr />
        <ul class="nav nav-pills float-left">
            <li class="mr-2 nav-item">
                <a class="btn btn-primary nav-link" asp-action="Create">Invite User</a>
            </li>
            <li class="mr-5 nav-item dropdown">
                <a class="btn btn-secondary nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Approver Priorities</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-action="Approvers" asp-route-id="paperwork_alliance_manager">Alliance Manager</a>
                    <a class="dropdown-item" asp-action="Approvers" asp-route-id="paperwork_operations_manager">Operations Manager</a>
                    <a class="dropdown-item" asp-action="Approvers" asp-route-id="paperwork_maintenance_manager">Maintenance Manager</a>
                </div>
            </li>

        </ul>
         <ul class="nav nav-pills d-inline float-right">
            <li class="nav-item">
                <a class="btn btn-warning nav-link" href="/dashboard">Exit Admin Area</a>
            </li>
         </ul>
    </div>
</div>
<div class="row mx-5 mb-5 p-5 bg-white">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastLogin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AccountActivated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LoginCount)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr class="@(item.Blocked ? "text-muted":"")">
                    <td style="@(item.Blocked ? "text-decoration: line-through;":"")">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td width="10%" style="@(item.Blocked ? "text-decoration: line-through;":"")">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td width="25%" style="@(item.Blocked ? "text-decoration: line-through;":"")">
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td style="@(item.Blocked ? "text-decoration: line-through;":"")">
                        @(item.LastLogin == null || item.LastLogin.Value <= new DateTime(1900,1,1) ? "Never" : item.LastLogin.Value.ToString("yyyy-MM-d"))
                    </td>
                    <td style="@(item.Blocked ? "text-decoration: line-through;":"")">
                        @if (item.AccountActivated)
                        {
                            <small><span title="Account Activated" class="glyphicon glyphicon-ok"></span></small>
                        }
                    </td>
                    <td style="@(item.Blocked ? "text-decoration: line-through;":"")">
                        @Html.DisplayFor(modelItem => item.LoginCount)
                    </td>
                    <td>
                        @if (item.ID != null)
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-sm btn-outline-primary" })
                        }
                        @if (!item.Blocked)
                        {
                            <form asp-action="Block" asp-route-id="@item.ID" class="d-inline-block mx-2">
                                <button class="btn btn-sm btn-outline-danger" type="submit">Make Inactive</button>
                            </form>
                        }
                        else
                        {
                            <form asp-action="Unblock" asp-route-id="@item.ID" class="d-inline-block mx-2">
                                <button class="btn btn-sm btn-outline-info" type="submit">Make Active</button>
                            </form>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

