<template>
  <div class="card shadow-sm pb-3">
    <div class="card-body">
      <h2 v-if="!isTemplate">New High Voltage Permit</h2>
      <h2 v-else>New High Voltage Template</h2>
      <high-voltage-permit-editor></high-voltage-permit-editor>
    </div>
  </div>
</template>

<script type="text/javascript">
import { mapActions, mapState } from 'vuex';
import HighVoltagePermitEditor from './editor';

export default {
  name: 'HighVoltagePermitCreate',
    components: { HighVoltagePermitEditor },
    computed: {
       isTemplate() {
        return this.$route.name.includes("template");
        }
    }
};
</script>

