<template>
  <div v-loading="loading">
    <div class="card shadow-sm non-printable mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h6 class="text-secondary text-uppercase">Action Bar</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <a href="#"
               style="font-weight: 500;"
               v-if="form.canEdit"
               @click="editForm(false)"
               :disabled="!form.canEdit"
               class="text-secondary btn mr-3">
              <feather class="mr-1"
                       type="edit"
                       width="16"
                       height="16"></feather>
              <span>Edit Permit</span>
            </a>
            <a href="#"
               style="font-weight: 500;"
               v-if="form.canCancel"
               @click="doAction('cancel')"
               :disabled="!form.canCancel"
               class="text-secondary btn mr-3">
              <feather class="mr-1"
                       type="trash-2"
                       width="16"
                       height="16"></feather>
              <span>Cancel Permit</span>
            </a>
            <a style="font-weight: 500;"
               role="button"
               href="#"
               class="text-secondary btn mr-3"
               @click="print()">
              <feather class="mr-1"
                       type="printer"
                       width="16"
                       height="16"></feather>
              <span>Print</span>
            </a>
          </div>
          <div class="col-5">
          </div>
        </div>
      </div>
    </div>

    <div class="card shadow-sm">
      <div class="card-body">
        <h3 class="mb-1">
          {{form.friendlyId}}
          <span v-for="(item, index) in form.linkedForms" :key="index">
            | {{item.formId}}
          </span>
          <span v-if="form.status === 'approved'"
                class="float-right status badge badge-pill badge-success">{{ form.status }}</span>
          <span v-else-if="form.status === 'denied'"
                class="float-right status badge badge-pill badge-danger">{{ form.status }}</span>
          <span v-else-if="form.status === 'cancelled'"
                class="text-muted float-right status badge badge-pill badge-light">{{ form.status }}</span>
          <span v-else-if="form.status === 'information required'"
                class="float-right status badge badge-pill badge-warning">{{ form.status }}</span>
          <span v-else
                class="float-right status badge badge-pill badge-info">{{ form.status }}</span>
        </h3>
        <h5 class="text-secondary text-uppercase mt-0">High Voltage Permit</h5>
        <div class="row">
          <div class="col-6">
            <div class="row mb-1">
              <div class="col-4 text-left">
                Requested By
              </div>
              <div class="col-4 text-left">
                {{ form.createdBy.name }}
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-4 text-left">
                Requested
              </div>
              <div class="col-4 text-left">
                {{dateFormat(form.createdAt, 'DD/MM/YYYY')}}
              </div>
            </div>
            <div class="row mb-1"
                 v-if="form.approvers"
                 v-for="(approver, index) in form.approvers.filter(x => x.message)"
                 :key="index">
              <div class="col-3 text-right">
                Approver Comment
              </div>
              <div class="col-9 text-left text-danger">
                {{approver.user.name}}: {{ approver.message }}
              </div>
            </div>
          </div>
          <!-- Author And Dates -->
          <div class="col-6">

            <div class="row mb-1">
              <div class="col-8 text-right">
                Last Updated
              </div>
              <div class="col-4 text-left">
                {{dateFormat(form.updatedAt, 'DD/MM/YYYY')}}
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-12 px-4">

            <p class="font-weight-bold mb-1" style="font-size: 0.9rem; line-height: 1;">THIS PERMIT IS TO BE COMPLETED AND AUTHORISED FOR ALL ISOLATIONS ON THE SOUTHERN SEAWATER DESALINATION PLANT AS PER PROCEDURE.</p>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-6">
            <div class="row mt-1">
              <div class="col-4 text-right pt-2">
                <h6 class="text-secondary text-uppercase">Sub-Contractor</h6>
              </div>
              <div class="col-8 bg-light px-2 py-2">
                <p class="m-0 p-0">{{form.contractor}}</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row mt-1">
              <div class="col-8 text-right pt-2">
                <h6 class="text-secondary text-uppercase">Switching Program Number</h6>
              </div>
              <div class="col-4 bg-light px-2 py-2">
                <p class="m-0 p-0">{{form.switchingProgamNumber}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12">
            <div class="row mt-1">
              <div class="col-2 text-right pt-2">
                <h6 class="text-secondary text-uppercase">Reference Drawing Numbers</h6>
              </div>
              <div class="col-10 bg-light px-2 py-2">
                <p class="m-0 p-0">{{form.referenceDrawingNumbers}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12">
            <div class="row mt-1">
              <div class="col-2 text-right pt-2">
                <h6 class="text-secondary text-uppercase">Work Location</h6>
              </div>
              <div class="col-10 bg-light px-2 py-2">
                <p class="m-0 p-0">{{form.workLocation}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12">
            <div class="row mt-1">
              <div class="col-2 text-right pt-2">
                <h6 class="text-secondary text-uppercase">Works Description</h6>
              </div>
              <div class="col-10 bg-light px-2 py-2">
                <p class="m-0 p-0">{{form.worksDescription}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12">
            <div class="row mt-1">
              <div class="col-2 text-right pt-2">
                <h6 class="text-secondary text-uppercase">This permit allows Access to</h6>
              </div>
              <div class="col-10 bg-light px-2 py-2">
                <p class="m-0 p-0">{{form.permitAccess}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12">
            <div class="row mt-1">
              <div class="col-2 text-right pt-2">
                <h6 class="text-secondary text-uppercase">Only for the purpose of</h6>
              </div>
              <div class="col-10 bg-light px-2 py-2">
                <p class="m-0 p-0">{{form.permitPurpose}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12 px-4">

            <p class="font-weight-bold mb-1" style="font-size: 0.75rem; line-height: 1;">
              THE FOLLOWING PRECAUTIONS HAVE BEEN TAKEN AND THE CONDITION OF THE INDICATED ISOLATION POINTS AND EARTHS SHALL REMAIN UNCHANGED DURING THE CURRENCY OF THE HIGH VOLTAGE ELECTRICAL PERMIT.
            </p>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12">
            <div class="row mt-1">
              <div class="col-2 text-right pt-2">
                <h6 class="text-secondary text-uppercase">Isolation Points</h6>
              </div>
              <div class="col-10 bg-light px-2 py-2">
                <p class="m-0 p-0">{{form.isolationPoints}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12">
            <div class="row mt-1">
              <div class="col-2 text-right pt-2">
                <h6 class="text-secondary text-uppercase">Equipment Earthed At</h6>
              </div>
              <div class="col-10 bg-light px-2 py-2">
                <p class="m-0 p-0">{{form.equipmentEarthedAt}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12">
            <table class="table table-sm table-bordered border-dark table-signing m-0">
              <thead>
                <tr>
                  <th>Number of Programmed Earths Applied</th>
                  <th colspan="2">On</th>
                  <th colspan="2">Off</th>
                </tr>
                <tr>
                  <th>Location of Each Set of Working Earths Placed/Removed</th>
                  <th>Time</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="index in 5">
                  <td width="68%">&nbsp;</td>
                  <td width="8%"></td>
                  <td width="8%"></td>
                  <td width="8%"></td>
                  <td width="8%"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- SIGN ON -->
        <div class="row mt-3">
          <div class="col-12">
            <table class="table table-sm table-bordered border-dark table-signing m-0">
              <tbody>

                <!-- AUTHORISER -->
                <tr>
                  <td colspan="4">
                    <strong>ISSUING OFFICER:</strong><br />
                    <small class="d-inline-block" style="line-height: 0.9">•	I authorize High Voltage (HV) electrical work subject to conditions and controls of the JSEA and as prescribe on this permit.</small>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>FULL NAME:</strong>
                  </td>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td width="10%"><strong>SIGNATURE:</strong></td>
                  <td></td>
                  <td width="7%"><strong>DATE:</strong></td>
                  <td></td>
                </tr>

                <!-- ACCEPTOR -->
                <tr>
                  <td colspan="4">
                    <strong>RECIPIENT IN CHARGE SIGN ON:</strong><br />
                    <small class="d-inline-block" style="line-height: 0.9">•	I accept this Permit, agree to be bound by the conditions above and the associated procedures, and accept the responsibilities as the person directly in charge of the work</small>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>FULL NAME:</strong>
                  </td>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td><strong>SIGNATURE:</strong></td>
                  <td></td>
                  <td><strong>DATE:</strong></td>
                  <td></td>
                </tr>
                <tr>
                  <td><strong>OTHER PRECAUTIONS TAKEN:</strong></td>
                  <td colspan="3">
                    <br /><br /><br /><br /><br />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- WORK GROUP -->
        <div class="row mt-3">
          <div class="col-12">
            <table class="table table-sm table-bordered border-dark table-signing m-0">
              <tbody>
                <tr>
                  <th colspan="6">WORK GROUP SIGNATURES</th>
                </tr>
                <tr>
                  <td colspan="4">
                    <small style="line-height: 0.9">
                      I acknowledge that I only have access to the electrical apparatus listed on this Permit while dead, will have no difficulty in keeping clear of electrical apparatus not covered by this Permit and will not alter isolation points, operator earths or other controls in place
                    </small>
                  </td>
                  <td colspan="2">
                    <small style="line-height: 0.9">
                      I acknowledge that I no longer have access to the electrical apparatus listed on this Permit and will regard the electrical apparatus as being live
                    </small>
                  </td>
                </tr>
                <tr>
                  <th>FULL NAME</th>
                  <th width="10%">DATE</th>
                  <th width="10%">TIME ON</th>
                  <th width="16%">SIGNATURE</th>
                  <th width="10%">TIME OFF</th>
                  <th width="16%">SIGNATURE</th>
                </tr>
                <tr v-for="index in 15">
                  <td>&nbsp;</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- SIGN OFF -->
        <div class="row mt-3">
          <div class="col-12">
            <table class="table table-sm table-bordered border-dark table-signing m-0">
              <tbody>

                <!-- AUTHORISER -->
                <tr>
                  <td colspan="4">
                    <strong>RECIPIENT IN CHARGE SIGN OFF:</strong><br />
                    <small class="d-inline-block" style="line-height: 0.9">•	I confirm that the work covered by this Permit is complete. All working earths, equipment and personnel are clear of the work area</small>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>FULL NAME:</strong>
                  </td>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td width="10%"><strong>SIGNATURE:</strong></td>
                  <td></td>
                  <td width="7%"><strong>DATE:</strong></td>
                  <td></td>
                </tr>

                <!-- ACCEPTOR -->
                <tr>
                  <td colspan="4">
                    <strong>ISSUING OFFICER:</strong><br />
                    <small class="d-inline-block" style="line-height: 0.9">•	All work associated with this Permit has been completed, and the work site has been left in a clean and safe state</small><br />
                    <small class="d-inline-block" style="line-height: 0.9">•	This Permit is now relinquished</small><br />
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>FULL NAME:</strong>
                  </td>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td><strong>SIGNATURE:</strong></td>
                  <td></td>
                  <td><strong>DATE:</strong></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- TRANSFER -->
        <div class="row mt-3">
          <div class="col-12">
            <table class="table table-sm table-bordered border-dark table-signing m-0">
              <tbody>
                <tr>
                  <th colspan="7">TRANSFER OF PERMIT (IF REQUIRED)</th>
                </tr>
                <tr>
                  <th rowspan="2"></th>
                  <th rowspan="2">TIME</th>
                  <th rowspan="2">DATE</th>
                  <th colspan="2">RECIPIENT IN CHARGE (SIGN OFF)</th>
                  <th colspan="2">RECIPIENT IN CHARGE (SIGN ON)</th>
                </tr>
                <tr>
                  <th>NAME</th>
                  <th>SIGNATURE</th>
                  <th>NAME</th>
                  <th>SIGNATURE</th>
                </tr>
                <tr v-for="index in 3">
                  <td>{{index}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


      </div>
    </div>
  </div>
</template>

<script>
  import HighVoltagePermitEditor from "./editor";
  import FormLink from "../form-link";

  import format from "date-fns/format";
  import {
    options_requestTypes,
    options_swipeCardAreas,
    options_plantAccessAreas
  } from "./../../../store/options";

  export default {
    name: "HighVoltagePermitDetail",
    components: { HighVoltagePermitEditor, FormLink },
    async created() {
      await this.getForm(this.$route.params.formId);
        let atwNumber = this.form.linkedForms.filter(x => x.id == 'ATW')[0].formId;
        try {
          let response = await this.$http({
            method: 'get',
            url: `/api/forms/find-by-friendly-id/${atwNumber}`,
            headers: {
              Authorization: 'Bearer ' + this.$store.getters.accessToken
            }
          });

          let atw = response.data;

           this.atwPermits = atw.permits.filter(x => x.id !== 'WAH');
        } catch (err) {
          console.log(err);
        } finally {
        }
    },
    data() {
    return {
        atwPermits: [],
        form: {},
        loading: true,
        dialogTableVisible: false,
        denyDialogVisible: false,
        requestInfoDialogVisible: false,
        denialReason: {
          message: ""
        },
        rules: {
          message: [
            {
              required: true,
              message: "Please enter a reason",
              trigger: "blur"
            },
            {
              min: 3,
              message: "Please enter a reason longer than 2 characters",
              trigger: "blur"
            }
          ]
        }
      };
    },
    computed: {
      requestType() {
        return (
          options_requestTypes.find(x => x.code === this.form.requestType) || {}
        );
      },
      requestTypes() {
        return options_requestTypes;
      },
      swipeCardAreas() {
        return options_swipeCardAreas;
      },
      plantAreas() {
        return options_plantAccessAreas;
      },
      controlGroups() {
        return this.groupBy(this.form.controls, 'group', 'name')
      },
     
    },
    methods: {
      onCopy: function (e) {
        this.$notify({
          title: "Link Copied",
          message: "",
          type: "success"
        });
      },
      chunkify(n, balanced) {
        let a = this.controlGroups;
        console.log(a);

        if (n < 2)
          return [a];

        var len = 6,
          out = [],
          i = 0,
          size;

        if (len % n === 0) {
          size = Math.floor(len / n);
          while (i < len) {
            out.push(Object.keys(a).slice(i, i += size));
          }
        }

        else if (balanced) {
          while (i < len) {
            size = Math.ceil((len - i) / n--);
            out.push(Object.keys(a).slice( i, i += size));
          }
        }

        else {

          n--;
          size = Math.floor(len / n);
          if (len % size === 0)
            size--;
          while (i < size * n) {
            out.push(Object.keys(a).slice(i, i += size));
          }
          out.push(Object.keys(a).slice(size * n));

        }

        console.log(out);
        return out;
      },
      groupBy(array, key1, key2) {
        const result = {}
        array.forEach(item => {

          if (!result[item[key1][key2]]) {
            result[item[key1][key2]] = []
          }
          result[item[key1][key2]].push(item)
        })
        return result
      },
      onError: function (e) {
        this.$notify({
          title: "Link Not Copied",
          message: "",
          type: "error"
        });
      },
      editForm(force) {
        if (
          (this.form.status == "approved" ||
            this.form.status == "partially approved") &&
          !force
        ) {
          this.dialogTableVisible = true;
        } else {
          this.$router.push({ name: this.form.kind.slug + "-form-edit" });
        }
      },
      denyForm(confirmed) {
        if (confirmed) {
          var self = this;
          this.$refs["form-deny"].validate(async valid => {
            if (valid) {
              self.doAction("deny");
            } else {
              return false;
            }
          });
        } else {
          this.denyDialogVisible = true;
        }
      },
      requestInfo(confirmed) {
        if (confirmed) {
          var self = this;
          this.$refs["form-more-info"].validate(async valid => {
            if (valid) {
              self.doAction("more information");
            } else {
              return false;
            }
          });
        } else {
          this.requestInfoDialogVisible = true;
        }
      },
      print() {
        window.print();
      },
      dateFormat(date, formatOption) {
        if (!Date.parse(date)) return '';

        let minDate = Date.parse('1950-01-01 00:00:00.000000Z');
        let parsedDate = Date.parse(date);

        if (parsedDate < minDate) return '__ / __ / __';

        return format(parsedDate, formatOption);
      },
      async getForm(formId) {
        try {
          this.loading = true;
          let response = await this.$http({
            method: "get",
            url: `/api/forms/high-voltage-permit/${formId}`,
            headers: {
              Authorization: "Bearer " + this.$store.getters.accessToken
            }
          });

          this.form = response.data;

        } catch (err) {
          console.log(err);
        } finally {
          this.loading = false;
        }
      },

      async doAction(action) {
        try {
          this.loading = true;
          let response = await this.$http({
            method: "put",
            url: `/api/forms/high-voltage-permit/${
              this.form.id
              }/status/${action}`,
            headers: {
              Authorization: "Bearer " + this.$store.getters.accessToken,
              "Content-Type": "application/json"
            },
            data: this.denialReason
          });
          this.$notify({
            title: "Success",
            message: response.data.message,
            type: "success"
          });
          this.$router.push({
            name: "high-voltage-permit-form-detail",
            params: { formId: this.form.id },
            query: { d: Date.now() }
          });
        } catch (err) {
          this.$notify({
            title: "Warning",
            message: err.response.data.message,
            type: "warning"
          });
        } finally {
          this.loading = false;
        }
      }
    }
  };
</script>
