<template>
  <el-form v-loading="loading" ref="form" :model="form" size="mini" :rules="rules" :disabled="disabled" class="app-form" status-icon label-width="170px">
    <div class="row">
      <div class="col-md-12 col-lg-10">
        <h6 class="form-heading-muted">General</h6>
        <div class="row">
          <div class="col-4">
            <el-form-item label="Sub-contractor" prop="contractor" class="col-12">
              <el-input type="text" size="mini" v-model="form.contractor"></el-input>
            </el-form-item>
          </div>
          <div class="col-3">
            <el-form-item label="Switching Program No." prop="switchingProgaNumber" class="col-12" label-width="200px">
              <el-input type="text" size="mini" v-model="form.switchingProgamNumber"></el-input>
            </el-form-item>
          </div>
        </div>
        <el-form-item label="Reference Drawing Numbers" prop="referenceDrawingNumbers" class="col-12">
          <el-input type="textarea" :rows="2" size="mini" v-model="form.referenceDrawingNumbers"></el-input>
        </el-form-item>

        <el-form-item label="Work Location" prop="physicalLocation" class="col-12">
          <el-input type="textarea" :rows="2" size="mini" v-model="form.workLocation"></el-input>
        </el-form-item>
        <el-form-item label="Works Description" prop="worksDescription" class="col-12">
          <el-input type="textarea" :rows="4" size="mini" v-model="form.worksDescription"></el-input>
        </el-form-item>
        <el-form-item label="Permit Access" prop="permitAccess" class="col-12">
          <el-input type="textarea" :rows="4" size="mini" v-model="form.permitAccess"></el-input>
        </el-form-item>
        <el-form-item label="Permit Purpose" prop="permitPurpose" class="col-12">
          <el-input type="textarea" :rows="4" size="mini" v-model="form.permitPurpose"></el-input>
        </el-form-item>
        <el-form-item label="Isolation Points" prop="isolationPoints" class="col-12">
          <el-input type="textarea" :rows="4" size="mini" v-model="form.isolationPoints"></el-input>
        </el-form-item>
        <el-form-item label="Equipment Earthed At" prop="equipmentEarthedAt" class="col-12">
          <el-input type="textarea" :rows="4" size="mini" v-model="form.equipmentEarthedAt"></el-input>
        </el-form-item>
      </div>
    </div>
    <hr />
    <el-form v-if="!disabled">
      <el-button size="mini" type="primary " @click="submitForm( 'form', false) ">Save</el-button>
      <el-button size="mini " @click="cancel() ">Close</el-button>
    </el-form>
  </el-form>
</template>

<script>
  import Vue from 'vue';

  export default {
    name: 'HighVoltagePermitEditor',
    beforeMount() {
      //this.form = Vue.util.extend(this.form, this.formData);
    },
    async created() {
      this.loading = true;

      this.loading = false;
    },
    props: {
      formData: Object,
      disabled: false
    },
    data() {
      return {
        loading: true,
        selectLoading: false,
        loadedForms: {},
        loadedTags: [],
        loadedTemplates: [],
        denialReason: {
          message: ''
        },
        defaultForm: {
          switchingProgamNumber: '',
          contractor: '',
          referenceDrawingNumbers: '',
          workLocation: '',
          worksDescription: '',
          permitAccess: '',
          permitPurpose: '',
          isolationPoints: '',
          equipmentEarthedAt: '',
          equipmentNumber: '',
          requestor: {},
          lookup: {
            level1: '',
            level2: '',
            level3: '',
            name: ''
          },
          linkedForms: [
            {
              id: 'ATW',
              name: 'Authority To Work',
              completed: false,
              reason: '',
              formId: ''
            }
          ],
          host: {
            name: '',
            contactNumber: ''
          },
          HighVoltageMethod: [
            {
              step: 1,
              tag: '',
              equipmentDescription: '',
              notes: [],
              energyType: '',
              asFoundState: '',
              HighVoltageState: '',
              lockbox: '',
              lock: ''
            }
          ],
          attachments: [
            {
              step: 1,
              type: '',
              name: '',
              fileLocation: ''
            }
          ],
          approvers: [
            {
              role: {
                id: 'paperwork_operations_manager',
                name: 'Operations Manager'
              },
              user: null
            },
            {
              role: {
                id: 'paperwork_maintenance_manager',
                name: 'Maintenance Manager'
              },
              user: null
            },
            {
              role: {
                id: 'paperwork_alliance_manager',
                name: 'Alliance Manager'
              },
              user: null
            }
          ]
        },
        rules: {
          HighVoltageMethod: {
            type: 'array',
            required: true,
            message: 'Please enter at least one high-voltage step',
            trigger: 'change',
            0: {
              name: {
                type: 'string',
                required: true,
                trigger: 'blur',
                message: 'Please enter a tag'
              }
            }
          },
          lookup: {
            level1: {
              required: true,
              message: 'Please enter/select a Level 1 lookup for this temlate',
              trigger: 'change'
            },
            level2: {
              required: true,
              message: 'Please enter/select a Level 2 lookup for this temlate',
              trigger: 'change'
            },
            name: {
              required: true,
              message: 'Please enter a name for this template',
              trigger: 'blur'
            },
          }
        },
        options: {
          priorityNames: {
            1: 'primary',
            2: 'secondary',
            3: 'tertiary'
          }
        }
      };
    },
    computed: {
      form() {
        return this.formData
          ? Vue.util.extend(this.defaultForm, this.formData)
          : this.defaultForm;
      },
      roles() {
        return this.$store.getters.roles;
      },
      isNew() {
        return this.$route.params.formId ? false : true;
      },
      isTemplate() {
        return this.$route.name.includes("template");
      },
    },
    methods: {
      approvers(key) {
        return this.options.approvers[key];
      },
      cancel() {
        return this.$router.push({
          name: 'high-voltage-permit-template-register'
        });
      },
      onCommandDropdown(command) {
        if (command === 'save') {
          this.submitForm('form', false);
        }
      },
      async submitForm(formName, submitForApproval = false) {
        this.$refs[formName].validate(async valid => {
          if (valid) {

            // Template
            if (this.isTemplate) {
              // New Template
              if (this.isNew) {
                try {
                  this.loading = true;

                  let id = null;
                  let response = await this.$http({
                    method: 'post',
                    url: `/api/form-templates/high-voltage-permit/`,
                    headers: {
                      Authorization: 'Bearer ' + this.$store.getters.accessToken,
                      'Content-Type': 'application/json'
                    },
                    data: this.form
                  });
                  id = response.data.id;

                  this.$notify({
                    title: 'Done',
                    message: 'High Voltage Template saved',
                    type: 'success'
                  });

                  this.$router.push({
                    name: 'high-voltage-permit-template-register'
                  });
                } catch (err) {
                  console.log(err);
                  this.$notify({
                    title: 'Error',
                    message: err,
                    type: 'error'
                  });
                } finally {
                  this.loading = false;
                }
              }
              // Existing Template
              else {
                try {
                  this.loading = true;

                  let id = null;
                  if (this.$route.params.formId) {
                    let response = await this.$http({
                      method: 'put',
                      url: `/api/form-templates/high-voltage-permit/${
                        this.$route.params.formId
                        }`,
                      headers: {
                        Authorization: 'Bearer ' + this.$store.getters.accessToken,
                        'Content-Type': 'application/json'
                      },
                      data: this.form
                    });
                    id = response.data.id;
                  }

                  this.$notify({
                    title: 'Done',
                    message: 'High Voltage Template saved',
                    type: 'success'
                  });

                  this.$router.push({
                    name: 'high-voltage-permit-template-register'
                  });
                } catch (err) {
                  console.log(err);
                  this.$notify({
                    title: 'Error',
                    message: err,
                    type: 'error'
                  });
                } finally {
                  this.loading = false;
                }
              }
            }
            // Straight permit update
            else {
              try {
                this.loading = true;

                let id = null;
                if (this.$route.params.formId) {
                  let response = await this.$http({
                    method: 'put',
                    url: `/api/forms/high-voltage-permit/${
                      this.$route.params.formId
                      }`,
                    headers: {
                      Authorization: 'Bearer ' + this.$store.getters.accessToken,
                      'Content-Type': 'application/json'
                    },
                    data: this.form
                  });
                  id = response.data.id;
                }

                this.$notify({
                  title: 'Done',
                  message: 'High Voltage Permit saved',
                  type: 'success'
                });

                this.$router.push({
                  name: 'high-voltage-permit-form-detail',
                  params: { formId: id }
                });
              } catch (err) {
                console.log(err);
                this.$notify({
                  title: 'Error',
                  message: err,
                  type: 'error'
                });
              } finally {
                this.loading = false;
              }
            }

          } else {
            window.scrollTo(0, 0);
            return false;
          }
        });
      },
      handleCompanySelect(item) {

      },
      async searchTags(value) {
        try {
          if (value == '' || value.length <= 2) {
            this.loadedTags = [];
            return;
          }

          this.selectLoading = true;
          let response = await this.$http({
            method: 'get',
            url: `/api/tags/${value}`,
            headers: {
              Authorization: 'Bearer ' + this.$store.getters.accessToken
            }
          });

          this.loadedTags = response.data;
        } catch (err) {
          console.log(err);
        } finally {
          this.selectLoading = false;
        }
      },
      async getTemplates() {
        try {

          //this.selectLoading = true;
          let response = await this.$http({
            method: 'get',
            url: `/api/form-templates/lookup/high-voltage-permit`,
            headers: {
              Authorization: 'Bearer ' + this.$store.getters.accessToken
            }
          });

          this.loadedTemplates = response.data;


        } catch (err) {
          console.log(err);
        } finally {

        }
      },
      async fillFromTemplate() {

        if (!this.selectedTemplate) {
          return;
        }

        let id = this.selectedTemplate
        try {

          this.loading = true;
          let response = await this.$http({
            method: 'get',
            url: `/api/form-templates/high-voltage-permit/${id}`,
            headers: {
              Authorization: 'Bearer ' + this.$store.getters.accessToken
            }
          });

          let template = response.data;

          this.form.attachments = template.attachments;

        } catch (err) {
          console.log(err);
        } finally {
          this.loading = false;
        }
      },
      async handleTagChange(value) { },
      async handleLookupChange(level, value) {

        if (level == 1) {
          this.form.lookup.level2 = '';
          this.form.lookup.level3 = '';

          this.lookupLevel2 = '';
          this.lookupLevel3 = '';
          this.selectedTemplate = '';
        }

        if (level == 2) {
          this.form.lookup.level3 = '';

          this.lookupLevel3 = '';
          this.selectedTemplate = '';
        }

        if (level == 3) {
          this.selectedTemplate = '';
        }
      },
      async companySearch(queryString, cb) {
        if (queryString.length < 1) {
          cb([]);
        }

        var results = [];
        try {
          let response = await this.$http({
            method: 'get',
            url: `/api/visitors/subcategories/search/${queryString}`,
            headers: {
              Authorization: 'Bearer ' + this.$store.getters.accessToken
            }
          });

          results = response.data;
        } catch (err) {
          console.log(err);
        }

        cb(results);
      },
      async doAction(action, id) {
        try {
          let response = await this.$http({
            method: 'put',
            url: `/api/forms/high-voltage-permit/${id}/status/${action}`,
            headers: {
              Authorization: 'Bearer ' + this.$store.getters.accessToken,
              'Content-Type': 'application/json'
            },
            data: this.denialReason
          });
          this.$notify({
            title: 'Success',
            message: response.data.message,
            type: 'success'
          });
          this.$router.go();
        } catch (err) {
          this.$notify({
            title: 'Warning',
            message: err.response.data.message,
            type: 'warning'
          });
        } finally {
        }
      },
      async getUsersByRole(role) {
        try {
          let response = await this.$http({
            method: 'get',
            url: `/api/users/role/${role}`,
            headers: {
              Authorization: 'Bearer ' + this.$store.getters.accessToken
            }
          });

          return response.data;
        } catch (err) {
          console.log(err);
        }
      }
    }
  };
</script>
