<template>
  <div class="card shadow-sm pb-3">
    <div class="card-body">
      <template v-if="!isTemplate">
        <h3 class="mb-1">
          {{form.friendlyId}}
          <span v-if="form.status === 'approved'" class="float-right status badge badge-pill badge-success">{{ form.status }}</span>
          <span v-else-if="form.status === 'denied'" class="float-right status badge badge-pill badge-danger">{{ form.status }}</span>
          <span v-else-if="form.status === 'information required'" class="float-right status badge badge-pill badge-warning">{{ form.status }}</span>
          <span v-else class="float-right status badge badge-pill badge-info">{{ form.status }}</span>
        </h3>
        <h5 class="text-secondary text-uppercase mt-0">High Voltage Permit</h5>
      </template>
      <template v-else>
        <h3 class="mb-1">
          <span v-if="form.lookup.level1">{{ form.lookup.level1 }} > </span>
          <span v-if="form.lookup.level2">{{ form.lookup.level2 }} > </span>
          <span v-if="form.lookup.level3">{{ form.lookup.level3 }} > </span>
          <span v-if=form.lookup.name>{{ form.lookup.name }}</span>
          <span class="float-right status badge badge-pill badge-danger">TEMPLATE</span>
        </h3>
        <h5 class="text-secondary text-uppercase mt-0">High Voltage Template</h5>
      </template>
      <div class="row">
        <div class="col-6">
          <div class="row mb-1" v-for="(approver, index) in form.approvers.filter(x => x.message)" :key="index">
            <div class="col-3 text-right">
              Denial Reason
            </div>
            <div class="col-9 text-left text-danger">
              {{approver.user.name}}: {{ approver.message }}
            </div>
          </div>
          <!-- <h6 class="mt-2 text-uppercase mb-0">{{requestType.name}}</h6> -->
          <!-- <h6 class="text-muted mt-2 text-uppercase mt-0">{{requestType.length.value}} {{requestType.length.timeUnit}} Access</h6> -->
        </div>

        <!-- Author And Dates -->
        <div class="col-6">
          <div class="row mb-1">
            <div class="col-8 text-right">
              Requested By
            </div>
            <div class="col-4 text-left">
              {{ form.createdBy.name }}
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-8 text-right">
              Requested
            </div>
            <div class="col-4 text-left">
              {{dateFormat(form.createdAt, 'DD/MM/YYYY')}}
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-8 text-right">
              Last Updated
            </div>
            <div class="col-4 text-left">
              {{dateFormat(form.updatedAt, 'DD/MM/YYYY')}}
            </div>
          </div>
        </div>
      </div>
      <high-voltage-permit-editor :formData="form"></high-voltage-permit-editor>
    </div>
  </div>
</template>

<script>
import HighVoltagePermitEditor from './editor';
import format from 'date-fns/format';

export default {
  name: 'HighVoltagePermitmEdit',
  components: { HighVoltagePermitEditor },
  mounted() {
    this.getForm(this.$route.params.formId);
  },
  data() {
    return {
      form: {
        lookup: {
          level1: '',
          level2: '',
          level3: '',
          name: ''
        }
      }
    };
    },
  computed: {
     isTemplate() {
      return this.$route.name.includes("template");
    }
  },
  methods: {
    dateFormat(date, formatOption) {
      if (!Date.parse(date)) return '';

      return format(Date.parse(date), formatOption);
    },
    async getForm(formId) {
      try {
        if (!this.isTemplate) {
          let response = await this.$http({
            method: 'get',
            url: `/api/forms/high-voltage-permit/${formId}`,
            headers: {
              Authorization: 'Bearer ' + this.$store.getters.accessToken
            }
          });

          this.form = response.data;
        }
        else {
          let response = await this.$http({
            method: 'get',
            url: `/api/form-templates/high-voltage-permit/${formId}`,
            headers: {
              Authorization: 'Bearer ' + this.$store.getters.accessToken
            }
          });

          this.form = response.data;
        }

      } catch (err) {
        window.alert(err);
        console.log(err);
      }
    }
  }
};
</script>
