﻿body {
    font-size: 22px;
    background: #001;
    font-family: Roboto, sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: Roboto, sans-serif;
    margin-bottom: 0;
}

h5{
    font-size: 25px;
    line-height: 25px;
    height: 25px;
    letter-spacing: 2px;
}

h6 {
    font-size: 23px;
    line-height: 23px;
    letter-spacing: 2px;
}

.text-off-white {
    color: #EEE ;
}

.card-text.text-off-white {
    color: #eee;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}

.badge.status
{
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px;
    letter-spacing: 1px;

}

.card {
    border-right-width: 0px;
    border-left-width: 20px;
    border-bottom-width: 0px;
    border-top-width: 0px;
}

    .card .card-header {
        background: #2A2F34;
    }


.slick-dots li button::before {
    opacity: 1;
    margin-top: 10px;
    color: #2A2F34;
    font-size: 1.25rem !important;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #ddd !important;
}

/* the slides */
.slick-slide {
    margin: 0 10px;
}
/* the parent */
.slick-list {
    margin: 0 -10px;
}

.slick-slide:not(.slick-active) {
    opacity: 0.75;
}