<template>
  <div class="card shadow-sm pb-3">
    <div class="card-body">
      <h2>New Plant Works Request</h2>
      <plant-works-request-form-editor></plant-works-request-form-editor>
    </div>
  </div>
</template>

<script type="text/javascript">
import { mapActions, mapState } from 'vuex';
import PlantWorksRequestFormEditor from './editor';

export default {
  name: 'PlantWorksRequestFormCreate',
  components: { PlantWorksRequestFormEditor }
};
</script>

