<template>
  <div>
    <div class="card shadow-sm non-printable mb-4" v-loading="loading">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h6 class="text-secondary text-uppercase">Action Bar</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <a style="font-weight: 500;" role="button" href="#" v-if="form.canApprove" class="btn text-success mr-3" @click="doAction('approve')">
              <feather class="mr-1" type="check-circle" width="16" height="16"></feather>
              <span>Approve Request</span>
            </a>
            <a style="font-weight: 500;" role="button" href="#" v-if="form.canRequestInfo" class="btn text-warning mr-3" @click="requestInfo(false)">
              <feather class="mr-1" type="alert-circle" width="16" height="16"></feather>
              <span>Request More Information</span>
            </a>
            <a style="font-weight: 500;" role="button" href="#" v-if="form.canDeny" class="btn text-danger mr-3" @click="denyForm(false)">
              <feather class="mr-1" type="x-circle" width="16" height="16"></feather>
              <span>Deny Request</span>
            </a>
            <a style="font-weight: 500;" role="button" href="#" v-if="form.canSubmit" class="btn text-success mr-3" @click="doAction('submit')">
              <feather class="mr-1" type="check-circle" width="16" height="16"></feather>
              <span>Submit For Approval</span>
            </a>
            <a href="#" style="font-weight: 500;" v-if="form.canComplete" @click="doAction('complete')" :disabled="!form.canComplete" class="text-primary btn mr-3">
              <feather class="mr-1" type="package" width="16" height="16"></feather>
              <span>Mark As Complete</span>
            </a>
            <a href="#" style="font-weight: 500;" v-if="form.canEdit" @click="editForm(false)" :disabled="!form.canEdit" class="text-secondary btn mr-3">
              <feather class="mr-1" type="edit" width="16" height="16"></feather>
              <span>Edit Request</span>
            </a>
            <a href="#" style="font-weight: 500;" v-if="form.canCancel" @click="doAction('cancel')" :disabled="!form.canCancel" class="text-secondary btn mr-3">
              <feather class="mr-1" type="trash-2" width="16" height="16"></feather>
              <span>Cancel Request</span>
            </a>
            <a style="font-weight: 500;" role="button" href="#" class="text-secondary btn mr-3" @click="print()">
              <feather class="mr-1" type="printer" width="16" height="16"></feather>
              <span>Print</span>
            </a>
          </div>
          <div class="col-5">
          </div>
        </div>
      </div>
    </div>

    <el-dialog title="Warning" :visible.sync="dialogTableVisible">
      <p>Editing a form that has been approved / partially approved will require you to resubmit for approval.</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogTableVisible = false">Cancel</el-button>
        <el-button type="primary" @click="editForm(true)">I Understand</el-button>
      </span>
    </el-dialog>

    <el-dialog title="Warning" :visible.sync="denyDialogVisible">
      <p>Please provide a reason for denying this request</p>
      <el-form ref="form-deny" :model="denialReason" :rules="rules">
        <el-form-item label="Reason / Info" prop="message">
          <el-input v-model="denialReason.message" auto-complete="off" placeholder="eg. More information required"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="denyDialogVisible = false">Cancel</el-button>
        <el-button type="danger" @click="denyForm(true)">Submit</el-button>
      </span>
    </el-dialog>

    <el-dialog title="Warning" :visible.sync="requestInfoDialogVisible">
      <p>Please provide the additional information required.</p>
      <el-form ref="form-more-info" :model="denialReason" :rules="rules">
        <el-form-item label="Reason / Info" prop="message">
          <el-input v-model="denialReason.message" auto-complete="off"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="requestInfoDialogVisible = false">Cancel</el-button>
        <el-button type="primary" @click="requestInfo(true)">Submit</el-button>
      </span>
    </el-dialog>

    <div class="card shadow-sm" v-loading="loading">
      <div class="card-body">
        <h3 class="mb-1">{{form.friendlyId}}
          <span v-if="form.status === 'approved'" class="float-right status badge badge-pill badge-success">{{ form.status }}</span>
          <span v-else-if="form.status === 'denied'" class="float-right status badge badge-pill badge-danger">{{ form.status }}</span>
          <span v-else-if="form.status === 'cancelled'" class="text-muted float-right status badge badge-pill badge-light">{{ form.status }}</span>
          <span v-else-if="form.status === 'information required'" class="float-right status badge badge-pill badge-warning">{{ form.status }}</span>
          <span v-else class="float-right status badge badge-pill badge-info">{{ form.status }}</span>
        </h3>
        <h5 class="text-secondary text-uppercase mt-0">Plant Works Request</h5>
        <div class="row">
          <div class="col-6">
            <div class="row mb-1" v-for="(approver, index) in form.approvers.filter(x => x.message)" :key="index">
              <div class="col-3 text-right">
                Approver Comment
              </div>
              <div class="col-9 text-left text-danger">
                {{approver.user.name}}: {{ approver.message }}
              </div>
            </div>
            <!-- <h6 class="mt-2 text-uppercase mb-0">{{requestType.name}}</h6> -->
            <!-- <h6 class="text-muted mt-2 text-uppercase mt-0">{{requestType.length.value}} {{requestType.length.timeUnit}} Access</h6> -->
          </div>

          <!-- Author And Dates -->
          <div class="col-6">
            <div class="row mb-1">
              <div class="col-8 text-right">
                Requested By
              </div>
              <div class="col-4 text-left">
                {{ form.createdBy.name }}
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-8 text-right">
                Requested
              </div>
              <div class="col-4 text-left">
                {{dateFormat(form.createdAt, 'DD/MM/YYYY')}}
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-8 text-right">
                Last Updated
              </div>
              <div class="col-4 text-left">
                {{dateFormat(form.updatedAt, 'DD/MM/YYYY')}}
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <div class="row mt-3">
              <div class="col-6 text-right pr-5 pt-3">
                <h6 class="text-secondary text-uppercase">Works Description</h6>
              </div>
              <div class="col-6 bg-light px-4 py-3">
                <p>{{form.worksDescription}}</p>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-6 text-right pr-5 pt-3">
                <h6 class="text-secondary text-uppercase">Physical Location</h6>
              </div>
              <div class="col-6 bg-light px-4 py-3">
                <p>{{form.physicalLocation}}</p>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-6 text-right pr-5 pt-3">
                <h6 class="text-secondary text-uppercase">Principal Contractor</h6>
              </div>
              <div class="col-6 bg-light px-4 py-3">
                <p>{{form.principalContractor}}</p>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-6 text-right pr-5 pt-3">
                <h6 class="text-secondary text-uppercase">Work Duration</h6>
              </div>
              <div class="col-6 bg-light px-4 py-3">
                <p>{{dateFormat(form.workDuration[0], 'DD/MM/YYYY') || ''}} - {{dateFormat(form.workDuration[1], 'DD/MM/YYYY') || ''}}</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="ml-1 row mt-3">
              <div class="bg-light px-4 py-3">
                <h5>Notes</h5>
                <p>A minimum of
                  <strong>24 hour</strong> notice is requried prior to the planned commencement of works.</p>
                <p>Not applicable for visiting the administration building for meetings and enquiries.</p>
                <p>By undertaking works with this approval, the person requesting access agrees to ensure that:<br /> - Suitable controls are implemented for all hazards
                  <em>within the designated area</em> that may have impact on the plant.<br/> - All employees working
                  <em>under this Plant Works Request (PWR)</em> have the required information, instruction, supervision and are competent to provide a safe system of work for the control of high risk or complex activities.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-3 text-right pr-5 pt-3">
            <h6 class="text-secondary text-uppercase">Shift Information</h6>
          </div>
          <div class="col-9 bg-light pt-3 pb-0">
            <table class="table table-sm table-borderless">
              <thead>
                <tr>
                  <td>
                    <h6 class="text-secondary text-uppercase">Shift</h6>
                  </td>
                  <td class="text-right">
                    <h6 class="text-secondary text-uppercase">Start Time</h6>
                  </td>
                  <td class="text-right">
                    <h6 class="text-secondary text-uppercase">Finish Time</h6>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(shift, index) in form.shiftInformation" :key="index">
                  <td>{{shift.label}}</td>
                  <td class="text-right">{{shift.startTime}}
                    <span v-if="!shift.startTime">
                      <em class="text-muted d-print-none">N/A</em>
                    </span>
                  </td>
                  <td class="text-right">{{shift.finishTime}}
                    <span v-if="!shift.finishTime">
                      <em class="text-muted d-print-none">N/A</em>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <form-link :form-link="item" v-for="(item, index) in form.linkedForms" :key="index"></form-link>
        <!-- <div class="row justify-content-end mt-3">
          <div class="col-3 text-right pr-5 pt-3">
            <h6 class="text-secondary text-uppercase">Swipe Card Access</h6>
          </div>
          <div v-for="group in swipeCardAreas" :key="group.id" class="col-9 bg-light px-4 py-3">
            <h6 class="text-uppercase text-secondary mt-0 pt-0 mr-4">{{group.label}}</h6>
            <div class="row">
              <div class="col-1">
              </div>
              <div class="col-11">
                <div class="row">
                  <div class="col-3 p-2" v-for="item in group.children" :key="item.id">
                    <feather v-if="form.swipeCardAccess.areas.filter(x => x == item.id).length > 0" type="check-square" width="16" height="16" class="mr-2"></feather>
                    <feather v-if="form.swipeCardAccess.areas.filter(x => x == item.id).length == 0" type="square" width="16" height="16" class="mr-2 text-muted"></feather> {{ item.label }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-9 bg-light px-4 py-3">
            <h6 class="text-uppercase text-secondary mt-0 pt-0 mr-4">Comments</h6>
            <p> {{form.swipeCardAccess.comments}}</p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-3 text-right pr-5 pt-3">
            <h6 class="text-secondary text-uppercase">Vehicle Plant Access</h6>
          </div>
          <div class="col-4 bg-light px-4 py-3">
            <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Registration Number</h6>
            <p class="d-inline">{{form.vehicleAccess.registrationNumber}} </p>
          </div>
          <div class="col-5 bg-light px-4 py-3">
            <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Card Authorisation Number</h6>
            <p class="d-inline"> {{form.vehicleAccess.cardAuthorisationNumber}}</p>
          </div>
        </div> -->
        <div class="row mt-3">
          <div class="col-3 text-right pr-5 pt-3">
            <h6 class="text-secondary text-uppercase">Additional Requirements</h6>
          </div>
          <div class="col-9 bg-light px-4 py-3">
            <p v-for="item in form.additionalRequirements" :key="item">
              <feather type="circle" width="8" height="8" class="mr-2"></feather>{{item.label}} - {{item.notes}}</p>
          </div>
        </div>
        <div class="row justify-content-end mt-3">
          <div class="col-3 text-right pr-5 pt-3">
            <h6 class="text-secondary text-uppercase">Approval</h6>
          </div>
          <div class="col-9 bg-light pt-3 pb-0">
            <table class="table table-sm table-borderless">
              <thead>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td colspan="4" class="text-center">
                    <!-- <h6 class="text-secondary text-uppercase">Approval Required?</h6> -->
                  </td>
                </tr>
                <tr>
                  <td>
                    <h6 class="text-secondary text-uppercase">Role</h6>
                  </td>
                  <td>
                    <h6 class="text-secondary text-uppercase">Name</h6>
                  </td>
                  <td>
                    <h6 class="text-secondary text-uppercase">APPROVED / DENIED</h6>
                  </td>
                  <td>
                    <!-- <h6 class="text-secondary text-uppercase text-center">Visitors</h6> -->
                  </td>
                  <td>
                    <!-- <h6 class="text-secondary text-uppercase text-center">STW</h6> -->
                  </td>
                  <td>
                    <!-- <h6 class="text-secondary text-uppercase text-center">PCW</h6> -->
                  </td>
                  <td>
                    <!-- <h6 class="text-secondary text-uppercase text-center">MW</h6> -->
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr v-if="form.approvers.length > 0" v-for="(approver, index) in form.approvers" :key="index">
                  <td>{{approver.role.name}}</td>
                  <td v-if="approver.user && approver.user.name">{{(approver.user || {}).name}}</td>
                  <td v-else>
                    <em class="text-muted d-print-none">No Approver Selected</em>
                  </td>
                  <td v-if="approver.isApproved == null"></td>
                  <td v-if="approver.isApproved === true" class="text-success">
                    <strong>APPROVED {{dateFormat((approver || {}).actionedAt, 'DD/MM/YYYY') || ''}}</strong>
                  </td>
                  <td v-if="approver.isApproved === false && form.status === 'denied'" class="text-danger">
                    <strong>DENIED {{dateFormat((approver || {}).actionedAt, 'DD/MM/YYYY') || ''}}</strong>
                  </td>
                  <td v-if="approver.isApproved === false && form.status === 'information required'" class="text-warning">
                    <strong>INFO REQUIRED {{dateFormat((approver || {}).actionedAt, 'DD/MM/YYYY') || ''}}</strong>
                  </td>
                  <td class="text-center">
                    <!-- <feather v-if="approver.role.name !== 'Maintenance Manager' && approver.role.name !== 'Operations Manager'" type="check" width="14" height="14"></feather> -->
                  </td>
                  <td class="text-center">
                    <!-- <feather type="check" width="14" height="14"></feather> -->
                  </td>
                  <td class="text-center">
                    <!-- <feather type="check" width="14" height="14"></feather> -->
                  </td>
                  <td class="text-center">
                    <!-- <feather type="check" width="14" height="14"></feather> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PlantWorksRequestFormEditor from './editor';
import FormLink from '../form-link';
import format from 'date-fns/format';
import {
  options_requestTypes,
  options_swipeCardAreas
} from './../../../store/options';

export default {
  name: 'PlantWorksRequestFormDetail',
  components: { PlantWorksRequestFormEditor, FormLink },
  mounted() {
    this.getForm(this.$route.params.formId);
  },
  data() {
    return {
      form: {},
      loading: true,
      dialogTableVisible: false,
      denyDialogVisible: false,
      requestInfoDialogVisible: false,
      denialReason: {
        message: ''
      },
      rules: {
        message: [
          {
            required: true,
            message: 'Please enter a reason',
            trigger: 'blur'
          },
          {
            min: 3,
            message: 'Please enter a reason longer than 2 characters',
            trigger: 'blur'
          }
        ]
      }
    };
  },
  computed: {
    requestType() {
      return (
        options_requestTypes.find(x => x.code === this.form.requestType) || {}
      );
    },
    requestTypes() {
      return options_requestTypes;
    },
    swipeCardAreas() {
      return options_swipeCardAreas;
    }
  },
  methods: {
    editForm(force) {
      if (
        (this.form.status == 'approved' ||
          this.form.status == 'partially approved') &&
        !force
      ) {
        this.dialogTableVisible = true;
      } else {
        this.$router.push({ name: this.form.kind.slug + '-form-edit' });
      }
    },
    denyForm(confirmed) {
      if (confirmed) {
        var self = this;
        this.$refs['form-deny'].validate(async valid => {
          if (valid) {
            self.doAction('deny');
          } else {
            return false;
          }
        });
      } else {
        this.denyDialogVisible = true;
      }
    },
    requestInfo(confirmed) {
      if (confirmed) {
        var self = this;
        this.$refs['form-more-info'].validate(async valid => {
          if (valid) {
            self.doAction('more information');
          } else {
            return false;
          }
        });
      } else {
        this.requestInfoDialogVisible = true;
      }
    },
    print() {
      window.print();
    },
    dateFormat(date, formatOption) {
      if (!Date.parse(date)) return '';

      let minDate = Date.parse('1950-01-01 00:00:00.000000Z');
      let parsedDate = Date.parse(date);

      if (parsedDate < minDate) return '___ / ___ / ___';

      return format(parsedDate, formatOption);
    },
    async getForm(formId) {
      try {
        this.loading = true;
        let response = await this.$http({
          method: 'get',
          url: `/api/forms/plant-works-request/${formId}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        this.form = response.data;
      } catch (err) {
        console.log(err);
      } finally {
        this.loading = false;
      }
    },

    async doAction(action) {
      try {
        this.loading = true;
        let response = await this.$http({
          method: 'put',
          url: `/api/forms/plant-works-request/${
            this.form.id
          }/status/${action}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken,
            'Content-Type': 'application/json'
          },
          data: this.denialReason
        });
        this.$notify({
          title: 'Success',
          message: response.data.message,
          type: 'success'
        });
        this.$router.push({
          name: 'plant-works-request-form-detail',
          params: { formId: this.form.id },
          query: { d: Date.now() }
        });
      } catch (err) {
        this.$notify({
          title: 'Warning',
          message: err.response.data.error,
          type: 'warning'
        });
      } finally {
        this.loading = false;
      }
    }
  }
};
</script>
