<template>
  <el-form v-loading="loading" ref="form" :model="form" size="mini" :rules="rules" :disabled="disabled" class="app-form" status-icon label-width="200px">
    <div class="row">
      <div class="col-md-12 col-lg-7">
        <h6 class="form-heading-muted">Linked Forms</h6>
        <el-form-item v-for="(link, index) in form.linkedForms" :key="index" :label="link.name + ' Completed'">
          <el-radio v-model="link.completed" :label="true">Yes</el-radio><br />
          <el-radio v-model="link.completed" :label="false">No</el-radio>
          <el-form-item v-if="!link.completed" label="Reason (if no)" class="d-inline-block w-75">
            <el-input v-model="link.reason" placeholder="Why was this form not completed?"></el-input>
          </el-form-item>
          <el-form-item v-if="link.completed" label="Document Number" class="d-inline-block w-75">
            <el-select clearable filterable remote :remote-method="searchForms" placeholder="Choose a PER ..." :loading="selectLoading" v-model="link.formId" @change="handleLinkedFormChange" class="col-12">
              <el-option v-for="item in perForms" :key="item.id" :label="item.friendlyId" :value="item.friendlyId" :title="item.description">
                <span class="float-left text-primary mr-3">{{ item.friendlyId }}</span>
                <span class="float-right text-muted text-truncate text-right" style="max-width: 220px; font-size: 12px">{{ item.description }}</span>
              </el-option>
            </el-select>
          </el-form-item>
        </el-form-item>
      </div>
      <div class="col-md-12 col-lg-5">
        <div class="bd-callout bd-callout-success">
          <div class="row">
            <div class="col-2">
              <feather type="check"></feather>
            </div>
            <div class="col-10">
              <h5>Prefill Available</h5>
              <p>Select a
                <strong>Plant Entry Request</strong> to prefill this form.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-7">
        <h6 class="form-heading-muted">General</h6>
        <el-form-item label="Works Description" prop="worksDescription">
          <el-input type="textarea" :disabled="selectLoading" :rows="10" size="mini" v-model="form.worksDescription" class="col-10"></el-input>
        </el-form-item>
        <el-form-item label="Physical Location" prop="physicalLocation">
          <el-input type="text" size="mini" v-model="form.physicalLocation" class="col-10"></el-input>
        </el-form-item>
        <el-form-item label="Principal Contractor" prop="principalContractor">
          <el-input type="text" size="mini" :disabled="selectLoading" v-model="form.principalContractor" class="col-10"></el-input>
        </el-form-item>
        <el-form-item label="Work Duration" prop="workDuration">
          <div class="col-10">
            <el-date-picker class="col-10" :disabled="selectLoading" size="mini" v-model="form.workDuration" type="daterange" align="right" unlink-panels range-separator="To" start-placeholder="Start" end-placeholder="End" :picker-options="options.quickDates">
            </el-date-picker>
          </div>
        </el-form-item>
        <el-form-item label="Shift Information">
          <el-table size="mini" :fit="true" :data="form.shiftInformation">
            <el-table-column label="" width="180px">
              <template slot-scope="scope">
                {{ scope.row.label }}
              </template>
            </el-table-column>
            <el-table-column label="Start Time" width="150px">
              <template slot-scope="scope">
                <el-time-select size="mini" v-model="scope.row.startTime" :picker-options="{
                start: '00:00',
                step: '00:30',
                end: '23:30',
              }" placeholder="Select time">
                </el-time-select>
              </template>
            </el-table-column>
            <el-table-column label="Finish Time" width="150px">
              <template slot-scope="scope">
                <el-time-select size="mini" v-model="scope.row.finishTime" :picker-options="{
                start: '00:00',
                step: '00:30',
                end: '23:30',
              }" placeholder="Select time">
                </el-time-select>
              </template>
            </el-table-column>
          </el-table>
        </el-form-item>

      </div>
      <div class="col-md-12 col-lg-5">
        <div class="bd-callout bd-callout-info">
          <div class="row">
            <div class="col-2">
              <feather type="info"></feather>
            </div>
            <div class="col-10">
              <h5>Note</h5>
              <p>A minimum of
                <strong>24 hour</strong> notice is requried prior to the planned commencement of works.</p>
              <p>Not applicable for visiting the administration building for meetings and enquiries.</p>
              <p>By undertaking works with this approval, the person requesting access agrees to ensure that:<br /> - Suitable controls are implemented for all hazards
                <em>within the designated area</em> that may have impact on the plant.<br/> - All employees working
                <em>under this Plant Works Request (PWR)</em> have the required information, instruction, supervision and are competent to provide a safe system of work for the control of high risk or complex activities.
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>

    <h6 class="form-heading-muted">Additional Requirements</h6>
    <el-form-item label="O&M To Complete (If Necessary)">
      <el-table size="mini" :fit="true" :data="form.additionalRequirements">
        <el-table-column label="" width="180px">
          <template slot-scope="scope">
            {{ scope.row.label }}
          </template>
        </el-table-column>
        <el-table-column label="Notes" width="600px">
          <template slot-scope="scope">
            <el-input type="textarea" :rows="10" size="mini" v-model="scope.row.notes" class="w-100"></el-input>
          </template>
        </el-table-column>
      </el-table>
    </el-form-item>

    <div class="row">
      <div class="col-md-12 col-lg-7">
        <h6 class="form-heading-muted">Approval</h6>
        <el-form-item v-for="(item) in form.approvers" :label="item.role.name" :key="item.role.id">
          <el-select :disabled="!roles.includes('paperwork_admin')" v-model="item.user" filterable clearable placeholder="Select or type a name" value-key="id" class="col-6">
            <el-option v-for="option in options.approvers[item.role.id]" :key="option.id" :label="option.name" :value="option">
              <span style="float: left">{{ option.name }}</span>
              <span style="float: right;">
                <small class="text-uppercase text-primary font-weight-bold" v-if="option.priority === 1">primary</small>
                <small class="text-uppercase text-black-50 font-weight-bold" v-if="option.priority === 2">secondary</small>
                <small class="text-uppercase text-black-50 font-weight-bold" v-if="option.priority === 3">tertiary</small>
              </span>
            </el-option>
          </el-select>
        </el-form-item>
      </div>
      <div class="col-md-12 col-lg-5">
      </div>
    </div>
    <hr />
    <el-form v-if="!disabled">
      <el-button v-if="!isNew" size="mini" type="primary " @click="submitForm( 'form', false) ">Save</el-button>
      <el-dropdown v-if="isNew" size="mini" placement="top-end" split-button type="primary" @click="submitForm( 'form', true)" @command="onCommandDropdown">
        Save & Submit for Approval
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item command="save">Save As Draft</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      <el-button size="mini " @click="cancel()">Cancel</el-button>
    </el-form>
  </el-form>
</template>

<script>
import Vue from 'vue';
import {
  options_requestTypes,
  options_quickDates,
  options_awarenessTraining,
  options_approvers,
  options_swipeCardAreas,
  options_plantAccessAreas
} from './../../../store/options';

export default {
  name: 'PlantWorksRequestFormEditor',
  beforeMount() {
    //this.form = Vue.util.extend(this.form, this.formData);
  },
  async created() {
    this.loading = true;

    this.searchForms('');
    this.options.approvers.paperwork_operations_manager = await this.getUsersByRole(
      'paperwork_operations_manager'
    );

    this.options.approvers.paperwork_maintenance_manager = await this.getUsersByRole(
      'paperwork_maintenance_manager'
    );

    this.options.approvers.paperwork_alliance_manager = await this.getUsersByRole(
      'paperwork_alliance_manager'
    );

    this.form.approvers.forEach(approver => {
      if (approver.user === null) {
        approver.user = this.options.approvers[approver.role.id].find(
          x => x.priority === 1
        );
      }
    });
    this.loading = false;
  },
  props: {
    formData: Object,
    disabled: false
  },
  data() {
    return {
      loading: true,
      selectLoading: false,
      perForms: [],
      denialReason: {
        message: ''
      },
      defaultForm: {
        worksDescription: '',
        physicalLocation: '',
        principalContractor: '',
        workDuration: [],
        shiftInformation: [
          {
            label: 'Day Work',
            startTime: '',
            finishTime: ''
          },
          {
            label: 'Night Work',
            startTime: '',
            finishTime: ''
          },
          {
            label: 'Saturday',
            startTime: '',
            finishTime: ''
          },
          {
            label: 'Sunday',
            startTime: '',
            finishTime: ''
          }
        ],
        linkedForms: [
          {
            id: 'PER',
            name: 'Plant Entry Request',
            completed: false,
            reason: '',
            formId: ''
          }
        ],
        additionalRequirements: [
          {
            label: 'Safe Job Planning',
            notes: ''
          },
          {
            label: 'Other',
            notes: ''
          }
        ],
        approvers: [
          {
            role: {
              id: 'paperwork_operations_manager',
              name: 'Operations Manager'
            },
            user: null
          },
          {
            role: {
              id: 'paperwork_maintenance_manager',
              name: 'Maintenance Manager'
            },
            user: null
          },
          {
            role: {
              id: 'paperwork_alliance_manager',
              name: 'Alliance Manager'
            },
            user: null
          }
        ]
      },
      
      options: {
        requestTypes: options_requestTypes,
        quickDates: options_quickDates,
        awarenessTraining: options_awarenessTraining,
        approvers: options_approvers,
        swipeCardAreas: options_swipeCardAreas,
        plantAreas: options_plantAccessAreas
      }
    };
  },
  computed: {
    form() {
      return this.formData
        ? Vue.util.extend(this.defaultForm, this.formData)
        : this.defaultForm;
    },
    rules() {
      return {
        worksDescription: [
          {
            required: true,
            message: 'Please enter a description for this request',
            trigger: 'blur'
          },
          {
            min: 1,
            message: 'Please enter a description for this request',
            trigger: 'blur'
          }
        ],
          physicalLocation: [
            {
              required: true,
              message: 'Please enter plant location/s for this request',
              trigger: 'blur'
            },
            {
              min: 1,
              message: 'Please enter plant location/s for this request',
              trigger: 'blur'
            }
          ],
            principalContractor: [
              {
                required: true,
                message: 'Please enter the principal contractor for this request',
                trigger: 'blur'
              },
              {
                min: 1,
                message: 'Please enter the principal contractor for this request',
                trigger: 'blur'
              }
            ],
              workDuration: [
                {
                  type: 'array',
                  required: true,
                  message: 'Please enter work duration',
                  trigger: 'change'
                }
              ]
      }
    },
    roles() {
      return this.$store.getters.roles;
    },
    isNew() {
      return this.$route.params.formId ? false : true;
    }
  },
  methods: {
    async searchForms(value) {
      try {
        this.selectLoading = true;
        let response = await this.$http({
          method: 'get',
          url: `/api/user/forms/plant-entry-request/${value}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        this.perForms = response.data;
      } catch (err) {
        console.log(err);
      } finally {
        this.selectLoading = false;
      }
    },
    approvers(key) {
      return this.options.approvers[key];
    },
    cancel() {
      return this.$router.go(-1);
    },
    async handleLinkedFormChange(value) {
      if (!value) return;
      let form = this.perForms.find(x => x.friendlyId === value);
      if (!form) return;

      try {
        this.selectLoading = true;
        let response = await this.$http({
          method: 'get',
          url: `/api/forms/plant-entry-request/${form.id}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        form = response.data;
      } catch (err) {
        console.log(err);
      } finally {
        this.selectLoading = false;
      }


      let areas = [];
      areas = areas.concat(
        this.options.plantAreas
          .filter(x => x.id === 'general')[0]
          .children.filter(x => form.plantAccess.areas.includes(x.id))
          .map(x => x.label)
      );
      areas = areas.concat(
        this.options.plantAreas
          .filter(x => x.id === 'stage-one')[0]
          .children.filter(x => form.plantAccess.areas.includes(x.id))
          .map(x => x.label)
      );
      areas = areas.concat(
        this.options.plantAreas
          .filter(x => x.id === 'stage-two')[0]
          .children.filter(x => form.plantAccess.areas.includes(x.id))
          .map(x => x.label)
      );

      areas = areas.join(', ');

      this.form.worksDescription = form.description;
      this.form.physicalLocation = areas;
      this.form.principalContractor = form.visitors[0].company;
      this.form.workDuration = form.visitors[0].visitDuration;
    },
    onCommandDropdown(command) {
      if (command === 'save') {
        this.submitForm('form', false);
      }
    },
    async submitForm(formName, submitForApproval = false) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          try {
            this.loading = true;
            let id = null;

            if (this.$route.params.formId) {
              let response = await this.$http({
                method: 'put',
                url: `/api/forms/plant-works-request/${
                  this.$route.params.formId
                }`,
                headers: {
                  Authorization: 'Bearer ' + this.$store.getters.accessToken,
                  'Content-Type': 'application/json'
                },
                data: this.form
              });
              id = response.data.id;
            } else {
              let response = await this.$http({
                method: 'post',
                url: `/api/forms/plant-works-request`,
                headers: {
                  Authorization: 'Bearer ' + this.$store.getters.accessToken,
                  'Content-Type': 'application/json'
                },
                data: this.form
              });

              id = response.data.id;

              if (submitForApproval) {
                let pending = await this.doAction('submit', id);
              }
            }

            this.$notify({
              title: 'Done',
              message: 'Plant Works Request saved',
              type: 'success'
            });

            this.$router.push({
              name: 'plant-works-request-form-detail',
              params: { formId: id }
            });
          } catch (err) {
            console.log(err);
            this.$notify({
              title: 'Error',
              message: err,
              type: 'error'
            });
          } finally {
            this.loading = false;
          }
        } else {
          return false;
        }
      });
    },
    async doAction(action, id) {
      try {
        let response = await this.$http({
          method: 'put',
          url: `/api/forms/plant-works-request/${id}/status/${action}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken,
            'Content-Type': 'application/json'
          },
          data: this.denialReason
        });
        this.$notify({
          title: 'Success',
          message: response.data.message,
          type: 'success'
        });
        this.$router.go();
      } catch (err) {
        this.$notify({
          title: 'Warning',
          message: err.response.data.message,
          type: 'warning'
        });
      } finally {
      }
    },
    async getUsersByRole(role) {
      try {
        let response = await this.$http({
          method: 'get',
          url: `/api/users/role/${role}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        return response.data;
      } catch (err) {
        console.log(err);
      }
    }
  }
};
</script>
