﻿@model SSWA.CalibrationRegister.Web.Models.ActivateUserViewModel

@{
    ViewData["Title"] = "Activate";
}


<div classs="row">
    <div class="col-md-12">
        <h3>Activating @Model.Email ...</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Activate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserToken" />
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Activate" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
