﻿
@{
    ViewData["Title"] = "Account Activated";
}

<div class="row">
    <div class="col-md-12">
        <h3>Account Activated</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Thanks for activating your account. You can now <a asp-action="Login" asp-controller="Account">login</a>.</p>
    </div>
</div>




