<template>
  <div class="card shadow-sm pb-3">
    <div class="card-body">
      <h2 v-if="!isTemplate">New Excavation Permit</h2>
      <h2 v-else>New Excavation Template</h2>
      <excavation-permit-editor></excavation-permit-editor>
    </div>
  </div>
</template>

<script type="text/javascript">
import { mapActions, mapState } from 'vuex';
import ExcavationPermitEditor from './editor';

export default {
  name: 'ExcavationPermitCreate',
    components: { ExcavationPermitEditor },
    computed: {
       isTemplate() {
        return this.$route.name.includes("template");
        }
    }
};
</script>

