<template>
  <div v-loading="loading">
    <div class="card shadow-sm non-printable mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h6 class="text-secondary text-uppercase">Action Bar</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <a href="#"
               style="font-weight: 500;"
               v-if="form.canEdit"
               @click="editForm(false)"
               :disabled="!form.canEdit"
               class="text-secondary btn mr-3">
              <feather class="mr-1"
                       type="edit"
                       width="16"
                       height="16"></feather>
              <span>Edit Permit</span>
            </a>
            <a href="#"
               style="font-weight: 500;"
               v-if="form.canCancel"
               @click="doAction('cancel')"
               :disabled="!form.canCancel"
               class="text-secondary btn mr-3">
              <feather class="mr-1"
                       type="trash-2"
                       width="16"
                       height="16"></feather>
              <span>Cancel Permit</span>
            </a>
            <a style="font-weight: 500;"
               role="button"
               href="#"
               class="text-secondary btn mr-3"
               @click="print()">
              <feather class="mr-1"
                       type="printer"
                       width="16"
                       height="16"></feather>
              <span>Print</span>
            </a>
          </div>
          <div class="col-5">
          </div>
        </div>
      </div>
    </div>

    <div class="card shadow-sm">
      <div class="card-body">
        <h3 class="mb-1">
          {{form.friendlyId}}
          <span v-for="(item, index) in form.linkedForms" :key="index">
            | {{item.formId}}
          </span>
          <span v-if="form.status === 'approved'"
                class="float-right status badge badge-pill badge-success">{{ form.status }}</span>
          <span v-else-if="form.status === 'denied'"
                class="float-right status badge badge-pill badge-danger">{{ form.status }}</span>
          <span v-else-if="form.status === 'cancelled'"
                class="text-muted float-right status badge badge-pill badge-light">{{ form.status }}</span>
          <span v-else-if="form.status === 'information required'"
                class="float-right status badge badge-pill badge-warning">{{ form.status }}</span>
          <span v-else
                class="float-right status badge badge-pill badge-info">{{ form.status }}</span>
        </h3>
        <h5 class="text-secondary text-uppercase mt-0">Excavation Permit</h5>
        <div class="row">
          <div class="col-6">
            <div class="row mb-1">
              <div class="col-4 text-left">
                Requested By
              </div>
              <div class="col-4 text-left">
                {{ form.createdBy.name }}
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-4 text-left">
                Requested
              </div>
              <div class="col-4 text-left">
                {{dateFormat(form.createdAt, 'DD/MM/YYYY')}}
              </div>
            </div>
            <div class="row mb-1"
                 v-if="form.approvers"
                 v-for="(approver, index) in form.approvers.filter(x => x.message)"
                 :key="index">
              <div class="col-3 text-right">
                Approver Comment
              </div>
              <div class="col-9 text-left text-danger">
                {{approver.user.name}}: {{ approver.message }}
              </div>
            </div>
          </div>
          <!-- Author And Dates -->
          <div class="col-6">

            <div class="row mb-1">
              <div class="col-8 text-right">
                Last Updated
              </div>
              <div class="col-4 text-left">
                {{dateFormat(form.updatedAt, 'DD/MM/YYYY')}}
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12 px-4">
            <p class="font-weight-bold mb-1" style="font-size: 0.9rem; line-height: 1;">THIS PERMIT IS TO BE COMPLETED AND AUTHORISED FOR ALL EXCAVATION WORK ON THE SOUTHERN SEAWATER DESALINATION PLANT.</p>
            <p class="font-weight-bold mb-1 mt-2" style="font-size: 0.9rem; line-height: 1;">
              EXCAVATION IS DEFINED AS:<br />
              •	A hole in the earth, or a face of earth, formed after rock, sand, soil or other material is removed<br />
              •	Work to make, fill or partly fill an excavation<br />
              •	A hole in the earth, or a face of earth, with a depth of 300mm or more
            </p>

          </div>
        </div>

        <div class="row mt-1">
          <div class="col-3 text-right pt-0">
            <h6 class="text-secondary text-uppercase">Applicant</h6>
          </div>
          <div class="col-3 bg-light px-2 py-0">
            <p class="m-0 p-0">{{form.requestedBy.name}}</p>
          </div>
          <div class="col-3 text-right pt-0">
            <h6 class="text-secondary text-uppercase">Company</h6>
          </div>
          <div class="col-3 bg-light px-2 py-0">
            <p class="m-0 p-0">{{form.company}}</p>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-3 text-right pt-0">
            <h6 class="text-secondary text-uppercase">Details</h6>
          </div>
          <div class="col-9 bg-light px-2 py-0">
            <p class="m-0 p-0">
              Permission is requested to excavate to an approximate depth of 
              <strong v-if="form.excavationDepth">{{ form.excavationDepth }}</strong>
              <strong v-else>_____</strong> metres, width of 
              <strong v-if="form.excavationWidth">{{form.excavationWidth}}</strong>
              <strong v-else>_____</strong> metres, and length of 
              <strong v-if="form.excavationLength">{{ form.excavationLength }}</strong>
              <strong v-else>_____</strong> metres at the following location: 
              <strong v-if="form.excavationLocation">{{ form.excavationLocation }}</strong>
              <strong v-else>______________________</strong>
            </p>
          </div>
        </div>


        <div class="row mt-1">
          <div class="col-3 text-right pt-0">
            <h6 class="text-secondary text-uppercase">Reason for Excavation</h6>
          </div>
          <div class="col-9 bg-light px-2 py-0">
            <p class="m-0 p-0">{{form.reason}}</p>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-3 text-right pt-0">
            <h6 class="text-secondary text-uppercase"> {{form.drawingProvided.question }}</h6>
          </div>
          <div class="col-9 bg-light px-2 py-0">
            <p class="m-0 p-0">
              <feather class="mr-1"
                       :type="form.drawingProvided.answer === true ? 'checked-square' : 'square'"
                       width="16"
                       height="16"></feather>
              <span class="mr-2">Yes</span>
              <feather class="mr-1"
                       :type="form.drawingProvided.answer === false ? 'checked-square' : 'square'"
                       width="16"
                       height="16"></feather>
              <span class="mr-2">No</span>
              <span class="mx-3">Details:</span>
              <span>{{form.drawingProvided.details}}</span>
            </p>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12">
            <h6 class="text-secondary text-uppercase">Other Permits</h6>
            <p>Does this permit combine with another other permits? (Automatically pre-filled from ATW)</p>
            <div class="row">
              <div class="col-6 font-weight-bold">
                <div class="row">
                  <div class="col-8">
                    Permit
                  </div>
                  <div class="col-4 font-weight-bold">
                    Number
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col-8 font-weight-bold">
                    Permit
                  </div>
                  <div class="col-4 font-weight-bold">
                    Number
                  </div>
                </div>
              </div>
              <div v-for="permit in atwPermits" class="col-6">
                <div class="row">
                  <div class="col-8">
                    {{permit.name}}
                  </div>
                  <div class="col-4 font-italic">
                    {{permit.permitId}}
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="row mt-1">
          <div class="col-3 text-right pt-0">
            <h6 class="text-secondary text-uppercase"> {{form.simultaneousOperations.question }}</h6>
          </div>
          <div class="col-9 bg-light px-2 py-0">
            <p class="m-0 p-0">
              <feather class="mr-1"
                       :type="form.simultaneousOperations.answer === true ? 'checked-square' : 'square'"
                       width="16"
                       height="16"></feather>
              <span class="mr-2">Yes</span>
              <feather class="mr-1"
                       :type="form.simultaneousOperations.answer === false ? 'checked-square' : 'square'"
                       width="16"
                       height="16"></feather>
              <span class="mr-2">No</span>
              <span class="mx-3">Details:</span>
              <span>{{form.simultaneousOperations.details}}</span>
            </p>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-3 text-right pt-0">
            <h6 class="text-secondary text-uppercase"> {{form.dewateringRequired.question }}</h6>
          </div>
          <div class="col-9 bg-light px-2 py-0">
            <p class="m-0 p-0">
              <feather class="mr-1"
                       :type="form.dewateringRequired.answer === true ? 'checked-square' : 'square'"
                       width="16"
                       height="16"></feather>
              <span class="mr-2">Yes</span>
              <feather class="mr-1"
                       :type="form.dewateringRequired.answer === false ? 'checked-square' : 'square'"
                       width="16"
                       height="16"></feather>
              <span class="mr-2">No</span>
              <span class="mx-3">Details:</span>
              <span>{{form.dewateringRequired.details}}</span>
            </p>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-3 text-right pt-0">
            <h6 class="text-secondary text-uppercase"> {{form.spotterRequired.question }}</h6>
          </div>
          <div class="col-9 bg-light px-2 py-0">
            <p class="m-0 p-0">
              <feather class="mr-1"
                       :type="form.spotterRequired.answer === true ? 'checked-square' : 'square'"
                       width="16"
                       height="16"></feather>
              <span class="mr-2">Yes</span>
              <feather class="mr-1"
                       :type="form.spotterRequired.answer === false ? 'checked-square' : 'square'"
                       width="16"
                       height="16"></feather>
              <span class="mr-2">No</span>
              <span class="mx-3">(If yes complete details below)</span>
            </p>
            <p class="m-0 px-0 pt-2">
              <div class="row">
                <div class="col-3">
                  Spotter Name<br /><br />
                  {{form.spotterRequired.name}}
                </div>
                <div class="col-3">
                  Start Time<br /><br />
                  {{form.spotterRequired.startTime}}
                </div>
                <div class="col-3">
                  Finish Time<br /><br />
                  {{form.spotterRequired.finishTime}}
                </div>
                <div class="col-3">
                  Signature<br /><br />
                </div>
              </div>
            </p>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-12">
            <h6 class="text-secondary text-uppercase">List which of the following items are in the excavation area</h6>

            <table class="table table-sm table-bordered border-dark table-signing m-0">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Yes</th>
                  <th>No</th>
                  <th>Location</th>
                  <th>Approx. Depth</th>
                  <th>Isolation Needed</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="record in form.excavationAreaItems">
                  <td>{{record.item}}</td>
                  <td class="text-center">
                    <feather class="mr-1"
                             :type="record.answer === true ? 'checked-square' : 'square'"
                             width="16"
                             height="16"></feather>
                  </td>
                  <td class="text-center">
                    <feather class="mr-1"
                             :type="record.answer === false ? 'checked-square' : 'square'"
                             width="16"
                             height="16"></feather>
                  </td>
                  <td>{{record.location}}</td>
                  <td>{{record.depth}}</td>
                  <td class="text-center">
                    <feather class="mr-1"
                             :type="record.isolationNeeded === true ? 'checked-square' : 'square'"
                             width="16"
                             height="16"></feather>
                    <span class="mr-2">Yes</span>
                    <feather class="mr-1"
                             :type="record.isolationNeeded === true ? 'checked-square' : 'square'"
                             width="16"
                             height="16"></feather>
                    <span class="mr-2">No</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12">
            <h6 class="text-secondary text-uppercase">Additional Controls</h6>

            <table class="table table-sm table-bordered border-dark table-signing m-0">
              <thead>
                <tr>
                  <th width="80%">Control</th>
                  <th>Yes</th>
                  <th>No</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="record in form.additionalControls">
                  <td>{{record.control}}</td>
                  <td class="text-center">
                    <feather class="mr-1"
                             :type="record.answer === true ? 'checked-square' : 'square'"
                             width="16"
                             height="16"></feather>
                  </td>
                  <td class="text-center">
                    <feather class="mr-1"
                             :type="record.answer === false ? 'checked-square' : 'square'"
                             width="16"
                             height="16"></feather>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- APPROVALS -->
        <div class="row mt-1">
          <div class="col-12 p-2">
            <table class="table table-sm table-bordered border-dark table-signing m-0">
              <thead>
                <tr>
                  <td colspan="4"><h6 class="text-secondary text-center text-uppercase mb-0">APPROVALS</h6></td>
                </tr>
              </thead>
              <tbody>

                <!-- AUTHORISER -->
                <tr>
                  <td colspan="4">
                    <strong>PERMIT AUTHORISER:</strong><br />
                    <small class="d-inline-block" style="line-height: 0.9">•	I authorise excavation subject to the conditions and controls of the JSEA and as indicated on this Permit</small>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>FULL NAME:</strong>
                  </td>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td width="10%"><strong>SIGNATURE:</strong></td>
                  <td></td>
                  <td width="7%"><strong>DATE:</strong></td>
                  <td></td>
                </tr>

                <!-- ACCEPTOR -->
                <tr>
                  <td colspan="4">
                    <strong>PERMIT ACCEPTOR:</strong><br />
                    <small class="d-inline-block" style="line-height: 0.9">•	I accept this Permit, agree to be bound by the conditions above and the associated procedures, and accept the responsibilities as the person directly in charge of the work.</small>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>FULL NAME:</strong>
                  </td>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td><strong>SIGNATURE:</strong></td>
                  <td></td>
                  <td><strong>DATE:</strong></td>
                  <td></td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>

        <!-- STAND-BY PEOPLE -->
        <div class="row mt-1">
          <div class="col-12 p-2">
            <table class="table table-sm table-bordered border-dark table-signing m-0">
              <thead>
                <tr>
                  <td colspan="10"><h6 class="text-secondary text-center text-uppercase mb-0">REVALIDATION / RELINQUISHMENT</h6></td>
                </tr>
              </thead>
              <tbody>

                <!-- STAND-BY PERSON -->
                <tr>
                  <td colspan="5">
                    <strong>REVALIDATION</strong>
                  </td>
                  <td colspan="5">
                    <strong>RELINQUISH</strong>
                  </td>
                </tr>
                <tr>
                  <td colspan="5" style="line-height: 0.9">
                    <small>
                      ‘I have been shown any isolations and I understand and accept the conditions and precautions detailed in this Permit. I shall ensure that all personnel involved in the work described are informed of them.’
                    </small>
                  </td>
                  <td colspan="5" style="line-height: 0.9">
                    <small>
                      ‘All works associated with this Permit have been completed for this shift or suspended and the worksite is left in a safe and clean condition.
                    </small>
                  </td>
                </tr>
                <tr>
                  <td width="6%">
                    <strong>DATE/TIME</strong>
                  </td>
                  <td width="12%">
                    <strong>PERMIT HOLDER</strong>
                  </td>
                  <td width="10%">
                    <strong>SIGNATURE</strong>
                  </td>
                  <td width="12%">
                    <strong>PERMIT AUTHORISER</strong>
                  </td>
                  <td width="10%">
                    <strong>SIGNATURE</strong>
                  </td>

                  <td width="6%">
                    <strong>DATE/TIME</strong>
                  </td>
                  <td width="12%">
                    <strong>PERMIT HOLDER</strong>
                  </td>
                  <td width="10%">
                    <strong>SIGNATURE</strong>
                  </td>
                  <td width="12%">
                    <strong>PERMIT AUTHORISER</strong>
                  </td>
                  <td width="10%">
                    <strong>SIGNATURE</strong>
                  </td>
                </tr>
                <tr v-for="i in 9">
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- HANDBACK & CLOSURE -->
        <div class="row mt-1">
          <div class="col-12 p-2">
            <table class="table table-sm table-bordered border-dark table-signing m-0">
              <thead>
                <tr>
                  <td colspan="4"><h6 class="text-secondary text-center text-uppercase mb-0">HANDBACK & CLOSURE</h6></td>
                </tr>
              </thead>
              <tbody>

                <!-- AUTHORISER -->
                <tr>
                  <td colspan="4">
                    <strong>PERMIT AUTHORISER - BACKFILL AUTHORITY:</strong><br />
                                                                            <small class="d-inline-block" style="line-height: 0.9">•	I have inspected the Excavation Works and the authority to backfill is granted.</small><br />
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>FULL NAME:</strong>
                  </td>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td><strong>SIGNATURE:</strong></td>
                  <td></td>
                  <td><strong>DATE:</strong></td>
                  <td></td>
                </tr>

                <!-- ACCEPTOR -->
                <tr>
                  <td colspan="4">
                    <strong>PERMIT ACCEPTOR - HANDBACK:</strong><br />
                    <small class="d-inline-block" style="line-height: 0.9">•	All work associated with this Permit has been completed and the work site has been left in a clean and safe condition.</small>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>FULL NAME:</strong>
                  </td>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td width="10%"><strong>SIGNATURE:</strong></td>
                  <td></td>
                  <td width="7%"><strong>DATE:</strong></td>
                  <td></td>
                </tr>

                <!-- AUTHORISER -->
                <tr>
                  <td colspan="4">
                    <strong>PERMIT AUTHORISER - CLOSURE OF PERMIT:</strong><br />
                    <small class="d-inline-block" style="line-height: 0.9">•	All work associated with this Permit has been completed.</small><br />
                    <small class="d-inline-block" style="line-height: 0.9">•	This permit is now closed.</small>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>FULL NAME:</strong>
                  </td>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td><strong>SIGNATURE:</strong></td>
                  <td></td>
                  <td><strong>DATE:</strong></td>
                  <td></td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12">
            <h6 class="text-secondary text-uppercase">APPENDIX A - EXCAVATION & PENETRATION HAZARD IDENTIFICATION CHECKLIST</h6>

            <table class="table table-sm table-bordered border-dark table-signing m-0">
              <thead>
                <tr>
                  <th width="40%">Hazard</th>
                  <th width="50%">Explanation</th>
                  <th>Yes</th>
                  <th>No</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="record in form.hazardIdentifications">
                  <td>{{record.control}}</td>
                  <td>{{record.explanation}}</td>
                  <td class="text-center">
                    <feather class="mr-1"
                             :type="record.answer === true ? 'checked-square' : 'square'"
                             width="16"
                             height="16"></feather>
                  </td>
                  <td class="text-center">
                    <feather class="mr-1"
                             :type="record.answer === false ? 'checked-square' : 'square'"
                             width="16"
                             height="16"></feather>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
  import ExcavationPermitEditor from "./editor";
  import FormLink from "../form-link";

  import format from "date-fns/format";
  import {
    options_requestTypes,
    options_swipeCardAreas,
    options_plantAccessAreas
  } from "./../../../store/options";

  export default {
    name: "ExcavationPermitDetail",
    components: { ExcavationPermitEditor, FormLink },
    async created() {
      await this.getForm(this.$route.params.formId);
        let atwNumber = this.form.linkedForms.filter(x => x.id == 'ATW')[0].formId;
        try {
          let response = await this.$http({
            method: 'get',
            url: `/api/forms/find-by-friendly-id/${atwNumber}`,
            headers: {
              Authorization: 'Bearer ' + this.$store.getters.accessToken
            }
          });

          let atw = response.data;

           this.atwPermits = atw.permits.filter(x => x.id !== 'WAH');
        } catch (err) {
          console.log(err);
        } finally {
        }
    },
    data() {
    return {
        atwPermits: [],
        form: {},
        loading: true,
        dialogTableVisible: false,
        denyDialogVisible: false,
        requestInfoDialogVisible: false,
        denialReason: {
          message: ""
        },
        rules: {
          message: [
            {
              required: true,
              message: "Please enter a reason",
              trigger: "blur"
            },
            {
              min: 3,
              message: "Please enter a reason longer than 2 characters",
              trigger: "blur"
            }
          ]
        }
      };
    },
    computed: {
      requestType() {
        return (
          options_requestTypes.find(x => x.code === this.form.requestType) || {}
        );
      },
      requestTypes() {
        return options_requestTypes;
      },
      swipeCardAreas() {
        return options_swipeCardAreas;
      },
      plantAreas() {
        return options_plantAccessAreas;
      },
      controlGroups() {
        return this.groupBy(this.form.controls, 'group', 'name')
      },
     
    },
    methods: {
      onCopy: function (e) {
        this.$notify({
          title: "Link Copied",
          message: "",
          type: "success"
        });
      },
      chunkify(n, balanced) {
        let a = this.controlGroups;
        console.log(a);

        if (n < 2)
          return [a];

        var len = 6,
          out = [],
          i = 0,
          size;

        if (len % n === 0) {
          size = Math.floor(len / n);
          while (i < len) {
            out.push(Object.keys(a).slice(i, i += size));
          }
        }

        else if (balanced) {
          while (i < len) {
            size = Math.ceil((len - i) / n--);
            out.push(Object.keys(a).slice( i, i += size));
          }
        }

        else {

          n--;
          size = Math.floor(len / n);
          if (len % size === 0)
            size--;
          while (i < size * n) {
            out.push(Object.keys(a).slice(i, i += size));
          }
          out.push(Object.keys(a).slice(size * n));

        }

        console.log(out);
        return out;
      },
      groupBy(array, key1, key2) {
        const result = {}
        array.forEach(item => {

          if (!result[item[key1][key2]]) {
            result[item[key1][key2]] = []
          }
          result[item[key1][key2]].push(item)
        })
        return result
      },
      onError: function (e) {
        this.$notify({
          title: "Link Not Copied",
          message: "",
          type: "error"
        });
      },
      editForm(force) {
        if (
          (this.form.status == "approved" ||
            this.form.status == "partially approved") &&
          !force
        ) {
          this.dialogTableVisible = true;
        } else {
          this.$router.push({ name: this.form.kind.slug + "-form-edit" });
        }
      },
      denyForm(confirmed) {
        if (confirmed) {
          var self = this;
          this.$refs["form-deny"].validate(async valid => {
            if (valid) {
              self.doAction("deny");
            } else {
              return false;
            }
          });
        } else {
          this.denyDialogVisible = true;
        }
      },
      requestInfo(confirmed) {
        if (confirmed) {
          var self = this;
          this.$refs["form-more-info"].validate(async valid => {
            if (valid) {
              self.doAction("more information");
            } else {
              return false;
            }
          });
        } else {
          this.requestInfoDialogVisible = true;
        }
      },
      print() {
        window.print();
      },
      dateFormat(date, formatOption) {
        if (!Date.parse(date)) return '';

        let minDate = Date.parse('1950-01-01 00:00:00.000000Z');
        let parsedDate = Date.parse(date);

        if (parsedDate < minDate) return '__ / __ / __';

        return format(parsedDate, formatOption);
      },
      async getForm(formId) {
        try {
          this.loading = true;
          let response = await this.$http({
            method: "get",
            url: `/api/forms/excavation-permit/${formId}`,
            headers: {
              Authorization: "Bearer " + this.$store.getters.accessToken
            }
          });

          this.form = response.data;

        } catch (err) {
          console.log(err);
        } finally {
          this.loading = false;
        }
      },

      async doAction(action) {
        try {
          this.loading = true;
          let response = await this.$http({
            method: "put",
            url: `/api/forms/excavation-permit/${
              this.form.id
              }/status/${action}`,
            headers: {
              Authorization: "Bearer " + this.$store.getters.accessToken,
              "Content-Type": "application/json"
            },
            data: this.denialReason
          });
          this.$notify({
            title: "Success",
            message: response.data.message,
            type: "success"
          });
          this.$router.push({
            name: "excavation-permit-form-detail",
            params: { formId: this.form.id },
            query: { d: Date.now() }
          });
        } catch (err) {
          this.$notify({
            title: "Warning",
            message: err.response.data.message,
            type: "warning"
          });
        } finally {
          this.loading = false;
        }
      }
    }
  };
</script>
