﻿@model SSWA.CalibrationRegister.Web.Models.ViewModelResult<CreateCalibrationViewModel>
@{
    ViewData["Title"] = "Warning";
}

<h3 class="text-warning">@Model.ViewModel.TagName Warning</h3>
<br />
<br />
<p>Please go <strong>@Html.ActionLink("HERE", "Edit", "Tag", new { id = Model.ViewModel.TagID }, new { target = "_blank" })</strong> to fix the following errors before entering a calibration.</p>
<br />
<br />
<h4>Issues</h4>

@foreach (var message in Model.Messages)
{
    <div class="alert alert-warning">
        @message
    </div>
}

