﻿@model SSWA.CalibrationRegister.Web.Models.CreateCalibrationViewModel

@{
    ViewData["Title"] = "Create";
}

<div classs="row">
    <div class="col-md-12">
        <h3>Calibrations &rsaquo; New &rsaquo; @Model.TagName</h3>
        <hr />
    </div>
</div>
<form asp-action="Create" asp-route-tagId="@Model.TagID">
    <div class="row">
        <div class="col-md-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="TagID" type="hidden" />
            <input asp-for="DocumentNumber" type="hidden" class="form-control input-sm" />
            <input asp-for="Revision" type="hidden" class="form-control input-sm" />
            <input asp-for="IssuedAt" type="hidden" class="form-control input-sm" />
        </div>
    </div>
    <h4>Tag Details</h4>
    <div class="row">
        <div class="col-md-1">
            <div class="form-group">
                <label asp-for="TagName" class="control-label"></label>
                <input disabled asp-for="TagName" class="form-control input-sm" />
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="TagDescription" class="control-label"></label>
                <input disabled asp-for="TagDescription" class="form-control input-sm" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="TagMake" class="control-label"></label>
                <input disabled asp-for="TagMake" class="form-control input-sm" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="TagModel" class="control-label"></label>
                <input disabled asp-for="TagModel" class="form-control input-sm" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="TagSerialNumber" class="control-label"></label>
                <input disabled asp-for="TagSerialNumber" class="form-control input-sm" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="TagReferenceDrawing" class="control-label"></label>
                <input disabled asp-for="TagReferenceDrawing" class="form-control input-sm" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="TagProcedure" class="control-label"></label>
                <input disabled asp-for="TagProcedure" class="form-control input-sm" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="TagDataSheet" class="control-label"></label>
                <input disabled asp-for="TagDataSheet" class="form-control input-sm" />
            </div>
        </div>
    </div>
    <h4>Tag Values</h4>
    <div class="row">
        @for (int i = 0; i < Model.TagFields.Count; i++)
        {
            <div class="col-md-3">
                <div class="form-group">
                    <input asp-for="TagFields[i].Id" type="hidden" />
                    <label class="control-label">@Model.TagFields[i].DisplayName</label>
                    <input disabled asp-for="@Model.TagFields[i].Value" class="form-control input-sm" />
                </div>
            </div>
        }
    </div>
    <hr />
    <h4>Equipment</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <fieldset class="form-add-equipment">
                    <div class="col-md-12">
                        <div class="form-inline">
                            <div class="form-group">
                                <select id="Equipments" class="form-control input-sm" asp-items="Model.EquipmentSelectList"></select>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-sm btn-add-item btn-primary">Add Equipment</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="add-equipment">
                        @for (int i = 0; i < Model.Equipment.Count; i++)
                        {
                            <div class="form-group row add-item">
                                <div class="col-sm-6">
                                    <input asp-for="Equipment[i].ID" type="hidden" />
                                    <input disabled asp-for="Equipment[i].MakeModel" placeholder="MakeModel" class="form-control input-sm" />
                                    <span asp-validation-for="Equipment[i].MakeModel" class="text-danger" />
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" role="button" class="btn btn-sm btn-remove-item" data-toggle="tooltip" title="Remove Item"><span class="glyphicon glyphicon-minus"></span></button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h4>Calibration</h4>
    <div class="row">       
        @for (int i = 0; i < Model.CalibrationFields.Count; i++)
        {
            <div class="col-md-3">
                <div class="form-group">
                    <input asp-for="CalibrationFields[i].Id" type="hidden" />
                    <input asp-for="CalibrationFields[i].DataType" type="hidden" />
                    <label class="control-label">@Model.CalibrationFields[i].DisplayName</label>
                    <input asp-for="CalibrationFields[i].Value" type="@Model.CalibrationFields[i].DataType" class="form-control input-sm" />
                    <span asp-validation-for="CalibrationFields[i].Value" class="text-danger"></span>
                </div>
            </div>
        }
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="WorkOrderNumber" class="control-label"></label>
                <input asp-for="WorkOrderNumber" class="form-control input-sm" />
                <span asp-validation-for="WorkOrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestedAt" class="control-label"></label>
                <input asp-for="TestedAt" class="form-control input-sm" />
                <span asp-validation-for="TestedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestedBy" class="control-label"></label>
                <input asp-for="TestedBy" class="form-control input-sm" />
                <span asp-validation-for="TestedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <textarea rows="10" asp-for="Comments" class="form-control input-sm"></textarea>
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="form-group">
                <label asp-for="VerificationOnly" class="control-label"></label>
                    <input asp-for="VerificationOnly" class="form-control input-sm" />
                <span asp-validation-for="VerificationOnly" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            var wrapper = $('.add-equipment');

            $('#Equipments').change(function () {

                let id = $('#Equipments').val();
                let makeModel = $('#Equipments').find(":selected").text();

                let index = $('.add-equipment').children().length;
                let template = $('<div class="form-group row add-item">' +
                    '<div class="col-sm-6">' +
                    '<input name="Equipment[' + index + '].ID" type="hidden" value="' + id + '" />' +
                    '<input disabled name="Equipment[' + index + '].MakeModel" placeholder="MakeModel" class="form-control input-sm" value="' + makeModel + '" />' +
                    '<span asp-validation-for="Equipment[' + index + '].MakeModel" class="text-danger" />' +
                    '</div>' +
                    '<div class="col-sm-1">' +
                    '<button type="button" role="button" class="btn btn-sm btn-remove-item" data-toggle="tooltip" title="Remove Item"><span class="glyphicon glyphicon-minus"></span></button>' +
                    '</div>' +
                    '</div>')

                template.appendTo(wrapper);

                $('.add-item .btn-remove-item').show();
            });

            $(".btn-add-item").click(function (e) {
               
                e.preventDefault();
                let id = $('#Equipments').val();
                let makeModel = $('#Equipments').find(":selected").text();

                let index = $('.add-equipment').children().length;
                let template = $('<div class="form-group row add-item">' +
                    '<div class="col-sm-6">' +
                        '<input name="Equipment[' + index + '].ID" type="hidden" value="' + id + '" />' +
                        '<input disabled name="Equipment[' + index + '].MakeModel" placeholder="MakeModel" class="form-control input-sm" value="' + makeModel +'" />' +
                        '<span asp-validation-for="Equipment['+index+'].MakeModel" class="text-danger" />' +
                    '</div>' +
                    '<div class="col-sm-1">' +
                        '<button type="button" role="button" class="btn btn-sm btn-remove-item" data-toggle="tooltip" title="Remove Item"><span class="glyphicon glyphicon-minus"></span></button>' +
                    '</div>' +
                '</div>')

                template.appendTo(wrapper);

                $('.add-item .btn-remove-item').show();
            });

            $(document).on('click', '.btn-remove-item', function (e) {
                e.preventDefault();
                $(this).parents('.add-item').remove();
            });

        });
    </script>
}
