﻿@model  SSWA.CalibrationRegister.Web.Models.CalibrationHistoryStandardViewModel
@using Microsoft.Extensions.Configuration;

@inject IConfiguration Configuration;
@{
    ViewData["Title"] = "History";
}

<div class="row">
    <div class="col-md-12">
        <h3>Calibrations &rsaquo; History &rsaquo; @Model.Details.TagName</h3>
        <p>@Model.Details.TagDescription</p>
        <a href="/Calibration/Create?tagId=@Model.Details.TagID" class="btn btn-primary">New Calibration</a>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="2">Calibration Record</th>
                    <th rowspan="2">Date</th>
                    <th rowspan="2">Expected Range</th>
                    <th rowspan="2">Accuracy</th>
                    <th colspan="2">As Found</th>
                    <th colspan="9">2 Point</th>
                    <th>Single Point</th>
                    <th>Temp</th>
                    <th>Slope</th>
                    <th>Offset</th>
                    <th rowspan="2">Result</th>
                    <th rowspan="2">Technician</th>
                    <th rowspan="2">Certificate</th>
                </tr>
                <tr>
                    <th>Transmitter Value</th>
                    <th>Lab Value</th>
                    <th>Standard 1</th>
                    <th>Reference Standard</th>
                    <th>Standard 2</th>
                    <th>Reading Reference</th>
                    <th>Reading When Stable</th>
                    <th>Setpoint One</th>
                    <th>Readback One</th>
                    <th>Setpoint Two</th>
                    <th>Readback Two</th>
                    <th>Reading When Stable</th>
                    <th>Deg C</th>
                    <th>@(Model.Calibrations.FirstOrDefault()?.TagSlopeUom ?? "N/A")</th>
                    <th>@(Model.Calibrations.FirstOrDefault()?.TagOffsetUom ?? "N/A")</th>
                </tr>
            </thead>
            @foreach (var record in Model.Calibrations)
            {
            <tr>
                <td>@record.CalibrationRecordNumber</td>
                <td>@record.CalibrationTestedAt</td>
                <td>@record.TagMinRange - @record.TagMaxRange @record.TagUom</td>
                <td>@record.TagAccuracyRange %</td>
                <td>@record.CalibrationAsFound</td>
                <td>@record.CalibrationLabValue</td>
                @if (!record.CalibrationSinglePoint.GetValueOrDefault(false))
    {
            <td>@record.TagStandardOne</td>
            <td>@record.TagReference</td>
            <td>@record.TagStandardTwo</td>
            <td>@record.CalibrationReferenceReading</td>
            <td>@record.CalibrationAsLeft</td>
            <td>@record.CalibrationSetpointOne</td>
            <td>@record.CalibrationReadbackOne</td>
            <td>@record.CalibrationSetpointTwo</td>
            <td>@record.CalibrationReadbackTwo</td>
            <td></td>
}
else
{
            <td colspan="9"></td>
            <td>@record.CalibrationAsLeft</td>
}
                <td>@record.CalibrationTemperature</td>
                <td>@record.CalibrationSlope</td>
                <td>@record.CalibrationOffset</td>
                <td>
                    @if (record.CalibrationResult.GetValueOrDefault(false) && !record.VerificationOnly.GetValueOrDefault(false))
        {
            <span class="text-success"><i class="glyphicon glyphicon-ok"></i> <strong>PASS</strong></span>
}
else if (!record.CalibrationResult.GetValueOrDefault(false) && !record.VerificationOnly.GetValueOrDefault(false))
{
            <span class="text-danger"><i class="glyphicon glyphicon-remove"></i> <strong>FAIL</strong></span>
}
else
{
            <span class="text-primary"><i class="glyphicon glyphicon-search"></i> <strong>VERIFICATION</strong></span>
}
                </td>
                <td>@record.CalibrationTestedBy</td>
                <td><a href="@Configuration["Reports:CalibrationUrl"]@record.ID" target="_blank">Certificate</a></td>
            </tr>
            }

        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="chart"></div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/d3/d3.min.js" charset="utf-8"></script>
    <script src="~/lib/c3/c3.min.js"></script>
    <script type="text/javascript">

        var chart;
        window.onload = function () {
            let data = JSON.parse('@Html.Raw(Model.ChartData)');
            let names = JSON.parse('@Html.Raw(Model.ChartNames)');

            chart = c3.generate({
                size: {
                    height: 500
                },
                padding: {
                    right:200
                },
                bindto: '#chart',
                data: {
                    json: data,
                    keys: {
                        x: 'calibration_tested_at',
                        value: @Html.Raw(Model.ChartValues),
                    },
                    names: names
                },
                axis: {
                    x: {
                        type: 'timeseries',
                        tick: {
                            format: '%Y-%m-%d'
                        }
                    }
                },
                legend: {
                    show: true,
                    position: 'right',
                    item: {
                        onmouseover: function (id) { 
                            chart.focus(id);
                         }
                    },
                }
            });


        };

        function toggle(name) {
            chart.toggle(name);
        }

    </script>
}

