﻿@model  SSWA.CalibrationRegister.Web.Models.CalibrationHistoryChlorineViewModel
@using Microsoft.Extensions.Configuration;

@inject IConfiguration Configuration;
@{
    ViewData["Title"] = "History";
}

<div class="row">
    <div class="col-md-12">
        <h3>Calibrations &rsaquo; History &rsaquo; @Model.Details.TagName</h3>
        <p>@Model.Details.TagDescription</p>
        <a href="/Calibration/Create?tagId=@Model.Details.TagID" class="btn btn-primary">New Calibration</a>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="2">Calibration Record</th>
                    <th rowspan="2">Date</th>
                    <th rowspan="2">Expected Range</th>
                    <th rowspan="2">Accuracy</th>
                    <th colspan="11">Rotameter Set Point</th>
                    <th rowspan="2">Result</th>
                    <th rowspan="2">Technician</th>
                    <th rowspan="2">Certificate</th>
                </tr>
                <tr>
                    <th>0%</th>
                    <th>10%</th>
                    <th>20%</th>
                    <th>30%</th>
                    <th>40%</th>
                    <th>50%</th>
                    <th>60%</th>
                    <th>70%</th>
                    <th>80%</th>
                    <th>90%</th>
                    <th>100%</th>
                </tr>
            </thead>
            @foreach (var record in Model.Calibrations)
            {
                <tr>
                    <td>@record.CalibrationRecordNumber</td>
                    <td>@record.CalibrationTestedAt</td>
                    <td>@record.TagMinRange - @record.TagMaxRange @record.TagUom</td>
                    <td>@record.TagAccuracyRange %</td>
                    <td>@record.CalibrationObservedSetPointOne</td>
                    <td>@record.CalibrationObservedSetPointTwo</td>
                    <td>@record.CalibrationObservedSetPointThree</td>
                    <td>@record.CalibrationObservedSetPointFour</td>
                    <td>@record.CalibrationObservedSetPointFive</td>
                    <td>@record.CalibrationObservedSetPointSix</td>
                    <td>@record.CalibrationObservedSetPointSeven</td>
                    <td>@record.CalibrationObservedSetPointEight</td>
                    <td>@record.CalibrationObservedSetPointNine</td>
                    <td>@record.CalibrationObservedSetPointTen</td>
                    <td>@record.CalibrationObservedSetPointEleven</td>
                    <td>
                        @if (record.CalibrationResult.GetValueOrDefault(false) && !record.VerificationOnly.GetValueOrDefault(false))
    {
                    <span class="text-success"><i class="glyphicon glyphicon-ok"></i> <strong>PASS</strong></span>
}
else if (!record.CalibrationResult.GetValueOrDefault(false) && !record.VerificationOnly.GetValueOrDefault(false))
{
                    <span class="text-danger"><i class="glyphicon glyphicon-remove"></i> <strong>FAIL</strong></span>
}
else
{
                    <span class="text-primary"><i class="glyphicon glyphicon-search"></i> <strong>VERIFICATION</strong></span>
}
                    </td>
                    <td>@record.CalibrationTestedBy</td>
                    <td><a href="@Configuration["Reports:CalibrationUrl"]@record.ID" target="_blank">Certificate</a></td>
                </tr>
            }

        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="chart"></div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/d3/d3.min.js" charset="utf-8"></script>
    <script src="~/lib/c3/c3.min.js"></script>
    <script type="text/javascript">

        var chart;
        window.onload = function () {
            let data = JSON.parse('@Html.Raw(Model.ChartData)');
            let names = JSON.parse('@Html.Raw(Model.ChartNames)');

            console.log(names);

            chart = c3.generate({
                size: {
                    height: 500
                },
                padding: {
                    right:200
                },
                bindto: '#chart',
                data: {
                    json: data,
                    keys: {
                        x: 'calibration_tested_at',
                        value: @Html.Raw(Model.ChartValues),
                    },
                    names: names
                },
                axis: {
                    x: {
                        type: 'timeseries',
                        tick: {
                            format: '%Y-%m-%d'
                        }
                    }
                },
                legend: {
                    show: true,
                    position: 'right',
                    item: {
                        onmouseover: function (id) {
                            chart.focus(id);
                         }
                    },
                }
            });


        };

        function toggle(name) {
            chart.toggle(name);
        }

    </script>
}

