﻿@model  SSWA.CalibrationRegister.Web.Models.CalibrationHistoryFlowViewModel
@using Microsoft.Extensions.Configuration;

@inject IConfiguration Configuration;
@{
    ViewData["Title"] = "History";
}

<div class="row">
    <div class="col-md-12">
        <h3>Calibrations &rsaquo; History &rsaquo; @Model.Details.TagName</h3>
        <p>@Model.Details.TagDescription</p>
        <a href="/Calibration/Create?tagId=@Model.Details.TagID" class="btn btn-primary">New Calibration</a>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="3">Calibration Record</th>
                    <th rowspan="3">Date</th>
                    <th rowspan="3">Expected Range</th>
                    <th rowspan="3">Accuracy</th>
                    <th colspan="15">Knob Setting</th>
                    <th rowspan="3">Result</th>
                    <th rowspan="3">Technician</th>
                    <th rowpspan="3">Certificate</th>
                </tr>
                <tr>
                    <th colspan="3">0</th>
                    <th colspan="3">A</th>
                    <th colspan="3">B</th>
                    <th colspan="3">C</th>
                    <th colspan="3">D</th>
                </tr>
                <tr>
                    <th>Current Output (mA)</th>
                    <th>Calculated</th>
                    <th>Observed</th>
                    <th>Current Output (mA)</th>
                    <th>Calculated</th>
                    <th>Observed</th>
                    <th>Current Output (mA)</th>
                    <th>Calculated</th>
                    <th>Observed</th>
                    <th>Current Output (mA)</th>
                    <th>Calculated</th>
                    <th>Observed</th>
                    <th>Current Output (mA)</th>
                    <th>Calculated</th>
                    <th>Observed</th>
                </tr>
            </thead>
            @foreach (var record in Model.Calibrations)
            {
                <tr>
                    <td>@record.CalibrationRecordNumber</td>
                    <td>@record.CalibrationTestedAt</td>
                    <td>@record.TagMinRange - @record.TagMaxRange @record.TagUom</td>
                    <td>@record.TagAccuracyRange %</td>
                    <td>@record.CalibrationCurrentOutputMaZero</td>
                    <td>@record.CalibrationCalculatedFlowRateZero</td>
                    <td>@record.CalibrationObservedFlowRateZero</td>
                    <td>@record.CalibrationCurrentOutputMaA</td>
                    <td>@record.CalibrationCalculatedFlowRateA</td>
                    <td>@record.CalibrationObservedFlowRateA</td>
                    <td>@record.CalibrationCurrentOutputMaB</td>
                    <td>@record.CalibrationCalculatedFlowRateB</td>
                    <td>@record.CalibrationObservedFlowRateB</td>
                    <td>@record.CalibrationCurrentOutputMaC</td>
                    <td>@record.CalibrationCalculatedFlowRateC</td>
                    <td>@record.CalibrationObservedFlowRateC</td>
                    <td>@record.CalibrationCurrentOutputMaD</td>
                    <td>@record.CalibrationCalculatedFlowRateD</td>
                    <td>@record.CalibrationObservedFlowRateD</td>
                    <td>
                        @if (record.CalibrationResult.GetValueOrDefault(false) && !record.VerificationOnly.GetValueOrDefault(false))
    {
                    <span class="text-success"><i class="glyphicon glyphicon-ok"></i> <strong>PASS</strong></span>
}
else if (!record.CalibrationResult.GetValueOrDefault(false) && !record.VerificationOnly.GetValueOrDefault(false))
{
                    <span class="text-danger"><i class="glyphicon glyphicon-remove"></i> <strong>FAIL</strong></span>
}
else
{
                    <span class="text-primary"><i class="glyphicon glyphicon-search"></i> <strong>VERIFICATION</strong></span>
}

                    <td>@record.CalibrationTestedBy</td>
                    <td><a href="@Configuration["Reports:CalibrationUrl"]@record.ID" target="_blank">Certificate</a></td>
                </tr>
            }

        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="chart"></div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/d3/d3.min.js" charset="utf-8"></script>
    <script src="~/lib/c3/c3.min.js"></script>
    <script type="text/javascript">

        var chart;
        window.onload = function () {
            let data = JSON.parse('@Html.Raw(Model.ChartData)');
            let names = JSON.parse('@Html.Raw(Model.ChartNames)');

            console.log(names);

            chart = c3.generate({
                size: {
                    height: 500
                },
                padding: {
                    right:200
                },
                bindto: '#chart',
                data: {
                    json: data,
                    keys: {
                        x: 'calibration_tested_at',
                        value: @Html.Raw(Model.ChartValues),
                    },
                    names: names
                },
                axis: {
                    x: {
                        type: 'timeseries',
                        tick: {
                            format: '%Y-%m-%d'
                        }
                    }
                },
                legend: {
                    show: true,
                    position: 'right',
                    item: {
                        onmouseover: function (id) {
                            chart.focus(id);
                         }
                    },
                }
            });


        };

        function toggle(name) {
            chart.toggle(name);
        }

    </script>
}

