﻿@model IEnumerable<SSWA.CalibrationRegister.Web.Models.CalibrationListViewModel>
@using Microsoft.Extensions.Configuration;

@inject IConfiguration Configuration;

@{
    ViewData["Title"] = "Recent Calibrations";
}

<div class="row">
    <div class="col-md-12">
        <h3>Calibrations &rsaquo; Recent</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("New Calibration", "Tag", "Calibration", null, new { @class = "btn btn-primary" })
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.RecordNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TagName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TagDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TestedAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TestedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PassFail)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RecordNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TagName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TagDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TestedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TestedBy)
                        </td>
                        <td>
                            @if (item.PassFail && !item.VerificationOnly)
    {
                        <span class="text-success"><i class="glyphicon glyphicon-ok"></i> PASS</span>
}
else if (!item.PassFail && !item.VerificationOnly)
{
                        <span class="text-danger"><i class="glyphicon glyphicon-remove"></i> FAIL</span>
}
else
{
                        <span class="text-primary"><i class="glyphicon glyphicon-search"></i> VERIFICATION</span>

}
                        </td>
                        <td>
                            <a href="@Configuration["Reports:CalibrationUrl"]@item.ID" target="_blank">Certificate</a> |
                            @Html.ActionLink("Tag History", "History", "Calibration", new { tagId = item.TagID }, new { target = "_blank" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
