﻿@model SSWA.CalibrationRegister.Web.Models.TagListViewModel
@{
    ViewData["Title"] = "Tags";
}

<div class="row">
    <div class="col-md-12">
        <h3>Calibrations &rsaquo; Tags</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Search For A Tag</h4>
        @using (Html.BeginForm("Tag", "Calibration", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="form-group">
                <label>Tag Type</label>
                @Html.DropDownList("tagTypeId", Model.TagTypeList, "", new { @class = "form-control input-sm" })
            </div>
            <div class="form-group">
                <label>Tag Name</label>
                @Html.TextBox("tagName", Model.TagName, null, new { @class = "form-control input-sm" })
            </div>
            <div class="form-group">
                <label>Tag Description</label>
                @Html.TextBox("tagDescription", Model.TagDescription, null, new { @class = "form-control input-sm" })
            </div>
            <div class="form-group">
                <input class="btn btn-sm btn-success" type="submit" value="Search" />
            </div>
        }
    </div>
    <div class="col-md-12">
        <hr />
    </div>

</div>
<div class="row">
    <div class="col-md-12">


        @{
            var prevDisabled = !Model.Tags.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.Tags.HasNextPage ? "disabled" : "";
        }
        <a asp-action="Index"
           asp-route-page="@(Model.Tags.PageIndex - 1)"
           asp-route-tagTypeId="@Model.TagTypeId"
           asp-route-tagName="@Model.TagName"
           asp-route-tagDescription="@Model.TagDescription"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="Index"
           asp-route-page="@(Model.Tags.PageIndex + 1)"
           asp-route-tagTypeId="@Model.TagTypeId"
           asp-route-tagName="@Model.TagName"
           asp-route-tagDescription="@Model.TagDescription"
           class="btn btn-default @nextDisabled">
            Next
        </a>
        <table class="table">
            <thead>
                <tr>
                    <th width="5%">
                        Tag Type
                    </th>
                    <th width="10%">
                        @Html.DisplayNameFor(model => model.Tags.FirstOrDefault().Name)
                    </th>
                    <th width="10%">
                        @Html.DisplayNameFor(model => model.Tags.FirstOrDefault().Description)
                    </th>
                    <th width="10%">
                        @Html.DisplayNameFor(model => model.Tags.FirstOrDefault().Make)
                    </th>
                    <th width="10%">
                        @Html.DisplayNameFor(model => model.Tags.FirstOrDefault().Model)
                    </th>
                    <th width="10%">
                        Serial Number
                    </th>
                    <th width="10%">
                        Reference Drawing
                    </th>
                    <th width="10%">
                        Procedure
                    </th>
                    <th width="10%">
                        Data Sheet
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Tags)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TagType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Make)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Model)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SerialNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReferenceDrawing)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Procedure)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataSheet)
                        </td>
                        <td width="20%">
                            @Html.ActionLink("New Calibration", "Create", new { tagId = item.ID }) |
                            @Html.ActionLink("History", "History", new { tagId = item.ID })                        
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



