﻿<iframe id="app1" height="0" width="0" src="http://portal.sswa.com:49434/Account/Logout"></iframe>

<iframe id="app2" height="0" width="0" src="http://calibration.sswa.com:57583/Account/Logout"></iframe>

<h2 id="message">Logging off, please wait...</h2>

@section Scripts {
<script>

        var app1Ready = false;
        var app2Ready = false;

        $('iframe').load(function (e) {

            switch ($(e.target).attr("id")) {
                case "app1":
                    app1Ready = true;
                    break;
                case "app2":
                    app2Ready = true;
                    break;
            }

            if (app1Ready && app2Ready) {
                $("#message").html("You have been Logged Off successfully!");
            }

        });

</script>
}
