<template>
  <div class="card shadow-sm"
       v-loading="loading">
    <div class="card-body">
      <h3 class="mb-1">
        {{ person.name }}
      </h3>
      <h5 class="text-secondary text-uppercase mt-0"> {{ person.company }}</h5>
      <div class="row my-3 mx-1">
        <div class="col-9 border rounded p-3">
          <h5 class="mb-4">Details</h5>
          <el-form v-loading="loading"
                   ref="form"
                   :model="person"
                   size="mini"
                   :rules="rules"
                   :disabled="!roles.includes('paperwork_admin')"
                   class="app-form"
                   status-icon
                   label-width="100px">
            <div class="row">
              <div class="col-12">
                <el-form-item label="Name"
                              prop="name"
                              class="col-12">
                  <el-input type="text"
                            size="mini"
                            v-model="person.name"></el-input>
                </el-form-item>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <el-form-item label="Company"
                              prop="category"
                              class="col-12">
                  <el-input type="text"
                            size="mini"
                            v-model="person.company"></el-input>
                </el-form-item>
              </div>
              <div class="col-6">
                <el-form-item label="Category"
                              prop="category"
                              class="col-12">
                  <el-input type="text"
                            size="mini"
                            v-model="person.category"></el-input>
                </el-form-item>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <el-form-item label="Email"
                              prop="email"
                              class="col-12">
                  <el-input type="text"
                            size="mini"
                            v-model="person.email"></el-input>
                </el-form-item>
              </div>
              <div class="col-6">
                <el-form-item label="Phone"
                              prop="contactNumber"
                              class="col-12">
                  <el-input type="text"
                            size="mini"
                            v-model="person.contactNumber"></el-input>
                </el-form-item>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <el-form-item label="Vehicle"
                              prop="vehicleRegistration"
                              class="col-12">
                  <el-input type="text"
                            size="mini"
                            v-model="person.vehicleRegistration"
                            placeholder="1AAA-XXX"></el-input>
                </el-form-item>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <el-button class="float-right"
                           type="primary"
                           @click="save">Save Details</el-button>
              </div>
            </div>
          </el-form>
        </div>
      </div>
      <div class="row my-3 mx-1">
        <div class="col-9 border rounded p-3">
          <h5 class="mb-4">Associated Forms</h5>
          <el-table :data="forms" size="mini" :row-class-name="tableRowClassName" style="width: 100%;">
            <el-table-column label="Form" width="150" prop="friendlyId">
              <template slot-scope="scope">
                <router-link :to="{ name: scope.row.kind.slug + '-form-detail', params: { formType: scope.row.kind.slug, formId: scope.row.id } }">
                  <del class="text-black-25" v-if="scope.row.status === 'cancelled'">
                    {{ scope.row.friendlyId }}
                  </del>
                  <span v-else>
                    {{ scope.row.friendlyId }}
                  </span>
                </router-link>
              </template>
            </el-table-column>
            <el-table-column label="Description" width="200" show-overflow-tooltip prop="description">
              <template slot-scope="scope">
                <span :title="scope.row.description"> {{ scope.row.description }}</span>
              </template>
            </el-table-column>
            <el-table-column label="Start" prop="startDate" width="90">
              <template slot-scope="scope">
                {{dateFormat(scope.row.startDate, 'DD/MM/YYYY')}}
              </template>
            </el-table-column>
            <el-table-column label="Finish"prop="endDate" width="90">
              <template slot-scope="scope">
                {{dateFormat(scope.row.endDate, 'DD/MM/YYYY')}}
              </template>
            </el-table-column>
            <el-table-column label="Status" width="175" prop="status">
              <template slot-scope="scope">
                <span v-if="scope.row.status === 'approved'" class="status status-sm badge badge-pill badge-success">{{ scope.row.status }}</span>
                <span v-else-if="scope.row.status === 'open'" class="status status-sm badge badge-pill badge-success">{{ scope.row.status }}</span>
                <span v-else-if="scope.row.status === 'denied'" class="status  status-sm badge badge-pill badge-danger">{{ scope.row.status }}</span>
                <span v-else-if="scope.row.status === 'information required'" class="status status-sm  badge badge-pill badge-warning">info required</span>
                <span v-else-if="scope.row.status === 'cancelled'" class="text-muted status status-sm  badge badge-pill badge-light">{{ scope.row.status }}</span>
                <span v-else-if="scope.row.status.includes( 'pending')" class="status status-sm badge badge-pill badge-warning">{{ scope.row.status }}</span>
                <span v-else class="status status-sm badge badge-pill badge-info">{{ scope.row.status }}</span>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
      <div class="row my-3 mx-1">
        <div class="col-9 border rounded p-3">
          <h5 class="mb-4">Inductions</h5>
          <p>Adding a new induction will replace any existing record of the same induction type.</p>

          <el-form ref="inductionForm"
                   size="mini"
                   :model="newInduction"
                   :rules="trainingRules"
                   status-icon>
            <div class="row">
              <div class="col-4">
                <el-form-item label="Induction Type"
                              prop="trainingName">
                  <el-select v-model="newInduction.trainingName">
                    <el-option v-for="item in inductions"
                               :key="item.name"
                               :label="item.name"
                               :value="item.name"></el-option>
                  </el-select>
                </el-form-item>
              </div>
              <div class="col-4">
                <el-form-item label="Start Date"
                              prop="startDate">
                  <el-date-picker v-model="newInduction.startDate"
                                  type="date"
                                  placeholder="Pick a day">
                  </el-date-picker>
                </el-form-item>
              </div>
              <div class="col-4">
                <el-form-item>
                  <el-button icon="el-icon-plus"
                             type="primary"
                             @click="addTraining('inductionForm', 'Induction')">Add Induction</el-button>
                </el-form-item>
              </div>
            </div>
          </el-form>
          <el-table v-if="person && person.latestTraining && person.latestTraining.length > 0"
                    size="mini"
                    :fit="true"
                    :loading="loading"
                    :data="person.latestTraining.filter(x => x.type === 'Induction')">
            <el-table-column label="Name"
                             prop="trainingName"></el-table-column>
            <el-table-column label="Valid From"
                             prop="startDate">
              <template slot-scope="scope">
                {{dateFormat(scope.row.startDate, 'DD/MM/YY')}}
              </template>
            </el-table-column>
            <el-table-column label="Valid Till"
                             prop="expiryDate">
              <template slot-scope="scope">
                {{dateFormat(scope.row.expiryDate, 'DD/MM/YY')}}
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
      <div class="row my-3 mx-1">
        <div class="col-9 border rounded p-3">
          <h5 class="mb-4">Awareness Training</h5>
          <el-form ref="awarenessForm"
                   size="mini"
                   :model="newAwareness"
                   :rules="trainingRules"
                   status-icon>
            <div class="row">
              <div class="col-4">
                <el-form-item label="Training Type"
                              prop="trainingName">
                  <el-select v-model="newAwareness.trainingName">
                    <el-option v-for="item in awarenessTraining"
                               :key="item.name"
                               :label="item.name"
                               :value="item.name"></el-option>
                  </el-select>
                </el-form-item>
              </div>
              <div class="col-4">
                <el-form-item label="Start Date"
                              prop="startDate">
                  <el-date-picker v-model="newAwareness.startDate"
                                  type="date"
                                  placeholder="Pick a day">
                  </el-date-picker>
                </el-form-item>
              </div>
              <div class="col-4">
                <el-form-item>
                  <el-button icon="el-icon-plus"
                             type="primary"
                             @click="addTraining('awarenessForm', 'Awareness')">Add Training</el-button>
                </el-form-item>
              </div>
            </div>
          </el-form>
          <el-table v-if="person && person.latestTraining && person.latestTraining.length > 0"
                    size="mini"
                    :fit="true"
                    :loading="loading"
                    :data="person.latestTraining.filter(x => x.type === 'Awareness')">
            <el-table-column label="Name"
                             prop="trainingName"></el-table-column>
            <el-table-column label="Valid From"
                             prop="startDate">
              <template slot-scope="scope">
                {{dateFormat(scope.row.startDate, 'DD/MM/YY')}}
              </template>
            </el-table-column>
            <el-table-column label="Valid Till"
                             prop="expiryDate">
              <template slot-scope="scope">
                {{dateFormat(scope.row.expiryDate, 'DD/MM/YY')}}
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
      <div class="row my-3 mx-1">
        <div class="col-9 border rounded p-3">
          <h5 class="mb-4">Merge Record Into Another Person</h5>
          <p>Merge this person (and all forms associated with them) into another person's record by searching in the dropdown below. <strong>Perfoming this action will remove the current person after merge has completed.</strong></p>
          <el-form v-loading="loading"
                   ref="form"
                   :model="person"
                   size="mini"
                   :rules="rules"
                   :disabled="!roles.includes('paperwork_admin')"
                   class="app-form"
                   status-icons
                   label-width="100px">
            <div class="row">
              <div class="col-12">
                <el-form-item label="Merge Into"
                              prop="name"
                              class="col-12">
                  <el-autocomplete style="width:100%;" size="mini" v-model="mergeName" value-key="name" :fetch-suggestions="visitorSearch" placeholder="Search for another visitor ..." :trigger-on-focus="false" @select="handleVisitorSelect($event)">
                    <template slot-scope="{ item }">
                      <div>
                        <span style="width: 150px;" class="d-inline-block mr-4">{{ item.name }}</span>
                        <span style="width: 75px;" class="d-inline-block mx-2">{{ item.category }}</span>
                        <span style="width: 150px;" class="d-inline-block mx-2">{{ item.company }}</span>
                        <span style="width: 200px;" class="d-inline-block mx-2">{{ item.email }}</span>
                        <span style="width: 200px;" class="d-inline-block mx-2">{{ item.contactNumber }}</span>
                      </div>
                    </template>
                  </el-autocomplete>
                </el-form-item>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <el-button class="float-right"
                           type="primary"
                           @click="merge">Merge</el-button>
              </div>
            </div>
          </el-form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import format from "date-fns/format";
  import Vue from "vue";
  import {
    options_requestTypes,
    options_swipeCardAreas,
    options_lockboxes
  } from "./../../store/options";

  export default {
    name: "PersonDetail",
    async created() {
      await this.getPerson(this.$route.params.id);
      await this.getTraining();
      await this.getForms(this.$route.params.id);
    },
    data() {
      return {
        selectedVisitor: {id: null},
        mergeName: '',
        forms: [],
        newInduction: {
          type: "Induction",
          trainingName: null,
          startDate: this.dateFormat(new Date(), "YYYY-MM-DD")
        },
        newAwareness: {
          type: "Awareness",
          trainingName: null,
          startDate: this.dateFormat(new Date(), "YYYY-MM-DD")
        },
        person: {},
        inductions: [],
        awarenessTraining: [],
        loading: true,
        rules: {},
        trainingRules: {
          trainingName: [
            {
              required: true,
              message: "Please select a type",
              trigger: "change"
            }
          ],
          startDate: [
            {
              required: true,
              message: "Please pick a start date",
              trigger: "blur"
            }
          ]
        },
        options: {}
      };
    },
    computed: {
      roles() {
        return this.$store.getters.roles;
      },
    },
    methods: {
      tableRowClassName({ row, rowIndex }) {
        if (row.status === 'cancelled') {
          return 'text-black-25';
        }
        return '';
      },
      dateFormat(date, formatOption) {
        if (!Date.parse(date)) return "";

        return format(Date.parse(date), formatOption);
      },
      async getForms(id) {
        try {
          this.loading = true;
          let response = await this.$http({
            method: "get",
            url: `/api/visitors/${id}/forms`,
            headers: {
              Authorization: "Bearer " + this.$store.getters.accessToken
            }
          });

          this.forms = response.data;
        } catch (err) {
          console.log(err);
        } finally {
          this.loading = false;
        }
      },
      async addTraining(formName, trainingType) {
        this.$refs[formName].validate(async valid => {
          if (valid) {
            try {
              this.loading = true;
              let payload = null;
              if (trainingType == "Induction") {
                payload = this.newInduction;
              } else {
                payload = this.newAwareness;
              }

              let response = await this.$http({
                method: "post",
                url: `/api/visitors/${this.person.id}/training`,
                headers: {
                  Authorization: "Bearer " + this.$store.getters.accessToken,
                  "Content-Type": "application/json"
                },
                data: payload
              });

              this.$notify({
                title: "Done",
                message: `${trainingType} Added`,
                type: "success"
              });

              location.reload();
            } catch (err) {
              this.$notify({
                title: "Error",
                message: err,
                type: "error"
              });
            } finally {
              this.loading = false;
            }
          } else {
            return false;
          }
        });
      },
      async save() {
        try {
          this.loading = true;
          let response = await this.$http({
            method: "put",
            url: `/api/visitors/${this.person.id}`,
            headers: {
              Authorization: "Bearer " + this.$store.getters.accessToken,
              "Content-Type": "application/json"
            },
            data: this.person
          });

          this.person = response.data;

          this.$notify({
            title: "Done",
            message: "Details saved",
            type: "success"
          });
        } catch (err) {
          this.$notify({
            title: "Error",
            message: err,
            type: "error"
          });
        } finally {
          this.loading = false;
        }
      },
      async merge() {
        try {

          if (!this.selectedVisitor || this.selectedVisitor.id == null || this.selectedVisitor.id == this.person.id) {
            window.alert("Please select a person to merge this record into.");
            return;
          }

          this.loading = true;
          let response = await this.$http({
            method: "post",
            url: `/api/visitors/${this.person.id}/merge/${this.selectedVisitor.id}`,
            headers: {
              Authorization: "Bearer " + this.$store.getters.accessToken,
              "Content-Type": "application/json"
            },
          });

          this.person = response.data;

          this.$notify({
            title: "Done",
            message: "Visitor merged",
            type: "success"
          });

          this.$router.push({
            name: 'visitors'
          });

        } catch (err) {
          this.$notify({
            title: "Error",
            message: err,
            type: "error"
          });
        } finally {
          this.loading = false;
        }
      },
      async visitorSearch(queryString, cb) {
        //if (queryString.length < 1) {
        //  cb([]);
        //}

        var results = [];
        try {
          let response = await this.$http({
            method: 'get',
            url: `/api/visitors/search/${queryString}`,
            headers: {
              Authorization: 'Bearer ' + this.$store.getters.accessToken
            }
          });

          results = response.data.filter(x => x.id != this.person.id);
        } catch (err) {
          console.log(err);
        }

        cb(results);
      },
      handleVisitorSelect(item) {
        this.selectedVisitor.id = item.id;
      },
      async getPerson(id) {
        try {
          this.loading = true;
          let response = await this.$http({
            method: "get",
            url: `/api/visitors/${id}`,
            headers: {
              Authorization: "Bearer " + this.$store.getters.accessToken
            }
          });

          this.person = response.data;
        } catch (err) {
          console.log(err);
        } finally {
          this.loading = false;
        }
      },
      async getTraining() {
        try {
          this.loading = true;
          let response = await this.$http({
            method: "get",
            url: `/api/training`,
            headers: {
              Authorization: "Bearer " + this.$store.getters.accessToken
            }
          });

          this.inductions = response.data.filter(
            x => x.trainingType == "Induction"
          );
          this.awarenessTraining = response.data.filter(
            x => x.trainingType == "Awareness"
          );
        } catch (err) {
          console.log(err);
        } finally {
          this.loading = false;
        }
      }
    }
  };
</script>
