<template>
  <div v-loading="loading" class="card shadow-sm">
    <div class="card-body">
      <h2>
        People
        <div class="dropdown d-inline float-right">
          <button style="font-weight: 500;" role="button" href="#" class="text-primary btn btn-light mr-3">
            <download-excel :fetch="downloadForms" type="csv" name="plant_visitors_register.csv" :fields="json_fields">
              <feather class="mr-1" type="download" width="16" height="16"></feather> Export
            </download-excel>
          </button>
        </div>
      </h2>
      <el-form ref="form" :inline="true" :model="filters" size="mini" label-width="130px" c class="border rounded pt-4 pr-3 my-4 shadow-sm">
        <el-form-item label="Name">
          <el-input size="mini" v-model="filters.name" type="text" @change="onValueChange" clearable>
          </el-input>
        </el-form-item>
        <el-form-item label="Category">
          <el-select size="mini" v-model="filters.category" type="text" @change="onValueChange" clearable>
            <el-option v-for="(category, index) in categories" :key="index" :label="category.name" :value="category.canonicalName"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Company">
          <el-select size="mini" v-model="filters.company" type="text" @change="onValueChange" clearable>
            <el-option v-for="(company, index) in companies" :key="index" :label="company.name" :value="company.canonicalName"></el-option>

          </el-select>
        </el-form-item>

          <el-form-item class="mt-auto mb-0 float-right">
            <el-button type="primary" @click="onValueChange">
              <feather class="mr-1" type="search" width="16" height="16"></feather> Search
            </el-button>
          </el-form-item>
      </el-form>

      <el-table :data="forms" size="mini" :row-class-name="tableRowClassName" style="width: 100%;" @sort-change="sortChanged" :default-sort="{prop: sort.prop, order: sort.order}">
        <el-table-column label="Name" width="150" sortable="custom" prop="name">
          <template slot-scope="scope">
            <router-link :to="{ name: 'person', params: { id: scope.row.id } }">
              <template v-if="scope.row.name">
                {{ scope.row.name }}
              </template>
              <template v-else>
                N/A
              </template>
            </router-link>
          </template>
        </el-table-column>
        <el-table-column label="Visit" width="80" sortable="custom" prop="nextVisit">
          <template slot-scope="scope">
            {{ dateFormat(scope.row.nextVisit, 'DD/MM/YY')}}
          </template>
        </el-table-column>
        <el-table-column label="PER" width="130" prop="nextPerId">
          <template slot-scope="scope">
            <router-link :to="{ name: 'plant-entry-request-form-detail', params: { formType: 'plant-entry-request', formId: scope.row.nextPerId } }">
              <span v-if="!scope.row.nextPerId">
              </span>
              <span v-else>
                {{ scope.row.nextPerFriendlyId }}
              </span>
            </router-link>
          </template>
        </el-table-column>
        <el-table-column label="Type" width="100" sortable="custom" prop="category">
        </el-table-column>
        <el-table-column label="Company" width="120" sortable="custom" prop="company">
        </el-table-column>
        <el-table-column label="Email" width="200" prop="email">
        </el-table-column>
        <el-table-column label="Contact Number" prop="contactNumber">
        </el-table-column>
        <el-table-column label="Vehicle" prop="vehicleRegistration">
        </el-table-column>
        <el-table-column label="Inductions" width="250" prop="latestTraining">
          <template slot-scope="scope">
            <template v-if="scope.row.latestTraining.filter(x => x.type == 'Induction').length > 0">
              <span v-for="induction in scope.row.latestTraining.filter(x => x.type == 'Induction')">{{ induction.trainingName }} (Expires {{ dateFormat(induction.expiryDate, "DD/MM/YYYY") }}), </span>
            </template>
            <span v-else>None Completed</span>
          </template>
        </el-table-column>
        <el-table-column label="Awareness Training" width="250" prop="latestTraining">
          <template slot-scope="scope">
            <template v-if="scope.row.latestTraining.filter(x => x.type == 'Awareness').length > 0">
              <span v-for="induction in scope.row.latestTraining.filter(x => x.type == 'Awareness')">{{ induction.trainingName }}, </span>
            </template>
            <span v-else>None Completed</span>
          </template>
        </el-table-column>
        <el-table-column label="Actions" fixed="right" v-if="roles.includes('paperwork_admin')">
          <template slot-scope="scope">
            <el-button class="text-danger" type="text" size="mini" @click="hide(scope.row.id)">Delete</el-button>
          </template>
        </el-table-column>
      </el-table>
      <pagination class="mt-3 float-left" :current-page="currentPage" :total-pages="pages.length" :no-more-pages="noMorePages" @pagechanged="onPageChange"></pagination>
    </div>
  </div>
</template>

<script>
  import DateFormatter from './../utilities/date-formatter';
  import Pagination from './../pagination';
  import format from 'date-fns/format';

  export default {
    name: 'Visitors',
    components: {
      DateFormatter,
      Pagination
    },
    data() {
      return {
        filters: {
          name: '',
          category: '',
          company: ''
        },
        sort: {
          prop: 'name',
          order: 'ascending'
        },
        categories: [],
        companies: [],
        forms: [],
        currentPage: 1,
        noMorePages: false,
        pages: [null],
        loading: false,
        pageSize: 20,
        json_fields: {
          'Name': 'name',
          'Category': 'category',
          'Company': 'company',
          'Email': 'email',
          'Number': 'contactNumber',
          'Vehicle Registration': 'vehicleRegistration',
          'Inductions': {
            field: 'latestTraining',
            callback: (value) => {
              return value
                .filter(x => x.type == 'Induction')
                .map(induction => induction.trainingName + ": Expires " + this.dateFormat(induction.expiryDate, "DD / MM / YYYY"))
                .join(", ");
            }
          },
          'Awareness Training': {
            field: 'latestTraining',
            callback: (value) => {
              return value
                .filter(x => x.type == 'Awareness')
                .map(induction => induction.trainingName)
                .join(", ");
            }
          },
          'Next Visit': {
            field: 'nextVisit',
            callback: (value) => {
              return this.dateFormat(value, 'YYYY-MM-DD')
            }
          }
        }
      }
    },

    created() {
      this.getCategories();
      this.getCompanies();
      //this.getUserForms(this.pageSize, null, this.filters, this.sort);
      this.onPageChange(1);
    },
    computed: {
      roles() {
        return this.$store.getters.roles;
      },
    },
    methods: {
      tableRowClassName({ row, rowIndex }) {
        if (row.status === 'cancelled') {
          return 'text-black-25';
        }
        return '';
      },
      sortChanged(sort) {
        this.sort.prop = sort.prop;
        this.sort.order = sort.order;

        this.getUserForms(this.pageSize, null, this.filters, this.sort);
      },
      dateFormat(date, formatOption) {
        if (!Date.parse(date)) return '';

        return format(Date.parse(date), formatOption);
      },
      async hide(id) {
        try {
          this.loading = true;
          let response = await this.$http({
            method: 'post',
            url: `/api/visitors/${id}/hide`,
            headers: {
              Authorization: 'Bearer ' + this.$store.getters.accessToken
            }
          });

          await this.getUserForms(this.pageSize, this.pages[this.currentPage - 1], this.filters, this.sort);
        } catch (err) {
          console.log(err);
        } finally {
          this.loading = false;
        }
      },
      async getCategories() {
        try {
          this.loading = true;
          let response = await this.$http({
            method: 'get',
            url: `/api/visitors/categories`,
            headers: {
              Authorization: 'Bearer ' + this.$store.getters.accessToken
            }
          });

          this.categories = response.data;
        } catch (err) {
          console.log(err);
        } finally {
          this.loading = false;
        }
      },
      async getCompanies() {
        try {
          this.loading = true;
          let response = await this.$http({
            method: 'get',
            url: `/api/visitors/subcategories`,
            headers: {
              Authorization: 'Bearer ' + this.$store.getters.accessToken
            }
          });

          this.companies = response.data;
        } catch (err) {
          console.log(err);
        } finally {
          this.loading = false;
        }

      },
      async downloadForms() {
        try {
          this.loading = true;
          let response = await this.$http({
            method: 'get',
            url: `/api/visitors/download`,
            params: {
              name: this.filters.name,
              category: this.filters.category,
              company: this.filters.company,
              sortBy: this.sort.prop,
              orderBy: this.sort.order
            },
            headers: {
              Authorization: 'Bearer ' + this.$store.getters.accessToken
            }
          });

          return response.data;

        } catch (err) {
          console.log(err);
        } finally {
          this.loading = false;
        }
      },
      async getUserForms(
        pageSize = 20,
        token = null,
        filters = {
          name: '',
          category: '',
          company: '',
        },
        sort = { prop: 'name', order: 'ascending' }
      ) {
        if (token === null) {
          this.pages = [null];
          this.currentPage = 1;
        }

        try {
          this.loading = true;
          let response = await this.$http({
            method: 'get',
            url: `/api/visitors`,
            params: {
              pageSize: pageSize,
              token: token,
              name: filters.name,
              category: filters.category,
              company: filters.company,
              sortBy: sort.prop,
              orderBy: sort.order
            },
            headers: {
              Authorization: 'Bearer ' + this.$store.getters.accessToken
            }
          });

          this.forms = response.data.data;
          if (response.data.nextPageToken) {
            this.pages.push(response.data.nextPageToken);
          }

          this.noMorePages = !response.data.hasMoreData;
        } catch (err) {
          console.log(err);
        } finally {
          this.loading = false;
        }
      },
      async onPageChange(page) {
        this.currentPage = page;

        await this.getUserForms(
          this.pageSize,
          this.pages[page - 1],
          this.filters,
          this.sort
        );
      },
      async onValueChange(value) {
        await this.getUserForms(this.pageSize, null, this.filters, this.sort);
      }
    }
  };
</script>

