<template>

  <div v-loading="loading" class="card shadow-sm">
    <el-dialog title="Assigned Lockboxes" :visible.sync="dialogLockboxesVisible">
      <el-table :data="lockboxes" size="mini" style="width: 100%;" :loading="lockboxButtonDisabled">
        <el-table-column label="Form" width="150" prop="friendlyId">
          <template slot-scope="scope">
            <router-link :to="{ name: scope.row.formSlug + '-form-detail', params: { formType: scope.row.formSlug, formId: scope.row.formId } }">
              <del class="text-black-25" v-if="scope.row.status === 'cancelled'">
                {{ scope.row.friendlyId }}
              </del>
              <span v-else>
                {{ scope.row.friendlyId }}
              </span>
            </router-link>
          </template>
        </el-table-column>
        <el-table-column label="Lockbox" width="200">
          <template slot-scope="scope">
            <span>{{ scope.row.number }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Start" prop="startDate" width="150">
          <template slot-scope="scope">
            {{dateFormat(scope.row.startDate, 'DD/MM/YY')}}
          </template>
        </el-table-column>
        <el-table-column label="Finish" prop="endDate" width="150">
          <template slot-scope="scope">
            {{dateFormat(scope.row.endDate, 'DD/MM/YY')}}
          </template>
        </el-table-column>
        <el-table-column label="Status" prop="status">
          <template slot-scope="scope">
            <span v-if="scope.row.status === 'approved'" class="status status-sm badge badge-pill badge-success">{{ scope.row.status }}</span>
            <span v-else-if="scope.row.status === 'opened'" class="status status-sm badge badge-pill badge-success">{{ scope.row.status }}</span>
            <span v-else-if="scope.row.status === 'denied'" class="status  status-sm badge badge-pill badge-danger">{{ scope.row.status }}</span>
            <span v-else-if="scope.row.status === 'information required'" class="status status-sm  badge badge-pill badge-warning">info required</span>
            <span v-else-if="scope.row.status === 'cancelled'" class="text-muted status status-sm  badge badge-pill badge-light">{{ scope.row.status }}</span>
            <span v-else-if="scope.row.status === 'closed'" class="text-muted status status-sm  badge badge-pill badge-light">{{ scope.row.status }}</span>
            <span v-else-if="scope.row.status.includes( 'pending')" class="status status-sm badge badge-pill badge-warning">{{ scope.row.status }}</span>
            <span v-else class="status status-sm badge badge-pill badge-info">{{ scope.row.status }}</span>
          </template>
        </el-table-column>
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogLockboxesVisible=false">Close</el-button>
      </span>
    </el-dialog>

    <el-dialog :title="'Clone ' + cloneData.friendlyId" :visible.sync="dialogCloneVisible">
      <el-form ref="form-clone" :model="cloneData" :rules="cloneRules" label-width="240px">
        <el-form-item label="Description">
          <p class="text-secondary">{{ cloneData.description }}</p>
        </el-form-item>
        <el-form-item label="New Start and End" prop="workDuration">
            <el-date-picker size="mini" v-model="cloneData.workDuration" type="daterange" align="right" unlink-panels range-separator="To" start-placeholder="Start" end-placeholder="End">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="Also Clone">
          <el-form-item v-for="(linkedForm, index) in cloneData.linkedForms" :key="index">
            <el-checkbox v-model="linkedForm.clone" :id="linkedForm.id" :checked="true">{{linkedForm.id}}</el-checkbox>
          </el-form-item>
        </el-form-item>

        <el-form-item>
          <p class="text-danger">* All cloned forms will be created as a <strong>Draft</strong>. You must <strong>check and submit</strong> all clonded ATWs, PERs, and PWRs for approval / authorisation.</p>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogCloneVisible=false">Cancel</el-button>
        <el-button type="primary" @click="cloneForm(cloneData)">Clone</el-button>
      </span>
    </el-dialog>

    <div class="card-body">
      <h2>
        Authority To Work Register
        <div class="dropdown d-inline float-right">
          <button style="font-weight: 500;" role="button" href="#" class="text-primary btn btn-light mr-3">
            <download-excel :fetch="downloadForms" type="csv" name="atw_register.csv" :fields="json_fields">
              <feather class="mr-1" type="download" width="16" height="16"></feather> Export
            </download-excel>
          </button>
          <a style="font-weight: 500;" role="button" href="#" class="text-primary btn btn-light mr-3" @click="dialogLockboxesVisible=true">
            <feather class="mr-1" type="lock" width="16" height="16"></feather>
            <span>Assigned Lockboxes</span>
          </a>
          <router-link :to="{name: 'authority-to-work-create'}">
            <button class="btn btn-secondary">
              <feather class="mr-1" type="plus" width="16" height="16"></feather>
              <span>New Form</span>
            </button>
          </router-link>
        </div>
      </h2>
      <el-form ref="form" :inline="true" :model="filters" size="mini" label-width="130px" class="border rounded pt-4 pr-3 my-4 shadow-sm">
        <div class="row">
          <div class="col-4">
            <el-form-item label="Status">
              <el-select size="mini" v-model="filters.status" placeholder="Select Status" @change="onStatusChange">
                <el-option v-for="item in states" :key="item.slug" :label="item.name" :value="item.slug">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="Start Date">
              <el-date-picker size="mini" v-model="filters.startDate" type="daterange" range-separator="-" start-placeholder="From" end-placeholder="To" @change="onStartDateChange">
              </el-date-picker>
            </el-form-item>
            <el-form-item label="Finish Date">
              <el-date-picker size="mini" v-model="filters.endDate" type="daterange" range-separator="-" start-placeholder="From" end-placeholder="To" @change="onEndDateChange">
              </el-date-picker>
            </el-form-item>
          </div>
          <div class="col-3">
            <el-form-item label="Permit Acceptor">
              <el-select v-model="filters.permitAcceptor" filterable clearable placeholder="Select or type a name" value-key="id" @change="onPermitAcceptorChange">
                <el-option v-for="option in users" :key="option.id" :label="option.name" :value="option.id">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="Permit Authoriser">
              <el-select v-model="filters.permitAuthoriser" filterable clearable placeholder="Select or type a name" value-key="id" @change="onPermitAuthoriserChange">
                <el-option v-for="option in users" :key="option.id" :label="option.name" :value="option.id">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="Description">
              <el-input size="mini" v-model="filters.description" type="text" @change="onChange">
              </el-input>
            </el-form-item>
            <!--<el-form-item label="Contractor">
    <el-select v-model="filters.contractor" filterable clearable placeholder="Select or type a name" value-key="id" @change="onContractorChange">
      <el-option v-for="option in users" :key="option.id" :label="option.name" :value="option.id">
      </el-option>
    </el-select>
  </el-form-item>-->
          </div>
          <div class="col-3">
            <el-form-item label="ATW Number">
              <el-input size="mini" v-model="filters.friendlyId" type="text" @change="onFriendlyIdChange">
              </el-input>
            </el-form-item>
            <el-form-item label="Tag Number">
              <el-input size="mini" v-model="filters.tagNumber" type="text" @change="onTagNumberChange">
              </el-input>
            </el-form-item>
            <el-form-item label="Lockbox">
              <el-input size="mini" v-model="filters.lockbox" type="text" @change="onLockboxChange">
              </el-input>
            </el-form-item>
          </div>
          <div class="col-2">
            <br />
            <br />
            <br />
            <br />
            <br />
            <el-form-item class="mt-auto mb-0 float-right">
              <el-button type="primary" @click="onSubmit">
                <feather class="mr-1" type="search" width="16" height="16"></feather> Search
              </el-button>
            </el-form-item>
          </div>
        </div>
      </el-form>
      <el-table :data="forms" size="mini" :row-class-name="tableRowClassName" style="width: 100%;" @sort-change="sortChanged" :default-sort="{prop: sort.prop, order: sort.order}" :default-expand-all="false">
        <el-table-column type="expand">
          <template slot-scope="scope">
            <div class="row mb-3">
              <div class="col-8">
                <div class="row">
                  <div class="col-1 text-center" v-for="form in scope.row.linkedForms">
                    <span class="text-uppercase d-inline-block mb-1">
                      {{form.id}}
                    </span><br />
                    <feather :title="form.formId" v-if="isFormPresent(scope.row, form.id)" class="text-dark" type="check-square"></feather>
                    <feather v-else class="text-black-25" type="square"></feather>
                  </div>
                  <div class="col-1 text-center" v-for="permit in scope.row.permits">
                    <span class="text-uppercase d-inline-block mb-1">
                      {{permit.id}}
                    </span><br />
                    <feather :title="permit.permitId" v-if="isPermitPresent(scope.row, permit.id)" class="text-dark" type="check-square"></feather>
                    <feather v-else class="text-black-25" type="square"></feather>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="row">
                </div>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="Form" width="80" sortable="custom" prop="friendlyId">
          <template slot-scope="scope">
            <router-link :to="{ name: scope.row.kind.slug + '-form-detail', params: { formType: scope.row.kind.slug, formId: scope.row.id } }">
              <del class="text-black-25" v-if="scope.row.status === 'cancelled'">
                {{ scope.row.friendlyId }}
              </del>
              <span v-else>
                {{ scope.row.friendlyId }}
              </span>
            </router-link>
          </template>
        </el-table-column>
        <el-table-column label="Permit Acceptor" width="130" sortable="custom" prop="createdBy.name">
          <template slot-scope="scope">
            <span></span>{{ scope.row.createdBy.name }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Created" sortable="custom" prop="createdAt" width="95">
          <template slot-scope="scope">
            {{dateFormat(scope.row.createdAt, 'DD/MM/YY')}}
          </template>
        </el-table-column>
        <el-table-column label="Updated" sortable="custom" prop="updatedAt" width="95">
          <template slot-scope="scope">
            {{dateFormat(scope.row.updatedAt, 'DD/MM/YY')}}
          </template>
        </el-table-column>
        <el-table-column label="Stage" width="75" show-overflow-tooltip prop="stage">
          <template slot-scope="scope">
            <span :title="scope.row.stage"> {{ scope.row.stage }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Description" show-overflow-tooltip prop="description">
          <template slot-scope="scope">
            <span :title="scope.row.description"> {{ scope.row.description }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Tag" width="85" show-overflow-tooltip prop="equipmentNumber">
          <template slot-scope="scope">
            <span :title="scope.row.equipmentNumber"> {{ scope.row.equipmentNumber }}</span>
          </template>
        </el-table-column>
        <!-- <el-table-column label="Updated By" sortable="custom" prop="updatedBy.name">
        <template slot-scope="scope">
          {{ scope.row.updatedBy.name }}
        </template>
      </el-table-column> -->
        <el-table-column label="Start" sortable="custom" prop="startDate" width="80">
          <template slot-scope="scope">
            {{dateFormat(scope.row.startDate, 'DD/MM/YY')}}
          </template>
        </el-table-column>
        <el-table-column label="Finish" sortable="custom" prop="endDate" width="80">
          <template slot-scope="scope">
            {{dateFormat(scope.row.endDate, 'DD/MM/YY')}}
          </template>
        </el-table-column>
        <el-table-column label="Opened By Permit Authoriser" width="130" sortable="custom" prop="open.permitAuthoriser.user.name">
          <template slot-scope="scope">
            <span></span>{{ scope.row.open.permitAuthoriser.user.name }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Closed By Permit Authoriser" width="125" sortable="custom" prop="close.permitAuthoriser.user.name">
          <template slot-scope="scope">
            <span></span>{{ scope.row.close.permitAuthoriser.user.name}}</span>
          </template>
        </el-table-column>
        <el-table-column label="Lockbox" width="75">
          <template slot-scope="scope">
            <template v-for="permit in scope.row.permits.filter(x => x.id === 'ISO')">
              <template v-for="extra in permit.extras.filter(x => x.name === 'Lockbox Number')">
                <span>{{ extra.value }}</span>
              </template>
            </template>
          </template>
        </el-table-column>
        <el-table-column label="Status" width="175" sortable="custom" prop="status">
          <template slot-scope="scope">
            <span v-if="scope.row.status === 'approved'" class="status status-sm badge badge-pill badge-success">{{ scope.row.status }}</span>
            <span v-else-if="scope.row.status === 'opened'" class="status status-sm badge badge-pill badge-success">{{ scope.row.status }}</span>
            <span v-else-if="scope.row.status === 'denied'" class="status  status-sm badge badge-pill badge-danger">{{ scope.row.status }}</span>
            <span v-else-if="scope.row.status === 'information required'" class="status status-sm  badge badge-pill badge-warning">info required</span>
            <span v-else-if="scope.row.status === 'cancelled'" class="text-muted status status-sm  badge badge-pill badge-light">{{ scope.row.status }}</span>
            <span v-else-if="scope.row.status === 'closed'" class="text-muted status status-sm  badge badge-pill badge-light">{{ scope.row.status }}</span>
            <span v-else-if="scope.row.status.includes( 'pending')" class="status status-sm badge badge-pill badge-warning">{{ scope.row.status }}</span>
            <span v-else class="status status-sm badge badge-pill badge-info">{{ scope.row.status }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Clone" width="60">
          <template slot-scope="scope">
            <a style="font-weight: 500;" role="button" href="#" class="text-primary btn btn-light mr-3" @click="clone(scope.row.id)">
              <feather type="copy" width="16" height="16"></feather>
            </a>
          </template>
        </el-table-column>
      </el-table>
      <pagination class="mt-3 float-left" :current-page="currentPage" :total-pages="pages.length" :no-more-pages="noMorePages" @pagechanged="onPageChange"></pagination>
    </div>
  </div>
</template>

<script>
import DateFormatter from './../utilities/date-formatter';
import Pagination from './../pagination';
import format from 'date-fns/format';

export default {
  name: 'AuthorityToWorkRegister',
  components: {
    DateFormatter,
    Pagination
  },
  data() {
    return {
      dialogLockboxesVisible: false,
      dialogCloneVisible: false,
      cloneData: {
        sourceFormId: null,
        startDate: null,
        endDate: null,
        linkedForms: []
      },
      lockboxButtonDisabled: true,
      lockboxes: [],
      filters: {
        formType: 'authority-to-work',
        status: 'any',
        startDate: '',
        permitAcceptor: 'any',
        permitAuthoriser: 'any',
        friendlyId: '',
        tagNumber: '',
        lockbox: '',
        description: '',
      },
      toggleExpand: true,
      sort: {
        prop: 'updatedAt',
        order: 'descending'
      },
      cloneRules: {
        workDuration: [
          {
            type: 'array',
            required: true,
            message: 'Please enter work duration',
            trigger: 'change'
          }
        ],
      },
      states: [
        {
          slug: 'any',
          name: 'Any'
        },
        {
          slug: 'draft',
          name: 'Draft'
        },
        {
          slug: 'pending authorisation',
          name: 'Pending Authorisation'
        },
        {
          slug: 'pending open',
          name: 'Pending Open'
        },
        {
          slug: 'opened',
          name: 'Opened'
        },
        {
          slug: 'closed',
          name: 'Closed'
        },
        {
          slug: 'completed',
          name: 'Completed'
        },
        {
          slug: 'cancelled',
          name: 'Cancelled'
        },
        {
          slug: 'denied',
          name: 'Denied'
        },

        {
          slug: 'testing',
          name: 'Testing'
        }
      ],
      users: [],
      forms: [],
      currentPage: 1,
      noMorePages: false,
      pages: [null],
      loading: false,
      pageSize: 20,
      json_fields: {
        'Number': 'friendlyId',
        'Description': 'description',
        'Stage': 'stage',
        'Location': 'physicalLocation',
        'Lockbox': 'lockbox',
        'Shutdown Required': 'shutdownRequired',
        'Equipment Number': 'equipmentNumber',
        'Work Order': 'workOrderNumber',
        'Start': {
          field: 'startDate',
          callback: (value) => {
            return this.dateFormat(value, 'YYYY-MM-DD')
          }
        },
        'End': {
          field: 'endDate',
          callback: (value) => {
            return this.dateFormat(value, 'YYYY-MM-DD')
          }
        },
        'Status': 'status',
        'Permit Acceptor': 'permitAcceptor.name',
        'Permit Authoriser (Open)': 'open.permitAuthoriser.user.name',
        'Permit Authoriser (Close)': 'close.permitAuthoriser.user.name',
        'Isolated By': 'isolation.permitAcceptor.user.name',
        'Deisolated By': 'deisolation.permitAcceptor.user.name',
        'Isolation Markup By': 'isolationMarkup.permitAcceptor.user.name',
        'Principal Contractor': 'principalContractor.name',
        'JSEA': {
          field: 'permits',
          callback: (value) => {
            return value.find(x => x.id == 'JSEA').permitId;
          }
        },
        'ISO': {
          field: 'permits',
          callback: (value) => {
            return value.find(x => x.id == 'ISO').permitId;
          }
        },
        'HW': {
          field: 'permits',
          callback: (value) => {
            return value.find(x => x.id == 'HW').permitId;
          }
        },
        'CSE': {
          field: 'permits',
          callback: (value) => {
            return value.find(x => x.id == 'CSE').permitId;
          }
        },
        'WAH': {
          field: 'permits',
          callback: (value) => {
            return value.find(x => x.id == 'WAH').permitId;
          }
        },
        'GMR': {
          field: 'permits',
          callback: (value) => {
            return value.find(x => x.id == 'GMR').permitId;
          }
        },
        'HV': {
          field: 'permits',
          callback: (value) => {
            return value.find(x => x.id == 'HV').permitId;
          }
        },
        'LV': {
          field: 'permits',
          callback: (value) => {
            return value.find(x => x.id == 'LV').permitId;
          }
        },     
      },
    };
  },

  async created() {
    this.lockboxes = await this.getLockboxes();
    //this.getUserForms(this.pageSize, null, this.filters, this.sort);
    this.users = await this.getUsers();

    this.onPageChange(1);
  },
  methods: {
    tableRowClassName({ row, rowIndex }) {
      if (row.status === 'cancelled') {
        return 'text-black-25';
      }
      return '';
    },
    isPermitPresent(form, type) {
      let permit = form.permits.find(x => x.id === type);

      if (permit === undefined) return false;
      return permit.permitId != '';
    },
    isFormPresent(form, type) {
      let doc = form.linkedForms.find(x => x.id === type);

      if (doc === undefined) return false;
      return doc.formId != '';
    },
    sortChanged(sort) {
      this.sort.prop = sort.prop;
      this.sort.order = sort.order;

      this.getUserForms(this.pageSize, null, this.filters, this.sort);
    },
    dateFormat(date, formatOption) {
      if (!Date.parse(date)) return '';

      return format(Date.parse(date), formatOption);
    },
    clone(id) {
      let form = this.forms.find(x => x.id === id);
      this.cloneData.id = form.id;
      this.cloneData.friendlyId = form.friendlyId;
      this.cloneData.linkedForms = form.linkedForms;
      this.cloneData.description = form.description;

      this.dialogCloneVisible = true;
    },
    cloneForm(cloneData) {
        var self = this;
        this.$refs['form-clone'].validate(async valid => {
          if (valid) {
            try {
              this.loading = true;
              let id = null;
              let response = await this.$http({
                method: 'post',
                url: `/api/forms/authority-to-work/${cloneData.id}/clone`,
                headers: {
                  Authorization: 'Bearer ' + this.$store.getters.accessToken,
                  'Content-Type': 'application/json'
                },
                data: cloneData
              });
              id = response.data.id;
              this.$notify({
                title: 'Success',
                message: response.data.message,
                type: 'success'
              });
              this.$router.push({
                name: 'authority-to-work-form-detail',
                params: { formId: id },
                query: { d: Date.now() }
              });
            } catch (err) {
              this.$notify({
                title: 'Warning',
                message: err.response.data.message,
                type: 'warning'
              });
            } finally {
              this.loading = false;
            }
          } else {
            return false;
          }
        });
    },
    async getLockboxes() {
      try {
        this.lockboxButtonDisabled = true;
        let response = await this.$http({
          method: 'get',
          url: `/api/admin/forms/lockboxes`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        return response.data;
      } catch (err) {
        console.log(err);
      } finally {
        this.lockboxButtonDisabled = false;
      }
    },
    async downloadForms() {
      try {
        this.loading = true;
        let response = await this.$http({
          method: 'get',
          url: `/api/forms/${this.filters.formType}/download`,
          params: {
            status: this.filters.status,
            friendlyId: this.filters.friendlyId,
            startDate: this.filters.startDate,
            endDate: this.filters.endDate,
            permitAcceptor: this.filters.permitAcceptor,
            permitAuthoriser: this.filters.permitAuthoriser,
            tagNumber: this.filters.tagNumber,
            lockbox: this.filters.lockbox,
            description: this.filters.description,
            sortBy: this.sort.prop,
            orderBy: this.sort.order
          },
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        return response.data;

      } catch (err) {
        console.log(err);
      } finally {
        this.loading = false;
      }
    },
    async getUserForms(
      pageSize = 20,
      token = null,
      filters = {
        formType: 'authority-to-work',
        status: 'any',
        startDate: null,
        endDate: null,
        permitAcceptor: 'any',
        permitAuthoriser: 'any',
        friendlyId: null,
        tagNumber: null,
        lockbox: null,
        description: null
      },
      sort = { prop: 'updatedAt', order: 'descending' }
    ) {
      if (token === null) {
        this.pages = [null];
        this.currentPage = 1;
      }

      try {
        this.loading = true;
        let response = await this.$http({
          method: 'get',
          url: `/api/forms/${filters.formType}`,
          params: {
            pageSize: pageSize,
            token: token,
            status: filters.status,
            friendlyId: filters.friendlyId,
            startDate: filters.startDate,
            endDate: filters.endDate,
            permitAcceptor: filters.permitAcceptor,
            permitAuthoriser: filters.permitAuthoriser,
            tagNumber: filters.tagNumber,
            lockbox: filters.lockbox,
            description: filters.description,
            sortBy: sort.prop,
            orderBy: sort.order
          },
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        this.forms = response.data.data;
        if (response.data.nextPageToken) {
          this.pages.push(response.data.nextPageToken);
        }

        this.noMorePages = !response.data.hasMoreData;
      } catch (err) {
        console.log(err);
      } finally {
        this.loading = false;
      }
    },
    async onPageChange(page) {
      this.currentPage = page;

      await this.getUserForms(
        this.pageSize,
        this.pages[page - 1],
        this.filters,
        this.sort
      );
    },
    async getUsers() {
      try {
        let response = await this.$http({
          method: 'get',
          url: `/api/users/`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        return response.data;
      } catch (err) {
        console.log(err);
      }
    },
    async onSubmit() {
      await this.getUserForms(this.pageSize, null, this.filters, this.sort);
    },
    async onChange(value) {
      await this.getUserForms(this.pageSize, null, this.filters, this.sort);
    },
    async onFormTypeChange(value) {
      await this.getUserForms(this.pageSize, null, this.filters, this.sort);
    },
    async onStatusChange(value) {
      await this.getUserForms(this.pageSize, null, this.filters, this.sort);
    },
    async onStartDateChange(value) {
      await this.getUserForms(this.pageSize, null, this.filters, this.sort);
    },
    async onEndDateChange(value) {
      await this.getUserForms(this.pageSize, null, this.filters, this.sort);
    },
    async onPermitAcceptorChange(value) {
      await this.getUserForms(this.pageSize, null, this.filters, this.sort);
    },
    async onPermitAuthoriserChange(value) {
      await this.getUserForms(this.pageSize, null, this.filters, this.sort);
    },
    async onFriendlyIdChange(value) {
      await this.getUserForms(this.pageSize, null, this.filters, this.sort);
    },
    async onTagNumberChange(value) {
      await this.getUserForms(this.pageSize, null, this.filters, this.sort);
    },
    async onLockboxChange(value) {
      await this.getUserForms(this.pageSize, null, this.filters, this.sort);
    }
  }
};
</script>

