<template>
</template>

<script>
export default {
  name: 'FindFormByFriendlyId',
  created() {
    this.getForm(this.$route.params.friendlyId);
  },
  methods: {
    async getForm(friendlyId) {
      try {
        let response = await this.$http({
          method: 'get',
          url: `/api/forms/find-by-friendly-id/${friendlyId}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        let form = response.data;

        this.$router.push({
          name: `${form.kind.slug}-form-detail`,
          params: { formId: form.id }
        });
      } catch (err) {
        console.log(err);
      } finally {
      }
    }
  }
};
</script>

<style scoped>
</style>
