<template>
  <div class="row mt-3">
    <div class="col-3 text-right pr-5 pt-3">
      <h6 class="text-secondary text-uppercase">{{formLink.name}}</h6>
    </div>
    <div class="col-4 bg-light px-4 py-3">
      <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Completed</h6>
      <p class="d-inline mr-5">
        <feather v-if="formLink.completed" type="check-square" width="14" height="14" class="mr-2"></feather>
        <feather v-if="!formLink.completed" type="square" width="14" height="14" class="mr-2"></feather> Yes
      </p>
      <p class="d-inline mr-5">
        <feather v-if="formLink.completed" type="square" width="14" height="14" class="mr-2"></feather>
        <feather v-if="!formLink.completed" type="check-square" width="14" height="14" class="mr-2"></feather> No
      </p>
    </div>
    <div v-if="!formLink.completed" class="col-5 bg-light px-4 py-3">
      <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Reason (If No)</h6>
      <p class="d-inline">{{formLink.reason}}</p>
    </div>
    <div v-if="formLink.completed" class="col-5 bg-light px-4 py-3">
      <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Document Number</h6>
      <p class="d-inline">
        <template v-if="form">
          <router-link :to="{ name: form.kind.slug + '-form-detail', params: { formType: form.kind.slug, formId: form.id } }">
            {{ formLink.formId }}
          </router-link>
        </template>
        <template v-else>
          <span>
            {{ formLink.formId }}
          </span>
        </template>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: null
    };
  },
  props: {
    formLink: {
      required: true
    }
  },
  created() {
    this.getForm();
  },
  methods: {
    async getForm() {
      try {
        let response = await this.$http({
          method: 'get',
          url: `/api/forms/find-by-friendly-id/${this.formLink.formId}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        this.form = response.data;
      } catch (err) {
        console.log(err);
      } finally {
      }
    }
  }
};
</script>

<style>
</style>
