<h3 class="mb-1">
  {{form.friendlyId}}
  <span v-if="form.status === 'approved'"
        class="float-right status badge badge-pill badge-success">{{ form.status }}</span>
  <span v-else-if="form.status === 'denied'"
        class="float-right status badge badge-pill badge-danger">{{ form.status }}</span>
  <span v-else-if="form.status === 'cancelled'"
        class="text-muted float-right status badge badge-pill badge-light">{{ form.status }}</span>
  <span v-else-if="form.status === 'information required'"
        class="float-right status badge badge-pill badge-warning">{{ form.status }}</span>
  <span v-else
        class="float-right status badge badge-pill badge-info">{{ form.status }}</span>
</h3>
<h5 class="text-secondary text-uppercase mt-0">Plant Entry Request</h5>
<div class="row">
  <div class="col-6">
    <div class="row mb-1"
         v-if="form.approvers"
         v-for="(approver, index) in form.approvers.filter(x => x.message)"
         :key="index">
      <div class="col-3 text-right">
        Approver Comment
      </div>
      <div class="col-9 text-left text-danger">
        {{approver.user.name}}: {{ approver.message }}
      </div>
    </div>
    <template v-if="requestType">
      <!-- <h6 class="mt-2 text-uppercase mb-0">{{requestType.name}}</h6> -->
      <!-- <h6 class="text-muted mt-2 text-uppercase mt-0">{{requestType.length.value}} {{requestType.length.timeUnit}} Access</h6> -->
    </template>

  </div>

  <!-- Author And Dates -->
  <div class="col-6">
    <div class="row mb-1">
      <div class="col-8 text-right">
        Requested By
      </div>
      <div class="col-4 text-left">
        {{ form.createdBy.name }}
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-8 text-right">
        Requested
      </div>
      <div class="col-4 text-left">
        {{dateFormat(form.createdAt, 'DD/MM/YYYY')}}
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-8 text-right">
        Last Updated
      </div>
      <div class="col-4 text-left">
        {{dateFormat(form.updatedAt, 'DD/MM/YYYY')}}
      </div>
    </div>
  </div>
</div>
