<template>
  <div v-loading="loading" class="card shadow-sm">
    <div class="card-body">
      <h2>PER/PWR Register
        <div class="dropdown d-inline float-right">
          <button style="font-weight: 500;" role="button" href="#" class="text-primary btn btn-light mr-3">
            <download-excel :fetch="downloadForms" type="csv" name="per_pwr_register.csv" :fields="json_fields">
              <feather class="mr-1" type="download" width="16" height="16"></feather> Export
            </download-excel>
          </button>
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            New Form
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="width: 200px; max-width: 200px;">
            <router-link class="nav-link" :to="{name: 'plant-entry-request-create'}">Plant Entry Request</router-link>
            <router-link class="nav-link" :to="{name: 'plant-works-request-create'}">Plant Works Request</router-link>
          </div>
        </div>
      </h2>
      <el-form ref="form" :inline="true" :model="filters" size="mini" label-width="90px" class="border rounded pt-4 pr-3 my-4 shadow-sm">
        <div class="row">
          <div class="col-3">
            <el-form-item label="Form Type">
              <el-select size="mini" v-model="filters.formType" placeholder="Select Form Type" @change="onFormTypeChange">
                <el-option v-for="item in formTypes" :key="item.slug" :label="item.name" :value="item.slug">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="Status">
              <el-select size="mini" v-model="filters.status" placeholder="Select Status" @change="onStatusChange">
                <el-option v-for="item in states" :key="item.slug" :label="item.name" :value="item.slug">
                </el-option>
              </el-select>
            </el-form-item>
          </div>
          <div class="col-3">
            <el-form-item label="Start" label-width="60px">
              <el-date-picker size="mini" v-model="filters.startDate" type="daterange" range-separator="-" start-placeholder="From" end-placeholder="To" @change="onStartDateChange">
              </el-date-picker>
            </el-form-item>
            <el-form-item label="Finish" label-width="60px">
              <el-date-picker size="mini" v-model="filters.endDate" type="daterange" range-separator="-" start-placeholder="From" end-placeholder="To" @change="onEndDateChange">
              </el-date-picker>
            </el-form-item>
          </div>
          <div class="col-3">
            <el-form-item label="Description">
              <el-input size="mini" v-model="filters.description" type="text" @change="onChange">
              </el-input>
            </el-form-item>
            <el-form-item label="PER Visitor">
              <el-input size="mini" v-model="filters.visitor" type="text" @change="onChange">
              </el-input>
            </el-form-item>
          </div>
          <div class="col-3">
            <el-form-item label="Company">
              <el-input size="mini" v-model="filters.company" type="text" @change="onChange">
              </el-input>
            </el-form-item>
            <el-form-item class="mt-auto mb-0 float-right">
              <el-button type="primary" @click="onSubmit">
                <feather class="mr-1" type="search" width="16" height="16"></feather> Search
              </el-button>
            </el-form-item>
          </div>
        </div>
        

      </el-form>

      <el-table :data="forms" size="mini" :row-class-name="tableRowClassName" style="width: 100%;" @sort-change="sortChanged" :default-sort="{prop: sort.prop, order: sort.order}">
        <el-table-column label="Form" width="150" sortable="custom" prop="friendlyId">
          <template slot-scope="scope">
            <router-link :to="{ name: scope.row.kind.slug + '-form-detail', params: { formType: scope.row.kind.slug, formId: scope.row.id } }">
              <del class="text-black-25" v-if="scope.row.status === 'cancelled'">
                {{ scope.row.friendlyId }}
              </del>
              <span v-else>
                {{ scope.row.friendlyId }}
              </span>
            </router-link>
          </template>
        </el-table-column>
        <el-table-column label="Type" width="60" prop="requestType">

        </el-table-column>
        <el-table-column label="Description" width="200" show-overflow-tooltip prop="description">
          <template slot-scope="scope">
            <span :title="scope.row.description"> {{ scope.row.description }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Created By" sortable="custom" prop="createdBy.name">
          <template slot-scope="scope">
            <span>{{ scope.row.createdBy.name }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Created" sortable="custom" prop="createdAt">
          <template slot-scope="scope">
            <date-formatter class="text-black-50" :date="scope.row.createdAt"></date-formatter>
          </template>
        </el-table-column>
        <!-- <el-table-column label="Updated By" sortable="custom" prop="updatedBy.name">
          <template slot-scope="scope">
            {{ scope.row.updatedBy.name }}
          </template>
        </el-table-column> -->
        <el-table-column label="Last Updated" sortable="custom" prop="updatedAt">
          <template slot-scope="scope">
            <date-formatter class="text-black-50" :date="scope.row.updatedAt"></date-formatter>
          </template>
        </el-table-column>
        <el-table-column label="Start" sortable="custom" prop="startDate" width="90">
          <template slot-scope="scope">
            {{dateFormat(scope.row.startDate, 'DD/MM/YYYY')}}
          </template>
        </el-table-column>
        <el-table-column label="Finish" sortable="custom" prop="endDate" width="90">
          <template slot-scope="scope">
            {{dateFormat(scope.row.endDate, 'DD/MM/YYYY')}}
          </template>
        </el-table-column>
        <el-table-column label="OM *" width="55" title="Operations Manager Approval" align="center">
          <template slot-scope="scope" v-if="scope.row.approvers.find(x => x.role.id === 'paperwork_operations_manager') !== undefined">
            <feather class="text-dark" type="check-square" v-if="scope.row.approvers.find(x => x.role.id === 'paperwork_operations_manager').isApproved === true || false"></feather>
            <feather class="text-dark" type="x-square" v-else-if="scope.row.approvers.find(x => x.role.id === 'paperwork_operations_manager').isApproved === false || false"></feather>
            <feather class="text-black-25" type="square" v-else-if="scope.row.approvers.find(x => x.role.id === 'paperwork_operations_manager').isApproved === null || false"></feather>
            <feather v-else class="text-black-25" type="square"></feather>
          </template>
        </el-table-column>
        <el-table-column label="MM *" width="55" title="Maintenance Manager Approval" align="center">
          <template slot-scope="scope" v-if="scope.row.approvers.find(x => x.role.id === 'paperwork_maintenance_manager') !== undefined">
            <feather class="text-dark" type="check-square" v-if="scope.row.approvers.find(x => x.role.id === 'paperwork_maintenance_manager').isApproved === true || false"></feather>
            <feather class="text-dark" type="x-square" v-else-if="scope.row.approvers.find(x => x.role.id === 'paperwork_maintenance_manager').isApproved === false || false"></feather>
            <feather class="text-black-25" type="square" v-else-if="scope.row.approvers.find(x => x.role.id === 'paperwork_maintenance_manager').isApproved === null || false"></feather>
            <feather v-else class="text-black-25" type="square"></feather>
          </template>
        </el-table-column>
        <el-table-column label="AM *" width="55" title="Alliance Manager Approval" align="center">
          <template slot-scope="scope" v-if="scope.row.approvers.find(x => x.role.id === 'paperwork_alliance_manager') !== undefined">
            <feather class="text-dark" type="check-square" v-if="scope.row.approvers.find(x => x.role.id === 'paperwork_alliance_manager').isApproved === true || false"></feather>
            <feather class="text-dark" type="x-square" v-else-if="scope.row.approvers.find(x => x.role.id === 'paperwork_alliance_manager').isApproved === false || false"></feather>
            <feather class="text-black-25" type="square" v-else-if="scope.row.approvers.find(x => x.role.id === 'paperwork_alliance_manager').isApproved === null || false"></feather>
            <feather v-else class="text-black-25" type="square"></feather>
          </template>
        </el-table-column>
        <el-table-column label="Status" width="175" sortable="custom" prop="status">
          <template slot-scope="scope">
            <span v-if="scope.row.status === 'approved'" class="status status-sm badge badge-pill badge-success">{{ scope.row.status }}</span>
            <span v-else-if="scope.row.status === 'open'" class="status status-sm badge badge-pill badge-success">{{ scope.row.status }}</span>
            <span v-else-if="scope.row.status === 'denied'" class="status  status-sm badge badge-pill badge-danger">{{ scope.row.status }}</span>
            <span v-else-if="scope.row.status === 'information required'" class="status status-sm  badge badge-pill badge-warning">info required</span>
            <span v-else-if="scope.row.status === 'cancelled'" class="text-muted status status-sm  badge badge-pill badge-light">{{ scope.row.status }}</span>
            <span v-else-if="scope.row.status.includes( 'pending')" class="status status-sm badge badge-pill badge-warning">{{ scope.row.status }}</span>
            <span v-else class="status status-sm badge badge-pill badge-info">{{ scope.row.status }}</span>
          </template>
        </el-table-column>
      </el-table>
      <pagination class="mt-3 float-left" :current-page="currentPage" :total-pages="pages.length" :no-more-pages="noMorePages" @pagechanged="onPageChange"></pagination>
      <div class="mt-3 float-right text-muted">
        <small>
          <strong>* OM</strong> = Operations Manager Approval<br /></small>
        <small>
          <strong>* MM</strong> = Maintenance Manager Approval<br /></small>
        <small>
          <strong>* AM</strong> = Alliance Manager Approval<br /></small>
      </div>
    </div>
  </div>
</template>

<script>
import DateFormatter from './../utilities/date-formatter';
import Pagination from './../pagination';
import format from 'date-fns/format';

export default {
  name: 'Form',
  components: {
    DateFormatter,
    Pagination
  },
  data() {
    return {
      filters: {
        formType: 'any',
        status: 'any',
        startDate: '',
        description: '',
        visitor: '',
        company: ''
      },
      sort: {
        prop: 'updatedAt',
        order: 'descending'
      },
      formTypes: [
        {
          slug: 'any',
          name: 'Any'
        },
        {
          slug: 'plant-entry-request',
          name: 'Plant Entry Request'
        },
        {
          slug: 'plant-works-request',
          name: 'Plant Works Request'
        }
      ],
      states: [
        {
          slug: 'any',
          name: 'Any'
        },
        {
          slug: 'approved',
          name: 'Approved'
        },
        {
          slug: 'cancelled',
          name: 'Cancelled'
        },
        {
          slug: 'closed',
          name: 'Closed'
        },
        {
          slug: 'completed',
          name: 'Completed'
        },
        {
          slug: 'denied',
          name: 'Denied'
        },

        {
          slug: 'draft',
          name: 'Draft'
        },
        {
          slug: 'open',
          name: 'Open'
        },
        {
          slug: 'pending approval',
          name: 'Pending Approval'
        },

        {
          slug: 'testing',
          name: 'Testing'
        }
      ],
      forms: [],
      currentPage: 1,
      noMorePages: false,
      pages: [null],
      loading: false,
      pageSize: 20,
      json_fields: {
        'Number': 'friendlyId',
        'PER/PWR': 'kind.code',
        'Request Type': 'requestType',
        'Description': 'description',
        'Start': {
          field: 'startDate',
          callback: (value) => {
            return this.dateFormat(value, 'YYYY-MM-DD')
          }
        },
        'End': {
          field: 'endDate',
          callback: (value) => {
            return this.dateFormat(value, 'YYYY-MM-DD')
          }
        },
        'Visitors': {
          field: 'visitors',
          callback: (value) => {
            if (Array.isArray(value)) {
              return value.map(x => {
                if (x.name) {
                  return x.name + " (" + x.company + ")";
                }
              }).join("\n");
            }
          }
        },
        'Plant Host': {
          field: 'host',
          callback: (value) => {
            if (value) {
              return value.name + " (" + value.contactNumber + ")";
            }
          }
        },
        "Swipe Card Access": {
          field: 'swipeCardAccess.areas',
          callback: (value) => {
            if (Array.isArray(value)) {
              return value.join(", ");
            }
          }
        },
        "Plant Areas Attended": {
          field: 'plantAccess.areas',
          callback: (value) => {
            if (Array.isArray(value)) {
              return value.join(", ");
            }
          }
        },
        "Vehicle Access": {
          field: 'vehicleAccess',
          callback: (value) => {
            if (value && value.registrationNumber) {
              return value.registrationNumber + " (" + value.cardAuthorisationNumber + ")";
            }
          }
        },
        "Awareness Training": {
          field: 'awarenessTraining',
          callback: (value) => {
            if (Array.isArray(value)) {
              return value.join(", ");
            }
          }
        },
        "Works Location": {
          field: "physicalLocation"
        },
        "Principal Contractor": {
          field: "principalContractor"
        },
        "Request Reason": {
          field: "requestReason"
        },
        "Shift Information": {
          field: "shiftInformation",
          callback: (value) => {
            if (Array.isArray(value)) {
              return value.map(x => { return x.label + ": " + x.startTime + " - " + x.finishTime; }).join("\n");
            }
          }
        },
        "Additional Requirements": {
          field: "additionalRequirements",
          callback: (value) => {
            if (Array.isArray(value)) {
              return value.map(x => { return x.label + ": " + x.notes; }).join("\n");
            }
          }
        },
        'Status': 'status'
      },
    };
  },

  created() {
    //this.getUserForms(this.pageSize, null, this.filters, this.sort);

    this.onPageChange(1);
  },

  methods: {
    tableRowClassName({ row, rowIndex }) {
      if (row.status === 'cancelled') {
        return 'text-black-25';
      }
      return '';
    },
    sortChanged(sort) {
      this.sort.prop = sort.prop;
      this.sort.order = sort.order;

      this.getUserForms(this.pageSize, null, this.filters, this.sort);
    },
    dateFormat(date, formatOption) {
      if (!Date.parse(date)) return '';

      return format(Date.parse(date), formatOption);
    },
    async getUserForms(
      pageSize = 20,
      token = null,
      filters = {
        formType: 'any',
        status: 'any',
        startDate: null,
        endDate: null,
        description: null,
        visitor: null,
        company: null
      },
      sort = { prop: 'updatedAt', order: 'descending' }
    ) {
      if (token === null) {
        this.pages = [null];
        this.currentPage = 1;
      }

      try {
        this.loading = true;
        let response = await this.$http({
          method: 'get',
          url: `/api/forms/${filters.formType}`,
          params: {
            pageSize: pageSize,
            token: token,
            status: filters.status,
            startDate: filters.startDate,
            endDate: filters.endDate,
            description: filters.description,
            visitor: filters.visitor,
            company: filters.company,
            sortBy: sort.prop,
            orderBy: sort.order
          },
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        this.forms = response.data.data;
        if (response.data.nextPageToken) {
          this.pages.push(response.data.nextPageToken);
        }

        this.noMorePages = !response.data.hasMoreData;
      } catch (err) {
        console.log(err);
      } finally {
        this.loading = false;
      }
    },
    async downloadForms() {
      try {
        this.loading = true;
        let response = await this.$http({
          method: 'get',
          url: `/api/forms/${this.filters.formType}/download`,
          params: {
            status: this.filters.status,
            formType: this.filters.formType,
            startDate: this.filters.startDate,
            endDate: this.filters.endDate,
            description: this.filters.description,
            visitor: this.filters.visitor,
            company: this.filters.company
          },
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        return response.data;

      } catch (err) {
        console.log(err);
      } finally {
        this.loading = false;
      }
    },
    async onPageChange(page) {
      this.currentPage = page;

      await this.getUserForms(
        this.pageSize,
        this.pages[page - 1],
        this.filters,
        this.sort
      );
    },
    async onSubmit() {
      await this.getUserForms(this.pageSize, null, this.filters, this.sort);
    },
    async onChange(value) {
      await this.getUserForms(this.pageSize, null, this.filters, this.sort);
    },
    async onFormTypeChange(value) {
      await this.getUserForms(this.pageSize, null, this.filters, this.sort);
    },
    async onStatusChange(value) {
      await this.getUserForms(this.pageSize, null, this.filters, this.sort);
    },
    async onStartDateChange(value) {
      await this.getUserForms(this.pageSize, null, this.filters, this.sort);
    },
    async onEndDateChange(value) {
      await this.getUserForms(this.pageSize, null, this.filters, this.sort);
    }
  }
};
</script>

