<template>

  <div v-loading="loading" class="card shadow-sm">

    <el-dialog :title="'Clone ' + cloneData.friendlyId" :visible.sync="dialogCloneVisible">
      <el-form ref="form-clone" :model="cloneData" :rules="cloneRules" label-width="240px">
        <el-form-item label="Description">
          <p class="text-secondary">{{ cloneData.description }}</p>
        </el-form-item>
        <el-form-item label="New Start and End" prop="workDuration">
          <el-date-picker size="mini" v-model="cloneData.workDuration" type="daterange" align="right" unlink-panels range-separator="To" start-placeholder="Start" end-placeholder="End">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="Also Clone">
          <el-form-item v-for="(linkedForm, index) in cloneData.linkedForms" :key="index">
            <el-checkbox v-model="linkedForm.clone" :id="linkedForm.id" :checked="true">{{linkedForm.id}}</el-checkbox>
          </el-form-item>
        </el-form-item>

        <el-form-item>
          <p class="text-danger">* All cloned forms will be created as a <strong>Draft</strong>. You must <strong>check and submit</strong> all clonded ATWs, PERs, and PWRs for approval / authorisation.</p>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogCloneVisible=false">Cancel</el-button>
        <!--<el-button type="primary" @click="cloneForm(cloneData)">Clone</el-button>-->
      </span>
    </el-dialog>

    <div class="card-body">
      <h2>
        Isolation Permit Template Register
        <div class="dropdown d-inline float-right">
          <button style="font-weight: 500;" role="button" href="#" class="text-primary btn btn-light mr-3">
            <download-excel :fetch="downloadForms" type="csv" name="iso_template_register.csv" :fields="json_fields">
              <feather class="mr-1" type="download" width="16" height="16"></feather> Export
            </download-excel>
          </button>
          <router-link :to="{name: 'isolation-permit-template-create'}">
            <button class="btn btn-secondary">
              <feather class="mr-1" type="plus" width="16" height="16"></feather>
              <span>New Template</span>
            </button>
          </router-link>
        </div>
      </h2>
      <el-form ref="form" :inline="true" :model="filters" size="mini" label-width="130px" class="border rounded pt-4 pr-3 my-4 shadow-sm">
        <div class="row">
          <div class="col-12">
            <div class="d-inline-block">
              <el-form-item label="Level 1" class="col-12" label-width="100px">
                <el-select size="mini" v-model="filters.level1" clearable @change="value => handleLookupChange(1, value)">
                  <el-option v-for="(item, index)  in lookupLevel1Values" :key="index" :label="item" :value="item">
                  </el-option>
                </el-select>
              </el-form-item>
            </div>
            <div class="d-inline-block">
              <el-form-item label="Level 2" class="col-12" label-width="100px">
                <el-select size="mini" v-model="filters.level2" clearable @change="value => handleLookupChange(2, value)">
                  <el-option v-for="(item, index) in lookupLevel2Values" :key="index" :label="item" :value="item">
                  </el-option>
                </el-select>
              </el-form-item>
            </div>
            <div class="d-inline-block">
              <el-form-item label="Level 3" class="col-12" label-width="100px">
                <el-select type="text" size="mini" v-model="filters.level3" clearable @change="value => handleLookupChange(3, value)">
                  <el-option v-for="(item, index)  in lookupLevel3Values" :key="index" :label="item" :value="item">
                  </el-option>
                </el-select>
              </el-form-item>
            </div>
            <div class="d-inline-block">
              <!--<el-form-item :label="'Templates (' + templateValues.length + ')'" class="col-12" label-width="120px">
                <el-select type="text" size="mini" v-model="selectedTemplate" clearable @change="value => handleLookupChange(4, value)">
                  <el-option v-for="(item, index)  in templateValues" :key="index" :label="item.name" :value="item.id">
                  </el-option>
                </el-select>
              </el-form-item>-->
            </div>
            <div class="d-inline-block">
              <el-form-item class="col-12">
                <el-button type="primary" @click="onSubmit">
                  <feather class="mr-1" type="search" width="16" height="16"></feather> Search
                </el-button>
              </el-form-item>
            </div>
          </div>
        </div>
      </el-form>
      <el-table :data="forms" size="mini" :row-class-name="tableRowClassName" style="width: 100%;" @sort-change="sortChanged" :default-sort="{prop: sort.prop, order: sort.order}" :default-expand-all="false">
        <el-table-column label="Template" width="300" sortable="custom" prop="lookup.name">
          <template slot-scope="scope">
            <router-link :to="{ name: scope.row.kind.slug + '-template-edit', params: { formType: scope.row.kind.slug, formId: scope.row.id } }">
              <del class="text-black-25" v-if="scope.row.status === 'cancelled'">
                {{ scope.row.lookup.name }}
              </del>
              <span v-else>
                {{ scope.row.lookup.name }}
              </span>
            </router-link>
          </template>
        </el-table-column>
        <el-table-column label="Linked Tag" show-overflow-tooltip prop="equipmentNumber">
          <template slot-scope="scope">
            <span :title="scope.row.equipmentNumber"> {{ scope.row.equipmentNumber }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Level 1" show-overflow-tooltip prop="lookup.level1">
          <template slot-scope="scope">
            <span :title="scope.row.lookup.level1"> {{ scope.row.lookup.level1 }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Level 2" show-overflow-tooltip prop="lookup.level2">
          <template slot-scope="scope">
            <span :title="scope.row.lookup.level2"> {{ scope.row.lookup.level2 }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Level 3" show-overflow-tooltip prop="lookup.level3">
          <template slot-scope="scope">
            <span :title="scope.row.lookup.level3"> {{ scope.row.lookup.level3 }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Created" sortable="custom" prop="createdAt" width="95">
          <template slot-scope="scope">
            {{dateFormat(scope.row.createdAt, 'DD/MM/YY')}}
          </template>
        </el-table-column>
        <el-table-column label="Updated" sortable="custom" prop="updatedAt" width="95">
          <template slot-scope="scope">
            {{dateFormat(scope.row.updatedAt, 'DD/MM/YY')}}
          </template>
        </el-table-column>
        <!--<el-table-column label="Status" width="175" sortable="custom" prop="status">
    <template slot-scope="scope">
      <span v-if="scope.row.status === 'approved'" class="status status-sm badge badge-pill badge-success">{{ scope.row.status }}</span>
      <span v-else-if="scope.row.status === 'opened'" class="status status-sm badge badge-pill badge-success">{{ scope.row.status }}</span>
      <span v-else-if="scope.row.status === 'denied'" class="status  status-sm badge badge-pill badge-danger">{{ scope.row.status }}</span>
      <span v-else-if="scope.row.status === 'information required'" class="status status-sm  badge badge-pill badge-warning">info required</span>
      <span v-else-if="scope.row.status === 'cancelled'" class="text-muted status status-sm  badge badge-pill badge-light">{{ scope.row.status }}</span>
      <span v-else-if="scope.row.status === 'closed'" class="text-muted status status-sm  badge badge-pill badge-light">{{ scope.row.status }}</span>
      <span v-else-if="scope.row.status.includes( 'pending')" class="status status-sm badge badge-pill badge-warning">{{ scope.row.status }}</span>
      <span v-else class="status status-sm badge badge-pill badge-info">{{ scope.row.status }}</span>
    </template>
  </el-table-column>-->
        <!--<el-table-column label="Clone" width="60">
    <template slot-scope="scope">
      <a style="font-weight: 500;" role="button" href="#" class="text-primary btn btn-light mr-3" @click="clone(scope.row.id)">
        <feather type="copy" width="16" height="16"></feather>
      </a>
    </template>
  </el-table-column>-->
      </el-table>
      <pagination class="mt-3 float-left" :current-page="currentPage" :total-pages="pages.length" :no-more-pages="noMorePages" @pagechanged="onPageChange"></pagination>
    </div>
  </div>
</template>

<script>
  import DateFormatter from './../utilities/date-formatter';
  import Pagination from './../pagination';
  import format from 'date-fns/format';

  export default {
    name: 'IsolationPermitTemplateReigster',
    components: {
      DateFormatter,
      Pagination
    },
    data() {
      return {
        dialogLockboxesVisible: false,
        dialogCloneVisible: false,
        loadedTemplates: [],
        cloneData: {
          sourceFormId: null,
          startDate: null,
          endDate: null,
          linkedForms: []
        },
        filters: {
          name: '',
          level1: '',
          level2: '',
          level3: ''
        },
        toggleExpand: true,
        sort: {
          prop: 'updatedAt',
          order: 'descending'
        },
        cloneRules: {
          workDuration: [
            {
              type: 'array',
              required: true,
              message: 'Please enter work duration',
              trigger: 'change'
            }
          ],
        },
        states: [
          {
            slug: 'any',
            name: 'Any'
          },
          {
            slug: 'draft',
            name: 'Draft'
          },
          {
            slug: 'pending authorisation',
            name: 'Pending Authorisation'
          },
          {
            slug: 'pending open',
            name: 'Pending Open'
          },
          {
            slug: 'opened',
            name: 'Opened'
          },
          {
            slug: 'closed',
            name: 'Closed'
          },
          {
            slug: 'completed',
            name: 'Completed'
          },
          {
            slug: 'cancelled',
            name: 'Cancelled'
          },
          {
            slug: 'denied',
            name: 'Denied'
          },

          {
            slug: 'testing',
            name: 'Testing'
          },
          {
            slug: 'template',
            name: 'Template'
          }
        ],
        users: [],
        forms: [],
        currentPage: 1,
        noMorePages: false,
        pages: [null],
        loading: false,
        pageSize: 20,
        json_fields: {
          //'Number': 'friendlyId',
          //'Description': 'description',
          //'Sub Contractor': 'subContractor',
          //"SwitchingProgramNumber": "switchingProgramNumber",
          //'Location': 'physicalLocation',
          //'Lockbox': 'lockbox',
          //"Stage": "stage",
          'Lookup Grouping 1': 'lookup.level1',
          'Lookup Grouping 2': 'lookup.level2',
          'Lookup Grouping 3': 'lookup.level3',
          'Lookup Name': 'lookup.name',
          'Equipment Number': 'equipmentNumber',
          "Isolation Method (Tag | Descr. | Energy Type | As Found State | Isolation State)": {
            field: "isolationMethod",
            callback: (value) => {
              if (Array.isArray(value)) {
                return value.map(x => {
                  return x.step + '. ' +
                    x.tag + ' | ' +
                    x.equipmentDescription + ' | ' +                
                    x.energyType + ' | ' +
                    x.asFoundState + ' | ' +
                    x.isolationState;
                })
                .join('\n');
              }

            }
          },

        },
      };
    },

    async created() {
      //this.lockboxes = await this.getLockboxes();
      //this.getUserForms(this.pageSize, null, this.filters, this.sort);
      await this.getTemplates();

      this.onPageChange(1);
    },
    computed: {
      lookupLevel1Values() {
        if (this.loadedTemplates.length > 0) {
          let templates = this.loadedTemplates
            .map(x => x.level1)
            .sort();

          return [...new Set(templates)];
        }
        else {
          return [];
        }
      },
      lookupLevel2Values() {
        if (this.loadedTemplates.length > 0) {
          if (this.filters.level1) {
            let templates = this.loadedTemplates
              .filter(x => x.level1 == this.filters.level1)
              .map(x => x.level2)
              .sort();

            return [...new Set(templates)];
          }
          else {
            return [];
          }
        }
        else {
          return [];
        }
      },
      lookupLevel3Values() {
         if (this.loadedTemplates.length > 0) {
          if (this.filters.level1 && this.filters.level2) {
            let templates = this.loadedTemplates
              .filter(x => x.level1 == this.filters.level1 && x.level2 == this.filters.level2)
              .map(x => x.level3)
              .sort();

            return [...new Set(templates)];
          }
          else {
            return [];
          }
        }
        else {
          return [];
        }
      },
    },
    methods: {
      async getTemplates() {
        try {
      
          //this.selectLoading = true;
          let response = await this.$http({
            method: 'get',
            url: `/api/form-templates/lookup/isolation-permit`,
            headers: {
              Authorization: 'Bearer ' + this.$store.getters.accessToken
            }
          });

          this.loadedTemplates = response.data;


        } catch (err) {
          console.log(err);
        } finally {

        }
      },
      async handleLookupChange(level, value) {
        if (level == 1) {
          this.filters.level1 = value;
          this.filters.level2 = '';
          this.filters.level3 = '';
        }

        if (level == 2) {
          this.filters.level2 = value;
          this.filters.level3 = '';
        }

        if (level == 3) {
          this.filters.level3 = value;
        }
      },
      tableRowClassName({ row, rowIndex }) {
        if (row.status === 'cancelled') {
          return 'text-black-25';
        }
        return '';
      },

      isPermitPresent(form, type) {
        let permit = form.permits.find(x => x.id === type);

        if (permit === undefined) return false;
        return permit.permitId != '';
      },
      isFormPresent(form, type) {
        let doc = form.linkedForms.find(x => x.id === type);

        if (doc === undefined) return false;
        return doc.formId != '';
      },
      sortChanged(sort) {
        this.sort.prop = sort.prop;
        this.sort.order = sort.order;

        this.getUserForms(this.pageSize, null, this.filters, this.sort);
      },
      dateFormat(date, formatOption) {
        if (!Date.parse(date)) return '';

        return format(Date.parse(date), formatOption);
      },
      clone(id) {
        let form = this.forms.find(x => x.id === id);
        this.cloneData.id = form.id;
        this.cloneData.friendlyId = form.friendlyId;
        this.cloneData.linkedForms = form.linkedForms;
        this.cloneData.description = form.description;

        this.dialogCloneVisible = true;
      },
      cloneForm(cloneData) {
        var self = this;
        this.$refs['form-clone'].validate(async valid => {
          if (valid) {
            try {
              this.loading = true;
              let id = null;
              let response = await this.$http({
                method: 'post',
                url: `/api/forms/authority-to-work/${cloneData.id}/clone`,
                headers: {
                  Authorization: 'Bearer ' + this.$store.getters.accessToken,
                  'Content-Type': 'application/json'
                },
                data: cloneData
              });
              id = response.data.id;
              this.$notify({
                title: 'Success',
                message: response.data.message,
                type: 'success'
              });
              this.$router.push({
                name: 'authority-to-work-form-detail',
                params: { formId: id },
                query: { d: Date.now() }
              });
            } catch (err) {
              this.$notify({
                title: 'Warning',
                message: err.response.data.message,
                type: 'warning'
              });
            } finally {
              this.loading = false;
            }
          } else {
            return false;
          }
        });
      },
      async getLockboxes() {
        try {
          this.lockboxButtonDisabled = true;
          let response = await this.$http({
            method: 'get',
            url: `/api/admin/forms/lockboxes`,
            headers: {
              Authorization: 'Bearer ' + this.$store.getters.accessToken
            }
          });

          return response.data;
        } catch (err) {
          console.log(err);
        } finally {
          this.lockboxButtonDisabled = false;
        }
      },
      async downloadForms() {
        try {
          this.loading = true;
          let response = await this.$http({
            method: 'get',
            url: `/api/form-templates/download`,
            params: {
              status: this.filters.name,
              friendlyId: this.filters.level1,
              startDate: this.filters.level2,
              sortBy: this.sort.prop,
              orderBy: this.sort.order
            },
            headers: {
              Authorization: 'Bearer ' + this.$store.getters.accessToken
            }
          });

          return response.data;

        } catch (err) {
          console.log(err);
        } finally {
          this.loading = false;
        }
      },
      async getUserForms(
        pageSize = 20,
        token = null,
        filters = {
          name: '',
          level1: '',
          level2: '',
          level3: ''
        },
        sort = { prop: 'updatedAt', order: 'descending' }
      ) {
        if (token === null) {
          this.pages = [null];
          this.currentPage = 1;
        }

        try {
          this.loading = true;
          let response = await this.$http({
            method: 'get',
            url: `/api/form-templates/`,
            params: {
              pageSize: pageSize,
              token: token,
              name: filters.name,
              level1: filters.level1,
              level2: filters.level2,
              level3: filters.level3,
              sortBy: sort.prop,
              orderBy: sort.order
            },
            headers: {
              Authorization: 'Bearer ' + this.$store.getters.accessToken
            }
          });

          this.forms = response.data.data;
          if (response.data.nextPageToken) {
            this.pages.push(response.data.nextPageToken);
          }

          this.noMorePages = !response.data.hasMoreData;
        } catch (err) {
          console.log(err);
        } finally {
          this.loading = false;
        }
      },
      async onPageChange(page) {
        this.currentPage = page;

        await this.getUserForms(
          this.pageSize,
          this.pages[page - 1],
          this.filters,
          this.sort
        );
      },
      async getUsers() {
        try {
          let response = await this.$http({
            method: 'get',
            url: `/api/users/`,
            headers: {
              Authorization: 'Bearer ' + this.$store.getters.accessToken
            }
          });

          return response.data;
        } catch (err) {
          console.log(err);
        }
      },
      async onSubmit() {
        await this.getUserForms(this.pageSize, null, this.filters, this.sort);
      },
      async onChange(value) {
        await this.getUserForms(this.pageSize, null, this.filters, this.sort);
      },
      async onFormTypeChange(value) {
        await this.getUserForms(this.pageSize, null, this.filters, this.sort);
      },
      async onStatusChange(value) {
        await this.getUserForms(this.pageSize, null, this.filters, this.sort);
      },
      async onStartDateChange(value) {
        await this.getUserForms(this.pageSize, null, this.filters, this.sort);
      },
      async onEndDateChange(value) {
        await this.getUserForms(this.pageSize, null, this.filters, this.sort);
      },
      async onPermitAcceptorChange(value) {
        await this.getUserForms(this.pageSize, null, this.filters, this.sort);
      },
      async onPermitAuthoriserChange(value) {
        await this.getUserForms(this.pageSize, null, this.filters, this.sort);
      },
      async onFriendlyIdChange(value) {
        await this.getUserForms(this.pageSize, null, this.filters, this.sort);
      },
      async onTagNumberChange(value) {
        await this.getUserForms(this.pageSize, null, this.filters, this.sort);
      },
      async onLockboxChange(value) {
        await this.getUserForms(this.pageSize, null, this.filters, this.sort);
      }
    }
  };
</script>

