<template>
    <router-link v-if="permit &&
                 (permitLink.id == 'ISO' ||
                 permitLink.id == 'CSE' ||
                 permitLink.id == 'EXP' ||
                 permitLink.id == 'HV' ||
                  permitLink.id == 'WAH' )" :to="{ name: permit.kind.slug + '-form-detail', params: { formType: permit.kind.slug, formId: permit.id } }">
      {{ permitLink.permitId }}
    </router-link>
    <span v-else>
      {{ permitLink.permitId }}
    </span>
</template>

<script>
export default {
  data() {
    return {
      permit: null
    };
  },
  props: {
    permitLink: {
      required: true
    }
  },
  created() {
    this.getForm();
  },
  methods: {
    async getForm() {
      try {
        let response = await this.$http({
          method: 'get',
          url: `/api/forms/find-by-friendly-id/${this.permitLink.permitId}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        this.permit = response.data;
      } catch (err) {
        console.log(err);
      } finally {
      }
    }
  }
};
</script>

<style>
</style>
