﻿@model SSWA.CalibrationRegister.Web.Models.EditTagViewModel
@{
    ViewData["Title"] = "Edit Tag";
}


        @using (Html.BeginForm())
        {
            <div classs="row">
                <div class="col-md-12">
                    <h3>Administration &rsaquo; Tags &rsaquo; Edit @Model.Name</h3>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4>General</h4>
                    @Html.AntiForgeryToken()

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="ID" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Make" class="control-label"></label>
                        <input asp-for="Make" class="form-control" />
                        <span asp-validation-for="Make" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model" class="control-label"></label>
                        <input asp-for="Model" class="form-control" />
                        <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SerialNumber" class="control-label"></label>
                        <input asp-for="SerialNumber" class="form-control" />
                        <span asp-validation-for="SerialNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReferenceDrawing" class="control-label"></label>
                        <input asp-for="ReferenceDrawing" class="form-control" />
                        <span asp-validation-for="ReferenceDrawing" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Procedure" class="control-label"></label>
                        <input asp-for="Procedure" class="form-control" />
                        <span asp-validation-for="Procedure" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DataSheet" class="control-label"></label>
                        <input asp-for="DataSheet" class="form-control" />
                        <span asp-validation-for="DataSheet" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4 col-md-push-2">
                    <h4>@Model.TagTypeName Specific</h4>
                    @foreach (var tagField in Model.Fields.OrderBy(x => x.SortOrder))
                    {
                        <div class="form-group">
                            <label>@tagField.DisplayName</label>
                            <!--<input placeholder="@tagField.DefaultValue" value="@tagField.Value" class="form-control" type="@tagField.DataType" name="@tagField.Id" />-->
                            <input placeholder="@tagField.DefaultValue" value="@tagField.Value" class="form-control" name="@tagField.Id" />
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <hr />
                    <div class="form-group pull-left">
                        <a asp-action="Index" class="btn btn-default">Back to List</a>
                    </div>
                    <div class="form-group pull-right">
                        <input type="submit" value="Update" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
