﻿@model SSWA.CalibrationRegister.Web.Models.TagListViewModel
@{
    ViewData["Title"] = "Tags";
}

<div class="row">
    <div class="col-md-12">
        <h3>Administration &rsaquo; Tags</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-border-right">
        <h4>Create</h4>
        @using (Html.BeginForm("Create", "Tag", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="form-group">
                @Html.DropDownList("tagTypeId", Model.TagTypeList, new { @class = "form-control input-sm" })
            </div>
            <div class="form-group">
                <input class="btn btn-sm btn-primary" type="submit" value="New Tag" />
            </div>
        }
    </div>
    <div class="col-md-9">
        <h4>Search</h4>
        @using (Html.BeginForm("Index", "Tag", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="form-group">
                <label>Tag Type</label>
                @Html.DropDownList("tagTypeId", Model.TagTypeList, "", new { @class = "form-control input-sm" })
            </div>
            <div class="form-group">
                <label>Tag Name</label>
                @Html.TextBox("tagName", Model.TagName, null, new { @class = "form-control input-sm" })
            </div>
            <div class="form-group">
                <label>Tag Description</label>
                @Html.TextBox("tagDescription", Model.TagDescription, null, new { @class = "form-control input-sm" })
            </div>
            <div class="form-group">
                <input class="btn btn-sm btn-success" type="submit" value="Search" />
            </div>
        }
    </div>
    <div class="col-md-12">
        <hr />
    </div>

</div>
<div class="row">
    <div class="col-md-12">


        @{
            var prevDisabled = !Model.Tags.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.Tags.HasNextPage ? "disabled" : "";
        }
        <a asp-action="Index"
           asp-route-page="@(Model.Tags.PageIndex - 1)"
           asp-route-tagTypeId="@Model.TagTypeId"
           asp-route-tagName="@Model.TagName"
           asp-route-tagDescription="@Model.TagDescription"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="Index"
           asp-route-page="@(Model.Tags.PageIndex + 1)"
           asp-route-tagTypeId="@Model.TagTypeId"
           asp-route-tagName="@Model.TagName"
           asp-route-tagDescription="@Model.TagDescription"
           class="btn btn-default @nextDisabled">
            Next
        </a>
        <table class="table">
            <thead>
                <tr>
                    <th width="10%">
                        Tag Type
                    </th>
                    <th width="10%">
                        @Html.DisplayNameFor(model => model.Tags.FirstOrDefault().Name)
                    </th>
                    <th width="15%">
                        @Html.DisplayNameFor(model => model.Tags.FirstOrDefault().Description)
                    </th>
                    <th width="10%">
                        @Html.DisplayNameFor(model => model.Tags.FirstOrDefault().Make)
                    </th>
                    <th width="10%">
                        @Html.DisplayNameFor(model => model.Tags.FirstOrDefault().Model)
                    </th>
                    <th width="10%">
                        Serial Number
                    </th>
                    <th width="10%">
                        Reference Drawing
                    </th>
                    <th width="10%">
                        Procedure
                    </th>
                    <th width="10%">
                        Data Sheet
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Tags.FirstOrDefault().Fields)
                    </th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Tags)
                {
                    <tr>
                        <td rowspan="2" style="vertical-align: middle;">
                            @Html.DisplayFor(modelItem => item.TagType.Name)
                        </td>
                        <td rowspan="2" style="vertical-align: middle;">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Make)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Model)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SerialNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReferenceDrawing)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Procedure)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataSheet)
                        </td>
                        @*<td>
                            <pre style="font-size: 9px">@Html.DisplayFor(modelItem => item.Fields)</pre>
                        </td>*@
                        <td rowspan="2" style="vertical-align: middle;">
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7"><small>@Html.DisplayFor(modelItem => item.NiceFields)</small></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



