@model Paperwork.Models.ActivateUserViewModel

@{
    ViewData["Title"] = "Activate";
}


@if (Model.PendingActivation)
{
    <div class="row m-5 p-5 bg-white">
        <div class="col-md-12">
            <h3>Activating @Model.Email ...</h3>
            <hr />
            <form asp-action="Activate">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserToken" />
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Activate" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
}
else
{
    <div class="row m-5 p-5 bg-white">
        <div class="col-md-12">
            <h3>Good News ...</h3>
            <hr />
            <p>It looks like you already have a SSWA Platform account with the email <strong>@Model.Email</strong>!</p>
            <p>If you've forgotten your password you can reset on the login form by following the <em>'Don't remember your password?'</em> prompts.</p>
            <p>Go to the <a href="/login/%2fdashboard">login</a> page.</p>
        </div>
    </div>

}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
