
@{
    ViewData["Title"] = "Account Activated";
}

<div class="row m-5 p-5 bg-white">
    <div class="col-md-12">
        <h4>Account Activated!</h4>
        <p>Thanks for activating your account. You can now <a href="/login/%2fdashboard">login</a>.</p>
    </div>
</div>




