<template>
  <div class="card shadow-sm pb-3">
    <div class="card-body">
      <h2>New Authority To Work Permit</h2>
      <authority-to-work-form-editor></authority-to-work-form-editor>
    </div>
  </div>
</template>

<script type="text/javascript">
import { mapActions, mapState } from 'vuex';
import AuthorityToWorkFormEditor from './editor';

export default {
  name: 'AuthorityToWorkFormCreate',
  components: { AuthorityToWorkFormEditor }
};
</script>

