<template>
  <div>
    <div class="card shadow-sm non-printable mb-4" v-loading="loading">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h6 class="text-secondary text-uppercase">Action Bar</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="btn-group bg-light rounded" role="group">
              <a v-if="form.canRequestAuthorisation" style="font-weight: 500;" role="button" href="#" class="text-success btn mr-3" @click="doAction( 'request authorisation')">
                <feather class="mr-1" type="check-circle" width="16" height="16"></feather>
                <span>Submit For Authorisation</span>
              </a>
              <a v-if="form.canApprove" style="font-weight: 500;" role="button" href="#" class="btn text-success mr-3" @click="authorise('approve', false)">
                <feather class="mr-1" type="check-circle" width="16" height="16"></feather>
                <span>Approve</span>
              </a>
              <a v-if="form.canDeny" style="font-weight: 500;" role="button" href="#" class="btn text-danger mr-3" @click="authorise('deny', false)">
                <feather class=" mr-1" type="x-circle" width="16" height="16"></feather>
                <span>Deny</span>
              </a>
              <a v-if="form.canRequestInfo" style="font-weight: 500;" role="button" href="#" class="btn text-warning mr-3" @click="authorise('more information', false)">
                <feather class="mr-1" type="alert-circle" width="16" height="16"></feather>
                <span>Request More Information</span>
              </a>
              <a v-if="form.canOpen" style="font-weight: 500;" role="button" href="#" class="text-success btn mr-3" @click="open(false)">
                <feather class="mr-1" type="book-open" width="16" height="16"></feather>
                <span>Open</span>
              </a>
              <a v-if="form.canClose" style="font-weight: 500;" role="button" href="#" class="text-success btn mr-3" @click="close(false)">
                <feather class="mr-1" type="book" width="16" height="16"></feather>
                <span>Close Off</span>
              </a>
              <a href="#" style="font-weight: 500;" v-if="form.canEdit" @click="editForm(false)" :disabled="!form.canEdit" class="text-secondary btn mr-3">
                <feather class="mr-1" type="edit" width="16" height="16"></feather>
                <span>Edit</span>
              </a>
            </div>
            <div class="btn-group bg-light rounded" role="group">
              <a v-if="form.canRequestCompletion" style="font-weight: 500;" role="button" href="#" class="text-black-50 btn mr-3" @click="requestWorkCompletion('request completion', false)">
                <feather class="mr-1" type="check-circle" width="16" height="16"></feather>
                <span>Complete</span>
              </a>
              <a v-if="form.canRequestCancellation" style="font-weight: 500;" role="button" href="#" class="text-black-50 btn mr-3" @click="requestWorkCompletion('request cancellation', false)">
                <feather class="mr-1" type="x-circle" width="16" height="16"></feather>
                <span>Cancel</span>
              </a>
              <a v-if="form.canRequestTestRun" style="font-weight: 500;" role="button" href="#" class="text-black-50 btn mr-3" @click="requestWorkCompletion('request test run', false)">
                <feather class="mr-1" type="thermometer" width="16" height="16"></feather>
                <span>Test Run Required</span>
              </a>
              <a v-if="form.canAuthoriseCompletion" style="font-weight: 500;" role="button" href="#" class="text-success btn mr-3" @click="authoriseWorkCompletion('authorise completion', false)">
                <feather class="mr-1" type="check-circle" width="16" height="16"></feather>
                <span>Authorise Completion</span>
              </a>
              <a v-if="form.canAuthoriseCancellation" style="font-weight: 500;" role="button" href="#" class="text-success btn mr-3" @click="authoriseWorkCompletion('authorise cancellation', false)">
                <feather class="mr-1" type="x-circle" width="16" height="16"></feather>
                <span>Authorise Cancellation</span>
              </a>
              <a v-if="form.canAuthoriseTestRun" style="font-weight: 500;" role="button" href="#" class="text-success btn mr-3" @click="authoriseWorkCompletion('authorise test run', false)">
                <feather class="mr-1" type="thermometer" width="16" height="16"></feather>
                <span>Authorise Test Run</span>
              </a>
            </div>

            <div class="btn-group bg-light rounded" role="group">
              <a v-if="form.canRequestTransfer" style="font-weight: 500;" role="button" href="#" class="text-black-50 btn mr-3" @click="requestTransfer(false)">
                <feather class="mr-1" type="send" width="16" height="16"></feather>
                <span>Transfer</span>
              </a>
              <a v-if="form.canAuthoriseTransfer" style="font-weight: 500;" role="button" href="#" class="text-success btn mr-3" @click="authoriseTransfer(false)">
                <feather class="mr-1" type="send" width="16" height="16"></feather>
                <span>Authorise Transfer</span>
              </a>
              <a v-if="form.canRequestSuspension" style="font-weight: 500;" role="button" href="#" class="text-black-50 btn mr-3" @click="requestSuspension(false)">
                <feather class="mr-1" type="pause-circle" width="16" height="16"></feather>
                <span>Suspend</span>
              </a>
              <a v-if="form.canAuthoriseSuspension" style="font-weight: 500;" role="button" href="#" class="text-success btn mr-3" @click="authoriseSuspension(false)">
                <feather class="mr-1" type="pause-circle" width="16" height="16"></feather>
                <span>Authorise Suspension</span>
              </a>
              <a v-if="form.canRequestRevalidation" style="font-weight: 500;" role="button" href="#" class="text-black-50 btn mr-3" @click="requestRevalidation(false)">
                <feather class="mr-1" type="refresh-cw" width="16" height="16"></feather>
                <span>Revalidate</span>
              </a>
              <a v-if="form.canAuthoriseRevalidation" style="font-weight: 500;" role="button" href="#" class="text-success btn mr-3" @click="authoriseRevalidation(false)">
                <feather class="mr-1" type="refresh-cw" width="16" height="16"></feather>
                <span>Authorise Revalidation</span>
              </a>
            </div>

            <div class="btn-group bg-light rounded" role="group">
              <a style="font-weight: 500;" role="button" href="#" class="text-secondary btn mr-3" @click="print()">
                <feather class="mr-1" type="printer" width="16" height="16"></feather>
                <span>Print</span>
              </a>
            </div>

          </div>
          <div class="col-5">
          </div>
        </div>
      </div>
    </div>

    <el-dialog title="Warning" :visible.sync="dialogTableVisible">
      <p>Editing a form that has been approved / partially approved will require you to resubmit for approval.</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogTableVisible=false">Cancel</el-button>
        <el-button type="primary" @click="editForm(true)">I Understand</el-button>
      </span>
    </el-dialog>

    <el-dialog title="Authorisation" :visible.sync="authoriseDialogVisible">

      <el-form ref="form-authorise" :model="notes" :rules="rules" label-width="240px">
        <el-form-item>
          <p class="text-secondary">
            The
            <strong>Permit Acceptor</strong> is hereby advised of the following additional area specific hazards / conditions / requirements.
          </p>
        </el-form-item>
        <el-form-item label="Comments" prop="message">
          <el-input type="textarea" :rows="10" v-model="notes.message" auto-complete="off" placeholder="Golden Rule: A test for dead (electrical) has been completed prior to working on any equipment."></el-input>
        </el-form-item>
        <el-form-item>
          <p class="text-secondary">
            By undertaking works with this document, both the
            <strong>Permit Acceptor</strong> and
            <strong>Permit Authoriser</strong> agree to ensure suitable controls are implemented for all hazards identified as part of both Section 1 and 2 of this Authority To Work and applicable Permits marked in Section 1.
          </p>
          <p class="text-danger">
            <strong>Normal HSE Requirements also apply.</strong>
          </p>
        </el-form-item>

        <el-form-item label="Isolated By" prop="isolatedBy.id">
          <el-select v-model="notes.isolatedBy" filterable clearable placeholder="Search ..." value-key="id" class="col-10">
            <el-option v-for="{id, name, email} in users" :key="id" :label="name" :value="{id, name, email}">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Isolation Markup Completed By" prop="isolationMarkupCompletedBy.id">
          <el-select v-model="notes.isolationMarkupCompletedBy" filterable clearable placeholder="Search ..." value-key="id" class="col-10">
            <el-option v-for="{id, name, email} in users" :key="id" :label="name" :value="{id, name, email}">
            </el-option>
          </el-select>
        </el-form-item>
        <template v-if="form.permits && form.permits.length > 0">
          <template v-for="permit in form.permits.filter(x => x.extras.length > 0)">
            <el-form-item v-for="(extra, index) in permit.extras" :key="index" :label="extra.name" class="d-inline-block w-50" prop="extra.value">
              <el-select v-if="extra.name == 'Lockbox Number'" v-model="notes.extra.value" filterable multiple clearable placeholder="Select lockbox" value-key="index" class="col-10">
                <el-option v-for="(option, index) in options.lockboxes" :key="index" :label="option.number" :value="option.number">
                </el-option>
              </el-select>
              <el-input v-else v-model="extra.value" class="col-10"></el-input>
            </el-form-item>
          </template>
        </template>


        <el-form-item label="Application has been" prop="status">
          <el-radio-group v-model="notes.status">
            <el-radio label="approve">Approved</el-radio>
            <el-radio label="deny">Denied</el-radio>
            <el-radio label="more information">Further Information Requested</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="authoriseDialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="authorise(notes.status, true)">Submit</el-button>
      </span>
    </el-dialog>

    <el-dialog title="Work Completion" :visible.sync="requestWorkCompletionDialogVisible">

      <el-form ref="form-requestWorkCompletion" :model="notes" :rules="rules" label-width="240px">

        <el-form-item label="Optional Comments">
          <el-input type="textarea" :rows="10" v-model="notes.message" auto-complete="off"></el-input>
        </el-form-item>

        <el-form-item>
          <p class="text-secondary">
            I confirm the items listed in Section 1 & 2 have been implemented and the above works are
          </p>
        </el-form-item>

        <el-form-item label="Work has been" prop="status">
          <el-radio-group v-model="notes.status">
            <el-radio label="request completion">Completed</el-radio>
            <el-radio label="request test run">Test Run Required</el-radio>
            <el-radio label="request cancellation">Cancelled</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="requestWorkCompletionDialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="requestWorkCompletion(notes.status, true)">Submit</el-button>
      </span>
    </el-dialog>

    <el-dialog title="Work Completion" :visible.sync="authoriseWorkCompletionDialogVisible">

      <el-form ref="form-authoriseWorkCompletion" :model="notes" :rules="rules" label-width="240px">

        <el-form-item label="Optional Comments">
          <el-input type="textarea" :rows="10" v-model="notes.message" auto-complete="off"></el-input>
        </el-form-item>

        <el-form-item>
          <p class="text-secondary">
            I confirm the items listed in Section 1 & 2 have been implemented and the above works are
          </p>
        </el-form-item>

        <el-form-item label="Work has been" prop="status">
          <el-radio-group v-model="notes.status">
            <el-radio label="authorise completion">Completed</el-radio>
            <el-radio label="authorise test run">Test Run Required</el-radio>
            <el-radio label="authorise cancellation">Cancelled</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="authoriseWorkCompletionDialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="authoriseWorkCompletion(notes.status, true)">Submit</el-button>
      </span>
    </el-dialog>

    <el-dialog title="Open" :visible.sync="openDialogVisible">

      <el-form ref="form-open" :model="notes" :rules="rules" label-width="240px">
        <el-form-item>
          <p class="text-secondary">
            The
            <strong>Permit Acceptor</strong> is hereby advised of the following additional area specific hazards / conditions / requirements.
          </p>
        </el-form-item>

        <el-form-item label="Permit Authoriser Comments">
          <p v-if="form.open" class="text-uppercase">"{{ form.open.permitAuthoriser.message }}"</p>
        </el-form-item>

        <el-form-item>
          <p class="text-secondary">
            By undertaking works with this document, both the
            <strong>Permit Acceptor</strong> and
            <strong>Permit Authoriser</strong> agree to ensure suitable controls are implemented for all hazards identified as part of both Section 1 and 2 of this Authority To Work and applicable Permits marked in Section 1.
          </p>
          <p class="text-danger">
            <strong>Normal HSE Requirements also apply.</strong>
          </p>
        </el-form-item>

        <el-form-item label="Isolated By" prop="isolatedBy.id">
          <el-select v-model="notes.isolatedBy" filterable clearable placeholder="Search ..." value-key="id" class="col-10">
            <el-option v-for="{id, name, email} in users" :key="id" :label="name" :value="{id, name, email}">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="Isolation Markup Completed By" prop="isolationMarkupCompletedBy.id">
          <el-select v-model="notes.isolationMarkupCompletedBy" filterable clearable placeholder="Search ..." value-key="id" class="col-10">
            <el-option v-for="{id, name, email} in users" :key="id" :label="name" :value="{id, name, email}">
            </el-option>
          </el-select>
        </el-form-item>
        <template v-if="form.permits && form.permits.length > 0">
          <template v-for="permit in form.permits.filter(x => x.extras.length > 0)">
            <el-form-item v-for="(extra, index) in permit.extras" :key="index" :label="extra.name" class="d-inline-block w-50" prop="extra.value">
              <el-select v-if="extra.name == 'Lockbox Number'" v-model="notes.extra.value" filterable clearable placeholder="Select lockbox" value-key="index" class="col-10">
                <el-option v-for="(option, index) in options.lockboxes" :key="index" :label="option.number" :value="option.number">
                </el-option>
              </el-select>
              <el-input v-else v-model="extra.value" class="col-10"></el-input>
            </el-form-item>
          </template>
        </template>


      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="openDialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="open(true)">Open</el-button>
      </span>
    </el-dialog>

    <el-dialog title="Close" :visible.sync="closeDialogVisible">

      <el-form ref="form-close" :model="notes" :rules="rules" label-width="240px">
        <el-form-item>
          <p class="text-secondary">
            I confirm completion of the above work and all associated permits have been closed. This permit is now closed out.
          </p>
          <p>
            Inspection of this asset has been completed prior to bringing the asset back into service.
          </p>
        </el-form-item>

        <el-form-item label="Isolated By" prop="isolatedBy.id">
          <el-select v-model="notes.isolatedBy" filterable clearable placeholder="Search ..." value-key="id" class="col-10">
            <el-option v-for="{id, name, email} in users" :key="id" :label="name" :value="{id, name, email}">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="Deisolated By" prop="deisolatedBy.id">
          <el-select v-model="notes.deisolatedBy" filterable clearable placeholder="Search ..." value-key="id" class="col-10">
            <el-option v-for="{id, name, email} in users" :key="id" :label="name" :value="{id, name, email}">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="Isolation Markup Completed By" prop="isolationMarkupCompletedBy.id">
          <el-select v-model="notes.isolationMarkupCompletedBy" filterable clearable placeholder="Search ..." value-key="id" class="col-10">
            <el-option v-for="{id, name, email} in users" :key="id" :label="name" :value="{id, name, email}">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="Permit Acceptor (Close)" prop="permitAcceptor.id">
          <el-select v-model="notes.permitAcceptor" filterable clearable placeholder="Search ..." value-key="id" class="col-10">
            <el-option v-for="{id, name, email} in users" :key="id" :label="name" :value="{id, name, email}">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="Permit Authoriser (Close)" prop="permitAuthoriser.id">
          <el-select v-model="notes.permitAuthoriser" filterable clearable placeholder="Search ..." value-key="id" class="col-10">
            <el-option v-for="{id, name, email} in permitAuthorisers" :key="id" :label="name" :value="{id, name, email}">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item>
          <p class="text-danger">
            A COPY OF THIS PERMIT MUST BE RETAINED FOR A MINIMUM OF 5 YEARS
          </p>
        </el-form-item>

      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="closeDialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="close(true)">Close</el-button>
      </span>
    </el-dialog>

    <el-dialog title="Transfer" :visible.sync="requestTransferDialogVisible">

      <el-form ref="form-requestTransfer" :model="notes" :rules="rules" label-width="240px">
        <el-form-item>
          <p>
            The
            <strong>Permit Acceptor</strong> acknowledges that all works associated with this ATW have been transferred to the Permit Acceptor below.
          </p>
        </el-form-item>

        <el-form-item v-for="(item) in form.approvers" label="New Permit Acceptor" :key="item.role.id">
          <el-select v-model="notes.newPermitAcceptor" filterable clearable placeholder="Select or type a name" value-key="id">
            <el-option v-for="option in permitAcceptors" :key="`C-${option.id}`" :label="option.name" :value="option">
              <span style="float: left">{{ option.name }}</span>
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="Optional Comments">
          <el-input type="textarea" :rows="10" v-model="notes.message" auto-complete="off" placeholder=""></el-input>
        </el-form-item>

      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="requestTransferDialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="requestTransfer(true)">Submit</el-button>
      </span>
    </el-dialog>

    <el-dialog title="Transfer" :visible.sync="authoriseTransferDialogVisible">

      <el-form ref="form-authoriseTransfer" :model="notes" :rules="rules" label-width="240px">
        <el-form-item>
          <p>
            The
            <strong>Permit Acceptor</strong> acknowledges that all works associated with this ATW have been transferred to the Permit Acceptor below.
          </p>
        </el-form-item>
        <el-form-item label="Optional Comments">
          <el-input type="textarea" :rows="10" v-model="notes.message" auto-complete="off" placeholder=""></el-input>
        </el-form-item>

      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="authoriseTransferDialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="authoriseTransfer(true)">Submit</el-button>
      </span>
    </el-dialog>

    <el-dialog title="Suspend" :visible.sync="requestSuspensionDialogVisible">

      <el-form ref="form-requestSuspension" :model="notes" :rules="rules" label-width="240px">
        <el-form-item>
          <p>
            The
            <strong>Permit Acceptor</strong> acknowledges that all works associated with this ATW have been suspended and the area has been left in a clean and safe condition.
          </p>
        </el-form-item>

        <el-form-item label="Optional Comments">
          <el-input type="textarea" :rows="10" v-model="notes.message" auto-complete="off" placeholder=""></el-input>
        </el-form-item>

      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="requestSuspensionDialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="requestSuspension(true)">Submit</el-button>
      </span>
    </el-dialog>

    <el-dialog title="Suspend" :visible.sync="authoriseSuspensionDialogVisible">

      <el-form ref="form-authoriseSuspension" :model="notes" :rules="rules" label-width="240px">
        <el-form-item>
          <p>
            The
            <strong>Permit Acceptor</strong> acknowledges that all works associated with this ATW have been suspended and the area has been left in a clean and safe condition.
          </p>
        </el-form-item>
        <el-form-item label="Optional Comments">
          <el-input type="textarea" :rows="10" v-model="notes.message" auto-complete="off" placeholder=""></el-input>
        </el-form-item>

      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="authoriseSuspensionDialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="authoriseSuspension(true)">Submit</el-button>
      </span>
    </el-dialog>

    <el-dialog title="Revalidate" :visible.sync="requestRevalidationDialogVisible">
      <el-form ref="form-requestRevalidation" :model="notes" :rules="rules" label-width="240px">
        <el-form-item>
          <p>
            I understand and accept the conditions and precautions detailed in Sections 1 & 2 and shall ensure that all personnel involved in the works described are informed of them.
          </p>
        </el-form-item>
        <el-form-item label="Optional Comments">
          <el-input type="textarea" :rows="10" v-model="notes.message" auto-complete="off" placeholder=""></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="requestRevalidationDialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="requestRevalidation(true)">Submit</el-button>
      </span>
    </el-dialog>

    <el-dialog title="Revalidate" :visible.sync="authoriseRevalidationDialogVisible">
      <el-form ref="form-authoriseRevalidation" :model="notes" :rules="rules" label-width="240px">
        <el-form-item>
          <p>
            I understand and accept the conditions and precautions detailed in Sections 1 & 2 and shall ensure that all personnel involved in the works described are informed of them.
          </p>
        </el-form-item>
        <el-form-item label="Optional Comments">
          <el-input type="textarea" :rows="10" v-model="notes.message" auto-complete="off" placeholder=""></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="authoriseRevalidationDialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="authoriseRevalidation(true)">Submit</el-button>
      </span>
    </el-dialog>

    <div class="card shadow-sm" v-loading="loading" v-if="!loading">
      <div class="card-body">
        <h3 class="mb-1">{{ form.friendlyId }}
          <template v-if="form.status">
            <span v-if="form.status==='open'" class="float-right status badge badge-pill badge-success">{{ form.status }}</span>
            <span v-else-if="form.status==='denied'" class="float-right status badge badge-pill badge-danger">{{ form.status }}</span>
            <span v-else-if="form.status==='cancelled'" class="text-muted float-right status badge badge-pill badge-light">{{ form.status }}</span>
            <span v-else-if="form.status.includes( 'pending')" class="float-right status badge badge-pill badge-warning">{{ form.status }}</span>
            <span v-else class="float-right status badge badge-pill badge-info">{{ form.status }}</span>
          </template>
        </h3>
        <h5 class="text-secondary text-uppercase mt-0">Authority To Work</h5>
        <div class="row">
          <!-- Author And Dates -->
          <div class="col-12">
            <div class="row mb-1">
              <div class="col-2 text-right">
                <strong>Requested By</strong>
              </div>
              <div class="col-2 text-left">
                {{ form.createdBy.name }}
              </div>
              <div class="col-2 text-right">
                <strong>Requested</strong>
              </div>
              <div class="col-2 text-left">
                {{dateFormat(form.createdAt, 'DD/MM/YYYY')}}
              </div>
              <div class="col-2 text-right">
                <strong>Last Updated</strong>
              </div>
              <div class="col-2 text-left">
                {{dateFormat(form.updatedAt, 'DD/MM/YYYY')}}
              </div>
            </div>
          </div>
        </div>

        <div class="row my-3 mx-1">
          <div class="bg-primary text-center col-12 pt-2 pb-1">
            <h5 class="text-white text-uppercase">NOTE</h5>
          </div>
          <div class="col-12 bg-light pt-1 pb-1">
            <p class="text-black p-2 m-0">
              • A MINIMUM OF 24 HOURS NOTICE IS REQUIRED PRIOR TO THE PLANNED COMMENCEMENT OF WORKS.<br /> • THE PERMIT AUTHORISER IS RESPONSIBLE FOR ENSURING THE PERMIT CONTROLS ARE DEFINED TO ALLOW ALL PERSONNEL TO SAFELY CARRY OUT WORK ACTIVITES EVEN WHEN IT MAY BE IN A HAZARDOUS ENVIRONMENT.
            </p>
          </div>
        </div>

        <div class="row my-3 mx-1">
          <div class="bg-primary text-center col-12 pt-2 pb-1">
            <h5 class="text-white text-uppercase">1. REQUEST FOR AUTHORITY TO WORK (Permit Acceptor)</h5>
          </div>
          <div class="col-12 bg-light pt-3 pb-3">
            <div class="row my-2">
              <div class="col-3">
                <div class="bg-white p-1">
                  <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Permit Acceptor</h6>
                  <p class="d-inline text-nowrap"> {{ form.permitAcceptor.name }}</p>
                </div>
              </div>
              <div class="col-3">
                <div class="bg-white p-1">
                  <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Contact Email</h6>
                  <p class="d-inline text-nowrap">{{ form.permitAcceptor.email }}</p>
                </div>
              </div>
              <div class="col-6">
                <div class="bg-white p-1">
                  <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Contact Number</h6>
                  <p class="d-inline text-nowrap">{{ form.permitAcceptor.number }}</p>
                </div>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-3">
                <div class="bg-white p-1">
                  <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Stage</h6>
                  <p class="d-inline text-nowrap">{{ form.stage }}</p>
                </div>

              </div>
              <div class="col-5">
                <div class="bg-white p-1">
                  <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Physical Location of Works</h6>
                  <p class="d-inline text-nowrap">{{ form.physicalLocation }}</p>
                </div>
              </div>

              <div class="col-4">
                <div class="bg-white p-1">
                  <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Equipment Number</h6>
                  <p class="d-inline text-nowrap">{{ form.equipmentNumber }}</p>
                </div>
              </div>
              <!-- <div class="col-3">
                <div class="bg-white p-1">
                  <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Shutdown Required</h6>
                  <p class="d-inline text-nowrap">{{ form.shutdownRequired }}</p>
                </div>
              </div> -->
            </div>
            <div class="row my-2">
              <div class="col-12">
                <div class="bg-white p-1">
                  <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Description Of Works</h6>
                  <p class="d-inline text-justify">{{ form.worksDescription }}</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 bg-light px-4 py-1">
                <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Permits</h6>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <template v-for="(form, index) in form.linkedForms">
                        <div class="col-1 text-right  text-uppercase my-0 py-0 border-bottom">
                          <p class="d-inline p-0">{{ form.id }}</p>
                        </div>
                        <div class="col-1 text-center my-0 py-0 border-bottom">
                          <feather v-if="form.formId" type="check-square" class="mr-1"></feather>
                          <feather v-else type="square" class="mr-1"></feather>
                        </div>
                        <div class="col-4  text-uppercase my-0 py-0 border-bottom">
                          <p class="d-inline p-0">{{ form.formId }} </p>
                        </div>
                      </template>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="row">
                      <template v-for="(permit, index) in form.permits">
                        <div class="col-1 text-right  my-0 py-0  text-uppercase border-bottom">
                          <p class="d-inline p-0">{{ permit.id }}</p>
                        </div>
                        <div class="col-1 text-center  my-0 py-0 border-bottom">
                          <feather v-if="permit.required" type="check-square" class="mr-1"></feather>
                          <feather v-else type="square" class="mr-1"></feather>
                        </div>
                        <div class="col-4  text-uppercase  my-0 py-0 border-bottom">
                          <permit-link v-if="permit.required" :permit-link="permit"></permit-link>
                          <p v-else class="d-inline p-0">{{ permit.permitId }} </p>
                        </div>
                        <div v-if="permit.extras.length > 0" class="col-6  text-uppercase  my-0 py-0 border-bottom">
                          <p class="d-inline p-0">
                            <span v-for="(extra, index) in permit.extras" :key="`B-${index}`" class="d-inline-block mr-3">{{extra.name}}: {{extra.value}}</span>
                          </p>
                        </div>
                      </template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-6">
                <div class="bg-white p-1">
                  <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Works Duration</h6>
                  <p class="d-inline">{{dateFormat(form.workDuration[0], 'DD/MM/YYYY') || ''}} - {{dateFormat(form.workDuration[1], 'DD/MM/YYYY') || ''}}</p>
                </div>
              </div>
              <div class="col-6">
                <div class="bg-white p-1">
                  <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Work Order No.</h6>
                  <p class="d-inline">{{ form.workOrderNumber }}</p>
                </div>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-4">
                <div class="bg-white p-1">
                  <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Isolated By</h6>
                  <p class="d-inline">{{ form.isolation.permitAcceptor.user.name }}</p>
                </div>
              </div>
              <div class="col-4">
                <div class="bg-white p-1">
                  <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Deisolated By</h6>
                  <p class="d-inline">{{ form.deisolation.permitAcceptor.user.name }}</p>
                </div>
              </div>
              <div class="col-4">
                <div class="bg-white p-1">
                  <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Isolation Markup Completed</h6>
                  <p class="d-inline">{{ form.isolationMarkup.permitAcceptor.user.name }}</p>
                </div>
              </div>
            </div>

            <div class="row my-2">
              <h6 class="col-12 text-uppercase text-secondary ml-2 mt-2">ON BEHALF OF (OPTIONAL)</h6>

              <div class="col-3">
                <div class="bg-white p-1">
                  <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Role</h6>
                  <p class="d-inline">{{ form.onBehalfOf.type }}</p>
                </div>
              </div>
              <div class="col-3">
                <div class="bg-white p-1">
                  <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Name</h6>
                  <p class="d-inline">{{ form.onBehalfOf.name }}</p>
                </div>
              </div>
              <div class="col-3">
                <div class="bg-white p-1">
                  <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Contact Number</h6>
                  <p class="d-inline">{{ form.onBehalfOf.number }}</p>
                </div>
              </div>
              <div class="col-3">
                <div class="bg-white p-1">
                  <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Email Address</h6>
                  <p class="d-inline">{{ form.onBehalfOf.email }}</p>
                </div>
              </div>
            </div>

            <div class="row my-2">
              <h6 class="col-12 text-uppercase text-secondary ml-2 mt-2">CONTRACTOR'S LEADING HAND / SUPERVISOR</h6>

              <div class="col-4">
                <div class="bg-white p-1">
                  <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Name</h6>
                  <p class="d-inline">{{ form.principalContractor.name }}</p>
                </div>
              </div>
              <div class="col-4">
                <div class="bg-white p-1">
                  <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Contact Number</h6>
                  <p class="d-inline">{{ form.principalContractor.number }}</p>
                </div>
              </div>
              <div class="col-4">
                <div class="bg-white p-1">
                  <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Email Address</h6>
                  <p class="d-inline">{{ form.principalContractor.email }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row my-3 mx-1">
          <div class="bg-warning text-center col-12 pt-2 pb-1">
            <h5 class="text-black text-uppercase">2. AUTHORISATION (Permit Authoriser)</h5>
          </div>
          <div class="col-12 bg-light pt-1 pb-1">
            <p class="text-muted">
              The
              <strong>Permit Acceptor</strong> is hereby advised of the following additional area specific hazards / conditions / requirements.
            </p>
            <div class="bg-light p-1 text-uppercase">
              <p>
                <strong>Golden Rule</strong>:
                <em>"A test for dead (electrical) has been completed prior to working on any equipment."</em>
              </p>
              <p v-if="form.open">{{ form.open.permitAuthoriser.message }}</p>
            </div>
            <p class="text-muted">
              By undertaking works with this document, both the
              <strong>Permit Acceptor</strong> and
              <strong>Permit Authoriser</strong> agree to ensure suitable controls are implemented for all hazards identified as part of both Section 1 and 2 of this Authority To Work and applicable Permits marked in Section 1.
            </p>
            <p class="text-danger">
              Normal HSE Requirements also apply.
            </p>
          </div>
          <div class="col-12 bg-light pt-1 pb-1">
            <table class="table table-sm table-bordered border-dark">
              <thead>
                <tr>
                  <td>

                  </td>
                  <td colspan="2" class="text-muted text-center">In the presence of the
                    <strong>Permit Authoriser</strong>
                  </td>
                  <td colspan="2" class="text-muted text-center">In the presence of the
                    <strong>Permit Acceptor</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h6 class="text-secondary text-uppercase">Date</h6>
                  </td>
                  <td width="25%">
                    <h6 class="text-secondary text-uppercase">Permit Acceptor</h6>
                  </td>
                  <td width="20%">
                    <h6 class="text-secondary text-uppercase">Signature</h6>
                  </td>
                  <td width="25%">
                    <h6 class="text-secondary text-uppercase">Permit Authoriser</h6>
                  </td>
                  <td width="20%">
                    <h6 class="text-secondary text-uppercase">Signature</h6>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td v-if="form.open.permitAcceptor.actionedAt">{{dateFormat(form.open.permitAcceptor.actionedAt, 'DD/MM/YYYY')}}</td>
                  <td v-else></td>
                  <td>{{form.open.permitAcceptor.user.name }}</td>
                  <td></td>
                  <td>{{form.open.permitAuthoriser.user.name}}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row my-3 mx-1" style="page-break-before: always;">
          <div class="bg-success text-center col-12 pt-2 pb-1">
            <h5 class="text-white text-uppercase">3. SIGN ON/OFF (Permit User)</h5>
          </div>
          <div class="col-12 bg-light pt-3 pb-0">
            <table class="table table-sm table-bordered border-dark">
              <thead>
                <tr>
                  <td colspan="4" class="text-center" width="50%">
                    <h6 class="text-secondary text-uppercase">3A. Sign On</h6>
                  </td>
                  <td colspan="4" class="text-center">
                    <h6 class="text-secondary text-uppercase">3B. Sign Off</h6>
                  </td>
                </tr>
                <tr>
                  <td colspan="4" class="text-muted text-justify px-3">
                    <small>I have read, fully understood and will comply with all conditions stated on this form and if an isolation is required I have attached my Personal Lock & Danger Tag to the Lock Box.</small>
                  </td>
                  <td colspan="4" class="text-muted text-justify px-3">
                    <small>I have ceased or completed all work required of me at the end of my shift or day and left the area in a clean and safe condition and if under an Isolation Permit have removed my Personal Lock & Danger Tag on the Lock Box.</small>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h6 class="text-secondary text-uppercase">Date</h6>
                  </td>
                  <td>
                    <h6 class="text-secondary text-uppercase">Time</h6>
                  </td>
                  <td class="text-center">
                    <h6 class="text-secondary text-uppercase">Signature</h6>
                  </td>
                  <td class="text-center">
                    <h6 class="text-secondary text-uppercase">Permit User</h6>
                  </td>
                  <td>
                    <h6 class="text-secondary text-uppercase">Date</h6>
                  </td>
                  <td>
                    <h6 class="text-secondary text-uppercase">Time</h6>
                  </td>
                  <td class="text-center">
                    <h6 class="text-secondary text-uppercase">Signature</h6>
                  </td>
                  <td class="text-center">
                    <h6 class="text-secondary text-uppercase">Permit User</h6>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item,index) in 9" :key="`C-${index}`">
                  <td>&nbsp;</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row my-3 mx-1">
          <div class="col-12 bg-primary text-center pb-1 pt-2">
            <h5 class="text-white text-uppercase">4. ACTIONS (Permit Acceptor)</h5>
          </div>
          <div class="col-12 bg-light pt-3 pb-0">
            <table class="table table-sm table-bordered border-dark">
              <thead>
                <tr>
                  <td colspan="3" class="text-center" width="33%">
                    <h6 class="text-secondary text-uppercase">4A. Transfer</h6>
                  </td>
                  <td colspan="3" class="text-center" width="33%">
                    <h6 class="text-secondary text-uppercase">4B. Suspension</h6>
                  </td>
                  <td colspan="3" class="text-center" width="34%">
                    <h6 class="text-secondary text-uppercase">4C. Revalidation</h6>
                  </td>
                </tr>
                <tr>
                  <td colspan="3" class="text-muted text-justify px-3">
                    <small>All works associated with this ATW have been transferred to the Permit Acceptor in 4c.</small>
                  </td>
                  <td colspan="3" class="text-muted text-justify px-3">
                    <small>All works associated with this ATW have been suspended and the area has been left in a clean and safe condition.</small>
                  </td>
                  <td colspan="3" class="text-muted text-justify px-3">
                    <small>I understand and accept the conditions and precautions detailed in Sections 1 & 2 above and shall ensure that all personnel involved in the works described are informed of them.</small>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h6 class="text-secondary text-uppercase">Date</h6>
                  </td>
                  <td class="text-center">
                    <h6 class="text-secondary text-uppercase">Permit Acceptor</h6>
                  </td>
                  <td class="text-center">
                    <h6 class="text-secondary text-uppercase">Permit Authoriser</h6>
                  </td>
                  <td>
                    <h6 class="text-secondary text-uppercase">Date</h6>
                  </td>
                  <td class="text-center">
                    <h6 class="text-secondary text-uppercase">Permit Acceptor</h6>
                  </td>
                  <td class="text-center">
                    <h6 class="text-secondary text-uppercase">Permit Authoriser</h6>
                  </td>
                  <td>
                    <h6 class="text-secondary text-uppercase">Date</h6>
                  </td>
                  <td class="text-center">
                    <h6 class="text-secondary text-uppercase">Permit Acceptor</h6>
                  </td>
                  <td class="text-center">
                    <h6 class="text-secondary text-uppercase">Permit Authoriser</h6>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in maxActions" :key="`D-${index}`">
                  <template v-if="form.transfers[index] !== undefined">
                    <td>{{dateFormat(form.transfers[index].originalPermitAcceptor.actionedAt, 'DD/MM/YYYY hh:mm A')}}</td>
                    <td>{{form.transfers[index].newPermitAcceptor.user.name}}</td>
                    <td v-if="form.transfers[index].permitAuthoriser">{{form.transfers[index].permitAuthoriser.user.name}}</td>
                    <td v-else class="text-muted">
                      <em>Not Filled-out Yet</em>
                    </td>
                  </template>
                  <template v-else>
                    <td>&nbsp;</td>
                    <td></td>
                    <td></td>
                  </template>
                  <template v-if="form.suspensions[index] !== undefined">
                    <td>{{dateFormat(form.suspensions[index].permitAcceptor.actionedAt, 'DD/MM/YYYY hh:mm A')}}</td>
                    <td>{{form.suspensions[index].permitAcceptor.user.name}}</td>
                    <td v-if="form.suspensions[index].permitAuthoriser">{{form.suspensions[index].permitAuthoriser.user.name}}</td>
                    <td v-else class="text-muted">
                      <em>Not Filled-out Yet</em>
                    </td>
                  </template>
                  <template v-else>
                    <td>&nbsp;</td>
                    <td></td>
                    <td></td>
                  </template>
                  <template v-if="form.revalidations[index] !== undefined">
                    <td>{{dateFormat(form.revalidations[index].permitAcceptor.actionedAt, 'DD/MM/YYYY hh:mm A')}}</td>
                    <td>{{form.revalidations[index].permitAcceptor.user.name}}</td>
                    <td v-if="form.revalidations[index].permitAuthoriser">{{form.revalidations[index].permitAuthoriser.user.name}}</td>
                    <td v-else class="text-muted">
                      <em>Not Filled-out Yet</em>
                    </td>
                  </template>
                  <template v-else>
                    <td>&nbsp;</td>
                    <td></td>
                    <td></td>
                  </template>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row my-3 mx-1">
          <div class="col-12 bg-primary text-center pb-1 pt-2">
            <h5 class="text-white text-uppercase">5. WORK COMPLETION (Permit Acceptor)</h5>
          </div>
          <div class="col-12 bg-light pt-3 pb-0">
            <p class="text-muted">
              In the presence of Permit Authoriser I confirm the items listed in Section 1 & 2 have been implemented and the above works are ...
            </p>
            <p class="text-muted">
              <feather type="square" class="ml-3 mr-1"></feather> Completed
              <feather type="square" class="ml-3 mr-1"></feather> Test Run Required
              <feather type="square" class="ml-3 mr-1"></feather> Cancelled
            </p>

            <table class="table table-sm table-bordered border-dark">
              <thead>
                <tr>
                  <td>
                    <h6 class="text-secondary text-uppercase">Date</h6>
                  </td>
                  <td>
                    <h6 class="text-secondary text-uppercase">Permit Acceptor</h6>
                  </td>
                  <td>
                    <h6 class="text-secondary text-uppercase">Signature</h6>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr v-if="form.completions.length == 0">
                  <td>&nbsp;</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr v-else v-for="(item, index) in form.completions" :key="`E-${index}`">
                  <td>{{dateFormat(item.permitAcceptor.actionedAt, 'DD/MM/YYYY hh:mm A')}}</td>
                  <td>{{ item.permitAcceptor.user.name }}&nbsp;</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row my-3 mx-1">
          <div class="col-12 bg-warning text-center pb-1 pt-2">
            <h5 class="text-black text-uppercase">6. FINAL SIGN OFF & CLOSE OUT (Permit Authoriser)</h5>

          </div>
          <div class="col-12 bg-light pt-3 pb-0">
            <p class="text-muted">
              In the presence of Permit Acceptor I confirm completion of the above work and all associated permits have been closed. This permit is now closed out. <br /> Inspection of this asset has been completed prior to bringing the asset back into service.
            </p>
            <table class="table table-sm table-bordered border-dark">
              <thead>
                <tr>
                  <td>
                    <h6 class="text-secondary text-uppercase">Date</h6>
                  </td>
                  <td>
                    <h6 class="text-secondary text-uppercase">Permit Authoriser</h6>
                  </td>
                  <td>
                    <h6 class="text-secondary text-uppercase">Signature</h6>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr v-if="!form.close.permitAuthoriser.actionedAt">
                  <td>&nbsp;</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr v-else>
                  <td>
                    {{dateFormat(form.close.permitAuthoriser.actionedAt, 'DD/MM/YYYY hh:mm A')}}</td>
                  <td>{{form.close.permitAuthoriser.user.name}}&nbsp;</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import AuthorityToWorkFormEditor from './editor';
import FormLink from '../form-link';
import PermitLink from '../permit-link';

import format from 'date-fns/format';
import {
  options_requestTypes,
  options_swipeCardAreas,
  options_lockboxes
} from './../../../store/options';

export default {
  name: 'AuthorityToWorkFormDetail',
  components: { AuthorityToWorkFormEditor, FormLink, PermitLink },
  async created() {
    await this.getForm(this.$route.params.formId);

    this.users = await this.getUsers();

    this.permitAcceptors = await this.getUsersByRole(
      'paperwork_permit_acceptor'
    );
    this.permitAuthorisers = await this.getUsersByRole(
      'paperwork_permit_authoriser'
    );

    try {
      this.form.permits.filter(x => x.id == "ISO").forEach(x => {
        x.extras.forEach(y => {
          if (y.name == "Lockbox Number") {

            if (y.name) {
              this.notes.extra.name = y.name;
            }


            if (y.value) {
              this.notes.extra.value = y.value.replace(' ', '').split(',');
            }
          }
        })
      });
    }
    catch (err) {
      console.log(err);
    }

    this.notes.permitAcceptor = this.form.open.permitAcceptor.user;
    this.notes.permitAuthoriser = this.form.open.permitAuthoriser.user;
    this.notes.isolationMarkupCompletedBy = this.form.isolationMarkup.permitAcceptor.user;
    this.notes.isolatedBy = this.form.isolation.permitAcceptor.user;
    this.notes.deisolatedBy = this.form.deisolation.permitAcceptor.user;
    //this.notes.extra = this.form.permits
    //  .filter(x => x.id === 'ISO')[0]
    //  .extras.filter(x => x.name === 'Lockbox Number')[0];
  },
  data() {
    var checkIsolation = (rule, value, callback) => {
      if (this.form.permits.filter(x => x.id === 'ISO')[0].required && !value) {
        console.log('needs a person selected');
        return callback(new Error('Please select a person.'));
      } else {
        console.log('all good');
        return callback();
      }
    };

    return {
      selectedLockboxes: [],
      form: {},
      loading: true,
      dialogTableVisible: false,
      authoriseDialogVisible: false,
      openDialogVisible: false,
      closeDialogVisible: false,
      requestTransferDialogVisible: false,
      authoriseTransferDialogVisible: false,
      requestSuspensionDialogVisible: false,
      authoriseSuspensionDialogVisible: false,
      requestRevalidationDialogVisible: false,
      authoriseRevalidationDialogVisible: false,
      requestWorkCompletionDialogVisible: false,
      authoriseWorkCompletionDialogVisible: false,
      notes: {
        message: '',
        status: '',
        permitAcceptor: '',
        permitAuthoriser: '',
        isolationMarkupCompletedBy: '',
        isolatedBy: '',
        deisolatedBy: '',
        extra: {
          value: []
        }
      },
      permitAcceptors: [],
      permitAuthorisers: [],
      users: [],

      rules: {
        isolatedBy: {
          id: {
            required: false,
            validator: checkIsolation,
            message: 'Please select a person.',
            trigger: 'change'
          }
        },
        deisolatedBy: {
          id: {
            required: false,
            validator: checkIsolation,
            message: 'Please select a person.',
            trigger: 'change'
          }
        },
        isolationMarkupCompletedBy: {
          id: {
            required: false,
            validator: checkIsolation,
            message: 'Please select a person.',
            trigger: 'change'
          }
        },
        extra: {
          value: {
            required: false,
            validator: checkIsolation,
            message: 'Please select a value',
            trigger: 'change'
          }
        },
        permitAcceptor: {
          id: {
            required: true,
            message: 'Please select a person.',
            trigger: 'change'
          }
        },
        permitAuthoriser: {
          id: {
            required: true,
            message: 'Please select a person.',
            trigger: 'change'
          }
        },

        status: [
          {
            required: true,
            message: 'Please select an action',
            trigger: 'change'
          }
        ]
      },
      options: {
        lockboxes: options_lockboxes
      }
    };
  },
  computed: {
    maxActions() {
      return Math.max(
        this.form.suspensions.length,
        this.form.revalidations.length,
        this.form.transfers.length,
        3
      );
    }
  },
  methods: {
    editForm(force) {
      this.$router.push({ name: this.form.kind.slug + '-form-edit' });
    },
    authorise(action, confirmed) {
      if (confirmed) {
        var self = this;
        this.$refs['form-authorise'].validate(async valid => {
          if (valid) {
            self.doAction(self.notes.status);
          } else {
            return false;
          }
        });
      } else {
        this.notes.status = action;
        this.authoriseDialogVisible = true;
      }
    },
    requestWorkCompletion(action, confirmed) {
      if (confirmed) {
        var self = this;
        this.$refs['form-requestWorkCompletion'].validate(async valid => {
          if (valid) {
            self.doAction(self.notes.status);
          } else {
            return false;
          }
        });
      } else {
        this.notes.status = action;
        this.requestWorkCompletionDialogVisible = true;
      }
    },
    authoriseWorkCompletion(action, confirmed) {
      if (confirmed) {
        var self = this;
        this.$refs['form-authoriseWorkCompletion'].validate(async valid => {
          if (valid) {
            self.doAction(self.notes.status);
          } else {
            return false;
          }
        });
      } else {
        this.notes.status = action;
        this.authoriseWorkCompletionDialogVisible = true;
      }
    },
    open(confirmed) {
      if (confirmed) {
        var self = this;
        this.$refs['form-open'].validate(async valid => {
          if (valid) {
            self.doAction('open');
          } else {
            return false;
          }
        });
      } else {
        this.openDialogVisible = true;
      }
    },
    close(confirmed) {
      if (confirmed) {
        var self = this;
        this.$refs['form-close'].validate(async valid => {
          if (valid) {
            self.doAction('close');
          } else {
            return false;
          }
        });
      } else {
        this.closeDialogVisible = true;
      }
    },
    authoriseTransfer(confirmed) {
      if (confirmed) {
        var self = this;
        this.$refs['form-authoriseTransfer'].validate(async valid => {
          if (valid) {
            self.doAction('authorise transfer');
          } else {
            return false;
          }
        });
      } else {
        this.authoriseTransferDialogVisible = true;
      }
    },
    requestTransfer(confirmed) {
      if (confirmed) {
        var self = this;
        this.$refs['form-requestTransfer'].validate(async valid => {
          if (valid) {
            self.doAction('request transfer');
          } else {
            return false;
          }
        });
      } else {
        this.requestTransferDialogVisible = true;
      }
    },
    authoriseSuspension(confirmed) {
      if (confirmed) {
        var self = this;
        this.$refs['form-authoriseSuspension'].validate(async valid => {
          if (valid) {
            self.doAction('authorise suspension');
          } else {
            return false;
          }
        });
      } else {
        this.authoriseSuspensionDialogVisible = true;
      }
    },
    requestSuspension(confirmed) {
      if (confirmed) {
        var self = this;
        this.$refs['form-requestSuspension'].validate(async valid => {
          if (valid) {
            self.doAction('request suspension');
          } else {
            return false;
          }
        });
      } else {
        this.requestSuspensionDialogVisible = true;
      }
    },
    authoriseRevalidation(confirmed) {
      if (confirmed) {
        var self = this;
        this.$refs['form-authoriseRevalidation'].validate(async valid => {
          if (valid) {
            self.doAction('authorise revalidation');
          } else {
            return false;
          }
        });
      } else {
        this.authoriseRevalidationDialogVisible = true;
      }
    },
    requestRevalidation(confirmed) {
      if (confirmed) {
        var self = this;
        this.$refs['form-requestRevalidation'].validate(async valid => {
          if (valid) {
            self.doAction('request revalidation');
          } else {
            return false;
          }
        });
      } else {
        this.requestRevalidationDialogVisible = true;
      }
    },
    print() {
      window.print();
    },
    dateFormat(date, formatOption) {
      if (!Date.parse(date)) return '';

      let minDate = Date.parse('1950-01-01 00:00:00.000000Z');
      let parsedDate = Date.parse(date);

      if (parsedDate < minDate) return '___ / ___ / ___';

      return format(parsedDate, formatOption);
    },
    async getForm(formId) {
      try {
        this.loading = true;
        let response = await this.$http({
          method: 'get',
          url: `/api/forms/authority-to-work/${formId}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        this.form = response.data;
      } catch (err) {
        console.log(err);
      } finally {
        this.loading = false;
      }
    },

    async doAction(action) {
      try {
        this.loading = true;

        // convert lockboxes back to string
        this.notes.extra.value = this.notes.extra.value.join(',');

        let response = await this.$http({
          method: 'put',
          url: `/api/forms/authority-to-work/${this.form.id}/status/${action}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken,
            'Content-Type': 'application/json'
          },
          data: this.notes
        });
        this.$notify({
          title: 'Success',
          message: response.data.message,
          type: 'success'
        });
        this.$router.push({
          name: 'authority-to-work-form-detail',
          params: { formId: this.form.id },
          query: { d: Date.now() }
        });
      } catch (err) {
        this.$notify({
          title: 'Warning',
          message: err.response.data.message,
          type: 'warning'
        });
      } finally {
        this.loading = false;
      }
    },
    async getUsersByRole(role) {
      try {
        let response = await this.$http({
          method: 'get',
          url: `/api/users/role/${role}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        return response.data;
      } catch (err) {
        console.log(err);
      }
    },
    async getUsers() {
      try {
        let response = await this.$http({
          method: 'get',
          url: `/api/users/`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        return response.data;
      } catch (err) {
        console.log(err);
      }
    }
  }
};
</script>
