<template>
  <el-form v-loading="loading" ref="form" :model="form" size="mini" :rules="rules" :disabled="disabled" class="app-form" status-icon label-width="250px">

    <div class="row">
      <div class="col-md-12 col-lg-7">
        <h6 class="form-heading-muted">Linked Forms</h6>
        <el-form-item v-for="(link, index) in form.linkedForms" :key="index" :label="link.name">
          <el-form-item label="Document Number" class="d-inline-block w-100">
            <el-select clearable filterable remote :remote-method="value => searchForms(value, link.id)" :placeholder="`Choose a ${link.name} ...`" :loading="selectLoading" v-model="link.formId" @change="value => handleLinkedFormChange(value, link.id)">
              <el-option v-for="item in loadedForms[link.id]" :key="item.id" :label="item.friendlyId" :value="item.friendlyId" :title="item.description">
                <span class="float-left text-primary mr-3">{{ item.friendlyId }}</span>
                <span class="float-right text-muted text-truncate text-right" style="max-width: 220px; font-size: 12px">{{ item.description }}</span>
              </el-option>
            </el-select>
          </el-form-item>
        </el-form-item>
      </div>
      <div class="col-md-12 col-lg-5">
        <div class="bd-callout bd-callout-success">
          <div class="row">
            <div class="col-2">
              <feather type="check"></feather>
            </div>
            <div class="col-10">
              <h5>Prefill Available</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-7">
        <h6 class="form-heading-muted">General</h6>
        <el-form-item label="Permit Acceptor">
          <el-select v-model="form.permitAcceptor" filterable clearable placeholder="Search ..." value-key="id" class="col-10">
            <el-option v-for="{id, name, email, phone} in users" :key="id" :label="name" :value="{id, name, email, number: phone}">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Name" prop="permitAcceptor.name">
          <el-input type="text" size="mini" v-model="form.permitAcceptor.name" class="col-10"></el-input>
        </el-form-item>
        <el-form-item label="Contact Number" prop="permitAcceptor.number">
          <el-input type="text" size="mini" v-model="form.permitAcceptor.number" class="col-10"></el-input>
        </el-form-item>
        <el-form-item label="Email" prop="permitAcceptor.email">
          <el-input type="text" size="mini" v-model="form.permitAcceptor.email" class="col-10"></el-input>
        </el-form-item>
        <el-form-item label="Works Description" prop="worksDescription">
          <el-input type="textarea" :disabled="selectLoading" :rows="10" size="mini" v-model="form.worksDescription" class="col-10"></el-input>
        </el-form-item>
        <el-form-item label="Stage" prop="stage">
          <el-select size="mini" v-model="form.stage" class="col-10">
            <el-option key="1" value="Stage 1" label="Stage 1">Stage 1</el-option>
            <el-option key="2" value="Stage 2" label="Stage 2">Stage 2</el-option>
            <el-option key="3" value="Stage 1 & 2" label="Stage 1 & 2">Stage 1 & 2</el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Physical Location" prop="physicalLocation">
          <el-input type="text" size="mini" v-model="form.physicalLocation" class="col-10"></el-input>
        </el-form-item>
        <el-form-item label="Equipment Number" prop="equipmentNumber">
          <el-select class="col-10" clearable allow-create filterable remote multiple :remote-method="value => searchTags(value)" :placeholder="`Start typing a tag ...`" :loading="selectLoading" v-model="form.equipmentNumber" @change="value => handleTagChange(value)">
            <el-option v-for="item in loadedTags" :key="item.id" :label="item.id" :value="item.id" :title="item.description">
              <span class="float-left text-primary mr-3">{{ item.id }}</span>
              <span class="float-right text-muted text-truncate text-right" style="max-width: 220px; font-size: 12px">{{ item.description }}</span>
            </el-option>
          </el-select>
          <!-- <el-input type="text" size="mini" v-model="form.equipmentNumber" class="col-10"></el-input> -->
        </el-form-item>
        <el-form-item label="Work Duration" prop="workDuration">
          <div class="col-10">
            <el-date-picker class="col-10" :disabled="selectLoading" size="mini" v-model="form.workDuration" type="daterange" align="right" unlink-panels range-separator="To" start-placeholder="Start" end-placeholder="End" :picker-options="options.quickDates">
            </el-date-picker>
          </div>
        </el-form-item>
        <el-form-item label="Work Order Number" prop="workOrderNumber">
          <el-input type="text" size="mini" v-model="form.workOrderNumber" class="col-10"></el-input>
        </el-form-item>
        <el-form-item label="Shutdown Required" prop="shutdownRequired">
          <el-checkbox size="mini" v-model="form.shutdownRequired" class="col-10">Yes</el-checkbox>
        </el-form-item>

        <el-form-item label="Isolated By">
          <el-select v-model="form.isolation.permitAcceptor.user" filterable clearable placeholder="Select or type a name" value-key="id" class="col-10">
            <el-option v-for="option in users" :key="option.id" :label="option.name" :value="option">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="Deisolated By">
          <el-select v-model="form.deisolation.permitAcceptor.user" filterable clearable placeholder="Select or type a name" value-key="id" class="col-10">
            <el-option v-for="option in users" :key="option.id" :label="option.name" :value="option">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="Isolation Markup Completed By">
          <el-select v-model="form.isolationMarkup.permitAcceptor.user" filterable clearable placeholder="Select or type a name" value-key="id" class="col-10">
            <el-option v-for="option in users" :key="option.id" :label="option.name" :value="option">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="Permit Authoriser (Open)">
          <el-select v-model="form.open.permitAuthoriser.user" filterable clearable placeholder="Select or type a name" value-key="id" class="col-10">
            <el-option v-for="option in permitAuthorisers" :key="option.id" :label="option.name" :value="option">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="Permit Authoriser (Close)">
          <el-select v-model="form.close.permitAuthoriser.user" filterable clearable placeholder="Select or type a name" value-key="id" class="col-10">
            <el-option v-for="option in users" :key="option.id" :label="option.name" :value="option">
            </el-option>
          </el-select>
        </el-form-item>
      </div>
      <div class="col-md-12 col-lg-5">
        <div class="bd-callout bd-callout-warning">
          <div class="row">
            <div class="col-2">
              <feather type="alert-triangle"></feather>
            </div>
            <div class="col-10">
              <h5>Notice</h5>
              Works Description means a document (for example: Scope of Works or Work Order) which provides sufficient detail to allow the Permit Authoriser to determine the type of tasks to be undertaken and the potential impact of any work to the PLANT. Upon submission, additional information may be requested by the Permit Authoriser.

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-7">
        <h6 class="form-heading-muted">Filling Out On Behalf Of (Optional)</h6>
        <el-form-item label="Role" prop="onBehalfOf.type">
          <el-radio v-model="form.onBehalfOf.type" label="Contractor" class="col-2" checked>Contractor</el-radio>
        </el-form-item>
        <el-form-item label="Name" prop="onBehalfOf.name">
          <el-input type="text" size="mini" v-model="form.onBehalfOf.name" class="col-10"></el-input>
        </el-form-item>
        <el-form-item label="Contact Number" prop="onBehalfOf.number">
          <el-input type="text" size="mini" v-model="form.onBehalfOf.number" class="col-10"></el-input>
        </el-form-item>
        <el-form-item label="Email" prop="onBehalfOf.email">
          <el-input type="text" size="mini" v-model="form.onBehalfOf.email" class="col-10"></el-input>
        </el-form-item>
      </div>
      <div class="col-md-12 col-lg-5">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-7">
        <h6 class="form-heading-muted">Contractor's Leading Hand / Supervisor</h6>
        <el-form-item label="Name">
          <el-input type="text" size="mini" v-model="form.principalContractor.name" class="col-10"></el-input>
        </el-form-item>
        <el-form-item label="Contact Number">
          <el-input type="text" size="mini" v-model="form.principalContractor.number" class="col-10"></el-input>
        </el-form-item>
        <el-form-item label="Email">
          <el-input type="text" size="mini" v-model="form.principalContractor.email" class="col-10"></el-input>
        </el-form-item>
      </div>
      <div class="col-md-12 col-lg-5">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-12">
        <h6 class="form-heading-muted">Permits</h6>

        <el-form-item v-for="(permit, index) in form.permits" :key="index" :label="permit.name">
          <el-form-item label="Permit Number" class="d-inline-block w-50">
            <el-input v-if="permit.permitId" v-model="permit.permitId" :disabled="true">
              <el-button slot="append" v-if="permit.removable" size="mini" type="danger" icon="el-icon-close" rounded @click.prevent="removePermit(permit)">
              </el-button>
            </el-input>
            <el-input v-else-if="permit.generate && !permit.permitId" :placeholder="`${permit.id} Number will be generated`" :disabled="true"></el-input>
            <el-input v-else :disabled="true"></el-input>
            <el-checkbox v-model="permit.generate">
              <span v-if="!permit.generate">Check to generate {{permit.id}} permit</span>
              <span v-else>Uncheck to remove {{permit.id}} permit</span>
            </el-checkbox>
          </el-form-item>
          <el-form-item v-for="(extra, index) in permit.extras" :key="index" :label="extra.name" class="d-inline-block w-100">
            <el-select v-if="extra.name == 'Lockbox Number'" multiple v-model="selectedLockboxes" filterable clearable placeholder="Select free lockbox(es)" value-key="index">
              <el-option v-for="(option, index) in options.lockboxes" :key="index" :label="option.number" :value="option.number" :disabled="option.disabled">
              </el-option>
            </el-select>
            <el-checkbox v-else-if="extra.name == 'Single Point Tag'" v-model="extra.value" value-key="index">Yes</el-checkbox>
            <el-input v-else v-model="extra.value"></el-input>
          </el-form-item>
        </el-form-item>
        <hr />
        <el-form-item label="Add Other Permit" class="d-inline-block w-75">
          <el-form :inline="true">
            <el-form-item label="Type">
              <el-input v-model="newPermit.type"></el-input>
            </el-form-item>
            <el-form-item label="Number">
              <el-input v-model="newPermit.number"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button size="mini" type="primary" @click="addPermit(newPermit)">Add Permit</el-button>

            </el-form-item>
          </el-form>
        </el-form-item>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-7">
        <h6 class="form-heading-muted">OTHERS ALLOWED TO VIEW</h6>
        <el-form-item label="Users">
          <el-select v-model="form.allowedUsers" multiple filterable clearable placeholder="Search ..." value-key="id" class="col-10">
            <el-option v-for="user in users" :key="user.id" :label="user.name" :value="user.id">
            </el-option>
          </el-select>
        </el-form-item>
      </div>
    </div>

    <hr />
    <el-form v-if="!disabled">
      <el-button v-if="!isNew" size="mini" type="primary " @click="submitForm( 'form', false) ">Save</el-button>
      <el-dropdown v-if="isNew" size="mini" placement="top-end" split-button type="primary" @click="submitForm( 'form', true)" @command="onCommandDropdown">
        Save & Submit for Authorisation
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item command="save">Save As Draft</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      <el-button size="mini " @click="cancel() ">Cancel</el-button>
    </el-form>
  </el-form>

</template>

<script>
import Vue from 'vue';
import {
  options_requestTypes,
  options_quickDates,
  options_awarenessTraining,
  options_approvers,
  options_swipeCardAreas,
  options_plantAccessAreas,
  options_lockboxes
} from './../../../store/options';
import { text } from '@fortawesome/fontawesome';

export default {
  name: 'AuthorityToWorkFormEditor',
  beforeMount() {
    //this.form = Vue.util.extend(this.form, this.formData);
  },
  async created() {
    this.loading = true;
    this.users = await this.getUsers();
    this.takenLockboxes = await this.getLockboxes();
    this.permitAuthorisers = await this.getUsersByRole(
      'paperwork_permit_authoriser'
    );

    this.options.lockboxes.forEach(x => {

      let taken = this.takenLockboxes.filter(y => y.number.replace(' ', '').split(',').includes(x.number));

      if (taken.length >= 1) x.disabled = true;
    });

    await this.searchForms('', 'PER');
    await this.searchForms('', 'PWR');

    if (!this.formData) {
      this.defaultForm.permitAcceptor.id = this.user.sub;
      this.defaultForm.permitAcceptor.name = this.user.name;
      this.defaultForm.permitAcceptor.email = this.user.email;
      this.defaultForm.permitAcceptor.number = this.user.phone;
    }

    console.log(this.formData);

    if (this.form && this.formData) {
      this.form.equipmentNumber = this.formData.equipmentNumber.split(',');

      this.formData.permits.filter(x => x.id == "ISO").forEach(x => {
        x.extras.forEach(y => {
          if (y.name == "Lockbox Number" && y.value) {
            this.selectedLockboxes = y.value.replace(' ', '').split(',');
          }
        })
      });
    }

    this.loading = false;
  },
  props: {
    formData: Object,
    disabled: false
  },
  data() {
    return {
      selectedLockboxes: [],
      users: [],
      permitAuthorisers: [],
      takenLockboxes: [],
      newPermit: {},
      loading: true,
      selectLoading: false,
      loadedForms: {},
      loadedTags: [],
      denialReason: {
        message: ''
      },
      defaultForm: {
        permits: [
          {
            id: 'JSEA',
            name: 'Job Safety & Environmental Analysis',
            permitId: '',
            required: true,
            generate: true
          },
          {
            id: 'HW',
            name: 'Hot Work',
            permitId: ''
          },
          {
            id: 'CSE',
            name: 'Confined Space Entry',
            permitId: ''
          },
          {
            id: 'WAH',
            name: 'Working At Height',
            permitId: ''
          },
          {
            id: 'GMR',
            name: 'Grid Mesh Removal',
            permitId: ''
          },
          {
            id: 'EXP',
            name: 'Excavation & Penetration',
            permitId: ''
          },
          {
            id: 'HV',
            name: 'High Voltage Electrical',
            permitId: ''
          },
          {
            id: 'LV',
            name: 'Low Voltage Electrical',
            permitId: ''
          },
          {
            id: 'ISO',
            name: 'Isolations',
            permitId: '',
            extras: [
              {
                name: 'Lockbox Number',
                value: ''
              },
              {
                name: 'Single Point Tag',
                value: false
              }
            ]
          }
        ],
        linkedForms: [
          {
            id: 'PER',
            name: 'Plant Entry Request',
            completed: false,
            reason: '',
            formId: ''
          },
          {
            id: 'PWR',
            name: 'Plant Works Request',
            completed: false,
            reason: '',
            formId: ''
          }
        ],
        approvers: [
          {
            role: {
              id: 'paperwork_permit_authoriser',
              name: 'Permit Authoriser'
            },
            user: null
          }
        ],
        requestedBy: {},
        name: '',
        contactNumber: '',
        shutdownRequired: false,
        stage: '',
        physicalLocation: '',
        worksDescription: '',
        workOrderNumber: '',
        workDuration: [],
        equipmentNumber: [],
        permitAcceptor: {
          id: '',
          name: '',
          number: '',
          email: ''
        },
        onBehalfOf: {
          type: '',
          name: '',
          number: '',
          email: ''
        },
        principalContractor: {
          name: '',
          number: '',
          email: ''
        },
        open: {
          permitAcceptor: {
            isApproved: null,
            message: '',
            actionedAt: null,
            status: '',
            user: {
              id: '',
              name: '',
              email: ''
            }
          },
          permitAuthoriser: {
            isApproved: null,
            message: '',
            actionedAt: null,
            status: '',
            user: {
              id: '',
              name: '',
              email: ''
            }
          }
        },
        isolation: {
          permitAcceptor: {
            isApproved: null,
            message: '',
            actionedAt: null,
            status: '',
            user: {
              id: '',
              name: '',
              email: ''
            }
          },
          permitAuthoriser: {
            isApproved: null,
            message: '',
            actionedAt: null,
            status: '',
            user: {
              id: '',
              name: '',
              email: ''
            }
          }
        },
        deisolation: {
          permitAcceptor: {
            isApproved: null,
            message: '',
            actionedAt: null,
            status: '',
            user: {
              id: '',
              name: '',
              email: ''
            }
          },
          permitAuthoriser: {
            isApproved: null,
            message: '',
            actionedAt: null,
            status: '',
            user: {
              id: '',
              name: '',
              email: ''
            }
          }
        },
        isolationMarkup: {
          permitAcceptor: {
            isApproved: null,
            message: '',
            actionedAt: null,
            status: '',
            user: {
              id: '',
              name: '',
              email: ''
            }
          },
          permitAuthoriser: {
            isApproved: null,
            message: '',
            actionedAt: null,
            status: '',
            user: {
              id: '',
              name: '',
              email: ''
            }
          }
        },
        close: {
          permitAcceptor: {
            isApproved: null,
            message: '',
            actionedAt: null,
            status: '',
            user: {
              id: '',
              name: '',
              email: ''
            }
          },
          permitAuthoriser: {
            isApproved: null,
            message: '',
            actionedAt: null,
            status: '',
            user: {
              id: '',
              name: '',
              email: ''
            }
          }
        },
        completions: []
      },
      rules: {
        worksDescription: [
          {
            required: true,
            message: 'Please enter a description for this request',
            trigger: 'blur'
          },
          {
            min: 1,
            message: 'Please enter a description for this request',
            trigger: 'blur'
          }
        ],
        physicalLocation: [
          {
            required: true,
            message: 'Please enter plant location/s for this request',
            trigger: 'blur'
          },
          {
            min: 1,
            message: 'Please enter plant location/s for this request',
            trigger: 'blur'
          }
        ],
        workDuration: [
          {
            type: 'array',
            required: true,
            message: 'Please enter work duration',
            trigger: 'change'
          }
        ],
        permitAcceptor: {
          name: [
            {
              required: true,
              message: 'Please enter a name for the permit acceptor',
              trigger: 'blur'
            }
          ],
          email: [
            {
              required: true,
              message: 'Please enter an email for the permit acceptor',
              trigger: 'blur'
            }
          ],
          number: [
            {
              required: true,
              message: 'Please enter a contact number for the permit acceptor',
              trigger: 'blur'
            }
          ]
        }
      },
      options: {
        requestTypes: options_requestTypes,
        quickDates: options_quickDates,
        awarenessTraining: options_awarenessTraining,
        approvers: options_approvers,
        swipeCardAreas: options_swipeCardAreas,
        plantAreas: options_plantAccessAreas,
        lockboxes: options_lockboxes,
        priorityNames: {
          1: 'primary',
          2: 'secondary',
          3: 'tertiary'
        }
      }
    };
  },
  computed: {
    form() {
      return this.formData
        ? Vue.util.extend(this.defaultForm, this.formData)
        : this.defaultForm;
    },
    selectedRequestType() {
      return this.options.requestTypes.find(
        x => x.code == this.form.requestType
      );
    },
    roles() {
      return this.$store.getters.roles;
    },
    isNew() {
      return this.$route.params.formId ? false : true;
    },
    user() {
      return this.$store.getters.user;
    }
  },
  methods: {
    addPermit(permit) {
      this.form.permits.push({
        id: permit.type,
        name: permit.type,
        permitId: permit.number,
        required: true,
        generate: false,
        removable: true
      });

      this.newPermit = {};
    },
    removePermit(item) {
      var index = this.form.permits.indexOf(item);
      if (index !== -1) {
        this.form.permits.splice(index, 1);
      }
    },
    approvers(key) {
      return this.options.approvers[key];
    },
    cancel() {
      return this.$router.go(-2);
    },
    async getUsers() {
      try {
        let response = await this.$http({
          method: 'get',
          url: `/api/users/`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        return response.data;
      } catch (err) {
        console.log(err);
      }
    },
    async getUsersByRole(role) {
      try {
        let response = await this.$http({
          method: 'get',
          url: `/api/users/role/${role}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        return response.data;
      } catch (err) {
        console.log(err);
      }
    },
    async getLockboxes() {
      try {
        let response = await this.$http({
          method: 'get',
          url: `/api/admin/forms/lockboxes`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        return response.data;
      } catch (err) {
        console.log(err);
      }
    },
    async searchForms(value, type) {
      let urlType = '';
      if (type === 'PER') urlType = 'plant-entry-request';
      if (type === 'PWR') urlType = 'plant-works-request';
      try {
        this.selectLoading = true;
        let response = await this.$http({
          method: 'get',
          url: `/api/user/forms/${urlType}/${value}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        this.loadedForms[type] = response.data;
      } catch (err) {
        console.log(err);
      } finally {
        this.selectLoading = false;
      }
    },
    async searchTags(value) {
      try {
        if (value == '' || value.length <= 2) {
          this.loadedTags = [];
          return;
        }

        this.selectLoading = true;
        let response = await this.$http({
          method: 'get',
          url: `/api/tags/${value}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        this.loadedTags = response.data;
      } catch (err) {
        console.log(err);
      } finally {
        this.selectLoading = false;
      }
    },
    async handleTagChange(value) {},
    async handleLinkedFormChange(value, type) {
      let urlType = '';
      if (type === 'PER') urlType = 'plant-entry-request';
      if (type === 'PWR') urlType = 'plant-works-request';

      if (!value) return;
      let form = this.loadedForms[type].find(x => x.friendlyId === value);
      if (!form) return;

      try {
        this.selectLoading = true;
        let response = await this.$http({
          method: 'get',
          url: `/api/forms/${urlType}/${form.id}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        form = response.data;
      } catch (err) {
        console.log(err);
      } finally {
        this.selectLoading = false;
      }

      let areas = '';
      let duration = [];

      if (type == 'PER') {
        areas = [];
        areas = areas.concat(
          this.options.plantAreas
            .filter(x => x.id === 'general')[0]
            .children.filter(x => form.plantAccess.areas.includes(x.id))
            .map(x => x.label)
        );
        areas = areas.concat(
          this.options.plantAreas
            .filter(x => x.id === 'stage-one')[0]
            .children.filter(x => form.plantAccess.areas.includes(x.id))
            .map(x => x.label)
        );
        areas = areas.concat(
          this.options.plantAreas
            .filter(x => x.id === 'stage-two')[0]
            .children.filter(x => form.plantAccess.areas.includes(x.id))
            .map(x => x.label)
        );

        areas = areas.join(', ');
        duration = form.visitors[0].visitDuration;
      }

      if (type == 'PWR') {
        areas = form.physicalLocation;
        duration = form.workDuration;
      }

      this.form.physicalLocation = areas;
      this.form.worksDescription = form.description;
      this.form.workDuration = duration;
    },
    onCommandDropdown(command) {
      if (command === 'save') {
        this.submitForm('form', false);
      }
    },
    async submitForm(formName, submitForApproval = false) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          try {
            this.loading = true;

            console.log(this.form.permits);

            if (Array.isArray(this.form.equipmentNumber)) {
              this.form.equipmentNumber = this.form.equipmentNumber.join(',');
            }

            if (Array.isArray(this.form.permits)) {
              this.form.permits
                .filter(x => x.id == "ISO")
                .forEach(x => {             
                  x.extras.forEach(y => {
                    if (y.name == "Lockbox Number") {
                      y.value = this.selectedLockboxes.join(',');
                    }
                })
              });
            }


            let id = null;
            if (this.$route.params.formId) {
              let response = await this.$http({
                method: 'put',
                url: `/api/forms/authority-to-work/${
                  this.$route.params.formId
                }`,
                headers: {
                  Authorization: 'Bearer ' + this.$store.getters.accessToken,
                  'Content-Type': 'application/json'
                },
                data: this.form
              });
              id = response.data.id;
            } else {
              let response = await this.$http({
                method: 'post',
                url: `/api/forms/authority-to-work`,
                headers: {
                  Authorization: 'Bearer ' + this.$store.getters.accessToken,
                  'Content-Type': 'application/json'
                },
                data: this.form
              });

              id = response.data.id;

              if (submitForApproval) {
                let pending = await this.doAction('request authorisation', id);
              }
            }

            this.$notify({
              title: 'Done',
              message: 'Authority To Work saved',
              type: 'success'
            });

            this.$router.push({
              name: 'authority-to-work-form-detail',
              params: { formId: id }
            });
          } catch (err) {
            console.log(err);
            this.$notify({
              title: 'Error',
              message: err,
              type: 'error'
            });
          } finally {
            this.loading = false;
          }
        } else {
          window.scrollTo(0, 0);
          return false;
        }
      });
    },
    async doAction(action, id) {
      try {
        let response = await this.$http({
          method: 'put',
          url: `/api/forms/authority-to-work/${id}/status/${action}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken,
            'Content-Type': 'application/json'
          },
          data: this.denialReason
        });
        this.$notify({
          title: 'Success',
          message: response.data.message,
          type: 'success'
        });
        this.$router.go();
      } catch (err) {
        this.$notify({
          title: 'Warning',
          message: err.response.data.message,
          type: 'warning'
        });
      } finally {
      }
    },
    async getUsersByRole(role) {
      try {
        let response = await this.$http({
          method: 'get',
          url: `/api/users/role/${role}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        return response.data;
      } catch (err) {
        console.log(err);
      }
    }
  }
};
</script>
