﻿@model CallibrationRegister.Models.TagType

@{
    ViewBag.Title = "Create " + Model.Name + " Tag";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    @Html.Hidden("tagType", Model.Name);

    <div class="form-group">
        <label>Tag Name</label>
        <input class="form-control input-sm" type="text" name="name" />
    </div>

    <hr />

    <h4>Tag Fields</h4>
    <div class="form-horizontal">
        @foreach (var tagField in Model.TagFields.OrderBy(x => x.SortOrder))
        {
            <div class="form-group">
                <label>@tagField.DisplayName</label>
                <input class="form-control input-sm" type="@tagField.DataType" name="@tagField.Id" />
            </div>
        }
    <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
