﻿@model IEnumerable<CallibrationRegister.Models.Tag>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

@using (Html.BeginForm("Create", "Tag", FormMethod.Get))
{
    @Html.DropDownList("tagTypeName", new SelectList(ViewBag.TagTypes, "Name", "Name"), new { @class = "form-control input-sm" })

    <input class="btn btn-sm btn-success" type="submit" value="Create new Tag"/>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TagType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fields)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TagType)
        </td>
        <td>
            <pre><code>@Html.DisplayFor(modelItem => item.Fields)</code></pre>
        </td>
    </tr>
}

</table>
