﻿@model SSWA.CalibrationRegister.Web.Models.EditUserViewModel

@{
    ViewData["Title"] = "Edit";
}

<div classs="row">
    <div class="col-md-12">
        <h3>Administration &rsaquo; Users &rsaquo; @Model.Email</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" class="form-control" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            @for (int i = 0; i < Model.Roles.Count; i++)
            {
                <div class="form-group">
                    <input type="checkbox" asp-for="Roles[i].IsInRole" />
                    <input type="hidden" asp-for="Roles[i].RoleId" />
                    <label class="control-label">@Model.Roles[i].RoleName</label>
                    <span asp-validation-for="Roles[i].RoleId" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
