﻿@model IEnumerable<UserListViewModel>

@{
    ViewData["Title"] = "Users";
}

<div class="row">
    <div class="col-md-12">
        <h3>Administration &rsaquo; Users</h3>
        <p>
            <a asp-action="Create">Invite User</a>
        </p>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastLogin)
                    </th>
                    <th width="30%"></th>
                    <th>
                        @Html.DisplayNameFor(model => model.AccountActivated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LoginCount)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td width="10%">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastLogin)
                        </td>
                        <td></td>
                        <td>
                            @if (item.AccountActivated)
                            {
                                <small><span title="Account Activated" class="glyphicon glyphicon-ok"></span></small>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LoginCount)
                        </td>
                        <td>
                            @if (item.ID != null)
                            {
                                @Html.ActionLink("Edit", "Edit", new {  id=item.ID })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


