﻿@model SSWA.CalibrationRegister.Web.Models.EditTagTypeViewModel

@{
    ViewData["Title"] = "Edit";
}

<h3>Administration &rsaquo; Tag Types &rsaquo; Edit @Model.Name Tag Type</h3>
<hr />
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" type="hidden" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="UnitOfMeasure" class="control-label"></label>
                <input asp-for="UnitOfMeasure" class="form-control" />
                <span asp-validation-for="UnitOfMeasure" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="ReportingTagTypeID" class="control-label"></label>
                <select asp-for="ReportingTagTypeID" asp-items="Model.ReportingTagTypes" class="form-control"></select>
                <span asp-validation-for="ReportingTagTypeID" class="text-danger"></span>
            </div>
        </div>
        </div>
    <div class="row">
        <div class="col-md-10">
            <hr />
            <h4>Tag Fields</h4>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Sort Order</th>
                    <th>Data Type</th>
                    <th>Default Value</th>
                    <th>Show On Chart</th>
                    <th>Inactive</th>
                </tr>
                @for (int i = 0; i < Model.TagFields.Count(); i++)
                {
                    <tr>
                        <td>
                            <input type="text" readonly asp-for="TagFields[i].Id" class="form-control input-sm" />
                        </td>
                        <td>
                            <input type="text" asp-for="TagFields[i].DisplayName" class="form-control input-sm" />
                        </td>
                        <td>
                            <input type="number" asp-for="TagFields[i].SortOrder" class="form-control input-sm" />
                        </td>
                        <td>
                            <input type="text" readonly asp-for="TagFields[i].DataType" class="form-control input-sm" />
                        </td>
                        <td>
                            <input type="text" asp-for="TagFields[i].DefaultValue" class="form-control input-sm" />
                        </td>
                        <td>
                            <input type="checkbox" asp-for="TagFields[i].Chart" />
                        </td>
                        <td>
                            <input type="checkbox" asp-for="TagFields[i].Inactive" />
                        </td>
                    </tr>
                }
            </table>
            <hr />
            <h4>Calibration Fields</h4>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Sort Order</th>
                    <th>Data Type</th>
                    <th>Default Value</th>
                    <th>Show On Chart</th>
                    <th>Inactive</th>
                </tr>
                @for (int i = 0; i < Model.CalibrationFields.Count(); i++)
                {
                    <tr>
                        <td>
                            <input type="text" readonly asp-for="CalibrationFields[i].Id" class="form-control input-sm" />
                        </td>
                        <td>
                            <input type="text" asp-for="CalibrationFields[i].DisplayName" class="form-control input-sm" />
                        </td>
                        <td>
                            <input type="number" asp-for="CalibrationFields[i].SortOrder" class="form-control input-sm" />
                        </td>
                        <td>
                            <input type="text" readonly asp-for="CalibrationFields[i].DataType" class="form-control input-sm" />
                        </td>
                        <td>
                            <input type="text" asp-for="CalibrationFields[i].DefaultValue" class="form-control input-sm" />
                        </td>
                        <td>
                            <input type="checkbox" asp-for="CalibrationFields[i].Chart" />
                        </td>
                        <td>
                            <input type="checkbox" asp-for="CalibrationFields[i].Inactive" />
                        </td>
                    </tr>
                }
            </table>
            <hr />
            <h4>Result Calculations</h4>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Sort Order</th>
                    <th>Data Type</th>
                    <th>Default Value</th>
                    <th>Inactive</th>
                </tr>
                @for (int i = 0; i < Model.ResultCalculations.Count(); i++)
                {
                    <tr>
                        <td>
                            <input type="text" readonly asp-for="ResultCalculations[i].Id" class="form-control input-sm" />
                        </td>
                        <td>
                            <input type="text" asp-for="ResultCalculations[i].DisplayName" class="form-control input-sm" />
                        </td>
                        <td>
                            <input type="number" asp-for="ResultCalculations[i].SortOrder" class="form-control input-sm" />
                        </td>
                        <td>
                            <input type="text" readonly asp-for="ResultCalculations[i].DataType" class="form-control input-sm" />
                        </td>
                        <td>
                            <input type="text" asp-for="ResultCalculations[i].DefaultValue" class="form-control input-sm" />
                        </td>
                        <td>
                            <input type="checkbox" asp-for="ResultCalculations[i].Inactive" />
                        </td>
                    </tr>
                }
            </table>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>

        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
