﻿@model IEnumerable<SSWA.CalibrationRegister.Web.Models.TagTypeListViewModel>

@{
    ViewData["Title"] = "Tag Types";
}

<h3>Administration &rsaquo; Tag Types</h3>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReportingType)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.UnitOfMeasure)
                        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.TagFields)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CalibrationFields)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultCalculations)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ModifiedAt)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReportingType)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.UnitOfMeasure)
                            </td>*@
                            <td>
                                <pre style="font-size: 10px">@Html.DisplayFor(modelItem => item.TagFields)</pre>
                            </td>
                            <td>
                                <pre style="font-size: 10px">@Html.DisplayFor(modelItem => item.CalibrationFields)</pre>
                            </td>
                            <td>
                                <pre style="font-size: 10px">@Html.DisplayFor(modelItem => item.ResultCalculations)</pre>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModifiedAt)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
