<template>
  <div class="card shadow-sm pb-3">
    <div class="card-body">
      <h2 v-if="!isTemplate">New Isolation Permit</h2>
      <h2 v-else>New Isolation Template</h2>
      <isolation-permit-editor></isolation-permit-editor>
    </div>
  </div>
</template>

<script type="text/javascript">
import { mapActions, mapState } from 'vuex';
import IsolationPermitEditor from './editor';

export default {
  name: 'IsolationPermitCreate',
    components: { IsolationPermitEditor },
    computed: {
       isTemplate() {
        return this.$route.name.includes("template");
        }
    }
};
</script>

