<template>
  <div v-loading="loading">
    <div class="card shadow-sm non-printable mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h6 class="text-secondary text-uppercase">Action Bar</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-12">         
            <a
              href="#"
              style="font-weight: 500;"
              v-if="form.canEdit"
              @click="editForm(false)"
              :disabled="!form.canEdit"
              class="text-secondary btn mr-3"
            >
              <feather
                class="mr-1"
                type="edit"
                width="16"
                height="16"
              ></feather>
              <span>Edit Permit</span>
            </a>
            <a
              href="#"
              style="font-weight: 500;"
              v-if="form.canCancel"
              @click="doAction('cancel')"
              :disabled="!form.canCancel"
              class="text-secondary btn mr-3"
            >
              <feather
                class="mr-1"
                type="trash-2"
                width="16"
                height="16"
              ></feather>
              <span>Cancel Permit</span>
            </a>
            <a
              style="font-weight: 500;"
              role="button"
              href="#"
              class="text-secondary btn mr-3"
              @click="print()"
            >
              <feather
                class="mr-1"
                type="printer"
                width="16"
                height="16"
              ></feather>
              <span>Print</span>
            </a>
          </div>
          <div class="col-5">
          </div>
        </div>
      </div>
    </div>

    <div class="card shadow-sm">
      <div class="card-body">
        <h3 class="mb-1">
          {{form.friendlyId}}
          <span v-for="(item, index) in form.linkedForms" :key="index">
            | {{item.formId}}
          </span>
          <span v-if="form.status === 'approved'"
                class="float-right status badge badge-pill badge-success">{{ form.status }}</span>
          <span v-else-if="form.status === 'denied'"
                class="float-right status badge badge-pill badge-danger">{{ form.status }}</span>
          <span v-else-if="form.status === 'cancelled'"
                class="text-muted float-right status badge badge-pill badge-light">{{ form.status }}</span>
          <span v-else-if="form.status === 'information required'"
                class="float-right status badge badge-pill badge-warning">{{ form.status }}</span>
          <span v-else
                class="float-right status badge badge-pill badge-info">{{ form.status }}</span>
        </h3>
        <h5 class="text-secondary text-uppercase mt-0">Isolation Permit</h5>
        <div class="row">
          <div class="col-6">
            <div class="row mb-1">
              <div class="col-4 text-left">
                Requested By
              </div>
              <div class="col-4 text-left">
                {{ form.createdBy.name }}
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-4 text-left">
                Requested
              </div>
              <div class="col-4 text-left">
                {{dateFormat(form.createdAt, 'DD/MM/YYYY')}}
              </div>
            </div>
            <div class="row mb-1"
                 v-if="form.approvers"
                 v-for="(approver, index) in form.approvers.filter(x => x.message)"
                 :key="index">
              <div class="col-3 text-right">
                Approver Comment
              </div>
              <div class="col-9 text-left text-danger">
                {{approver.user.name}}: {{ approver.message }}
              </div>
            </div>
          </div>
          <!-- Author And Dates -->
          <div class="col-6">

            <div class="row mb-1">
              <div class="col-8 text-right">
                Last Updated
              </div>
              <div class="col-4 text-left">
                {{dateFormat(form.updatedAt, 'DD/MM/YYYY')}}
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12 px-4">

            <p class="font-weight-bold mb-1" style="font-size: 0.9rem; line-height: 1;">THIS PERMIT IS TO BE COMPLETED AND AUTHORISED FOR ALL ISOLATIONS ON THE SOUTHERN SEAWATER DESALINATION PLANT AS PER PROCEDURE.</p>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-6">
            <div class="row mt-1">
              <div class="col-4 text-right pt-2">
                <h6 class="text-secondary text-uppercase">Sub-Contractor</h6>
              </div>
              <div class="col-8 bg-light px-2 py-2">
                <p class="m-0 p-0">{{form.subContractor}}</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row mt-1">
              <div class="col-8 text-right pt-2">
                <h6 class="text-secondary text-uppercase">Switching Program Number</h6>
              </div>
              <div class="col-4 bg-light px-2 py-2">
                <p class="m-0 p-0">{{form.switchingProgramNumber}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12">
            <div class="row mt-1">
              <div class="col-2 text-right pt-2">
                <h6 class="text-secondary text-uppercase">Work Location</h6>
              </div>
              <div class="col-10 bg-light px-2 py-2">
                <p class="m-0 p-0">{{form.physicalLocation}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12">
            <div class="row mt-1">
              <div class="col-2 text-right pt-2">
                <h6 class="text-secondary text-uppercase">Works Description</h6>
              </div>
              <div class="col-10 bg-light px-2 py-2">
                <p class="m-0 p-0">{{form.worksDescription}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12">
            <div class="row mt-1">
              <div class="col-2 text-right pt-2">
                <h6 class="text-secondary text-uppercase">Attachments</h6>
              </div>
              <div class="col-10 bg-light px-2 py-2">
                <div class="row" v-for="attachment in form.attachments">
                  <div class="col-9">
                    <a :href="encodeURI('http://ssjvbinsql02/premarked-isolations/' + attachment.fileLocation.replace(/\\/g,'/')).replace(/#/g, '%23')" target="_blank">{{attachment.fileLocation}}</a>
                  </div>
                  <div class="col-3">

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12 p-0">
            <table class="table table-sm table-bordered border-dark table-signing m-0">
              <thead>
                <tr>
                  <td colspan="9"><h6 class="text-secondary text-center text-uppercase mb-0">Equipment Isolation Method</h6></td>
                </tr>
                <tr>
                  <td rowspan="2" width="30%">
                    <h6 class="text-secondary text-uppercase  mb-0">Equipment / Item to be Isolated</h6>
                  </td>
                  <td rowspan="2" class="text-center">
                    <h6 class="text-secondary text-center text-uppercase  mb-0">Energy Type</h6>
                    <small class="text-secondary text-uppercase d-inline-block p-0 m-0 mt-3">See below for definitions</small>
                  </td>
                  <td rowspan="2">
                    <h6 class="text-secondary text-center  text-uppercase  mb-0">As-Found State</h6>
                  </td>
                  <td rowspan="2">
                    <h6 class="text-secondary text-center  text-uppercase  mb-0">Isolation State</h6>
                  </td>
                  <td rowspan="2">
                    <h6 class="text-secondary text-center  text-uppercase  mb-0">Lock Box No.</h6>
                  </td>
                  <td rowspan="2">
                    <h6 class="text-secondary text-center  text-uppercase  mb-0">Lock No.</h6>
                  </td>
                  <td colspan="2" width="14%">
                    <h6 class="text-secondary text-center  text-uppercase  mb-0">Isolation Checked</h6>
                  </td>
                  <td rowspan="2" width="10%" class="text-center">
                    <small class="text-secondary text-center text-uppercase">
                      <p class="p-0 m-0" style="line-height: 11px;">
                        Isolation removed
                        & returned to state
                        required by control room panel operator
                      </p>
                    </small>
                  </td>
                </tr>
                <tr>
                  <td><h6 class="text-secondary text-center text-uppercase  mb-0">Authorised Isolator</h6></td>
                  <td><h6 class="text-secondary text-center text-uppercase  mb-0">Cross Checker</h6></td>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(step, index) in form.isolationMethod.filter(x => x.name != '')"
                    :key="index">
                  <td class="text-uppercase font-weight-bold align-middle" style="font-size: 0.8rem;"><span v-for="note in step.notes" class="text-danger">{{note}}</span> {{step.tag}}: {{step.equipmentDescription}}</td>
                  <td class="text-uppercase align-middle">{{step.energyType}}</td>
                  <td class="text-uppercase align-middle">{{step.asFoundState}}</td>
                  <td class="text-uppercase align-middle">{{step.isolationState}}</td>
                  <td class="text-uppercase align-middle">{{form.lockbox}}</td>
                  <td class="text-uppercase align-middle">{{step.lock}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-12 p-0">
            <p class="pt-0 mt-1" style="font-size: 0.7rem; line-height: 1;">
              <span class="text-danger font-weight-bold">#</span> = Any (E STOP) isolation is for the protection of equipment ONLY and is NOT intended as an isolation point for direct work activities on this equipment.<br />
              E = Electricity (mains, solar and by generator);  F = Fuels;  H = Heat;  FUP = Fluids under pressure (such as water, air or hydraulic oil);<br />
              ESD = energy storing devices (such as batteries, springs, flywheels, accumulators, capacitors);  G = Gravity;  C = Chemicals
            </p>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12 p-0">
            <table class="table table-sm table-bordered border-dark table-signing m-0">
              <thead>
                <tr>
                  <td colspan="4"><h6 class="text-secondary text-center text-uppercase mb-0">Authorisation of Permit</h6></td>
                  <td colspan="4"><h6 class="text-secondary text-center text-uppercase mb-0">Cancellation of Permit</h6></td>
                </tr>
              </thead>
              <tbody>

                <!-- AUTHORISER -->
                <tr>
                  <td colspan="4">
                    <strong>PERMIT AUTHORISER:</strong><br />
                    <small class="d-inline-block" style="line-height: 0.9">I authorise isolation subject to the conditions and controls of the JSEA  and as indicated on this Permit.</small>

                  </td>
                  <td colspan="4">
                    <strong>PERMIT AUTHORISER:</strong><br />
                    <small class="d-inline-block" style="line-height: 0.9">All work associated with this Permit has been completed, and the work area has been left in a clean and safe state.</small>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <strong>FULL NAME:</strong>
                  </td>
                  <td colspan="2"></td>
                  <td colspan="2">
                    <strong>FULL NAME:</strong>
                  </td>
                  <td colspan="2"></td>
                </tr>
                <tr>
                  <td width="10%"><strong>SIGNATURE:</strong></td>
                  <td></td>
                  <td width="7%"><strong>DATE:</strong></td>
                  <td></td>
                  <td width="10%"><strong>SIGNATURE:</strong></td>
                  <td></td>
                  <td width="7%"><strong>DATE:</strong></td>
                  <td></td>
                </tr>

                <!-- ISOLATOR -->
                <tr>
                  <td colspan="4">
                    <strong>AUTHORISED ISOLATOR:</strong><br />
                    <small class="d-inline-block" style="line-height: 0.9">The Equipment Isolation Method is Fit-for-Purpose.</small>
                  </td>
                  <td colspan="4">
                    <strong>AUTHORISED ISOLATOR:</strong><br />
                    <small class="d-inline-block" style="line-height: 0.9">The de-isolation has been successfully completed.</small>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <strong>FULL NAME:</strong>
                  </td>
                  <td colspan="2"></td>
                  <td colspan="2">
                    <strong>FULL NAME:</strong>
                  </td>
                  <td colspan="2"></td>
                </tr>
                <tr>
                  <td><strong>SIGNATURE:</strong></td>
                  <td></td>
                  <td><strong>DATE:</strong></td>
                  <td></td>
                  <td><strong>SIGNATURE:</strong></td>
                  <td></td>
                  <td><strong>DATE:</strong></td>
                  <td></td>
                </tr>

                <!-- OPERATOR -->
                <tr>
                  <td colspan="4">
                    <strong>CONTROL ROOM OPERATOR:</strong><br />
                    <small class="d-inline-block" style="line-height: 0.9">I am aware of this Permit, and will ensure the Plant is safely operated and in accordance with the isolations of this Permit.</small>
                  </td>
                  <td colspan="4">
                    <strong>CONTROL ROOM OPERATOR:</strong><br />
                    <small class="d-inline-block" style="line-height: 0.9">This Permit is now cancelled and the isolations of this Permit have all  been removed. The Plant is returned to normal operations. </small>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <strong>FULL NAME:</strong>
                  </td>
                  <td colspan="2"></td>
                  <td colspan="2">
                    <strong>FULL NAME:</strong>
                  </td>
                  <td colspan="2"></td>
                </tr>
                <tr>
                  <td><strong>SIGNATURE:</strong></td>
                  <td></td>
                  <td><strong>DATE:</strong></td>
                  <td></td>
                  <td><strong>SIGNATURE:</strong></td>
                  <td></td>
                  <td><strong>DATE:</strong></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--<div v-if="form.host" class="row mt-3">
    <div class="col-3 text-right pr-5 pt-3">
      <h6 class="text-secondary text-uppercase">Plant Contact/Host</h6>
    </div>
    <div class="col-4 bg-light px-4 py-3">
      <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Name</h6>
      <p class="d-inline">{{form.host.name}} </p>
    </div>
    <div class="col-5 bg-light px-4 py-3">
      <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Contact Number</h6>
      <p class="d-inline"> {{form.host.contactNumber}}</p>
    </div>
  </div>-->
        <!--<div class="row justify-content-end mt-3">
    <div class="col-3 text-right pr-5 pt-3">
      <h6 class="text-secondary text-uppercase">Swipe Card Access</h6>
    </div>
    <div
      v-for="group in swipeCardAreas"
      :key="group.id"
      class="col-9 bg-light px-4 py-3"
    >
      <h6 class="text-uppercase text-secondary mt-0 pt-0 mr-4">{{group.label}}</h6>
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-11">
          <div class="row">
            <div
              class="col-3 p-2"
              v-for="item in group.children"
              :key="item.id"
            >
              <feather
                v-if="form.swipeCardAccess.areas.filter(x => x == item.id).length > 0"
                type="check-square"
                width="16"
                height="16"
                class="mr-2"
              ></feather>
              <feather
                v-if="form.swipeCardAccess.areas.filter(x => x == item.id).length == 0"
                type="square"
                width="16"
                height="16"
                class="mr-2 text-muted"
              ></feather> {{ item.label }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9 bg-light px-4 py-3">
      <h6 class="text-uppercase text-secondary mt-0 pt-0 mr-4">Comments</h6>
      <p> {{form.swipeCardAccess.comments}}</p>
    </div>
  </div>-->
        <!--<div class="row justify-content-end mt-3">
    <div class="col-3 text-right pr-5 pt-3">
      <h6 class="text-secondary text-uppercase">Plant Areas Attended</h6>
    </div>
    <div
      v-for="group in plantAreas"
      :key="group.id"
      class="col-9 bg-light px-4 py-3"
    >
      <h6 class="text-uppercase text-secondary mt-0 pt-0 mr-4">{{group.label}}</h6>
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-11">
          <div class="row">
            <div
              class="col-3 p-2"
              v-for="item in group.children"
              :key="item.id"
            >
              <feather
                v-if="form.plantAccess.areas.filter(x => x == item.id).length > 0"
                type="check-square"
                width="16"
                height="16"
                class="mr-2"
              ></feather>
              <feather
                v-if="form.plantAccess.areas.filter(x => x == item.id).length == 0"
                type="square"
                width="16"
                height="16"
                class="mr-2 text-muted"
              ></feather> {{ item.label }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9 bg-light px-4 py-3">
      <h6 class="text-uppercase text-secondary mt-0 pt-0 mr-4">Comments</h6>
      <p> {{form.plantAccess.comments}}</p>
    </div>
  </div>-->
        <!--<div class="row mt-3">
    <div class="col-3 text-right pr-5 pt-3">
      <h6 class="text-secondary text-uppercase">Vehicle Plant Access</h6>
    </div>
    <div class="col-4 bg-light px-4 py-3">
      <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Registration Number</h6>
      <p class="d-inline">{{form.vehicleAccess.registrationNumber}} </p>
    </div>
    <div class="col-5 bg-light px-4 py-3">
      <h6 class="text-uppercase text-secondary d-inline mt-0 pt-0 mr-4">Card Authorisation Number</h6>
      <p class="d-inline"> {{form.vehicleAccess.cardAuthorisationNumber}}</p>
    </div>
  </div>-->
        <!--<div class="row mt-3">
    <div class="col-3 text-right pr-5 pt-3">
      <h6 class="text-secondary text-uppercase">Awareness Training</h6>
    </div>
    <div class="col-9 bg-light px-4 py-3">
      <p
        v-for="item in form.awarenessTraining"
        :key="item"
        class="d-inline mr-4"
      >
        <feather
          type="circle"
          width="8"
          height="8"
          class="mr-2"
        ></feather>{{item}}
      </p>
    </div>
  </div>-->
        <!--<div class="row justify-content-end mt-3">
    <div class="col-3 text-right pr-5 pt-3">
      <h6 class="text-secondary text-uppercase">Approval</h6>
    </div>
    <div class="col-9 bg-light pt-3 pb-0">
      <table class="table table-sm table-borderless">
        <thead>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="4"
                class="text-center">
              <h6 class="text-secondary text-uppercase">Approval Required?</h6>
            </td>
          </tr>
          <tr>
            <td>
              <h6 class="text-secondary text-uppercase">Role</h6>
            </td>
            <td>
              <h6 class="text-secondary text-uppercase">Name</h6>
            </td>
            <td>
              <h6 class="text-secondary text-uppercase">APPROVED / DENIED</h6>
            </td>
            <td>
              <h6 class="text-secondary text-uppercase text-center">Visitors</h6>
            </td>
            <td>
              <h6 class="text-secondary text-uppercase text-center">STW</h6>
            </td>
            <td>
              <h6 class="text-secondary text-uppercase text-center">PCW</h6>
            </td>
            <td>
              <h6 class="text-secondary text-uppercase text-center">MW</h6>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr v-if="form.approvers.length > 0"
              v-for="(approver, index) in form.approvers"
              :key="index">
            <td>{{approver.role.name}}</td>
            <td v-if="approver.user && approver.user.name">{{(approver.user || {}).name}}</td>
            <td v-else>
              <em class="text-muted d-print-none">No Approver Selected</em>
            </td>
            <td v-if="approver.isApproved == null"></td>
            <td v-if="approver.isApproved === true"
                class="text-success">
              <strong>APPROVED {{dateFormat((approver || {}).actionedAt, 'DD/MM/YYYY') || ''}}</strong>
            </td>
            <td v-if="approver.isApproved === false && form.status === 'denied'"
                class="text-danger">
              <strong>DENIED {{dateFormat((approver || {}).actionedAt, 'DD/MM/YYYY') || ''}}</strong>
            </td>
            <td v-if="approver.isApproved === false && form.status === 'information required'"
                class="text-warning">
              <strong>INFO REQUIRED {{dateFormat((approver || {}).actionedAt, 'DD/MM/YYYY') || ''}}</strong>
            </td>
            <td class="text-center">
              <feather type="check"
                       width="14"
                       height="14"></feather>
            </td>
            <td class="text-center">
              <feather type="check"
                       width="14"
                       height="14"></feather>
            </td>
            <td class="text-center">
              <feather type="check"
                       width="14"
                       height="14"></feather>
            </td>
            <td class="text-center">
              <feather type="check"
                       width="14"
                       height="14"></feather>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>-->
      </div>
    </div>
  </div>
</template>

<script>
import IsolationPermitEditor from "./editor";
import FormLink from "../form-link";

import format from "date-fns/format";
import {
  options_requestTypes,
  options_swipeCardAreas,
  options_plantAccessAreas
} from "./../../../store/options";

export default {
  name: "IsolationPermitDetail",
  components: { IsolationPermitEditor, FormLink },
  created() {
    this.getForm(this.$route.params.formId);
  },
  data() {
    return {
      form: {},
      loading: true,
      dialogTableVisible: false,
      denyDialogVisible: false,
      requestInfoDialogVisible: false,
      denialReason: {
        message: ""
      },
      rules: {
        message: [
          {
            required: true,
            message: "Please enter a reason",
            trigger: "blur"
          },
          {
            min: 3,
            message: "Please enter a reason longer than 2 characters",
            trigger: "blur"
          }
        ]
      }
    };
  },
  computed: {
    requestType() {
      return (
        options_requestTypes.find(x => x.code === this.form.requestType) || {}
      );
    },
    requestTypes() {
      return options_requestTypes;
    },
    swipeCardAreas() {
      return options_swipeCardAreas;
    },
    plantAreas() {
      return options_plantAccessAreas;
    }
  },
    methods: {
      onCopy: function (e) {
        this.$notify({
          title: "Link Copied",
          message: "",
          type: "success"
        });
      },
      onError: function (e) {
        this.$notify({
          title: "Link Not Copied",
          message: "",
          type: "error"
        });
      },
    editForm(force) {
      if (
        (this.form.status == "approved" ||
          this.form.status == "partially approved") &&
        !force
      ) {
        this.dialogTableVisible = true;
      } else {
        this.$router.push({ name: this.form.kind.slug + "-form-edit" });
      }
    },
    denyForm(confirmed) {
      if (confirmed) {
        var self = this;
        this.$refs["form-deny"].validate(async valid => {
          if (valid) {
            self.doAction("deny");
          } else {
            return false;
          }
        });
      } else {
        this.denyDialogVisible = true;
      }
    },
    requestInfo(confirmed) {
      if (confirmed) {
        var self = this;
        this.$refs["form-more-info"].validate(async valid => {
          if (valid) {
            self.doAction("more information");
          } else {
            return false;
          }
        });
      } else {
        this.requestInfoDialogVisible = true;
      }
    },
    print() {
      window.print();
    },
    dateFormat(date, formatOption) {
      if (!Date.parse(date)) return '';

      let minDate = Date.parse('1950-01-01 00:00:00.000000Z');
      let parsedDate = Date.parse(date);

      if (parsedDate < minDate) return '__ / __ / __';

      return format(parsedDate, formatOption);
    },
    async getForm(formId) {
      try {
        this.loading = true;
        let response = await this.$http({
          method: "get",
          url: `/api/forms/isolation-permit/${formId}`,
          headers: {
            Authorization: "Bearer " + this.$store.getters.accessToken
          }
        });

        this.form = response.data;

      } catch (err) {
        console.log(err);
      } finally {
        this.loading = false;
      }
    },

    async doAction(action) {
      try {
        this.loading = true;
        let response = await this.$http({
          method: "put",
          url: `/api/forms/isolation-permit/${
            this.form.id
          }/status/${action}`,
          headers: {
            Authorization: "Bearer " + this.$store.getters.accessToken,
            "Content-Type": "application/json"
          },
          data: this.denialReason
        });
        this.$notify({
          title: "Success",
          message: response.data.message,
          type: "success"
        });
        this.$router.push({
          name: "isolation-permit-form-detail",
          params: { formId: this.form.id },
          query: { d: Date.now() }
        });
      } catch (err) {
        this.$notify({
          title: "Warning",
          message: err.response.data.message,
          type: "warning"
        });
      } finally {
        this.loading = false;
      }
    }
  }
};
</script>
