<template>
  <el-form v-loading="loading" ref="form" :model="form" size="mini" :rules="rules" :disabled="disabled" class="app-form" status-icon label-width="150px">
    <div v-if="!isTemplate" class="row">
      <div class="col-md-12 col-lg-12">
        <h6 class="form-heading-muted">Fill From Template</h6>
        <div class="row border rounded pt-4 pr-3 my-4 mx-4 shadow-sm">
          <div class="d-inline-block">
            <el-form-item label="Level 1" class="col-12" label-width="100px">
              <el-select size="mini" v-model="lookupLevel1" clearable @change="value => handleLookupChange(1, value)">
                <el-option v-for="(item, index)  in lookupLevel1Values" :key="index" :label="item" :value="item">
                </el-option>
              </el-select>
            </el-form-item>
          </div>
          <div class="d-inline-block">
            <el-form-item label="Level 2" class="col-12" label-width="100px">
              <el-select size="mini" v-model="lookupLevel2" clearable @change="value => handleLookupChange(2, value)">
                <el-option v-for="(item, index) in lookupLevel2Values" :key="index" :label="item" :value="item">
                </el-option>
              </el-select>
            </el-form-item>
          </div>
          <div class="d-inline-block">
            <el-form-item label="Level 3" class="col-12" label-width="100px">
              <el-select type="text" size="mini" v-model="lookupLevel3" clearable @change="value => handleLookupChange(3, value)">
                <el-option v-for="(item, index)  in lookupLevel3Values" :key="index" :label="item" :value="item">
                </el-option>
              </el-select>
            </el-form-item>
          </div>
          <div class="d-inline-block">
            <el-form-item :label="'Templates (' + templateValues.length + ')'" class="col-12" label-width="120px">
              <el-select type="text" size="mini" v-model="selectedTemplate" clearable @change="value => handleLookupChange(4, value)">
                <el-option v-for="(item, index)  in templateValues" :key="index" :label="item.name" :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </div>
          <div class="d-inline-block">
            <el-button type="primary" @click="fillFromTemplate" :disabled="!selectedTemplate">Fill</el-button>
          </div>

        </div>
        <h6 class="form-heading-muted">General</h6>
        <div class="row">
          <div class="col-4">
            <el-form-item label="Sub-contractor" prop="subContractor" class="col-12">
              <el-input type="text" size="mini" v-model="form.subContractor"></el-input>
            </el-form-item>
          </div>
          <div class="col-3">
            <el-form-item label="Switching Program No." prop="switchingProgramNumber" class="col-12" label-width="200px">
              <el-input type="text" size="mini" v-model="form.switchingProgramNumber"></el-input>
            </el-form-item>
          </div>
        </div>


        <el-form-item label="Work Location" prop="physicalLocation" class="col-12">
          <el-input type="textarea" :rows="2" size="mini" v-model="form.physicalLocation"></el-input>
        </el-form-item>
        <el-form-item label="Works Description" prop="worksDescription" class="col-12">
          <el-input type="textarea" :rows="4" size="mini" v-model="form.worksDescription"></el-input>
        </el-form-item>
      </div>
    </div>
    <!-- Template Lookup Fields -->
    <div v-else>
      <h6 class="form-heading-muted">Template Definition</h6>
      <div class="row">
        <div class="d-inline-block">
          <el-form-item required prop="lookup.name" label="Template Name" class="col-12" label-width="140px">
            <el-input type="text" size="mini" v-model="form.lookup.name" clearable></el-input>
          </el-form-item>
        </div>
        <div class="d-inline-block">

          <el-form-item prop="equipmentNumber" label="Linked Tag" label-width="140px">
            <el-select class="col-12" clearable allow-create filterable remote :remote-method="value => searchTags(value)" :placeholder="`Start typing a tag ...`" :loading="selectLoading" v-model="form.equipmentNumber">
              <el-option v-for="item in loadedTags" :key="item.id" :label="item.id" :value="item.id" :title="item.description">
                <span class="float-left text-primary mr-3">{{ item.id }}</span>
                <span class="float-right text-muted text-truncate text-right" style="max-width: 220px; font-size: 12px">{{ item.description }}</span>
              </el-option>
            </el-select>
          </el-form-item>
        </div>

      </div>
      <h6 class="form-heading-muted">Template Lookup</h6>
      <div class="row">
        <div class="d-inline-block">
          <el-form-item required prop="lookup.level1" label="Level 1" class="col-12" label-width="140px">
            <el-select size="mini" v-model="form.lookup.level1" filterable allow-create clearable default-first-option @change="value => handleLookupChange(1, value)">
              <el-option v-for="(item, index)  in lookupLevel1Values" :key="index" :label="item" :value="item">
              </el-option>
            </el-select>
          </el-form-item>
        </div>
        <div class="d-inline-block">
          <el-form-item required prop="lookup.level2" label="Level 2" class="col-12" label-width="140px">
            <el-select size="mini" v-model="form.lookup.level2" filterable allow-create clearable default-first-option @change="value => handleLookupChange(2, value)">
              <el-option v-for="(item, index) in lookupTemplateLevel2Values" :key="index" :label="item" :value="item">
              </el-option>
            </el-select>
          </el-form-item>
        </div>
        <div class="d-inline-block">
          <el-form-item label="Level 3" class="col-12" label-width="140px">
            <el-select type="text" size="mini" v-model="form.lookup.level3" filterable allow-create clearable default-first-option @change="value => handleLookupChange(3, value)">
              <el-option v-for="(item, index)  in lookupTemplateLevel3Values" :key="index" :label="item" :value="item">
              </el-option>
            </el-select>
          </el-form-item>
        </div>
      </div>

    </div>

    <h6 class="form-heading-muted">Isolation Method</h6>
    <el-form-item label="Equipment Isolation Method" required prop="isolationMethod">
      <el-table size="mini" :fit="true" :data="form.isolationMethod">
        <el-table-column label="Step" width="70px">
          <template slot-scope="scope">
            <el-form-item prop="isolationMethod.0.step">
              <el-input size="mini" v-model="scope.row.step"></el-input>
            </el-form-item>
          </template>
        </el-table-column>
        <el-table-column label="Equipment" width="170px">
          <template slot-scope="scope">
            <el-form-item prop="isolationMethod.0.tag">
              <el-select class="col-12" clearable allow-create filterable remote :remote-method="value => searchTags(value)" :placeholder="`Start typing a tag ...`" :loading="selectLoading" v-model="scope.row.tag" @change="value => handleTagChange(value)">
                <el-option v-for="item in loadedTags" :key="item.id" :label="item.id" :value="item.id" :title="item.description">
                  <span class="float-left text-primary mr-3">{{ item.id }}</span>
                  <span class="float-right text-muted text-truncate text-right" style="max-width: 220px; font-size: 12px">{{ item.description }}</span>
                </el-option>
              </el-select>
            </el-form-item>
          </template>
        </el-table-column>
        <el-table-column label="Equipment Notes" width="130px">
          <template slot-scope="scope">
            <el-form-item>
              <el-select size="mini" v-model="scope.row.notes" clearable filterable multiple allow-create placeholder="">
                <el-option value="#" label="#">
                  <span class="float-left text-danger mr-3">#</span>
                  <span class="float-right text-muted text-truncate text-right" style="font-size: 12px">E STOP</span>
                </el-option>
              </el-select>
            </el-form-item>
          </template>
        </el-table-column>
        <el-table-column label="Description" width="220px">
          <template slot-scope="scope">
            <el-form-item prop="isolationMethod.0.equipmentDescription">
              <el-input size="mini" v-model="scope.row.equipmentDescription"></el-input>
            </el-form-item>
          </template>
        </el-table-column>

        <el-table-column label="Energy Type" width="120px">
          <template slot-scope="scope">
            <el-form-item>
              <el-select size="mini" v-model="scope.row.energyType">
                <el-option value="C" label="C">
                  <span class="float-left text-primary mr-3">C</span>
                  <span class="float-right text-muted text-truncate text-right" style="font-size: 12px">Chemicals</span>
                </el-option>
                <el-option value="E" label="E">
                  <span class="float-left text-primary mr-3">E</span>
                  <span class="float-right text-muted text-truncate text-right" style="font-size: 12px">Electricity (mains, solar and by generator)</span>
                </el-option>
                <el-option value="F" label="F">
                  <span class="float-left text-primary mr-3">F</span>
                  <span class="float-right text-muted text-truncate text-right" style="font-size: 12px">Fuels</span>
                </el-option>
                <el-option value="G" label="G">
                  <span class="float-left text-primary mr-3">G</span>
                  <span class="float-right text-muted text-truncate text-right" style="font-size: 12px">Gravity</span>
                </el-option>
                <el-option value="H" label="H ">
                  <span class="float-left text-primary mr-3">H</span>
                  <span class="float-right text-muted text-truncate text-right" style="font-size: 12px">Heat</span>
                </el-option>
                <el-option value="ESD" label="ESD">
                  <span class="float-left text-primary mr-3">ESD</span>
                  <span class="float-right text-muted text-truncate text-right" style="font-size: 12px">Energy Storing Devices (such as batteries, springs, flywheels, accumulators, capacitors)</span>
                </el-option>
                <el-option value="FUP" label="FUP">
                  <span class="float-left text-primary mr-3">FUP</span>
                  <span class="float-right text-muted text-truncate text-right" style="font-size: 12px">Fluids Under Pressure (such as water, air or hydraulic oil)</span>
                </el-option>



              </el-select>
            </el-form-item>
          </template>
        </el-table-column>
        <el-table-column label="As-Found State" width="130px">
          <template slot-scope="scope">
            <el-form-item prop="isolationMethod.0.asFoundState">
              <el-input size="mini" v-model="scope.row.asFoundState"></el-input>
            </el-form-item>
          </template>
        </el-table-column>
        <el-table-column label="Isolation State" width="130px">
          <template slot-scope="scope">
            <el-form-item prop="isolationMethod.0.isolationState">
              <el-input size="mini" v-model="scope.row.isolationState"></el-input>
            </el-form-item>
          </template>
        </el-table-column>
        <el-table-column label="Lockbox" width="80px">
          <template slot-scope="scope">
            <el-form-item prop="isolationMethod.0.lockbox">
              <el-input size="mini" v-model="form.lockbox" :disabled="true"></el-input>
            </el-form-item>
          </template>
        </el-table-column>
        <!--<el-table-column label="Lock" width="80px">
        <template slot-scope="scope">
          <el-form-item prop="isolationMethod.0.lock">
            <el-input size="mini" v-model="scope.row.lock"></el-input>
          </el-form-item>
        </template>
      </el-table-column>-->
        <el-table-column>
          <template slot-scope="scope">
            <el-button class="d-inline-block mb-3 mt-0" size="mini" type="danger" icon="el-icon-close" rounded @click.prevent="removeEntry(scope.row)">
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-button icon="el-icon-plus" class="mt-3" @click="addEntry">New Entry</el-button>
    </el-form-item>

    <h6 class="form-heading-muted">Attachment</h6>

    <el-form-item label="Document Attachments">
      <el-table size="mini" :fit="true" :data="form.attachments">
        <el-table-column label="Step" width="70px">
          <template slot-scope="scope">
            <el-form-item prop="isolationMethod.0.step">
              <el-input size="mini" v-model="scope.row.step"></el-input>
            </el-form-item>
          </template>
        </el-table-column>
        <el-table-column label="File Location (Network Path)" width="860px">
          <template slot-scope="scope">
            <el-form-item>
              <el-input size="mini" v-model="scope.row.fileLocation"></el-input>
            </el-form-item>
          </template>
        </el-table-column>
        <el-table-column>
          <template slot-scope="scope">
            <el-button class="d-inline-block mb-3 mt-0" size="mini" type="danger" icon="el-icon-close" rounded @click.prevent="removeAttachment(scope.row)">
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-button icon="el-icon-plus" class="mt-3" @click="addAttachment">New Attachment</el-button>
    </el-form-item>

    <!--<h6 class="form-heading-muted">Linked Forms</h6>
  <el-form-item v-for="(link, index) in form.linkedForms" :key="index" :label="link.name + ' Completed'">
    <el-radio v-model="link.completed" :label="true">Yes</el-radio>
    <el-radio v-model="link.completed" :label="false">No</el-radio>
    <el-form-item v-if="!link.completed" label="Reason (if no)" class="d-inline-block w-50">
      <el-input v-model="link.reason" placeholder="Why was this form not completed?"></el-input>
    </el-form-item>
    <el-form-item v-if="link.completed" label="Document Number" class="d-inline-block w-50">
      <el-input v-model="link.formId"></el-input>
    </el-form-item>
  </el-form-item>

  <div class="row">
    <div class="col-md-12 col-lg-7">
      <h6 class="form-heading-muted">Approval</h6>
      <el-form-item v-for="(item) in form.approvers" :label="item.role.name" :key="item.role.id">
        <el-select :disabled="!roles.includes('paperwork_admin')" v-model="item.user" filterable clearable placeholder="Select or type a name" value-key="id" class="col-6">
          <el-option v-for="option in options.approvers[item.role.id]" :key="option.id" :label="option.name" :value="option">
            <span style="float: left">{{ option.name }}</span>
            <span style="float: right;">
              <small class="text-uppercase text-primary font-weight-bold" v-if="option.priority === 1">primary</small>
              <small class="text-uppercase text-black-50 font-weight-bold" v-if="option.priority === 2">secondary</small>
              <small class="text-uppercase text-black-50 font-weight-bold" v-if="option.priority === 3">tertiary</small>
            </span>
          </el-option>
        </el-select>
      </el-form-item>
    </div>
    <div class="col-md-12 col-lg-5">
      <div v-if="form.requestType" class="bd-callout bd-callout-warning">
        <div class="row">
          <div class="col-2">
            <feather type="alert-triangle"></feather>
          </div>
          <div class="col-10">
            <p>
              A
              <strong>{{ selectedRequestType.name }}</strong>
              should be approved by:
              <ul>
                <li v-for="approver in selectedRequestType.approvers" :key="approver">
                  {{approver}}
                </li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>-->
    <hr />
    <el-form v-if="!disabled">
      <el-button size="mini" type="primary " @click="submitForm( 'form', false) ">Save</el-button>
      <!--<el-dropdown v-if="isNew" size="mini" placement="top-end" split-button type="primary" @click="submitForm( 'form', true)" @command="onCommandDropdown">
        Save & Submit for Approval
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item command="save">Save As Draft</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>-->
      <el-button size="mini " @click="cancel() ">Close</el-button>
    </el-form>
  </el-form>
</template>

<script>
import Vue from 'vue';
import {
  options_requestTypes,
  options_quickDates,
  options_awarenessTraining,
  options_approvers,
  options_swipeCardAreas,
  options_plantAccessAreas
} from './../../../store/options';

export default {
  name: 'IsolationPermitEditor',
  beforeMount() {
    //this.form = Vue.util.extend(this.form, this.formData);
  },
  async created() {
    this.loading = true;
    //this.options.approvers.paperwork_operations_manager = await this.getUsersByRole(
    //  'paperwork_operations_manager'
    //);

    //this.options.approvers.paperwork_maintenance_manager = await this.getUsersByRole(
    //  'paperwork_maintenance_manager'
    //);

    //this.options.approvers.paperwork_alliance_manager = await this.getUsersByRole(
    //  'paperwork_alliance_manager'
    //);
    await this.getTemplates();
    this.loading = false;

    //this.form.approvers.forEach(approver => {
    //  if (approver.user === null) {
    //    approver.user = this.options.approvers[approver.role.id].find(
    //      x => x.priority === 1
    //    );
    //  }
    //});
  },
  props: {
    formData: Object,
    disabled: false
  },
  data() {
    return {
      loading: true,
      selectLoading: false,
      lookupLevel1: '',
      lookupLevel2: '',
      lookupLevel3: '',
      selectedTemplate: '',
      loadedForms: {},
      loadedTags: [],
      loadedTemplates: [],
      denialReason: {
        message: ''
      },
      defaultForm: {
        equipmentNumber: '',
        requestor: {},
        lookup: {
          level1: '',
          level2: '',
          level3: '',
          name: ''
        },
        linkedForms: [
          {
            id: 'ATW',
            name: 'Authority To Work',
            completed: false,
            reason: '',
            formId: ''
          }
        ],
        host: {
          name: '',
          contactNumber: ''
        },
        isolationMethod: [
          {
            step: 1,
            tag: '',
            equipmentDescription: '',
            notes: [],
            energyType: '',
            asFoundState: '',
            isolationState: '',
            lockbox: '',
            lock: ''
          }
        ],
        attachments: [
          {
            step: 1,
            type: '',
            name: '',
            fileLocation: ''
          }
        ],
        approvers: [
          {
            role: {
              id: 'paperwork_operations_manager',
              name: 'Operations Manager'
            },
            user: null
          },
          {
            role: {
              id: 'paperwork_maintenance_manager',
              name: 'Maintenance Manager'
            },
            user: null
          },
          {
            role: {
              id: 'paperwork_alliance_manager',
              name: 'Alliance Manager'
            },
            user: null
          }
        ]
      },
      rules: {
        isolationMethod: {
          type: 'array',
          required: true,
          message: 'Please enter at least one isolation step',
          trigger: 'change',
          0: {
            name: {
              type: 'string',
              required: true,
              trigger: 'blur',
              message: 'Please enter a tag'
            }
          }
        },
        lookup: {
          level1: {
            required: true,
            message: 'Please enter/select a Level 1 lookup for this temlate',
            trigger: 'change'
          },
          level2: {
            required: true,
            message: 'Please enter/select a Level 2 lookup for this temlate',
            trigger: 'change'
          },
          name: {
            required: true,
            message: 'Please enter a name for this template',
            trigger: 'blur'
          },
       }
      },
      options: {
        requestTypes: options_requestTypes,
        quickDates: options_quickDates,
        awarenessTraining: options_awarenessTraining,
        approvers: options_approvers,
        swipeCardAreas: options_swipeCardAreas,
        plantAccessAreas: options_plantAccessAreas,
        priorityNames: {
          1: 'primary',
          2: 'secondary',
          3: 'tertiary'
        }
      }
    };
  },
  computed: {
    form() {
      return this.formData
        ? Vue.util.extend(this.defaultForm, this.formData)
        : this.defaultForm;
    },
    selectedRequestType() {
      return this.options.requestTypes.find(
        x => x.code == this.form.requestType
      );
    },
    roles() {
      return this.$store.getters.roles;
    },
    isNew() {
      return this.$route.params.formId ? false : true;
    },
    isTemplate() {
      return this.$route.name.includes("template");
    },
    lookupLevel1Values() {
      if (this.loadedTemplates.length > 0) {
        let templates = this.loadedTemplates
          .map(x => x.level1)
          .sort();

        return [...new Set(templates)];
      }
      else {
        return [];
      }
    },
    lookupLevel2Values() {
      if (this.loadedTemplates.length > 0) {
        if (this.lookupLevel1) {
          let templates = this.loadedTemplates
            .filter(x => x.level1 == this.lookupLevel1)
            .map(x => x.level2)
            .sort();

          return [...new Set(templates)];
        }
        else {
          return [];
        }
      }
      else {
        return [];
      }
    },
    lookupLevel3Values() {
       if (this.loadedTemplates.length > 0) {
        if ((this.lookupLevel1) && (this.lookupLevel2)) {
          let templates = this.loadedTemplates
            .filter(x => x.level1 == (this.lookupLevel1) && x.level2 == (this.lookupLevel2))
            .map(x => x.level3)
            .sort();

          return [...new Set(templates)];
        }
        else {
          return [];
        }
      }
      else {
        return [];
      }
    },
     lookupTemplateLevel2Values() {
      if (this.loadedTemplates.length > 0) {
        if (this.form.lookup.level1) {
          let templates = this.loadedTemplates
            .filter(x => x.level1 == this.form.lookup.level1)
            .map(x => x.level2)
            .sort();

          return [...new Set(templates)];
        }
        else {
          return [];
        }
      }
      else {
        return [];
      }
    },
    lookupTemplateLevel3Values() {
       if (this.loadedTemplates.length > 0) {
        if (this.form.lookup.level1 && (this.form.lookup.level2)) {
          let templates = this.loadedTemplates
            .filter(x => x.level1 == (this.form.lookup.level1) && x.level2 == (this.form.lookup.level2))
            .map(x => x.level3)
            .sort();

          return [...new Set(templates)];
        }
        else {
          return [];
        }
      }
      else {
        return [];
      }
    },
    templateValues() {
      if (this.loadedTemplates.length > 0) {
        if (this.lookupLevel1 && this.lookupLevel2) {
          let templates = this.loadedTemplates
            .filter(x => x.level1 == this.lookupLevel1 && x.level2 == this.lookupLevel2)

          return templates;
        }
        else if (this.lookupLevel1) {
          let templates = this.loadedTemplates
            .filter(x => x.level1 == this.lookupLevel1)

          return templates;
        }     
        else {
          return [];
        }
      }
      else {
        return [];
      }
    }
  },
  methods: {
    approvers(key) {
      return this.options.approvers[key];
    },
    cancel() {
      return this.$router.push({
                  name: 'isolation-permit-template-register'
                });
    },
    removeEntry(item) {
      var index = this.form.isolationMethod.indexOf(item);
      if (index !== -1) {
        this.form.isolationMethod.splice(index, 1);
      }
    },
    addEntry() {
      this.form.isolationMethod.push({
            step: this.form.isolationMethod.length + 1,
            tag: '',
            equipmentDescription: '',
            notes: [],
            energyType: '',
            asFoundState: '',
            isolationState: '',
            lockbox: this.form.lockbox,
            lock: ''
      }); 
    },
    addAttachment() {
      this.form.attachments.push({
            step: this.form.attachments.length + 1,
            type: '',
            name: '',
            fileLocation: ''
      });
    },
    removeAttachment(item) {
      var index = this.form.attachments.indexOf(item);
      if (index !== -1) {
        this.form.attachments.splice(index, 1);
      }
    },
    onCommandDropdown(command) {
      if (command === 'save') {
        this.submitForm('form', false);
      }
    },
    async submitForm(formName, submitForApproval = false) {
      this.$refs[formName].validate(async valid => {
        if (valid) {

          // Template
          if (this.isTemplate) {
            // New Template
            if (this.isNew) {
              try {
                this.loading = true;

                let id = null;
                let response = await this.$http({
                  method: 'post',
                  url: `/api/form-templates/isolation-permit/`,
                  headers: {
                    Authorization: 'Bearer ' + this.$store.getters.accessToken,
                    'Content-Type': 'application/json'
                  },
                  data: this.form
                });
                id = response.data.id;

                this.$notify({
                  title: 'Done',
                  message: 'Isolation Template saved',
                  type: 'success'
                });

                this.$router.push({
                  name: 'isolation-permit-template-register'
                });
              } catch (err) {
                console.log(err);
                this.$notify({
                  title: 'Error',
                  message: err,
                  type: 'error'
                });
              } finally {
                this.loading = false;
              }
            }
            // Existing Template
            else {
              try {
                this.loading = true;

                let id = null;
                if (this.$route.params.formId) {
                  let response = await this.$http({
                    method: 'put',
                    url: `/api/form-templates/isolation-permit/${
                      this.$route.params.formId
                    }`,
                    headers: {
                      Authorization: 'Bearer ' + this.$store.getters.accessToken,
                      'Content-Type': 'application/json'
                    },
                    data: this.form
                  });
                  id = response.data.id;
                }

                this.$notify({
                  title: 'Done',
                  message: 'Isolation Template saved',
                  type: 'success'
                });

                this.$router.push({
                   name: 'isolation-permit-template-register'
                });
              } catch (err) {
                console.log(err);
                this.$notify({
                  title: 'Error',
                  message: err,
                  type: 'error'
                });
              } finally {
                this.loading = false;
              }
            }
          }
          // Straight permit update
          else {
            try {
              this.loading = true;

              let id = null;
              if (this.$route.params.formId) {
                let response = await this.$http({
                  method: 'put',
                  url: `/api/forms/isolation-permit/${
                    this.$route.params.formId
                  }`,
                  headers: {
                    Authorization: 'Bearer ' + this.$store.getters.accessToken,
                    'Content-Type': 'application/json'
                  },
                  data: this.form
                });
                id = response.data.id;
              }

              this.$notify({
                title: 'Done',
                message: 'Isolation Permit saved',
                type: 'success'
              });

              this.$router.push({
                name: 'isolation-permit-form-detail',
                params: { formId: id }
              });
            } catch (err) {
              console.log(err);
              this.$notify({
                title: 'Error',
                message: err,
                type: 'error'
              });
            } finally {
              this.loading = false;
            }
          }

        } else {
          window.scrollTo(0, 0);
          return false;
        }
      });
    },
    handleCompanySelect(item) {

    },
    async searchTags(value) {
      try {
        if (value == '' || value.length <= 2) {
          this.loadedTags = [];
          return;
        }

        this.selectLoading = true;
        let response = await this.$http({
          method: 'get',
          url: `/api/tags/${value}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        this.loadedTags = response.data;
      } catch (err) {
        console.log(err);
      } finally {
        this.selectLoading = false;
      }
    },
    async getTemplates() {
      try {
      
        //this.selectLoading = true;
        let response = await this.$http({
          method: 'get',
          url: `/api/form-templates/lookup/isolation-permit`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        this.loadedTemplates = response.data;


      } catch (err) {
        console.log(err);
      } finally {

      }
    },
    async fillFromTemplate() {

      if (!this.selectedTemplate) {
        return;
      }

      let id = this.selectedTemplate
      try {
      
        this.loading = true;
        let response = await this.$http({
          method: 'get',
          url: `/api/form-templates/isolation-permit/${id}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        let template = response.data;

        this.form.isolationMethod = template.isolationMethod;
        this.form.attachments = template.attachments;

      } catch (err) {
        console.log(err);
      } finally {
        this.loading = false;
      }
    },
    async handleTagChange(value) { },
    async handleLookupChange(level, value) {

      if (level == 1) {
        this.form.lookup.level2 = '';
        this.form.lookup.level3 = '';

        this.lookupLevel2 = '';
        this.lookupLevel3 = '';
        this.selectedTemplate = '';
      }

      if (level == 2) {
        this.form.lookup.level3 = '';

        this.lookupLevel3 = '';
        this.selectedTemplate = '';
      }

      if (level == 3) {
        this.selectedTemplate = '';
      }
    },
    async companySearch(queryString, cb) {
      if (queryString.length < 1) {
        cb([]);
      }

      var results = [];
      try {
        let response = await this.$http({
          method: 'get',
          url: `/api/visitors/subcategories/search/${queryString}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        results = response.data;
      } catch (err) {
        console.log(err);
      }

      cb(results);
    },
    async doAction(action, id) {
      try {
        let response = await this.$http({
          method: 'put',
          url: `/api/forms/isolation-permit/${id}/status/${action}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken,
            'Content-Type': 'application/json'
          },
          data: this.denialReason
        });
        this.$notify({
          title: 'Success',
          message: response.data.message,
          type: 'success'
        });
        this.$router.go();
      } catch (err) {
        this.$notify({
          title: 'Warning',
          message: err.response.data.message,
          type: 'warning'
        });
      } finally {
      }
    },
    async getUsersByRole(role) {
      try {
        let response = await this.$http({
          method: 'get',
          url: `/api/users/role/${role}`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        return response.data;
      } catch (err) {
        console.log(err);
      }
    }
  }
};
</script>
