<template>
  <div id="app">
    <router-view :key="$route.fullPath"></router-view>
  </div>
</template>

<script type="text/javascript">
import NavBar from './nav-bar';
import Breadcrumbs from './breadcrumbs';
import SideNav from './side-nav';
import { initSession } from './../auth';

export default {
  name: 'App',
  components: { NavBar, Breadcrumbs, SideNav },
  data() {
    return {
      user: this.$store.user
    };
  },
  mounted() {
    initSession();
  }
};
</script>
