<template>
  <nav class="breadcrumbs border-bottom sticky-top p-2" style="z-index: 0; display: block; position: absolute; top: 0; left: 0; right: 0; width=100%">
    <span v-for="(crumb, index) in this.$route.meta.breadcrumbs" v-bind:key="index">
      <router-link class=" px-2" style="font-weight: 500;" :to="{ name: crumb.routeName}">{{ crumb.display }}</router-link>
      <feather class="feather" type="chevron-right"></feather>
    </span>
    <span class="px-2" style="font-weight: 500;">
      {{ this.$route.meta.display }}
    </span>
  </nav>
</template>

<script>
export default {
  name: 'Breadcrumbs'
};
</script>

<style>

</style>
