<template>
  <div class="callback">Callback</div>
</template>

<script>
import { parseHash } from './../auth';
export default {
  name: 'callback',
  mounted() {
    parseHash().then(data => {
      this.$store.commit('update_auth_data', data);
      this.$router.push(localStorage.getItem('redirectUrl') || '/dashboard');
      //window.location.href = localStorage.getItem('redirectUrl');
    });
  }
};
</script>
