<template>
  <div v-loading="loading" class="card shadow-sm">
    <div class="card-body">
      <h2>Help</h2>
      <div class="row">
        <div class="col-4">
          <nav>
            <ul class="nav flex-column">
              <li class="nav-item p-1">
                <a class="nav-link" href="#dashboard">Dashboard</a>
              </li>
              <li class="nav-item p-1">
                <a class="nav-link" href="#forms">Forms</a>
              </li>
              <li class="nav-item p-1">
                <a class="nav-link" href="#atw">Authority To Work</a>
              </li>
              <li class="nav-item p-1">
                <a class="nav-link" href="#admin">Administration</a>
              </li>
            </ul>
          </nav>

        </div>
        <div class="col-8">
          <h3>
            <a name="dashboard"></a>
            Dashboard
          </h3>
          <div class="m-5">
            <h4>My Forms</h4>
            <p>This box lists the forms you have created, starting with the most recent.</p>
            <h4>My Approvals</h4>
            <p>This box lists all the forms awaiting your approval.</p>
            <p>Forms that have been actioned by you, or no longer require your action, will not appear here.</p>
            <h4>My Notifications</h4>
            <p>This box lists the most recent events that may require your attention.</p>
            <p>The types of notifcations you may receive include, for example: a notification that your form as been approved; a notification that your form has not been approved and requires you to provide more information before resubmitting for approval.</p>
          </div>
          <h3>
            <a name="forms"></a>
            Forms
          </h3>
          <div class="m-5">
            <h4>General</h4>
            <p>The
              <router-link :to="{name: 'forms'}">Forms page</router-link> lists all forms in the system. You can filter by Form Type (e.g. "Plant Entry Request"), and Status (e.g. "Approved").</p>
            <h4>Entering A New Form</h4>
            <p>Fields marked with an asterisk (*) on the entry page for a form are mandatory. You will not be able to save the form without filling out these fields.</p>
            <p>After saving a form for the first time, it will enter the "Draft" stage. You can come back and edit this form as required until you are ready to submit you form for approval.</p>
            <h4>Submitting For Approval</h4>
            <p>To submit your form for approval you will first need to select any appropriate approvers on the form entry page. Once the approver/s have been selected, and the form is saved, a "Submit For Approval" button will appear on the form details page. Click on this button to have the approver/s notified by email that you wish for them to review your form.</p>
            <p>Your form will now be in the "Pending Approval" state and will remain so until the approver/s have either approved or denied the request.

            </p>
            <h4>Approving / Denying A Form</h4>
            <h5>Approvers</h5>
            <p>When you are selected as an approver for a given form, you will have been emailed with a request to review this form after it has been submitted for approval. This email will comtain a link to the details page for this form. On the details page you can review all the information entered by the requestor on the form. At the top of the page you can either "Approve" or "Deny" the request. If you choose "Deny" you will be asked to enter a reason, so as to provide context for the requestor.</p>
            <h5>Requestors</h5>
            <p>As the originator of the request, you will be emailed when a decision has been made on your form. It will either be "Approved" or "Denied".</p>
            <p>
              If your request has been denied you will be able to see the reason for denial (and by who) on the form details page. You are free to then correct any mistakes, or provide more information and resubmit for approval by following the "Submit For Approval" section above.</p>
            <p>Once your form has been approved by all nominated approvers, it will enter the "Approved" state.</p>
            <h4>Plant Entry Request</h4>
            <p>You can create a new Plant Entry Request from the Quick Links section on the left sidebar. Information and rules specific to the Plant Entry Request is provided on the Plant Entry Request form entry page.</p>
            <h4>Plant Works Request</h4>
            <p>You can create a new Plant Entry Request from the Quick Links section on the left sidebar. Information and rules specific to the Plant Works Request is provided on the Plant Works Request form entry page.</p>
            </p>
          </div>
          <h3>
            <a name="atw"></a>
            Authority To Work
          </h3>
          <div class="m-5">

            <h4>Workflow</h4>
            <h5>Legend</h5>
            <p class="bg-light p-3 m-3 list-unstyled">
              <span class="status status-sm  badge badge-dark">Authority To Work State</span><br /><br/>
              <span class="status status-sm  badge badge-pill badge-info">Permit Acceptor Action</span><br /><br/>
              <span class="status status-sm  badge badge-pill badge-warning">Permit Authoriser Action</span> <br /><br/>
              <span class="status status-sm  badge badge-pill badge-success">Permit User Action</span>
            </p>
            <h5 class="mt-5"> 1. Request</h5>
            <p>The Permit Acceptor starts and fills out a new Authority To Work request. When ready, they can submit the request for
              <strong>Authorisation</strong>.</p>
            <p class="bg-light p-3 m-3">
              <strong>Starting a New ATW</strong><br/><br/>
              <span class="status status-sm  badge badge-dark">Draft</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-info">Submit for Authorisation</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-dark">Pending Authorisation</span>
            </p>
            <h5 class="mt-5">2. Authorisation & Open</h5>
            <p>The Permit Authoriser will review the request, add extra details and either
              <strong>Approve</strong>,
              <strong>Deny</strong>, or
              <strong>Request More Information</strong> from the Permit Acceptor.</p>
            <p>If the Permit Authoriser has chosen to
              <strong>Request More Information</strong> the Permit Acceptor can add extra detail and resubmit. Once the request is
              <strong>Approved</strong> the Permit Acceptor can review the notes left by the Permit Authoriser and
              <strong>Open</strong> the form.</p>
            <p class="bg-light p-3 m-3">
              <strong>Authorisation to Open</strong><br/><br/>
              <span class="status status-sm  badge badge-dark">Pending Authorisation</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-warning">Approve</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-dark">Approved</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-info">Open</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-dark">Opened</span>
            </p>
            <p class="bg-light p-3 m-3">
              <strong>Authorisation, More Information Required, Reauthorisation, to Open</strong><br/><br/>
              <span class="status status-sm  badge badge-dark">Pending Authorisation</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-warning">More Info Required</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-dark">More Info Required</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-info">Submit for Authorisation</span><br /><br />
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-dark">Pending Authorisation</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-warning">Approve</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-dark">Approved</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-info">Open</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-dark">Opened</span>
            </p>
            <p class="bg-light p-3 m-3">
              <strong>Authorisation to Denied</strong><br/><br/>
              <span class="status status-sm  badge badge-dark">Pending Authorisation</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-warning">Deny</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-dark">Denied</span>
            </p>
            <h5 class="mt-5">3. Sign On/Off</h5>
            <p>The form can be printed off and physically signed by those working with the ATW permit</p>
            <p class="bg-light p-3 m-3">
              <strong>Hard Copy Sign On / Sign Off</strong><br/><br/>
              <span class="status status-sm  badge badge-dark">Opened</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-success">Sign On</span>
              <feather type="more-horizontal" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-success">Sign Off</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-dark">Opened</span>
            </p>
            <h5 class="mt-5">4. Permit Acceptor Actions</h5>
            <p>While the form is
              <strong>Open</strong>, the original Permit Acceptor can
              <strong>Transfer</strong> the ATW to different Permit Acceptor or
              <strong>Suspend</strong> the ATW. Both of these actions require a sign off by a Permit Authoriser. The ATW will need to be
              <strong>Revalidated</strong> before resumption of work to return to the
              <strong>Open</strong> state.
            </p>
            <p class="bg-light p-3 m-3">
              <strong>Transfer to Another Permit Acceptor</strong><br/><br/>

              <span class="status status-sm  badge badge-dark">Opened</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-info">Transfer</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-dark">Pending Transfer</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-warning">Authorise Transfer</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-dark">Transferred</span><br /><br/>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-info">Revalidate</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-dark">Pending Revalidation</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-warning">Authorise Revalidation</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-dark">Opened</span>
            </p>
            <p class="bg-light p-3 m-3">
              <strong>Suspend and Resume ATW</strong><br/><br/>

              <span class="status status-sm  badge badge-dark">Opened</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-info">Suspend</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-dark">Pending Suspension</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-warning">Authorise Suspension</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-dark">Suspended</span><br /><br/>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-info">Revalidate</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-dark">Pending Revalidation</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-warning">Authorise Revalidation</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-dark">Opened</span>
            </p>
            <h5 class="mt-5">5. Work Completion</h5>
            <p>Upon completion of the works, the Permit Acceptor can choose to
              <strong>Complete</strong>,
              <strong>Cancel</strong>, or mark the ATW as requiring a
              <storng>Test Run</storng> before the form can be closed off.</p>
            <p class="bg-light p-3 m-3">
              <strong>Complete Work</strong><br/><br/>
              <span class="status status-sm  badge badge-dark">Opened</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-info">Complete</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-dark">Pending Completion</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-warning">Authorise Completion</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-dark">Completed</span>
            </p>
            <p class="bg-light p-3 m-3">
              <strong>Cancel ATW</strong><br/><br/>
              <span class="status status-sm  badge badge-dark">Opened</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-info">Cancel</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-dark">Pending Cancellation</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-warning">Authorise Cancellation</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-dark">Cancelled</span>
            </p>
            <p class="bg-light p-3 m-3">
              <strong>Test Run then Complete Work</strong><br/><br/>
              <span class="status status-sm  badge badge-dark">Opened</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-info">Test Run</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-dark">Pending Test Run</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-warning">Authorise Test Run</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-dark">Testing</span><br /><br/>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-info">Complete</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-dark">Pending Completion</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-warning">Authorise Completion</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-dark">Completed</span>
            </p>
            <h5 class="mt-5">6. Sign Off and Close Out</h5>
            <p>Here the Permit Authoriser signs off and closes out the ATW.</p>
            <p class="bg-light p-3 m-3">
              <strong>Close Off ATW</strong><br/><br/>
              <span class="status status-sm  badge badge-dark">Completed</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-pill badge-warning">Close</span>
              <feather type="arrow-right" class="mx-0"></feather>
              <span class="status status-sm  badge badge-dark">Closed</span>
            </p>
          </div>
          <h3>
            <a name="admin"></a>
            Administration
          </h3>
          <div class="m-5">
            <h4>General</h4>
            <p>If you have the Administrator role you will have access to the "Administration" section on the left sidebar.</p>
            <h4>Inviting A New User</h4>
            <p>You can invite a new user to the plaform from the "Users and Permissions" by clicking on the "Invite User" link.</p>
            <p>There you can enter their first name, last name, and email address. After saving, this person will receive an email with an invitation link to the platform. They will be asked to choose a new password and can then login.</p>
            <h4>Assigning A Role To A User</h4>
            <p>You can assign a role to a user by clicking on "Edit" next to their name on the "Users and Permissions" page. Check any roles that this user requires and click "Save"</p>
            <p>To receive their new role/s, the user will have to
              <strong>log out and log back in</strong>.</p>
          </div>

        </div>

      </div>

    </div>
  </div>
</template>
