<template>
  <div class="position-absolute" style="background: #FFFFFF; width: 100%; height: 100%;">
    <div class="mx-auto align-items-center w-100 text-center">
      <!-- <svg class="d-inline-block mt-5 mb-1" fill="#0091d5" style="background-color: #FFFFFF; padding: 20px; border-radius: 50%;" xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 255 255">
        <path d="M122.9 253.6c-8 0-16-3-22.1-9.1 -12.2-12.2-12.2-32 0-44.2l44.2-44.2c12.2-12.2 12.2-32 0-44.2l8.8-8.8c8.3 8.3 12.8 19.3 12.8 30.9 0 11.7-4.6 22.7-12.8 30.9l-44.2 44.2c-7.3 7.3-7.3 19.2 0 26.5 7.3 7.3 19.2 7.3 26.5 0 7.3-7.3 7.3-19.2 0-26.5l8.8-8.8c12.2 12.2 12.2 32 0 44.2C138.9 250.5 130.9 253.6 122.9 253.6z" />
        <path d="M83.1 182.6l-8.8-8.8c8.3-8.3 12.8-19.3 12.8-30.9 0-11.7-4.6-22.7-12.8-30.9 -17.1-17.1-17.1-44.8 0-61.9l48.6-48.6 70.7 70.7 -26.5 26.5 -13.3-13.3c-7.3-7.3-19.2-7.3-26.5 0l-8.8-8.8c12.2-12.2 32-12.2 44.2 0l4.4 4.4 8.8-8.8 -53-53L83.1 58.8c-12.2 12.2-12.2 32 0 44.2 10.6 10.6 16.5 24.8 16.5 39.8C99.6 157.8 93.7 172 83.1 182.6z" />
      </svg> -->
      <img class="d-inline-block mt-5 mb-5" src="https://promatiqsswa.blob.core.windows.net/assets/SSWA_logo_lg.png" />
      <h1 class="mb-5 text-secondary">SSWA Platform</h1>
      <router-link :to="{name: 'login', params: {returnPath: '/dashboard'}}" class="d-inline-block mt-5 btn btn-primary btn-lg">login</router-link>
    </div>
  </div>
</template>

<script>
export default {
  created() {
    if (this.$store.getters.isAuthenticated)
      this.$router.push({ name: 'dashboard' });
  }
};
</script>

<style>
</style>
