<template>
</template>

<script>
import { auth0 } from './../auth';

export default {
  name: 'Login',
  props: ['returnPath'],
  created() {
    localStorage.setItem('redirectUrl', this.returnPath);
    auth0.authorize();
  }
};
</script>

<style scoped>
</style>
