<template>
  <div>
    <nav-bar class="non-printable"></nav-bar>

    <div class="container-fluid">
      <div class="row">

        <side-nav class="non-printable"></side-nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10" style="min-height: 1024px">
          <breadcrumbs class="non-printable"></breadcrumbs>
          <div class="d-flex  flex-column p-3 mt-5 printable">
            <router-view></router-view>
          </div>
        </main>

      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import NavBar from './nav-bar';
import Breadcrumbs from './breadcrumbs';
import SideNav from './side-nav';
import { initSession } from './../auth';

export default {
  name: 'MainContent',
  components: { NavBar, Breadcrumbs, SideNav },
  data() {
    return {
      user: this.$store.user
    };
  }
};
</script>
