<template>
  <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-secondary flex-md-nowrap p-0">
    <router-link :to="{name: 'dashboard'}" class="navbar-brand col-xs-9 col-sm-3 col-md-2 mr-0 d-flex align-items-center">
      <!-- <svg class="logo mr-2" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 255 255">
        <path d="M122.9 253.6c-8 0-16-3-22.1-9.1 -12.2-12.2-12.2-32 0-44.2l44.2-44.2c12.2-12.2 12.2-32 0-44.2l8.8-8.8c8.3 8.3 12.8 19.3 12.8 30.9 0 11.7-4.6 22.7-12.8 30.9l-44.2 44.2c-7.3 7.3-7.3 19.2 0 26.5 7.3 7.3 19.2 7.3 26.5 0 7.3-7.3 7.3-19.2 0-26.5l8.8-8.8c12.2 12.2 12.2 32 0 44.2C138.9 250.5 130.9 253.6 122.9 253.6z" />
        <path d="M83.1 182.6l-8.8-8.8c8.3-8.3 12.8-19.3 12.8-30.9 0-11.7-4.6-22.7-12.8-30.9 -17.1-17.1-17.1-44.8 0-61.9l48.6-48.6 70.7 70.7 -26.5 26.5 -13.3-13.3c-7.3-7.3-19.2-7.3-26.5 0l-8.8-8.8c12.2-12.2 32-12.2 44.2 0l4.4 4.4 8.8-8.8 -53-53L83.1 58.8c-12.2 12.2-12.2 32 0 44.2 10.6 10.6 16.5 24.8 16.5 39.8C99.6 157.8 93.7 172 83.1 182.6z" />
      </svg> -->
      <img height="36" width="36" class="logo mr-2" src="https://promatiqsswa.blob.core.windows.net/assets/SSWA_logo_lg_round.png" />
      <span>SSWA Platform</span>
    </router-link>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav d-flex flex-row-reverse px-3 ml-auto">
        <li v-if="!isAuthenticated" class="nav-item">
          <router-link class="nav-link text-nowrap d-flex align-items-center px-3" href="#" role="button" :to="{name: 'login'}">
            <feather class="mr-2" type="user" size="16"></feather>
            <span>Login</span>
          </router-link>
        </li>
        <li v-if="isAuthenticated" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-nowrap d-flex align-items-center px-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <feather class="mr-2" type="user" size="16"></feather>
            <span>{{user.name}}
              <span v-if="roles.includes('paperwork_admin')">(Admin)</span>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" role="button" href="#" @click="logout">Logout</a>
          </div>
        </li>
        <!-- <li v-if="isAuthenticated" class="nav-item">
          <a class="nav-link text-nowrap d-flex align-items-center px-3" href="#" role="button">
            <feather class="mr-2" type="bell"></feather>
            <span>Notifications
              <span class="badge badge-pill badge-danger ml-2">99</span>
            </span>
          </a>
        </li> -->
      </ul>
    </div>
  </nav>
</template>

<script>
import { logout } from './../auth';

export default {
  name: 'NavBar',
  methods: {
    logout
  },
  computed: {
    isAuthenticated() {
      return this.$store.getters.isAuthenticated;
    },
    user() {
      return this.$store.getters.user;
    },
    roles() {
      return this.$store.getters.roles;
    }
  }
};
</script>

<style lang="scss">
</style>
