<template>
  <div class="dashboard">
  </div>
</template>

<script>
import DateFormatter from './utilities/date-formatter';

export default {
  name: 'Notifications',
  components: {
    DateFormatter
  },
  data() {
    return {
      notifications: []
    };
  },

  created() {
    this.getUserNotifications();
  },

  methods: {
    async getUserNotifications() {
      try {
        let response = await this.$http({
          method: 'get',
          url: `/api/user/notifications`,
          headers: {
            Authorization: 'Bearer ' + this.$store.getters.accessToken
          }
        });

        this.notifications = response.data;
      } catch (err) {
        window.alert(err);
        console.log(err);
      }
    }
  }
};
</script>
