<template>
  <nav aria-label="Page Navigation">
    <ul class="pagination pagination-sm">
      <li class="page-item" :class="{ disabled: isInFirstPage }">
        <a href="#" class="page-link" @click="onClickPreviousPage" aria-label="Previous">
          <span aria-hidden="true">
            <feather type="chevron-left" :class="{ 'text-black-25': isInFirstPage}"></feather>
          </span>
          <span class="sr-only ">Previous</span>
        </a>
      </li>
      <li v-for="page in pages " :key="page.name " class="page-item " :class="{active: page.isDisabled} " :aria-label="page.name ">
        <a href="# " class="page-link " @click="onClickPage(page.name, $event) "> {{ page.name }}</a>
      </li>
      <li class="page-item " :class="{disabled: isInLastPage } ">
        <a href="# " class="page-link " @click="onClickNextPage " aria-label="Next ">
          <span aria-hidden="true ">
            <feather type="chevron-right" :class="{ 'text-black-25': isInLastPage} "></feather>
          </span>
          <span class="sr-only ">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  props: {
    maxVisibleButtons: {
      type: Number,
      required: false,
      default: 5
    },
    totalPages: {
      type: Number,
      required: true
    },
    currentPage: {
      type: Number,
      required: true
    },
    noMorePages: {
      tye: Boolean,
      required: true
    }
  },
  computed: {
    startPage() {
      // When on the first page
      if (this.currentPage === 1) {
        return 1;
      }
      // When on the last page
      if (this.currentPage === this.totalPages) {
        return this.totalPages < this.maxVisibleButtons
          ? 1
          : this.totalPages - this.maxVisibleButtons + 1;
      }
      // When in between
      return this.currentPage - 1;
    },
    endPage() {
      return Math.min(
        this.startPage + this.maxVisibleButtons - 1,
        this.totalPages
      );
    },
    pages() {
      const range = [];

      for (let i = this.startPage; i <= this.endPage; i += 1) {
        range.push({
          name: i,
          isDisabled: i === this.currentPage
        });
      }

      return range;
    },
    isInFirstPage() {
      return this.currentPage === 1;
    },
    isInLastPage() {
      return this.currentPage >= this.totalPages && this.noMorePages;
    }
  },
  methods: {
    onClickFirstPage(event) {
      if (event) {
        event.preventDefault();
      }
      this.$emit('pagechanged', 1);
    },
    onClickPreviousPage(event) {
      if (event) {
        event.preventDefault();
      }
      this.$emit('pagechanged', this.currentPage - 1);
    },
    onClickPage(page, event) {
      if (event) {
        event.preventDefault();
      }
      this.$emit('pagechanged', page);
    },
    onClickNextPage(event) {
      if (event) {
        event.preventDefault();
      }
      this.$emit('pagechanged', this.currentPage + 1);
    }
  }
};
</script>

<style>
</style>
