<template>
  <nav class="col-md-3 col-lg-2 d-none d-md-block sidebar">
    <div class="sidebar-sticky">
      <template v-if="isAuthenticated">
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <router-link class="nav-link" :to="{name: 'dashboard', query: {d: now}}" active-class="active">
              <feather class="feather" type="activity"></feather>
              Dashboard
              <span v-if="approvals > 0" class="position-absolute mr-3 badge badge-pill badge-danger mt-1" style="right: 0;">{{ approvals }}</span>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="{name: 'forms', query: {d: now}}" active-class="active">
              <feather class="feather" type="clipboard"></feather>
              PER/PWR Register
            </router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="{name: 'authority-to-work-register', query: {d: now}}" active-class="active">
              <feather class="feather" type="clipboard"></feather>
              ATW Register
            </router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="{name: 'isolation-permit-template-register', query: {d: now}}" active-class="active">
              <feather class="feather" type="clipboard"></feather>
              ISO Template Register
            </router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="{name: 'process-lock-register', query: {d: now}}" active-class="active">
              <feather class="feather" type="clipboard"></feather>
              Process Lock Register
            </router-link>
          </li>
          <!-- <li class="nav-item">
      <router-link class="nav-link disabled" :to="{name: 'notifications'}" active-class="active">
        <feather class="feather" type="check-square"></feather>
        Notifications
      </router-link>
    </li> -->
          <!-- <li class="nav-item">
      <router-link class="nav-link disabled" :to="{name: 'calendar'}" active-class="active">
        <feather class="feather" type="calendar"></feather>
        Calendar
      </router-link>
    </li>
    <li class="nav-item">
      <router-link class="nav-link disabled" :to="{name: 'reports'}" active-class="active">
        <feather class="feather" type="bar-chart-2"></feather>
        Reports
      </router-link>
    </li> -->
          <li class="nav-item">
            <router-link class="nav-link" :to="{name: 'help'}" active-class="active">
              <feather class="feather" type="help-circle"></feather>
              Help
            </router-link>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 pt-3 mt-4 mb-2">
          <span>Quick Links</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <router-link class="nav-link" :to="{name: 'plant-entry-request-create'}" active-class="active">
              <feather class="feather" type="file-plus"></feather>
              New Plant Entry Request
            </router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="{name: 'plant-works-request-create'}" active-class="active">
              <feather class="feather" type="file-plus"></feather>
              New Plant Works Request
            </router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="{name: 'authority-to-work-create'}" active-class="active">
              <feather class="feather" type="file-plus"></feather>
              New Authority To Work Permit
            </router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="{name: 'process-lock-create'}" active-class="active">
              <feather class="feather" type="file-plus"></feather>
              New Process Lock
            </router-link>
          </li>
        </ul>

        <template v-if="roles.includes('paperwork_admin') || roles.includes('paperwork_permit_authoriser')">
          <h6 class=" sidebar-heading d-flex justify-content-between align-items-center px-3 pt-3 mt-4 mb-2 ">
            <span>Management</span>
          </h6>
          <ul class="nav flex-column mb-2 ">
            <li class="nav-item">
              <router-link class="nav-link" :to="{name: 'visitors', query: {d: now}}" active-class="active">
                <feather class="feather" type="clipboard"></feather>
                People (Visitors and Contractors)
              </router-link>
            </li>
          </ul>
        </template>

        <template v-if="roles.includes('paperwork_admin')">
          <h6 class=" sidebar-heading d-flex justify-content-between align-items-center px-3 pt-3 mt-4 mb-2 ">
            <span>Administration</span>
          </h6>
          <ul class="nav flex-column mb-2 ">
            <li class="nav-item ">
              <a class="nav-link " href="/admin/users " active-class="active ">
                <feather class="feather " type="users"></feather>
                Users & Permissions
              </a>
            </li>
          </ul>
        </template>
      </template>
    </div>
  </nav>
</template>

<script>
import Stickyfill from 'stickyfilljs';

export default {
  name: 'SideNav',
  data() {
    return {
      approvals: 0
    };
  },
  computed: {
    isAuthenticated() {
      return this.$store.getters.isAuthenticated;
    },
    user() {
      return this.$store.getters.user;
    },
    roles() {
      return this.$store.getters.roles;
    },
    now() {
      return Date.now();
    }
  },
  mounted() {
    // polyfill for 'position: sticky' in IE'
    var elements = document.querySelectorAll('.sidebar-sticky');
    Stickyfill.add(elements);

    this.getAwaitingAuthorisation(200, null);
    this.getAwaitingOpen(200, null);
  },
  methods: {
    scroll() {
      this.$forceUpdate();
    },
    async getAwaitingAuthorisation(pageSize, token = null) {
      try {
        this.loading = true;

        //let response = await this.$http({
        //  method: 'get',
        //  url: `/api/user/awaiting-authorisation`,
        //  params: {
        //    pageSize: pageSize,
        //    token: token
        //  },
        //  headers: {
        //    Authorization: 'Bearer ' + this.$store.getters.accessToken
        //  }
        //});

        //this.approvals += response.data.data.length;
      } catch (err) {
        console.log(err);
      } finally {
        this.loading = false;
      }
    },
    async getAwaitingOpen(pageSize, token = null) {
      try {
        this.loading = true;

        //let response = await this.$http({
        //  method: 'get',
        //  url: `/api/user/awaiting-open`,
        //  params: {
        //    pageSize: pageSize,
        //    token: token
        //  },
        //  headers: {
        //    Authorization: 'Bearer ' + this.$store.getters.accessToken
        //  }
        //});

        //this.approvals += response.data.data.length;
      } catch (err) {
        console.log(err);
      } finally {
        this.loading = false;
      }
    }
  }
};
</script>

<style>
</style>

