﻿@model SSWA.CalibrationRegister.Web.Models.ErrorViewModel
@using Microsoft.AspNetCore.Hosting;
@inject IHostingEnvironment hostingEnv
@{
    ViewData["Title"] = "Error";
}
<div class="row">
    <div class="col-md-12">
        <h3 class="text-danger">Error</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4 class="text-danger">An error occurred while processing your request.</h4>
        <p>@Model.Message</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }

        @if (hostingEnv.IsDevelopment())
        {
            <h3>Development Mode</h3>
            <p>
                Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
            </p>
            <p>
                <strong>Development environment should not be enabled in deployed applications</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application.
            </p>
        }
    </div>
</div>



