﻿@model IEnumerable<CallibrationRegister.Models.TagType>
@using Newtonsoft.Json;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Tag Fields
        </th>
        <th>
            Callibration Fields
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <pre><code>@JsonConvert.SerializeObject(item.TagFields, Formatting.Indented)</code></pre>
        </td>
        <td>
            <pre><code>@JsonConvert.SerializeObject(item.CallibrationFields, Formatting.Indented)</code></pre>
        </td>
    </tr>
}

</table>
