<template>
  <span>{{format}}</span>
</template>

<script>
import distanceInWords from 'date-fns/distance_in_words';

export default {
  name: 'DateFormatter',
  props: ['date'],
  computed: {
    format() {
      return distanceInWords(new Date(), Date.parse(this.date), {
        addSuffix: true
      });
    }
  }
};
</script>
