﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>You Apps</h2>
        <p>
            <a href="http://calibration.sswa.com:57583">Calibration Register</a>
        </p>
        <p>
            <a href="http://authoritytowork.sswa.com:57583">Authority To Work Register</a>
        </p>
    </div>
</div>
